[2016-11-27 10:53] filiphr opened #971 "IterableMappingMethod uses List generated method for a Collection if the list is defined before the collection"
Example:

[code]

The Implementation:
[code]

If the order of the getters is inversed in the `Source` then it works the first forged method is:
[code]

And this one works both for the `List<Integer>` and the `Collection<Integer>`.

One solution of this would be to check if the `sourceParameters` in the `IterableMappingMethod` are equal, but this would always generate more specific methods (one for

[2016-11-27 14:06] filiphr commented on #971
The same happens during the mapping of different `Map`s.

[2016-11-28 20:14] sjaakd opened #973 "Bring `SetterWrapper` in line with new `SourceRHS`"

[2016-11-28 20:24] twentylemon opened #974 "How to nest mappers with multiple parameters"
I have some mappers like the following, converting a legacy time to a new type. The conversion requires some additional metadata.

[code]

I get a compile time error, in reference to SomeTypeMapper.convert
 No implementation can be generated for this method. Found no method nor implicit conversion for mapping source element type into target element type.

I expected the metadata from SomeTypeMappe

[2016-11-28 20:57] sjaakd commented on #974
That's not how it works. Both `legacy` and `metadata` are considered source from which to construct the target `SomeType`. See chapter 3.3 of our reference guide (several source parameters).

IIUC It seems that what you want is to pass along state / config information in `Metadata` right? That has been discussed in the past. Not sure whether we have an issue for that.

[2016-11-28 21:08] twentylemon commented on #974
Thanks for the quick response. Yes, I wanted to pass along the `metadata` to the other mapper.

Your answer makes sense -- `metadata` isn't actually needed to create `SomeType`, it is only needed for `NestedType`. Perhaps the best solution here is to write `SomeTypeMapper::convert` manually in an abstract class.

[2016-11-28 21:14] sjaakd opened #975 "Open a way to pass state information to subsequent mappings"
E.g. by a parameter and (new) annotation like: `@PassAsState` or something like that.

[2016-11-28 21:15] sjaakd commented on #974
No problem.. I'll open up a new issue to pass state information somehow. We've discussed this earlier and I expected an issue for that. See  #975. I'll proceed to close this one.

[2016-11-28 21:15] #974 closed

[2016-11-29 19:46] agudian commented on #975
How about `@MappingContext`? That's what we pondered with in the issue and PR regarding the handling of cycles in graph structures. Then that would require finishing up PR #911 (handling return values from before/after mapping methods) and allowing this state object to be passed in property mapping methods and those before/after methods.

[2016-11-29 20:06] sjaakd commented on #975
`@MappingContext` is perhaps a bit confusing. Its sole purpose is to let (generated)mapping coe ignore it and just happily pass it along. Perhaps.... `@ContextParameter`

Just a thought we should make it an annotation to use directly or which can act as a marker to stick to other annotations.

So:

`A map(B param1, @ContextParameter1 C param2, @ContextParameter2 D param3)` that could call  method

[2016-11-30 00:41] filiphr commented on #971
Fixed with PR #972

[2016-11-30 00:41] #971 closed

[2016-11-30 16:19] GeroldSchierholz opened #977 "Please use @Stateless and not @Singleton in mapstruct"
In my oppinion mapstruct should use @Stateless annotation in favour of @Singleton because it should be safe to have more instances of mapper beans created as long as they are stateless.

Additionally and more important:
Concurrent access to @Singleton beans could cause "Concurrent Access Timeout Exceptions":

http://stackoverflow.com/a/25890389
https://docs.oracle.com/cd/E19798-01/821-1841/gipsz/i

[2016-11-30 19:32] agudian commented on #977
You can check #664, which suggested the use of `@Singleton`. Can you foresee the implications of using `@Stateless` in different jsr330-based DI implementations?
Perhaps we should add the possibility to add another or alternate annotation after all, as was proposed in the issue.

[2016-11-30 21:41] gunnarmorling commented on #977
Do you mean `javax.ejb.Stateless`? If so, I'm no big fan of adding any dependency to EJB, I'd like to stick us to pure JSR 330 / CDI. Are you experiencing any actual issue here?

[2016-11-30 22:17] filiphr opened #978 "Problem mapping nested byte array to denormalized property"
[code]

Will create a mapping for the byte array that looks like:

[code]

The `targetProperyName` is directly used from the mapping itself.

[2016-11-30 22:23] sjaakd commented on #978
ouch.. that should be simple to fix..  I prefer taking the property name from the target type nowadays..

[2016-12-01 17:22] filiphr commented on #978
I am working on it. Even if we use that target type we will have a problem when the mapping is reverse. I'll make a PR later tonight or tomorrow.

[2016-12-01 17:53] filiphr opened #980 "Add tests for the Strings class"
Currently there are no direct tests for the `Strings` class. We should add some tests for it

[2016-12-01 19:10] agudian commented on #975
A meta-annotation might just be a bit over-engineered here, IMHO. Using just one annotation should do the trick as well and keeps the mappers readable.
I guess we should take some time to come up with a good name, as obviously you found `@MappingContext` confusing and I think the *Parameter* in `@ContextParameter` is a bit stating the obvious (like annotating a constructor with `@Constructor` 😜).

[2016-12-01 19:45] sjaakd commented on #975
That might be true :). However, I propose to have an initial annotation which might double as meta annotation in the future. The only thing needed, for now, would be specifying the proper `@Target`..

As for the name.. We could decide it to keep it as simple as `@Context`..

[2016-12-01 21:19] zt1983811 commented on #469
Hi @agudian  could you give an ETA on when this feature can be release? we have a project now waiting for this solution. Thanks

[2016-12-01 22:06] agudian commented on #469
I can't give an ETA, but I've just reviewed the PR. If all goes well, we should be able to merge it to master soon and you can use a custom build before we release the first 1.2 beta or candidate release.

[2016-12-01 22:08] zt1983811 commented on #469
Perfect thank you @agudian

[2016-12-02 06:30] agudian commented on #824
Merged to master

[2016-12-02 06:30] #824 closed

[2016-12-02 06:32] #966 closed

[2016-12-02 21:33] filiphr commented on #941
A suggestion from @sjaakd in PR #979:

My suggestion and @agudian is to not use the underscore and the leading zeros, basically having: `string1, string2`.

Code snippet from @agudian for improving the naming (be more smart when naming the private variables:
[code]

In `NodeMapperWithContextImpl`:

[code]
And the `attributeDTO` is not conflicting.

[2016-12-02 21:51] sjaakd commented on #941
Not necessarily with the underscore before the number
Idea here is to make it a bit more easy parseable. You simply look for the last occurrence of an _.. If there is not, you add it followed by a sequence number 1. If there is, you try to parse the number behind it. If no success, you still add _, assuming there was an _ initially. If success, you take the number and increase it & replace the num

[2016-12-02 21:52] agudian commented on #941
[code]

😁

[2016-12-02 22:03] filiphr commented on #980
Closed via PR #979

[2016-12-02 22:03] #980 closed

[2016-12-02 22:04] filiphr commented on #978
Closed via PR #979

[2016-12-02 22:04] #978 closed

[2016-12-02 22:06] filiphr commented on #941
I like your implementation @agudian, basically if the name ends with a digit we add an underscore and then the sequence number, otherwise we just add the sequence number.

[2016-12-02 22:16] sjaakd commented on #941
:). We should probably add the name to the set once we checked it was not in the set of existingVariableNames..

And.. What if the variable already contained a number.. E.g. `MyType123`?

[2016-12-02 23:30] filiphr commented on #941
Earlier when I was checking something, this is exactly what I wanted to check, which class should be responsible for adding the new variable name to the `existingVariableNames`. I am not sure how that is done now, but I like the idea of @sjaakd.

[2016-12-03 07:39] sjaakd commented on #941
I missed this as well previously, leading to duplicate variables.

[2016-12-03 11:39] agudian commented on #37
At some point we talked about where to add that output, but I can't find it anymore.

I see two options:
* as comments in the generated java file, e.g. with a special handling of the templates (the template writer could check if such info is attached to the model and apply a special comment-template before)
* in a separate file to be placed somewhere (but where?)

[2016-12-03 14:19] sjaakd opened #981 "Bring SourceReference outside property mapping"
And in line with TargetReference. As a consequence: when a mapping method is nested, its always assigned to a local variable, simplifying the handling quite a lot. This is needed as step up to #973.

[2016-12-03 21:03] filiphr commented on #557
Official support for direct field mappings in MapStruct is possible since #928. You can try it out with the latest SNAPSHOT version. Once the documentation PR #982 is merged the ticket will be closed.

[2016-12-04 11:57] sjaakd opened #983 "Rephrase documentation around lifecycle methods"
See #911

* Remove experimental character.
* Explain the three groups.
* Explain that one cannot rely on the ordering in a group.

"The methods are split up into three groups: first the before-mapping methods without mapping-target param, then the before-mapping methods with mapping-target params, and finally the after-mapping methods. In that order, and that's part of the API contract.
But if you

[2016-12-04 15:23] agudian commented on #469
Closing this, as it's now possible to do with #911 being merged. Thanks again to @pascalgn for this great patch!

[2016-12-04 15:23] #469 closed

[2016-12-04 15:47] agudian commented on #983
Thanks for creating the issue, Sjaak! I'll take care of it 🙂

[2016-12-04 17:25] spoerri commented on #621
Ergh, this feature is better implemented as parameterized factory methods, perhaps tracked in#73.

[2016-12-04 22:41] filiphr commented on #557
With the merged documentation from #982 this new feature is completely implemented

[2016-12-04 22:41] #557 closed

[2016-12-05 17:15] zt1983811 commented on #469
@agudian Great news on this, do we have nightly build or beta release somewhere ?

[2016-12-05 17:28] lincetto opened #985 "Nested Iterable to Non-Iterable mapping?"
Hi,
I found this example about Iterable to Non-Iterable mapping using Qualifier :

[https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-iterable-to-non-iterable](url)

But how to make this mapping able to map nested properties (using dot annotation)?

E.g. mapping the field xyz of first element of a collection in the source object to a plain field on the target object?

The examp

[2016-12-05 17:38] #985 closed

[2016-12-05 18:14] agudian commented on #469
Snapshots from master are published to the repository https://oss.sonatype.org/content/repositories/snapshots/ (as 1.2.0-SNAPSHOT)

[2016-12-05 19:12] zt1983811 commented on #469
@agudian I just tried the snapshot version, it seems I still get StackOverflowError on the mapper, Do you need to do something special when I have many to many relationship that is cycle ?

[2016-12-05 19:18] filiphr commented on #469
@zt1983811 It doesn't work out of the box. Have a look at the [CallbacksWithReturnValuesTest](https://github.com/mapstruct/mapstruct/blob/master/processor/src/test/java/org/mapstruct/ap/test/callbacks/returning/CallbacksWithReturnValuesTest.java), more specifically the [NodeMapperWithContext](https://github.com/mapstruct/mapstruct/blob/master/processor/src/test/java/org/mapstruct/ap/test/callbacks

[2016-12-05 19:22] sjaakd commented on #985
@lincetto .. did you close this on purpose? Or is the issue resolved?

[2016-12-05 19:22] zt1983811 commented on #469
@filiphr Thank you, I will take a look of it and wait for the example/

[2016-12-05 19:31] lincetto commented on #985
@sjaakd, no, I didn't resolve it yet. But it is more an help request than an issue so I decided to open a question on StackOverflow. But if you can help me or point me to the solution I'll appreciate.

[2016-12-05 19:48] sjaakd commented on #985
Hey @lincetto.. you might also want to try our [user group](https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users). Just refer to your stack-overflow issue and one of us will have a look.

[2016-12-05 23:05] lincetto commented on #244
Hi @timoe, just to know, are you currently working on this topic?

[2016-12-06 06:54] gunnarmorling commented on #244
Hi @lincetto, I don't think he is, I haven't heard from Timo in a while.

If you are interested in helping out with this topic, let me know and we
can get a discussion on this one started. I'd love to see this implemented,
containing goodies such as projection operators for collection mappings for
instance :)

[2016-12-06 21:52] zt1983811 commented on #469
@filiphr I checked your pull request in example  mapstruct, and it works. Really appreciate for this fix. However, my concerting is why we need to create CycleAvoidanceMapper.java class in all the packages? If I make this in a common package it will not work. Also could you make it generic like annotation I can just use it?

Thanks

[2016-12-07 19:10] tbrizard commented on #939
I am having a related issues after upgrading to 1.1.0.Final.  The generated source does not include all the needed imports.  For example, the following method is in the generated source (only showing pertinent code), but the `java.util.Date` class is not imported, which then causes a compilation error.

[code]

[2016-12-07 19:14] gunnarmorling commented on #939
Hi Tim, could you open a new issue for this, including the definition of
your mapper? Thanks!

As a workaround, you can enforce the import: @Mapper(imports=Date.class)
MyMapper { ... }

[2016-12-07 20:11] tbrizard opened #987 "Missing import using built-in types for Date conversion"
I am seeing the same error described in https://github.com/mapstruct/mapstruct/issues/248.  However, in my case the target property is of type `java.lang.String` and the source type is `java.sql.Timestamp`.  The code compiles without error using 1.0.0.Final and I only started to get compile errors when I upgraded to 1.1.0.Final.

The interface having the issue is thousands of lines long (I didn't

[2016-12-07 20:15] tbrizard commented on #939
Thank you, Gunnar.  I have created https://github.com/mapstruct/mapstruct/issues/987 for the issue I am seeing.  I noted in the new issue that the work-around you mentioned unfortunately did not fix the particular issue I am seeing.

[2016-12-07 20:47] filiphr commented on #987
@tbrizard Can you perhaps show us the `imports` on your mapper? Do you perhaps have a class which is also named `Date`? What is the exact compilation error that you are seeing?

You said that with 1.0.0.Final it compiled. However, there was no support for `java.sql.Timestamp` at that time. Did you had a custom method that was doing to mapping?

[2016-12-07 21:04] gunnarmorling commented on #987
A conflict with another class of the same simple name `Date` would be my guess as well.

[2016-12-07 22:15] filiphr commented on #987
@gunnarmorling most probably the problem is that there is another class with that simple name. However, I think that we might need to consider changing the templates for the `BuiltInMethod`(s). For example in the `DateToXmlGregorianCalendar.ftl` we have `private XMLGregorianCalendar ${name}( Date date )` where `Date` (the parameter) and `XMLGregorianCalendar` (the return type) are not written usin

[2016-12-07 22:15] tbrizard commented on #987
I confirmed I don't have another Date class being used in my mapper or in the particular beans involved that are calling dateToXmlGregorianCalendar method within the generated mapper code.  Here are some more details.

The actual compilation error:
[code]

Using 1.0.0.Final
[code]

Using 1.1.0.Final
[code]

With no changes to my mapper or bean classes you can see that 1.0.0.Final generates the cod

[2016-12-08 15:43] rzwitserloot commented on #510
I've been pointed at this thread by other parties, and I now understand more thoroughly why this is an issue.

Here's a crazy idea which might not even work: What if lombok modifies the typemirrors that mapstruct ends up looking at?

Before I investigate that (it might not be possible, but I have high hopes), let me double check some assumptions first:

* If mapstruct runs before lombok does, then

[2016-12-08 19:42] filiphr commented on #987
@tbrizard This is really strange problem that you have. Is it somehow possible for you to give us a reproducible example so we can investigate the error?

[2016-12-08 19:50] filiphr commented on #469
@zt1983811 How do you mean you need to create the `CycleAvoidanceMapper` in all the packages? Or you mean that you need to add it to the `uses` attribute of the `@Mapper`? The `CycleAvoidanceMapper` is already generic and you can use it with any mapper.

@gunnarmorling, @agudian, @sjaakd What is your opinion about:

[2016-12-08 20:54] zt1983811 commented on #469
@filiphr From the [pull request in example](https://github.com/mapstruct/mapstruct-examples/pull/13/commits/057945bb75b4b2d56875d2078539c5240e64f049#diff-3fc3e0b9076ceda462750e3f45e92b88) I found you manually create a class called CycleAvoidanceMapper.java. My question is why this is necessary?  If not where is the generic  CycleAvoidanceMapper class? I try to search in repo but do not find [any.]

[2016-12-08 21:03] filiphr commented on #469
@zt1983811 as I said earlier the support for cycle avoidance is not out of the box and it comes indirectly with the merge of #911. Currently to avoid cycle one has to create their own class like the `CycleAvoidanceMapper` and add it to the `uses` attribute of your mapper. This way people can implement their own logic and their own way of avoiding cycles. The PR for the examples (which is not yet o

[2016-12-08 21:05] zt1983811 commented on #469
@filiphr Ah ok now I understand this is not the final version. I will wait for it then. Thanks

[2016-12-08 21:08] filiphr commented on #739
I am closing this one as it is supported with the merge of #911.

Let me know if you don't agree and reopen it

[2016-12-08 21:08] #739 closed

[2016-12-08 21:11] filiphr commented on #469
@zt1983811 just to clarify, it will be part of the examples (meaning that you will have to create the class yourself and use it where you need to)

[2016-12-08 21:13] zt1983811 commented on #469
@filiphr  Perfect thanks for the detail explanation and care :+1: -)

[2016-12-08 21:30] sjaakd opened #988 "Strange enters in templates, introduced in field mapping"
I'm fixing the as part of issue #973

[2016-12-08 21:42] gunnarmorling commented on #510
Hey @rzwitserloot, thanks for stopping by!

I don't think there should any assumption be made on the order of processor execution. Even if you manage to get it to work for Maven, there are other build tools and also execution within IDEs. It seems like opening a can of worms.

By now, MapStruct can deal with types whose hierarchy gets expanded by other processors. While JSR 269 does not allow to m

[2016-12-08 21:45] filiphr commented on #988
@sjaakd Thanks for that one. I had hard time with the strange enters and templates there 😄

[2016-12-08 23:14] sjaakd commented on #988
No problem!

[2016-12-09 07:36] filiphr commented on #933
@zt1983811 There is a way to do what you are looking for. You can achieve it with the `@Qualifier`. You can use `@Named` and `qualifiedByName`, or you can use your own custom `@CountryWithoutCities` qualifier with `qualifiedBy`

[code]

Yes you will need 2 more methods if you want to do the reverse. Is this solving your problem?

[2016-12-10 19:29] agudian commented on #975
I'm gonna start working on this.

And how cool what it be if we would check the annotated type for methods with `@BeforeMapping` / `@AfterMapping` / `@ObjectFactory` annotations on it and support calling them on the given state/context instance? We could then provide a self-contained type that handles cycles in graphs. We could even add it to the mapstruct core, e.g. as `CyclicGraphContext` class,

[2016-12-10 22:13] sjaakd commented on #975
😄👍👍👍👍 I think they naturally belong together and should be available as such! Great initiative!!

Verstuurd vanaf mijn iPhone

[2016-12-11 19:12] agudian commented on #975
Hum, it's more complicated than I thought - I'll have to refactor our various spots of method matching/selection and the rendering of MethodReference first to allow for such context parameters to be passed along... so it's going to take some time.

[2016-12-12 11:17] Chessray opened #990 "Add option to generate Apache Camel's @Converter annotation into mappers and methods"
I'm working on a project where we're using both Apache Camel and Mapstruct with CDI.

Camel offers a @Converter annotation as described [here](https://camel.apache.org/type-converter.html). In order to use a generated Mapstruct-Mapper as @Converter, I have to write a "gluing class" looking somewhat like this:

    package sample.conversion;
    import org.apache.camel.Converter;
    import javax.i

[2016-12-12 18:01] filiphr commented on #990
@Chessray I haven't used Apache Camel. However, by looking at the link you send to us, more specifically **Add type converter classes at runtime**. You should be able to make it work without the "glue" class by implementing `TypeConverters` and adding the `@Converter` annotation in the not implemented method.

Will this work for you?

We need to discuss if we want to provide a way for the user to

[2016-12-12 19:47] gunnarmorling commented on #990
@Chessray Could you also put the `@Converter` annotation to the mapper interface itself?

[2016-12-12 19:57] gunnarmorling commented on #987
Weird indeed. A condensed example would be much appreciated. Or, if you feel adventureous, you also could debug into MapStruct itself and check where in the model tree the `Date` type gets lost from the list of types to be imported (watch for the `getImportTypes()` method).

[2016-12-12 19:59] gunnarmorling commented on #977
Hey @GeroldSchierholz any further thoughts on this? Relying on EJB is a no-no for me, so I'm inclined to close this one as "Won't fix".

[2016-12-12 20:37] gunnarmorling opened #991 "Split reference guide source into an adoc file per chapter"

[2016-12-12 20:37] gunnarmorling opened #992 "Remove @Experimental annotation from before/after mappings"

[2016-12-12 20:52] gunnarmorling opened #993 "Add a switch to turn off auto-mappings"
Follows up on #60.

[2016-12-12 20:54] tbrizard commented on #987
@gunnarmorling - I'll start digging into the MapStruct code and take a look at the `getImportTypes` as you suggested.  I'll post back what I find in the next few days.

[2016-12-13 00:11] rzwitserloot commented on #510
Allright, I spent the evening trying to figure this all out, and I have relatively good news to report.

I think we can fix this!

This branch: https://github.com/rzwitserloot/lombok/tree/playNiceWithOtherAP

contains my proof-of-concept work.

Just check that out and run 'ant testAp', which makes an example processor that looks for a generated (by lombok) getter. The ant task runs the compile job

[2016-12-13 09:35] Chessray commented on #990
I tried the following

- annotation on interface
- annotation on interface and method
- annotation on interface and method + interface extending TypeConverters
- the above + injecting Instance<TypeConverters> into my customised CamelContext and adding it to the context's TypeRegistry.

None of these worked. I think the last one failed, because the camel-cdi component changes the way that @Converte

[2016-12-13 20:04] agudian commented on #510
Okay, that looks interesting - basically you see that for any AST modifications you're doing, the corresponding modifications to the Elements/Mirrors are being added, right? That may be something to build on...

I heard about that bug in the maven-compiler-plugin before, but I couldn't figure out what's actually wrong there (nor was there a project to reproduce it). Do you have any details on that

[2016-12-13 20:40] filiphr commented on #990
@Chessray I think that you should be adding the `@Converter` annotation on the interface. Again this is just by looking at their examples.

I think that you should have something like:

[code]

[code]

Adding a custom annotation to the method works if you add the annotation in the interface/abstract method (in theory). I know for a fact that if you use `@Transactional` from spring in the interface

[2016-12-13 22:17] gunnarmorling commented on #990
It's not the first time that the request for adding some specific annotations comes up. Supporting that somehow would be nice.

You already can do it today by adding your own `ModelElementProcessor` and hook it up via the service loader mechanism (see how the internal processors are doing it, e.g. you can take the ones for CDI or Spring support as a template and adjust them as per your needs). Use

[2016-12-13 22:20] sjaakd commented on #990
What are you thinking? Adding an (optional) annotation property to `@Mapper` or `@BeanMapping`, e.g.: `Class<? extends Annotation>[]includeAnnotation() default { };`? The immediate drawback I see is that you can't include any properties in that includedAnnotation if that's required.

[2016-12-13 22:31] gunnarmorling commented on #990
Yes, lacking support for annotation attributes would be unfortunate. I could see an option that simply copies all non-MapStruct annotations from the interface to the generated implementation.

That said, @Chessray, did you declare your mapper as an abstract class instead of an interface and annotate it? This may do the trick to let the annotations be considered by CDI.

[2016-12-13 22:39] filiphr commented on #990
I was thinking more in the direction that someone can define it via the `ProcessorOptions` and add that as an annotation, maybe a custom `AnnotationBasedComponentModelProcessor` that will add this custom annotation to all the processors. However, your idea with the optional annotation property to `@Mapper` or the other mappings is interesting option. Yes there is a drawback that you cannot include

[2016-12-14 10:55] Chessray commented on #990
@gunnarmorling Just tried the abstract class - same result. :-(

[2016-12-14 13:14] rzwitserloot commented on #510
Sounds like the issues with manually ordering annotation processors by explicitly listing them has been solved. That's nice; we can in theory do some really crazy hackery to try to fix the ordering ourselves (which involves being an SPI provider for charsets, thus getting called earlier, and then 'fixing' things by injecting ourselves as agent into the running process to rewrite javac so that it p

[2016-12-14 18:13] mattiasoamz commented on #73
Would you consider adding support for Guava immutable collections as well? Not sure if it should be handled as part of this issue - it does relate to support immutable beans but from an implementation perspective it's a different thing.

[2016-12-15 16:30] narvik01 commented on #841
I just encountered this issue when ugrading to java 8 and there was a hidden dependency on the old mapstruct 1.0.0 artifact so both the old and mapstruct-jdk8 1.1.0 were present. Excluding the old one helped.

[2016-12-15 19:06] filiphr commented on #841
@narvik01 thanks for the information. Can you tell us if this was from some of our own artifacts or was it from some other dependency?

@amitraju01 Can you please check if the problem is due to some dependency on the old artifact like in he case of @narvik01.

[2016-12-15 19:17] filiphr commented on #73
@mattiasoamz This can possibly done via some conversions. Can you perhaps create a new issue for this and maybe specify how would you use them (the use case)? I have not used the Guava immutable collections, and an example bean with them would be much appreciated 😄

[2016-12-15 19:44] narvik01 commented on #841
@filiphr It is a dependency of http://search.maven.org/#artifactdetails|io.springfox|springfox-swagger2|2.6.1|jar

[2016-12-18 21:09] sjaakd opened #996 "Bring `ArrayCopyWrapper` in line with new `SourceRHS`"
just like: #973

[2016-12-19 03:21] PFStruct opened #997 "@Mapper(uses = ObjectFactory.class)"
I am having trouble mapping fields for jaxb class with   @XmlElementRef. Also adding object factory Service required a bean of type. What am I missing?

  @XmlElementRef(name = "statementGroup", namespace = "", type = JAXBElement.class, required = false),

public JAXBElement<Money> createLoanPrepaidInterest(Money value) {
        return new JAXBElement<Money>(_LoanPrepaidInterest_QNAME, Money.clas

[2016-12-19 19:01] sjaakd opened #999 "FQN's in the generated code for arrays."
Check out generated code for unit test: `org.mapstruct.ap.test.array.ScienceMapperImpl`

[2016-12-19 19:11] sjaakd commented on #997
Perhaps this is helpful: checkout our [unit test for JAXB]( https://github.com/mapstruct/mapstruct/tree/master/processor/src/test/java/org/mapstruct/ap/test/selection/jaxb)

You should be able to use an `ObjectFactory` generated by XJC. The element you're after is `@XmlElementDecl`.  Its generated by XJC and you can add an OF as `uses` in the `@Mapper` annotation.

[2016-12-19 19:16] sjaakd commented on #997
Oh. and do you really need to generate `JAXBElemt`s? Consider to set your binding to `<jaxb:globalBindings generateElementProperty="false"/>`. AFAIK you need the `JAXBElement` only for optional nillable types. (So cardinality [0,n> and ` xsi:nil="true"` in your XSD).

[2016-12-19 20:37] filiphr commented on #999
@sjaakd Have a look at the PR. Maybe, for the future we need to add tests that will evaluate the generated mappers (we will have to go through them and decide if they make sense first). That way we can be sure that the generated code is as someone will write it 😄

[2016-12-19 20:58] sjaakd commented on #60
@navpil thanks for the great work!

[2016-12-19 20:58] #60 closed

[2016-12-19 21:22] sjaakd opened #1001 "Automapping follow-ups (error message and documentation)"
Follow up of #60:

- [x] create a dotted path notation for error messages where nested properties can't be mapped automatically
- [x] Adapt reference documentation
- [ ] Add entry to migration notes to note that there won't be an error message in case nested properties can be mapped automatically
- [x] ~~Make sure that configuration from prototype methods in `@MapperConfig` classes are applied to

[2016-12-19 21:59] sjaakd commented on #988
Fixed.

[2016-12-19 21:59] #988 closed

[2016-12-19 23:07] filiphr commented on #999
Fixed via #1000

[2016-12-19 23:07] #999 closed

[2016-12-20 02:37] zcanann opened #1003 "Ambiguous Mapping Migration Issues from CR1 to CR2/Final"
MapStruct appears to have lost the ability to automatically resolve the correct setter function when there are multiple of the same name. This is happening for me when mapping to Protobuf generated classes with Builder setter functions. These have the unfortunate habit of violating POJO conventions, and cannot be annotated because they are generated.

In this example, we map a BillingAddress POJO

[2016-12-20 02:46] wjc133 opened #1004 "In this case, how do I convert in batches?"
bean

from:
[code]

to:
[code]

for mapping this in batches, I write mapper like this:
[code]
The single conversion worked, but batch not.
How can I convert in this case?

[2016-12-20 18:34] filiphr commented on #1003
@zcanann In CR1 it was working by chance for you. If the order of the `setAddress` methods was different you would have had the same problem.

The "breaking" change is due to #892 and the PR #942. There was already some discussion in the PR.

@agudian, @gunnarmorling the problem is that we do not consider the `setAddress(AddressBuilder builderForValue)` as a candidate write Accessor because the `p

[2016-12-20 18:46] gunnarmorling commented on #1003
I'm still missing a piece. Could you post the mapped source types, too? And which error do you get specfically? Maybe you could even provide a small yet complete sample project for reproducing this? Thanks!

[2016-12-20 19:13] filiphr commented on #1003
@gunnarmorling I created a small reproducible gist [here] (https://gist.github.com/filiphr/91e09c3ff668c6d0411108b6c7c40c5a). @zcanann is the gist correct? By the way with 1.2.0-SNAPSHOT it will compile due to the new #60. With 1.1.0.Final it fails with:

@zcanann in order to avoid the problem as a workaround you can provide something like:

[code]

If your builders are generic, you can add a gene

[2016-12-20 19:43] sjaakd commented on #973
fixed.

[2016-12-20 19:43] #973 closed

[2016-12-20 20:27] zcanann commented on #1003
Yeah @filiphr, I this accurately captures the essence of the problem.

I tested the work around you provided -- it works like a charm. This solution is much more simple than overriding functionality with the SPI. Thank you.

[2016-12-20 20:28] filiphr opened #1005 "Report an error if the resulting type in the BeanMappingMethod is abstract"

[2016-12-20 21:04] gunnarmorling commented on #1003
@filiphr How do you envision to solve this? I don't think we can sensibly "guess" which `setAddress()` to call, so I think we'd have to raise an `AmbiguityException` by default and provide a way to specify the target type in this case (`@Mapping#targetType()` or something similar).

[2016-12-20 21:10] gunnarmorling commented on #1003
Btw. on ProtoBuf support in general, there is issue #743. There may be some more things to consider in order to fully support it.

[2016-12-20 22:03] sjaakd opened #1007 "Compare generated code to a fixed 1.1 baseline"
To avoid problems in generated code java files we should compare a selective set to a set of generated 1.1. generated source code java files. See #996 for more details.

[2016-12-20 22:07] filiphr commented on #1003
@zcanann great that it works 😄. Just one question did you remove the `qualifiedByName = "mapAddress"` or it worked with that one?

@gunnarmorling In this case we could have guessed the correct `setAddress()`. Imagine that we have 2 setter:
[code]

There is no mapping method for the first. However, there is one mapping method for the second one. Therefore there is no ambiquity and we use the mappin

[2016-12-20 22:13] #996 closed

[2016-12-20 22:20] zcanann commented on #1003
@filiphr I kept the `qualifiedByName = "mapAddress"` and it worked

[2016-12-20 22:27] #899 closed

[2016-12-20 22:29] sjaakd commented on #751
Will be obsolete by means of  #1006

[2016-12-20 22:29] #751 closed

[2016-12-20 22:33] filiphr commented on #657
This has been resolve in #998. @mbach979, @domdorn you can have a look at the 1.2.0-SNAPSHOT and let us know if your problems are resolved 😄

[2016-12-20 22:33] #657 closed

[2016-12-21 15:10] navpil commented on #1001
How should we continue on this?
I already have some changes, which work, but they break some tests, which assume another format of the error message. But before I fix those tests I'd better know that the format I chose is the correct one. Should I do the PR with some tests failing so you can look at the current implementation (I have a dedicated test for these error messages)? Should we discuss it

[2016-12-21 17:21] agudian commented on #1001
I'd say open a new PR right away and we can discuss it there directly with the modified code and the failing tests visible to all of us... :)

[2016-12-21 17:44] gunnarmorling commented on #1001
+1

[2016-12-21 21:21] #941 closed

[2016-12-21 21:24] sjaakd opened #1009 "Non used private method generated for number conversions"
Checkout generated code for `org.mapstruct.ap.test.conversion.bignumbers.BigIntegerMapper`:

Not used private method:
[code]

[2016-12-21 22:05] sjaakd commented on #883
@gunnarmorling , @agudian .. what needs to be done for this one? Limit the characters to a smaller set (CP1252 or US ASCII) and replace violating characters? Support more character encodings or make it somehow configurable? Can we?

[2016-12-22 12:52] sjaakd opened #1011 "Unexpected code generated for update method icw nested target properties"
The following mapper

[code]
Generates the following code:

[code]
Note that new objects are generated, while I would expect that the nested objects would be obtained from the `@MappingTarget`

[2016-12-22 19:00] filiphr opened #1012 "Cleanup the code duplication between the Stream and Iterable support"
- [x] In `MapperCreationProcessor` creation of `IterableMappingMethod` and `StreamMappingMethod` are really similar. Extract a common Builder for the mapping methods and reuse as much as possible the code
- [x] The `StreamMappingMethod` and the `IterableMappingMethod` are almost identical, extract some common class between the two

[2016-12-22 19:59] sjaakd opened #1013 "Errors for @Inherit(Reverse)Configuration based on non-abstract methods"
Several matching methods exist: merge(), mergeWithOutInsertedPart(). Specify a name explicitly.

`merge` is non abstract.

[2016-12-22 21:26] filiphr opened #1014 "FQN is generated for super and extend bounded Types"
Have a look at the `org.mapstruct.ap.test.collection.wildcard.ExtendsBoundSourceTargetMapperImpl` and `org.mapstruct.ap.test.collection.wildcard.SourceSuperBoundTargetMapperImpl`:

There is something like:
[code]
and
[code]

[2016-12-22 22:55] gunnarmorling commented on #1014
PR merged.

[2016-12-22 22:55] #1014 closed

[2016-12-23 01:24] filiphr commented on #983
We also need to update the JavaDoc of the `AfterMapping` and `BeforeMapping` annotations. Currently there is this sentence:

[2016-12-23 19:30] agudian commented on #1001
I've added another point about the test class `TestMultipleForgedMethodsTest` that I just stumbled upon... It looks a bit unfinished... 😉

[2016-12-24 08:35] sjaakd opened #1017 "Use `Optional` for generated nested methods"
in stead of the if ( ? == null ) ...

[2016-12-24 09:26] filiphr opened #1018 "Use Diamond operator in generated code"
In stead of:

[code]
We can generate:
[code]
if we are on Java 7 or higher. I think for this we need to pass whether we are creating a new instance to the `ModelIncludeDirective` which we can then somehow use it in the `Type.ftl`, or this can already be done with the `ext` property?

[2016-12-24 10:33] sjaakd commented on #1004
@wjc133 this is not supported. But you can always write a handwritten method which will be called by MapStruct. You can do that by using a used mapper `@Mapper(uses = )` or annotate a class with `@Mapper`, handle it in the same class and let MapStruct generate the abstract methods.

[2016-12-24 10:35] sjaakd commented on #1004
Let me know if the answer is useful to you. I'll continue to close the issue in a short while.

[2016-12-24 10:56] sjaakd commented on #997
I'm thinking a bit further on this..

We are introducing `@ObjectFactory` in the 1.2 version of MapStruct. You can mark methods as `@ObjectFactory`.

However, this is not of any help to you, since your `ObjectFactory` is generated. Perhaps we can introduce next to `@Mapping( uses = )`  `@Mapping ( objectFactories =  )`.  All methods in an object factory would then automatically be marked as `Objec

[2016-12-24 12:28] sjaakd commented on #997
at the other hand.. The object factory method with argument and return JAXBElement is already considered as a mapping method.So it should work already with the 1.1 version of MapStruct. @PFStruct : can you provide the complete example?.

[2016-12-25 10:09] gunnarmorling commented on #975
Initial PR is merged. Remaining to-dos:

- [ ] Doc update
- [ ] ability to pick factory methods and @BeforeMapping/@AfterMapping methods directly from @Context parameter types (as per @agudian's comment on the initial PR)
- [ ] Clarify why context parameter types must be unique

[2016-12-25 22:54] sjaakd commented on #1009
Fixed.

[2016-12-25 22:54] #1009 closed

[2016-12-26 12:47] filiphr opened #1022 "Indent multi-line chained calls correctly"
The [IndentationCorrectingWriter](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/writer/IndentationCorrectingWriter.java) should be modified (or a new solution is needed) in order to support correct indentation of multi-line chained calls.

Example generated:
[code]
should be:

[code]

[2016-12-26 13:09] agudian commented on #975
The reason behind it is that in the method selection the possible parameter assignments are permutated by their type assignability - for `@MappingTarget` and `@TargetType` there can be only one, for source params (the not annotated params) and the `@Context` params we only have the assignability - if that yields muliple permutations for the same method, we currently just select the first one. Perh

[2016-12-26 13:43] agudian commented on #1017
What's the benefit of that? Generating less lines of code?
I guess there would be a performance penalty for it, albeit a tiny one... but perhaps enough to show up in the next bean mapper performance comparison... ?

[2016-12-26 16:25] sjaakd commented on #1017
Just be because we can isn't the right answer I guess 😄?

One of the main reasons I have for applying Optional at my job is less unit testing in handwritten code. So the answer depends on if you want to unit test generated code (something I believe) we do advise. But it's also valid when you use Mapstruct only initially and then continue on generated code.  But agreed, its I reckon not the most pr

[2016-12-26 21:46] sjaakd commented on #1011
I've been playing around with this.. It will take me some time. Need to revise my current solution. I think it can be simpeler.

This is what is generated now..

[code]

to support null checks required for update methods I need something like this:

[code]

If you think the null checks away (for non-update methods),  it's in a way nicer than what we have now. But can be long lines depending on the

[2016-12-26 22:23] filiphr commented on #1022
This one will be obsolete if #877 is implemented.

[2016-12-26 22:33] gunnarmorling commented on #877
I recently learned about [Roaster](https://github.com/forge/roaster), which offers formatting functionality based on Eclipse. It may also be sufficient to use the plain Eclipse formatter directly, but then at least Roaster would show how to do it.

[2016-12-26 23:11] filiphr commented on #1011
It might look a bit better as you can see the path that you wrote in the `@Mapping` immediately. However, if you have deep nestings, I think it would be too long.

@sjaakd what do you think about grouping in methods? Basically we will generate new methods for each nested level and group per level.

For example something like:

[code]

This way we avoid the long null checks and the lines are not lo

[2016-12-27 09:23] sjaakd commented on #1011
Thanks !! I'll look into this this evening. I could use some help though :smile:. Its tricky stuff and perhaps there are smarter solutions (implementation wise). Lets discuss it further this evening. Need to run now :smile:

[2016-12-27 09:24] sjaakd commented on #1011
But I like the idea of forging update methods.. I reckon this is what the essence is right?

[2016-12-27 09:31] filiphr commented on #1011
I can also have a look and think about the implementation as well 😄

Yes that's the idea, to forget update methods based on the mappings that we have.

[2016-12-27 17:25] agudian commented on #877
The cool thing about Roaster is that it also has a nice API for creating an AST... which is something we might want to go for anyway... :)

[2016-12-27 17:30] mattiasoamz opened #1025 "Support for Guava Immutable collections"
It would be great if MapStruct could support Google Guava [immutable collections](https://github.com/google/guava/wiki/ImmutableCollectionsExplained). This would require some custom logic for how to create and populate the collections - for Guava collections you would typically call a static `copyOf()` factory method instead of using a no args constructor and `addAll()`.

This related to #73 in th

[2016-12-27 17:31] mattiasoamz commented on #73
@filiphr I'm sorry for my late response - the holidays got in between. I have created #1025.

[2016-12-27 23:06] sjaakd commented on #285
@filiphr thanks for reviewing

[2016-12-27 23:06] #285 closed

[2016-12-28 08:44] filiphr commented on #965
Thanks for reporting the incorrect reference @ruszki. We have fixed it

[2016-12-28 08:44] #965 closed

[2016-12-28 21:22] sjaakd opened #1027 "Mappers should not consider InheritInverseConfiguration in used mappers"
Leading to null pointers. I reckon because there's no source model present if you call a used mapper method in another mapper.

[2016-12-29 09:09] egotsev commented on #782
Is anyone working on this issue? If not, I would be interested in implementing it. Can you point me to some documentation as a starting point?

[2016-12-29 09:20] wjc133 commented on #1004
OK. Thx.

[2016-12-29 12:16] egotsev commented on #782
Okay, I can start studying the code and working on this right after NYE. Any other hints and tricky points are welcome. :slightly_smiling_face:

[2016-12-30 17:43] filiphr commented on #1007
Add tests for:

- [ ] org.mapstruct.ap.test.bugs._913.Issue913SetterMapperForCollectionsTest
- [x] org.mapstruct.ap.test.array
- [ ] org.mapstruct.ap.test.collection.adder
- [ ] org.mapstruct.ap.test.updatemethods
- [ ] org.mapstruct.ap.test.conversion.string

Are there any other tests that we need to add?

[2017-01-01 23:21] agudian commented on #992
Closing as duplicate, it's also mentioned as part of #983 and resolved in PR #1016.

[2017-01-01 23:21] #992 closed

[2017-01-03 19:40] arminnaderi opened #1029 "Mapper should not throw an error when explicitly ignoring read-only properties"
<img width="1201" alt="screen shot 2017-01-03 at 2 35 43 pm" src="https://cloud.githubusercontent.com/assets/16402451/21620458/6dfc1162-d1c2-11e6-8994-ede99c595b2b.png">

Ran the command `./gradlew assemble` and the annotation processor threw these warnings. Andreas Gudian suggested that they should not do so.

The unmapped properties are generated via the entities' constructors and are marked wit

[2017-01-03 19:44] gunnarmorling commented on #1029
Could you share the definitions of your mapped beans and your mapper
definition?

[2017-01-03 20:05] arminnaderi commented on #1029
Thanks for the quick reply.

<img width="508" alt="screen shot 2017-01-03 at 3 04 59 pm" src="https://cloud.githubusercontent.com/assets/16402451/21621230/0b9bb582-d1c6-11e6-86b6-894f0dda52b6.png">
<img width="722" alt="screen shot 2017-01-03 at 3 05 04 pm" src="https://cloud.githubusercontent.com/assets/16402451/21621237/1001c67a-d1c6-11e6-84fb-940fb4d3383c.png">

Let me know if you need the enti

[2017-01-03 20:13] gunnarmorling commented on #1029
Hum, we don't have the definition of `DeckForm`, so it's hard to tell. Does `DeckForm` declare all these properties that are defined within `Deck`? If not (or if they have different names), the generator doesn't know how to populate the properties in the target bean and thus raises this warning.

[2017-01-03 20:20] arminnaderi commented on #1029
`package com.chronpwn.core.domain.form;

import com.chronpwn.forum.domain.mapstruct.Reference;
import org.hibernate.validator.constraints.SafeHtml;

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import java.util.List;

//TODO: validate that diamond cards are singular,
public class DeckForm {

    @NotNull
    private Long id;
    @NotNull
    @Size(min = 5,

[2017-01-03 20:28] gunnarmorling commented on #1029
That explains it. When mapping from `DeckForm` to `Deck` there is no way to populate the additional properties in `Deck`. Usually such unmapped properties are an indicator that something isn't working as intended, hence the warning. If that's not the case, you either can ignore single target properties via `@Mapping#ignore()` or you change the "unmapped target report policy" for the entire mapper

[2017-01-03 21:09] agudian commented on #1029
@arminnaderi, on Gitter, you mentioned that the reported unmapped properties don't have any accessor methods and that setting them to `ignore` didn't help and instead raised the error `"Property "creatureCount" has no write accessor."`.

Could you please add the full declaration of `Deck`?

[2017-01-04 03:05] arminnaderi commented on #1029
@Entity
@DomainComponent("chronicle")
public class Deck implements BaseEntity {
    private static final int TRUNCATE_LENGTH = 22;

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    @NotNull
    @Size(min = 5, max = 30)
    private String name;

    @NotNull
    private Legend legend;

    @NotNull
    private DeckType deckType;

    @OneToMany
    @NotNull

[2017-01-04 03:05] arminnaderi commented on #1029
@agudian Yes that is true, here is the implementation.

[2017-01-04 09:09] filiphr commented on #1029
@agudian, @gunnarmorling I think that the solution for #833 was wrong. If there is a `readAccessor` for a property we always throws an error, even when the property is explicitly ignored. Just have a look at the `IgnorePropertyTest.shouldGiveWringingOnUnmapped`. I think that the problem is that we first do the checks if there is a `readAccessor` or unknown properties and then we check for ignored.

[2017-01-04 11:13] agudian commented on #1007
I'd say create the merge commit locally, add the test fixes to  the test files and push to master 🙂.

[2017-01-04 11:43] agudian commented on #1029
I think we resolved that in the chat.

But anyway, I think we have a bug here that needs to be fixed. I'll reopen the issue.

[2017-01-04 12:37] gunnarmorling commented on #1029
Ok, but can we then first need to get a reproducer of the issue an it seems
to be something different than indicated by the original description. Is it
related to usage of `ignore()` for a non-existent target write accessor?

[2017-01-04 12:56] filiphr commented on #1029
Yes it is related to properties which are ignored and have no target write accessor. However, by looking at the issue again, I do not think that it is related to what I am saying (maybe I am even wrong and it works as designed).

The OP has a warning that some properties were not mapped which is correct, as his `Deck` has more properties than his `DeckForm` and thus we display the warning. If the

[2017-01-04 13:36] agudian commented on #1029
I'll create a reproducer...

[2017-01-04 15:48] Volodymyr128 opened #1030 "Map to entry which has more fields"
I have:

[code]

Question: how to map MyDTO (with null anotherObject prop) from MyEntity?

[2017-01-04 16:19] agudian commented on #1030
[code]

By default, MapStruct will then give you a warning that the property `anotherObject` remains unmapped. You can either shut that warning off via `Mapper#unmappedTargetPolicy`, or explicitly ignore the property for the mapping (and thus documenting for yourself that the property won't be populated by that mapping method):

[code]

Closing this, as it's a question. Feel free to comment if tha

[2017-01-04 16:19] #1030 closed

[2017-01-04 16:53] agudian commented on #1029
I can reproduce that some read-only properties are listed in the "unmapped target properties" message (we'll fix that), but I can't reproduce the `has no write accessor` message.

@arminnaderi, could you please share the mapper with the `@Mapping` annotations that led to the error?

[2017-01-04 21:06] arminnaderi commented on #1029
@agudian Sure, one moment, I have to check my VCS.

[2017-01-04 21:08] arminnaderi commented on #1029
@Mapper(componentModel = "spring", uses = { ReferenceMapper.class })
public interface DeckMapper {
    DeckForm deckToDeckForm(Deck deck);

    @Mappings({
            @Mapping(target = "cost", ignore = true),
            @Mapping(target = "supportCount", ignore = true),
            @Mapping(target = "creatureCount", ignore = true),
            @Mapping(target = "supportMapCount", ignore = true),

[2017-01-04 21:12] arminnaderi commented on #1029
I believe what happened is that I ignored the `@Transient` properties with`Deck` with `ignore = true,` and the

message appeared which seemed strange to me at the time as the properties do not need to be accessed if they are ignored.

[2017-01-04 21:38] agudian commented on #1029
Okay, I'm seeing it now as well. Apperently, when only a subset of the unmapped properties is ignored, that error shows up... 😏

This is what you want to use in your application:
[code]

[2017-01-04 23:28] arminnaderi commented on #1029
Sounds good, I'll try it out. Thanks!

[2017-01-05 16:43] agudian commented on #1029
I've edited the title and the description of the issue to clarify what we actually need to fix here.

Remark: the maps are reported as unmapped target properties, as they could be modified using `.put(..)` if no setter is available. Properties like `outdated`, `creatureCount` etc are not reported as unmapped target properties, because they can't be modified like maps or collections and have no set

[2017-01-05 17:50] agudian opened #1032 "Update license headers to 2017"
... I'll take care of 1.1 and master...

[2017-01-05 19:32] agudian commented on #1007
@filiphr I started merging those commits, as I would need to merge some other stuff soon as well... :)

[2017-01-05 20:12] agudian commented on #1007
While merging, I found only improvements (yay!), with the exception to this change for an update-method (`ExternalSelectionTest`, in the `DepartmentMapperImpl`):

with 1.1, we generated the following:
[code]

With the current master, we generate:
[code]

That seems to be a good idea, but it definetly changes the outcome. There might be users who currently rely on the old behavior, so that should d

[2017-01-05 20:22] agudian commented on #1007
Merged to master. Thanks, @filiphr!

[2017-01-05 20:22] #1007 closed

[2017-01-05 21:20] sjaakd commented on #1007
Sure ! I'll add that as soon as I've got the opportunity! Thanks

Verstuurd vanaf mijn iPhone

[2017-01-06 08:53] filiphr commented on #962
Support for this was added in #964

[2017-01-06 08:53] #962 closed

[2017-01-06 22:18] PFStruct opened #1035 "un-mapped field"
I have a dto that has two fields. account and date opened. Using the mapper, I mapped only account and not the date opened. However the implementation is adding unmapped field as well. I apologize if this has been addresses before. Any input would be greatly appreciated.

[2017-01-06 22:56] gunnarmorling commented on #1035
Can you share your mapper definition and mapper types? Have you tried to
use @Mapping#ignore()?

[2017-01-06 23:25] snowe2010 opened #1036 "Nested objects, when mapped, don't first `get` the existing object"
https://github.com/snowe2010/ExampleOfErasingNestedParameters

Example of a secondary, untouched, object being overridden because a new instance is generated instead of retrieved from the currently existing object.

[2017-01-06 23:27] snowe2010 commented on #1036
duplicate #1011

[2017-01-06 23:52] snowe2010 commented on #1011
Is there any way to get around this issue for the time being?

[2017-01-07 00:18] filiphr commented on #1035
@PFStruct are the name of the date opened field same in the dto and the other object? If they are then MapStruct automatically maps them. If you don't want to map fields that have the same name you have to explicitly ignore them via `@Mapping#ignore()` like @gunnarmorling suggested.

[2017-01-07 00:19] arminnaderi commented on #1029
Thanks for all of your support guys, it is truly amazing. You all seem highly dedicated to this project. A rare sight. And MapStruct is an amazing project.

[2017-01-07 00:22] PFStruct commented on #1035
I have not tried setting to ignore. I was thinking if it is not mapped, it will not map and we do not have to specifically ignore. here is the sample.

public class LoanDTO extends TransactionList{
	protected String accountId;
	protected XMLGregorianCalendar payoffDate;

	 public String getAccountId() {
		return accountId;
	}
	public void setAccountId(String accountId) {
		this.accountId = account

[2017-01-07 00:28] filiphr commented on #1035
@PFStruct our replies were almost in the same time 😄.

For more information you can have a look at [Basic Mappings](http://mapstruct.org/documentation/1.1/reference/html/index.html#basic-mappings) from our documentation.

This paragraph explains how the mapping is done:

If it is OK for you I will close the issue

[2017-01-07 00:30] PFStruct commented on #1035
Absolutely! Thank you for quick response.

[2017-01-07 00:32] filiphr commented on #1011
@snowe2010 I think that the only way to get around this is to use `@AfterMapping` for the nested fields. Have a look at our [documentation](http://mapstruct.org/documentation/1.1/reference/html/index.html#customizing-mappings-with-before-and-after) for `@AfterMapping`. You can get access to the source and target object there.

[2017-01-07 00:42] #1035 closed

[2017-01-08 13:57] agudian commented on #1029
Thanks for the nice feedback! We really appreciate that!

I've pushed a fix to our 1.1 branch and our master just now. So I'll close this issue.

[2017-01-08 13:57] #1029 closed

[2017-01-08 18:43] #1013 closed

[2017-01-08 18:45] sjaakd commented on #1032
@agudian can this be closed?

[2017-01-08 18:48] sjaakd commented on #1011
Implement the methods yourself in an used mapper or in an abstract class mapper. The issue is high at my personal list as well :smile:. @filiphr offered a nice solution which seems more elegant than is in place now. I'll look into this.

[2017-01-08 18:50] sjaakd commented on #997
@PFStruct : can you provide a demonstrator? (see my comments above). Otherwise I'll continue to close this issue.

[2017-01-08 18:51] #1004 closed

[2017-01-08 18:56] agudian commented on #1032
Oh, yes. Thanks for the reminder 👍

[2017-01-08 18:56] #1032 closed

[2017-01-09 16:39] olabomba opened #1040 "@Mapping generates compilation errors on Maven/Netbeans"
Hi,
I'm using jhipster, which generates mapstruct mappings.
I've errors on certain fields (not all of them), if they have multiple @Mapping annotation. Only in the EDI. All building process, by maven, is OK.
The error is : "Incompatible types: int cannot be converted to boolean".
Have you any idea ?
Thanks,
Regards.

[2017-01-09 16:45] filiphr commented on #1040
@olabomba can you please give us examples and/or screenshots from Netbeans that are displaying the error.

As @gunnarmorling said: Can you also add the definition of the mapper interface (or maybe a
screenshot indeed if it only happens within NetBeans). Thanks!

[2017-01-09 17:33] olabomba commented on #1040
Hi,
Here it is:
![capture d ecran du 2017-01-09 18 32 14](https://cloud.githubusercontent.com/assets/1215055/21776268/0970e664-d69a-11e6-9efa-b12dd38dd322.png)

I haven't the issue in Eclipse.

[2017-01-09 17:36] filiphr commented on #1040
@olabomba can you check which Java 8 version NetBeans uses compile your code? I don't think that this issue is related to MapStruct

[2017-01-09 17:48] olabomba commented on #1040
NetBeans uses openjdk version "1.8.0_111".

Some methods are good, as you can see in the previous capture (productToProductDTO).

[2017-01-09 17:52] gunnarmorling commented on #1040
Do you have some kind of error view or log file in NetBeans where you could see the full stack trace? @sjaakd, mabe you have a pointer where to find that in NetBeans?

[2017-01-09 17:56] agudian commented on #1040
Does `Product` by any chance have more than one  setter for `pictures`?

[2017-01-09 18:00] olabomba commented on #1040
@filiphr : I've switched to Oracle's one (java version "1.8.0_111") : same issue.

@gunnarmorling, No trace in View > IDE log. I don't know where I could find a better trace.

[2017-01-09 18:01] agudian commented on #1040
Or is there another property with more than one setter?

[2017-01-09 18:06] olabomba commented on #1040
@agudian only one setter by property ; all these properties are generated by jhipster, which is very clean.

I've just saw this strange behaviour:

![capture d ecran du 2017-01-09 19 02 53](https://cloud.githubusercontent.com/assets/1215055/21777298/82d71f2e-d69e-11e6-8eb8-3f67c2261281.png)
=> OK

![capture d ecran du 2017-01-09 19 03 12](https://cloud.githubusercontent.com/assets/1215055/21777303

[2017-01-09 18:14] filiphr commented on #1040
Can you try
[code]
And tell us which artifacts from mapstruct are you depending on?

[2017-01-09 18:21] sjaakd commented on #1040
Have you tried in NB, menu source, scan-for-external-changes?

[2017-01-09 18:23] sjaakd commented on #1040
Another option is to clean your netbeans cache. I usually rename it to cache.old.

[2017-01-09 18:35] olabomba commented on #1040
@sjaakd : no result for your proposals

@filiphr, OK, it works !

![capture d ecran du 2017-01-09 19 33 29](https://cloud.githubusercontent.com/assets/1215055/21778182/ac119e60-d6a2-11e6-8007-7d6c4529040b.png)

[2017-01-09 18:36] olabomba commented on #1040
I don't know why it is needed for the mapping of productDTOToProduct, and not for productsToProductDTOs, but thanks !

[2017-01-09 18:39] #1040 closed

[2017-01-09 18:42] filiphr commented on #1040
@olabomba the problem is that you most probably have a dependency on [core mapstruct](http://mvnrepository.com/artifact/org.mapstruct/mapstruct) and not on [jdk-8 mapstruct](http://mvnrepository.com/artifact/org.mapstruct/mapstruct-jdk8). The core mapstruct does not have support for Java 8 `@Repeteable` mappings.

It is indeed strange why it works for one and not for the other. Can you just tell u

[2017-01-09 18:50] olabomba commented on #1040
The maven dependencies I use are: mapstruct, mapstruct-jdk8, mapstruct-processor (in 1.1.0.Final)

[2017-01-09 18:56] filiphr commented on #1040
You shouldn't be using mapstruct and mapstruct-jdk8 in the same time. Either mapstruct or mapstruct-jdk8.  Can you try excluding mapstruct and see if your initial configuration works?

[2017-01-09 19:04] olabomba commented on #1040
Hi, sorry, I made a "grep".
The mapstruct is already excluded (the entry I found was an exclusion).
So, the maven dependencies I use are only: mapstruct-jdk8, and mapstruct-processor (in 1.1.0.Final)
It's not the explanation we are looking for..

[2017-01-09 19:13] agudian commented on #1040
NetBeans runs the compilation using `mvn`, right? Is there a way to configure it to pass `-X` to the build, which enables the maven debug output?

[2017-01-09 20:03] sjaakd commented on #1040
http://wiki.netbeans.org/FaqLogMessagesFile

In the IDE itself:
window >> IDE Tools >> Exception Reporter
window >> IDE Tools >> Notifications

[2017-01-09 21:47] sjaakd commented on #1040
Only if its indeed a maven project. Not when its a NB project (believe it uses ant under water).

[2017-01-10 09:33] olabomba commented on #1040
@sjaakd both (Exception Reporter, Notifications) are empty

[2017-01-10 18:47] sjaakd commented on #1040
@olabomba : is it indeed a maven project, or a native netbeans project?

[2017-01-10 21:15] agudian commented on #510
@rzwitserloot Did you get to check combination of MapStruct and your proof-of-concept in Eclipse?

Would be great to get an idea if your approach works out (which would be cool, as it's not limited to solve the problem for MapStruct users only 😉) or if we have to come up with an alternative that might need to be specific for the combination of MapStruct and Lombok.

[2017-01-10 21:55] gunnarmorling commented on #1027
Done.

[2017-01-10 21:55] #1027 closed

[2017-01-10 21:59] gunnarmorling commented on #1012
Done.

[2017-01-10 21:59] #1012 closed

[2017-01-10 22:04] sjaakd commented on #1036
Lets track this as part of #1011 . Thanks.

[2017-01-10 22:04] #1036 closed

[2017-01-10 22:11] gunnarmorling commented on #510
To shed some light on this, we've been considering the idea of an SPI which would to make it pluggable either to determine whether a type is "complete" (i.e. it will not be amend by other processors). Lombok than could implement such SPI, telling other processors such as MapStruct whether it has "done its thing". MapStruct would query that SPI and defer processing such type until a later round (in

[2017-01-10 22:14] gunnarmorling commented on #510
Such SPI could live in the namespace of MapStruct in the first iteration, but we even may consider to extract it into some more "neutral" place, akin to the AOP alliance's interceptor JAR from a while ago.

[2017-01-11 08:29] olabomba commented on #1040
@sjaakd it's a maven project.

[2017-01-11 08:49] arminnaderi commented on #583
Have this problem as well. I added generics to my BaseEntity class as some entity ids were of different types, such as `String`:

[code]

...results in this error message when running the `bootRun` task:

[code]

[2017-01-11 08:50] arminnaderi commented on #583
I also updated the `ReferenceMapper` class specified within the documentation to handle the generics:

[code]

[2017-01-11 14:01] plzeng opened #1041 "boolean conversion"
When i conversion boolean it  default use Boolean.valueOf, If value is null i still got false . I hope when i use
Boolean with type of packaging, can return a null value.

[2017-01-11 16:53] filiphr commented on #1041
I don't quite understand what the problem is. Where do we use `Boolean#valueOf()`? Can you show us an example of your mapper?

[2017-01-11 21:14] gunnarmorling commented on #1025
Hey @mattiasoamz, having support for Guava's collections would be great. I don't see any general road block to do so, it could be done in exactly the same way as for the already supported collection types.

Would you maybe interested in helping out with implementing this? It's quite straight-forward and we can guide you should you run into any problems.

[2017-01-11 21:16] gunnarmorling commented on #993
Assigned this to 1.2 as discussed during this week's hangout.

[2017-01-11 21:17] gunnarmorling commented on #977
I'm going to close this. Relying on EJB doesn't seem like the best idea.

[2017-01-11 21:17] #977 closed

[2017-01-11 21:42] agudian commented on #583
Oh, that seems to have fallen off the radar. I'd like to give it another look in the next weeks.

[2017-01-11 21:47] mattiasoamz commented on #1025
Ok, I can try to find some time if you point me to where that code lives as well as to some conventions on how to handle new dependencies, writing tests, etc.

[2017-01-11 21:51] yhrn commented on #1025
This is me again but using another account. I'll be using this from now on.

[2017-01-11 23:30] arminnaderi commented on #583
Actually, my problem is not the same as mentioned above. I read issue #79, and it seems to already be supported. Sorry about that.

This is the `ReferenceMapper` implementation that solved my problem:

[code]

[2017-01-11 23:40] gunnarmorling commented on #1025
Hey, thanks for your interest!

As a starter, you could take a look at [IterableMappingMethod](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/model/IterableMappingMethod.java), `MapMappingMethod`, how they are handled in the processor pipeline and [their templates](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/resources/

[2017-01-12 19:08] #997 closed

[2017-01-12 22:00] #1005 closed

[2017-01-13 11:34] rzwitserloot commented on #510
@rspilker and I have worked on turning the proof-of-concept solution (which makes it all work _if_ lombok is 'first in the AP ordering') into a proper releasable commit. That work's pretty much done at this point.

Next step is to investigate how we can make things work when the APs are ordered such that mapstruct is first:

* I'm pretty sure that annotation processors have their own classpaths, s

[2017-01-13 11:57] gunnarmorling commented on #510
Actually I think an SPI is the one solution that isn't hacky at all as it's not based on any assumptions about the processor order :)

It's not that each processor has their on classpath, instead there is one shared processor path (alternatively, a processor module path in JDK 9). We already have SPIs defined in MapStruct and pick up user-provided implementations from the processor path to make ce

[2017-01-13 17:12] filiphr commented on #319
Isn't this the same as what we implemented in #1005?

[2017-01-13 17:35] agudian commented on #319
Indeed it is! Let's close it...

[2017-01-13 17:35] #319 closed

[2017-01-14 18:02] gunnarmorling commented on #510
Hey @rzwitserloot, @rspilker, I've been moving forward with the SPI we discussed. You can find it in my MapStruct fork here: https://github.com/mapstruct/mapstruct/pull/1042

Do you think you can give it a try to implement this in Lombok so we can see whether it resolves the situation? That's what you'd have to do:

* Build MapStruct as per my branch above (run `mvn clean install -pl processor -am

[2017-01-15 07:10] jianyuz opened #1043 "Can't map nested properties inside a dependency jar"
I have a wrapper class that wraps the hibernate entity class which in turn holds other entity objects. The hibernate entity class is in a dependency jar
When I tried to map the tested property from the wrapper class, the following error is reported.

"The type of parameter "xxxwrapper" has no property named "xxa.xxb.xxc"."
Mapping the nested property from the top of the entity class, however, work

[2017-01-15 09:59] agudian commented on #1043
Can you provide an actual example of the mapper definition and the related classes, please?
The fact that the entity classes come from another jar shouldn't be of any concern here.

[2017-01-17 01:10] GuiSim commented on #5
Any progress on this feature? I think it would be a great addition to MapStruct.

[2017-01-17 19:48] filiphr commented on #725
Isn't this already solved with the [DateFormatValidatorFactory](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/model/common/DateFormatValidatorFactory.java)? Or this issue is here to show the `@Mapping` annotation that has the error?

[2017-01-18 02:08] GuiSim opened #1044 "Chain generic conversion"
I'm trying out MapStruct and I think I might have encountered a limitation. I'm not 100% certain, let me know if this is already supported!

I have a class that has a member that is a `java.util.Set<String>`. I want to map this to a `scala.Option<scala.collection.immutable.Set<String>>`.

My initial thought was that this would work:
[code]
I thought MapStruct would somehow understand that it needs

[2017-01-18 12:41] rzwitserloot commented on #510
Well get working on this tomorrow (thursday) evening.

 --Reinier Zwitserloot

On Sat, Jan 14, 2017 at 7:02 PM, Gunnar Morling <notifications@github.com>
wrote:

[2017-01-18 17:05] rzwitserloot commented on #510
I accidentally a punctuation. What I meant to type was: We will work on this tomorrow (thursday) evening :)

[2017-01-18 17:51] gunnarmorling commented on #510
Cool, looking forward to the outcome. Let us know in case there's anything we can help with.

[2017-01-19 17:47] agudian commented on #1044
Making this work wouldn't be that easy, I'm afraid, but not impossible either... we'd have to handle that in our `MethodMatcher` I guess...

[2017-01-19 17:50] agudian commented on #5
No one worked on this, yet. Would you maybe like to give it a try?

[2017-01-19 20:13] gunnarmorling commented on #5
As @agudian is saying, any help with this would be welcome. I'd be very glad to see it in :) We can give directions to get started if needed.

[2017-01-19 20:27] GuiSim commented on #5
Thanks for the proposition. We're still unsure if we're going to go ahead with MapStruct but if we do, I'd love to contribute back to the project as I think we'll need this feature.

I'll update if we choose MapStruct!

[2017-01-19 21:21] gunnarmorling commented on #5
Sure; if you have any questions during your decision process, let us know, we'll be glad to help as good as we can.

[2017-01-20 06:37] andrei-taras opened #1045 "Mapstruct doesn't work when either the DTO or the model is generated code."
My DTOs are generated.
Whenever I perform a clean in Eclipse (i.e. my generated DTOs get deleted), and MapStruct processor kick in first, then it sees that my DTOs don't exist yet, and it fails via  org.mapstruct.ap.internal.model.common.TypeFactory, line 141 (in release 1.1.0.Final)

`
public Type getType(TypeMirror mirror) {
        if ( mirror.getKind() == TypeKind.ERROR ) {
            throw n

[2017-01-20 07:03] agudian commented on #1045
How are your DTOs generated and what does your pom look like?

[2017-01-20 09:26] andrei-taras commented on #1045
My DTOs are generated through custom-written annotation processors.
The mapstruct dependencies that I use are:
`
        <dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct</artifactId>
            <version>1.1.0.Final</version>
        </dependency>

        <dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct-processo

[2017-01-21 09:29] sjaakd opened #1047 "An NPE check is not needed in the property check when handling source parameter"
For update methods, it is not needed to include an NPE check when the source of a property mapping is the source parameter of the bean mapping method.

[2017-01-21 10:24] gunnarmorling commented on #1045
I'll take a look; I think I can provide a fix with my work for #510.

[2017-01-21 10:43] sjaakd commented on #1011
@snowe2010 : do you see a chance to build MapStruct from this PR #1046 and see if this fixes your problem?

[2017-01-21 10:47] sjaakd commented on #1001
I really like this idea. I'm more and more moving to a `SharedConfig` pattern. Form that I refer from my mappers. E.g. a merge mapper, from dto -> entity, a create mapper, from dto -> entity, a reverse mapper from entity -> dto. In principle, all I need than is an object-graph top level method in my mapper and `MapStruct` with the shared config will generate the stuff with automapping. PR #1046 in

[2017-01-21 10:54] sjaakd commented on #489
I have thought a bit more about this, since I recently stumbled on this issue. What if we add 2 more properties to `@IterableMapping`? So `IterableMapping#sortComparator` and `IterableMapping#mergeComparator`. The latter one could be used for update methods. The first one could be applied to both create- and update methods? We could do something similar for keying `MapMappingMethods`

[2017-01-21 11:06] agudian commented on #489
Sounds interesting! What exactly would we need the sortComparator for?

[2017-01-21 11:22] sjaakd commented on #489
I think there are 2 distinct actions: merging setA with setB and returning the result of that merge. The merging requires some kind of comparison, and the sorting independently from the marging on the result.

[2017-01-21 18:33] gunnarmorling commented on #1045
Hey @andrei-taras, this should be fixed by my PR #1042. Any chance you check out that PR's branch, build the MapStruct processor (`mvn clean install -pl processor -am`) and test it with your own annotation processor?

[2017-01-22 14:18] filiphr opened #1048 "Group nested source mappings"
Instead of generating a new method for each mapping we might use something similar as in #1046 and use update mapping internally. For example for the mapping:

[code]

We generate:

[code]

The methods `songArtistLabelStudioCity1(Song song)`, `songArtistLabelStudioName1(Song song)`, `songArtistName1(Song song)` have a lot of duplicated code.

What if we generate this instead:
[code]

I think that

[2017-01-23 19:48] sjaakd opened #1049 "New test cases for non instantiable types in the middle of nested mappings"
For both nested source and target mappings

[2017-01-23 21:09] filiphr opened #1050 "MappingMethods refactoring"
We need to extract as much as possible up to the `MappingMethod`. Candidates here are the equals and hashcode methods.

We also need to make sure that the `BeanMappingMethod` does not extend the `ContainerMappingMethod` (the idea of this method is to be used for `MappingMethods` similar to the `IterableMappingMethod` and `StreamMappingMethod`. Methods that are wrapping some underlying type in gene

[2017-01-23 21:16] sjaakd commented on #1050
Perhaps change the name as well. `ContainerMappingMethod` . A bean mapping method can also take and return generic parameterized types.

[2017-01-23 21:16] snowe2010 commented on #1011
Hmm. Can't get that to work. I have the mapping

*Mapper*
[code]
*PropertyCorrectedEvent*
[code]
*PropertyValueObject*
[code]
*PropertyDetails*
[code]
*LoanDetailsViewDao*
[code]
*LoanDetailsView*
[code]

And it's giving me this error

[code]

[2017-01-23 21:17] snowe2010 commented on #1011
I'm not even trying to map the `Property` object so I don't really know what's going on. It won't even generate the code, due to the error, so I can't check what it's trying to do.

[2017-01-23 21:24] sjaakd commented on #1011
hi @snowe2010 .. For my info:  what language am I looking at?  What's an "data class"?

[2017-01-23 21:27] snowe2010 commented on #1011
sorry that is kotlin. All a data class does is generate getters, setters (only if variable is marked `var`), equals, and hashcode for the class

[2017-01-23 21:30] sjaakd commented on #1011
Ok. I reckoned something like that.. I'll play with the example and java-fy  :smile:. Get back to you soon.

[2017-01-23 21:32] snowe2010 commented on #1011
np! Let me know when you want me to test again. If I find time I'll try to make a small example.

[2017-01-23 22:18] sjaakd commented on #1011
@snowe2010
I gave MapStruct what it wanted. You can try this as well, just add:

[code]
and it unveiled a problem in my current solution. This is the generated code.

[code]

I generate recurring bean mapping methods for target nesting. However a bean mapping standardly tries to invoke name based mapping as well. It recognizes the name `property` and wants to map `property` to `property`.

For me

[2017-01-23 22:35] snowe2010 commented on #1011
Fantastic, sounds like quite the edge case so no wonder you didn't encounter it before.

[2017-01-23 22:47] sjaakd commented on #1011
@snowe2010 .. try again. I added another commit to the PR.

For today, its late. I'm going to stop.If it works, I'll do some cleanup tomorrow. Succes!

[2017-01-23 23:42] snowe2010 commented on #1011
Suweet! My test passes so unless I screwed the test up then it looks like this fixed it! I'll start using MapStruct more intensely now and see if I find any more issues. Any clue how long till this is released?

[2017-01-24 06:04] sjaakd commented on #1011
@snowe2010 : nice to hear it works. This is scheduled for 1.2.0Beta1, so first of februari. However, there are some things we need to think about more carefully. We've also introduced automapping, which maps an object graph all the way if the names of the properties are the same.  I want to make sure there are no conflicts with automapping here.

[2017-01-24 07:44] navpil opened #1051 "Automapping should work for nested generics"
Suppose we have `User `and `UserDto` which can be automapped.
Automapping can handle the `List<User>` to `List<UserDto>` conversion.
But `List<List<User>>` to `List<List<UserDto>>` will not be mapped and an error will be shown.

Automapping should be able to handle nested generics.

The likely reason behind it is that we forge iterable/stream/map mappings only in the `PropertyMapping` class, but n

[2017-01-24 07:45] navpil commented on #1051
#1001

[2017-01-24 19:03] filiphr commented on #1051
I think that this is similar as #922 . If we add general support for collections within collections and/or collections as keys / values in maps, then this will work.

If we generate forged methods for such generics within the `MapMappingMethods` and / or the `IterableMappingMethod` then it should work.

[2017-01-25 07:41] navpil commented on #1051
@filiphr yes, you're right. I think this issue may be considered a duplicate.

[2017-01-25 20:53] agudian opened #1054 "MethodMatcher generics support doesn't accept StringList to be assignable to List<String>"
The following mapper as reported by @GerritErpenstein can't be generated:

[code]

The problem is that the MethodMatcher doesn't see that `UUID extractUUID(Identifiable<UUID> value)` is applicable to `NestedSource` (which implements `Identifiable<UUID>`).

It's this check in the Visitor: `assignabilityMatches( t, t1 ) && t.getTypeArguments().size() == t1.getTypeArguments().size()` and the number o

[2017-01-25 21:26] sjaakd commented on #1054
That's a long time ago...  Could it have something to do with the differences in compilers? I remember also differences between certain versions of java6 somewhere.

[2017-01-26 19:58] filiphr commented on #1051
Great. I am marking it as duplicate, it is already linked with the duplicate and I have added the duplicate to the Future Planning milestone.

[2017-01-26 19:58] #1051 closed

[2017-01-27 09:45] papo2608 commented on #571
Are there any updates regarding constructor injection/using dagger?

[2017-01-27 13:49] PFStruct opened #1055 "(componentModel = "spring") and @autowired"
I apologize in advance as I am fairly new to using mapstruct. I have a mapper class with (componentModel = "spring") . When I run in eclipse MVN or STS plugin, application initailized correctly. When I try to deploy it to the external tomcat, I get "Consider defining a bean in your configuration." So @Autowired is not working. So what am I missing? Appreciate any help.

[2017-01-27 15:18] PFStruct commented on #593
I am having the same issue. Can you please clarify what was done to resolve?

[2017-01-27 18:19] filiphr commented on #1055
Is your war correctly packaged? Is the error occurring during the generation of the implementation mappers, or some of your classes?

[2017-01-29 18:11] filiphr commented on #524
I think that this one was resolved via #941

[2017-01-30 09:39] stoerr opened #1056 "java.lang.NegativeArraySizeException in indentation processing"
When generating code I've got a NegativeArraySizeException that took me a while to find the cause for. The problem was that I had a closing parenthesis too many in an expression:

    @Mapping(target = "configurationPending", expression = "java(hasPendingSensorValue(src,SENSORS)))")

I'm not sure whether mapstruct should even try to recognize something like that during code generation, but I sugge

[2017-01-30 10:31] gunnarmorling commented on #1056
Hey, agreed that we shouldn't run into `NegativeArraySizeException` in this case. The resulting code wouldn't compile anyways, though (as you have a closing brace too much), so it won't change much (apart from the less confusing exception).

[2017-01-30 15:30] andrei-taras commented on #1045
Hey, @gunnarmorling , thanks for the fix.
I tested it, and it works.

[2017-01-30 20:49] stoerr commented on #1056
Right, but the resulting compile error tells you where the problem is, while the NegativeArraySizeException just says "something is wrong somewhere in this file". 8-) So, I think you are doing a useful fix. Thank you!

[2017-01-30 22:11] filiphr commented on #861
@gunnarmorling the eclipse bug seems to be resolved. Do we need to do something on our side?

[2017-01-31 11:59] andrei-taras commented on #1045
Sorry, perhaps not the best place to ask this question (but don't know of other more suited for this).
But do you know if/when this fix gets released ?

[2017-01-31 17:38] gunnarmorling commented on #1045
@andrei-taras, this is planned for the Beta1 of MapStruct 1.2 which is due in the next few days.

[2017-01-31 21:14] gunnarmorling commented on #510
The SPI has been merged to master. Thanks @rzwitserloot, @rspilker and everyone else for making it happen!

[2017-01-31 21:14] #510 closed

[2017-01-31 21:15] gunnarmorling commented on #1045
Fix is merged to master.

[2017-01-31 21:15] #1045 closed

[2017-02-01 10:35] sjaakd commented on #1011
solved..

[2017-02-01 10:35] #1011 closed

[2017-02-01 10:35] sjaakd commented on #1047
solved

[2017-02-01 10:35] #1047 closed

[2017-02-01 18:42] sjaakd commented on #1050
@filiphr .. I think this one can be closed, right?

[2017-02-01 19:11] filiphr commented on #1050
Well we still need to make sure that the `BeanMappingMethod` does not extend the `ContainerMappingMethod`. I just saw that your last merge had it still in. I will make a PR for it

[2017-02-01 19:22] sjaakd opened #1057 "Control automapping from root level by allowing @Mapping"
Besides the prototype methods in a shared config, it should be possible to control the auto-mapping from the root object graph method. With control I mean:
1. ignore a target
2. direct MapStruct to select the right target if names between source and target do not match.

Currently we have nested source / nested target mappings `@Mapping` to allow arbitrary selection if properties in a source objec

[2017-02-01 20:04] sjaakd commented on #1043
@jianyuz : is it possibly to provide an example as @agudian requests? Otherwise I'll proceed to to close this issue

[2017-02-01 20:32] sjaakd commented on #1041
@plzeng : can you provide an example so that we can reproduce it? I'll proceed to close this issue later this week when we lack a reproducer.

[2017-02-01 20:49] filiphr opened #1059 "Add ftlvariable to the ftl files so we can have autocomplete with IntelliJ"
In order for IntelliJ to link the Java classes and the ftl files one needs to add an `ftlvariable` comment to the ftl file.

It looks like this
[code]

Another option is to use an external file called `freemarker_implicit.ftl` and have something like this
[code]

I am more for the first option as you immediately see to what it is linked.

If you don't like it then I won't do it 😄.

[2017-02-01 21:14] gunnarmorling opened #1060 "Odd mapping generated for FishTankMapper"
Something looks weird there. Why does it generate a `fishTankToFishDto()` method? Two questions I see really:

* why does it try to map fish tank to fish DTO (the elements are on different levels in the tree)?
* why is this an update method instead of a regular mapping method with a return value?

[2017-02-01 21:27] sjaakd commented on #1060
Nested mappings were never limited to a symmetrical tree. It works exactly as before.

Checkout: NestedTargetPropertiesTest#shouldMapNestedComposedTarget. I need update methods because the mapping for the first source parameter would influence the mapping for the next source parameter.

The generated code works exactly as before (even before the auto-mapping). I only added the FishTankMapper test

[2017-02-01 21:43] gunnarmorling commented on #1060
Yes, ok, but here the tree is symmetrical, right? So I'm wondering why we don't create a mapping method for each level in the tree. It works as I'd expect for `WaterPlant(Dto)`, it's not clear to me why it's different for `Fish`.

But we only have a single source parameter in the fish tank case, no?

Hum, but the automatic mapping of fish and water plant without any user-provided method is only do

[2017-02-01 22:41] sjaakd commented on #1060
That's exactly why I wrote #1057 and send you guys mails. I think we never considered the combination nested source  / nested target properties icw auto-mapping. I just found out while solving an entirely different problem and was triggered by some remarks @agudian made about the eclipse plugin.

You could indeed claim that the (defined by @Mapping) symmetrical mappings are a subset of the complet

[2017-02-02 20:06] agudian commented on #1057
I commented that at another point already, but for the sake of the discussion here:

I would expect that the following two declarations would create the same results (just with a different visibility of `fishToFishDto`:

[code]
is basically just a short-cut to this:
[code]

And to get the blood pressure up, I'd even say that supporting this behaviour is more important than supporting the selected

[2017-02-02 20:41] gunnarmorling commented on #993
- [ ] Add the switch (processor option? on the mapper level?)
- [ ] Doc update

[2017-02-02 20:58] agudian commented on #975
Alright, it's on master now.

[2017-02-02 20:58] #975 closed

[2017-02-03 01:12] diegobmd opened #1061 "RuntimeException when use no package (default)"
NullPointerException when use no package (default), on eclipseor build command line

[2017-02-03 07:41] gunnarmorling commented on #1061
What is it you are using the default package for, the mapper interface or
any mapped type?

[2017-02-03 09:47] diegobmd commented on #1061
For testar only

[2017-02-03 11:23] gunnarmorling commented on #1061
Hum, what is "testar"?

[2017-02-03 11:31] diegobmd commented on #1061
Kkkk, i m a brazilian is a corret by Phineas
I mean
Only for tests

[2017-02-03 11:31] diegobmd commented on #1061
Kkkk, i m a brazilian is a corret by Phone
I mean
Only for tests

[2017-02-03 11:36] gunnarmorling commented on #1061
Ok, maybe you can provide a small example exposing this issue? It's still not clear to me where you are using the default package. Are you saying that your JUnit test is located the default package? That should not make any difference to MapStruct really. Can you share the stack trace, too?

[2017-02-03 12:41] diegobmd commented on #1061
I'm create on github
https://github.com/diegobmd/mapstructapt
RUN gradlew build

:compileJava
mapstructapt\src\main\java\SourceTargetMapper.java:26: error: Internal error in the mapping processor: java.lang.RuntimeException: javax.annotation.processing.FilerException: Illegal name .SourceTargetMapperImpl    at org.mapstruct.ap.internal.processor.MapperRenderingProcessor.createSourceFile(MapperRend

[2017-02-04 09:08] filiphr commented on #1061
It actually it is not a `NullPointerException`. It is an exception because of the name. The Mapper does not have a package.

@gunnarmorling if someone wants to have a mapper in the default package we would have a problem. This are the reasons:
* The [`MapperRenderingProcessor`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/processor/MapperRend

[2017-02-04 09:20] gunnarmorling commented on #1061
Thanks for the analyis, @filiphr. Yes, let's fix it, seems not too hard to do. Using the default package is discouraged, but we shouldn't stop people from using it if they really want.

[2017-02-04 10:19] filiphr commented on #1061
@gunnarmorling see PR #1062 for the fix.

@diegobmd Can you test out the PR to see if it will work for you?

[2017-02-04 21:19] gunnarmorling opened #1064 "Provide a switch to turn off CheckStyle on generated sources"
The CheckStyle run for the generated sources consumes a considerable amount of time. Disabling it in the code (`CompilingStatement`) cuts down build time from 2 minutes to 1 minute for the processor module for me. Hence having an option to turn it off would be highly desirable, ideally it'd be just controlled via the existing option `-Dcheckstyle.skip=true`.

[2017-02-05 07:57] filiphr commented on #1061
@diegobmd The fix has been merged into master. You can try using that branch or the already provided workaround. I will continue and close this issue.

[2017-02-05 07:57] #1061 closed

[2017-02-05 09:10] sjaakd opened #1065 "@InheritReverseConfiguration cannot directly inherit from prototype methods"
I have the simple use case:
1. SharedConfig
2. Reuse SharedConfig to separate from-to, to-from into 2 separate classes, define the mappings once.

It does not work..

Applied to our unit test: `org.mapstruct.ap.test.inheritfromconfig.InheritFromConfigTest`, this is the reproducer:

[code]

Note: a similar method is there in `CarMapperWithExplicitInheritance`, but there the reverse mapping runs via

[2017-02-05 09:41] filiphr commented on #993
Just as a note the fix for #1011 relies on the automapping to create mapping for nested target properties. We need to make sure that the switch is only applied to the correct place

[2017-02-05 17:48] filiphr opened #1066 "Extract functionality from ContainerMappingMethod and NormalTypeMappingMethod into composition"
As a follow up on #1058 in order to reduce the inheritance chain we can extract the functionality in the 2 mentioned methods into a composition.

[2017-02-05 17:51] filiphr commented on #1050
Done

[2017-02-05 17:51] #1050 closed

[2017-02-05 22:07] sjaakd commented on #1065
@agudian , @gunnarmorling : do you guys remember why I can't inherit inverse mappings from a `SharedConfig`. The use case sketched above seems to justify such mappings. In my head, these `@InheritConfiguration` and `@InheritInverseConfiguration` were more or less symmetric. Yet the code seems to be designed with only `@InheritConfiguration` in mind when it comes to prototype methods..

[2017-02-06 02:37] plzeng commented on #1041
Sorry this is my problem, I do not have the correct use.I have resolved .Thanks for your help.

[2017-02-06 09:07] msymonov commented on #510
Hi everyone, when do we expect this feature to be released? What is actually required? Will we need both artifacts to be released? And thanks for everyone's efforts

[2017-02-06 11:05] twothe commented on #1017
Using an Optional will make the code slower with the exact same result.

If you write Unit-Tests to test if the JVM is working correctly, then maybe you are overdoing your testing a bit. ;)

[2017-02-06 11:13] twothe opened #1067 "Add parameter for pre- and post-processing of a mapped object"
It would be great if there was a functionality to allow for pre-processing or post-processing of an object that is mapped to apply certain functionality to the input or result.

As an example take an incomplete object that is related to a database entity and requires fetching information from that database to complete the input object. Vice versa you could create a database entity from an (incompl

[2017-02-06 11:19] twothe opened #1068 "Add parameter for back-reference to parent"
Sometimes when converting classes you want  back-reference to the parent in a child class (double-linked). This is (to my knowledge) currently not possible wth MapStruct.

Example:

    class A {
      String myAValue;
      B child;
    }

    class B {
      int myBValue;
      A parent;
    }

A simple notation would be:

    B mapTOToB(BTO bTO, @ParentReference A parent);

In this case MapStru

[2017-02-06 11:26] dermoritz commented on #389
What is the state here? Is there a current solution? 1.1.0 is released isn't it?

[2017-02-06 11:36] sjaakd commented on #1067
You mean as in our [ref-guide](http://mapstruct.org/documentation/stable/reference/pdf/mapstruct-reference-guide.pdf) ch 11.2?

[2017-02-06 11:38] sjaakd commented on #1068
For code generation by Dali (Eclipse JPA code gen), we have collection strategies. Checkout our [ref-guide](http://mapstruct.org/documentation/stable/reference/pdf/mapstruct-reference-guide.pdf), ch 6.2

[2017-02-06 11:52] twothe commented on #1068
I see. However that leaves all non-collection sitiuations unhandles. Also deeper nesting wouldn't work, like: `A.B.C.parent = A`

[2017-02-06 11:53] twothe commented on #1067
Indeed. Sorry for not finding that beforehand.

[2017-02-06 11:53] #1067 closed

[2017-02-06 12:39] sjaakd commented on #389
It works in 1.10. However not flawless. Checkout #1011.

[2017-02-06 16:15] dermoritz commented on #389
thanks! it is working fin for me. and also thanks for "@Named" support!

[2017-02-06 20:16] gunnarmorling commented on #510
You'll need MapStruct 1.2.0.Beta1 (should be out very soon, we hope to do it next week) and the latest "Edge" release of Lombok. @rzwitserloot, @rspilker, any indication when there will be a regular Lombok release with your change?

[2017-02-06 20:20] #1041 closed

[2017-02-06 20:28] filiphr commented on #1068
@twothe I am not sure I understand the problem. Are you talking about passing the parent reference to the mapping or converting it and avoiding cycles?

If it is the latter have a look at [this](https://github.com/mapstruct/mapstruct-examples/pull/16) pending PR in our examples repository.

Thanks to our new [`@Context`](https://github.com/mapstruct/mapstruct/blob/master/core-common/src/main/java/

[2017-02-06 22:01] filiphr commented on #1060
I have been thinking about this one a lot. I have some ideas how it can be solved, but I got stuck at one point.

My main idea was not to force updated generated mapping for the nested target properties. If we do this then we will generate `private FishTankDto fishTankToFishDto(FishTank fishTank)`. @gunnarmorling the generated mapping for `Fish` is different that `WaterPlant(Dto)` because we have

[2017-02-06 22:09] filiphr commented on #1057
I think that with #1046 we actually have this implemented. The `FishTankMapper` depicts exactly that. If we add an ignore then it would have been ignored.

Basically we are always going to create automappings for elements that have no mapping. I don't see how this can be a problem.

What we currently have open is using Configurations for the automapping it is one of the open points in #1001

[2017-02-06 22:10] filiphr commented on #1057
@agudian I agree with your comment

I have been trying to "fix" that and I am a bit stuck. You can see my reasoning in #1060

[2017-02-07 08:41] rspilker commented on #510
I expect a new release within a week.

[2017-02-07 09:28] dermoritz opened #1070 "Qualified methods are used by all signature matching mappings"
I just tried the `@Named` annotation to mark methods to be used by specific mappings (marked with `qualifiedByName`). The Problem is those methods are used by all mapping that match the signature.

As usual i placed the mappings and methods in the same abstract class:

[code]
The problem is that the method `fixedInterestRate` is used by all mapping that need string->integer conversion. I think thi

[2017-02-07 19:07] sjaakd commented on #1070
Are you sure you are importing the `@Named` from mapstruct iso another package? (Believe me, been there, done that :) ).

Have you tried:
[code]
?

[2017-02-07 19:16] sjaakd commented on #1060
@filiphr : we discussed that earlier :smile: , I believe that this is something I mentioned. However, I dismissed it. Method selection only works on single sources. Here you require method selection of a method with 2 source parameters. That will spin out of control. So for this particular scenario its ok to use update methods. That's what I meant in our meeting on you need to have some logic to d

[2017-02-07 19:18] sjaakd commented on #389
No problem!

[2017-02-07 19:20] sjaakd commented on #1017
Depends.. If you have a Sonar complaining about branch coverage. However, I agree: Sonar should not run on generated code.

[2017-02-07 20:26] twothe commented on #1068
If I have a complex structure of objects I sometimes need a back-reference to the parent that holds that structure (or any parent in between). Double-linked lists are one exampled (which is covered if I understand you correctly) but you could easily construct a relation between objects of much higher complexity where that simple system will no longer work (A->B->C and then C should link to A as we

[2017-02-07 20:42] sjaakd commented on #1068
I believe @filiphr  is right. You could make an @Context object and add a parent object to it by means of `@AfterMapping` You could later fetch this parent object and use an `@AfterMapping` to fetch it and set your grand-parent -  grand-child relation. WDYT?

[2017-02-08 21:00] twothe commented on #1068
After reading through that Context thing I think that would solve the problem. Honestly I did miss that the first time I read your post, sorry for that.

I will give that a try and see if it solves my problem at hand.

[2017-02-08 21:06] sjaakd commented on #1068
@twothe . let us know. For questions we do also have a (user-group)[https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users]

[2017-02-08 22:08] sjaakd commented on #1070
I tried to reproduce the problem. For that purpose I added `testIn` to the `InType` and `testOut` to the `outType`. Both the same types as the `@Named` method has as return / source parameter signature.

To be complete:

[code]

[code]

[code]

And now the generated result. As you can see the method annotated with `@Named` is not qualifying for `testIn` to `testOut`. MapStruct generates a type con

[2017-02-10 04:08] rzwitserloot commented on #510
Lombok release 1.16.14 is out with this feature.

[2017-02-10 18:59] filiphr commented on #1060
I think that we can close this as with #1071 we create update methods only for composite (more than one source parameter) methods.

WDYT @gunnarmorling?

[2017-02-10 20:07] sjaakd commented on #1060
@filiphr are we going to open up a new issue to take my points above? Or do we address those as part of #1060.?

[2017-02-10 20:20] filiphr commented on #1060
@sjaakd I think that we can create a new one or move the discussion to #1057 (are they connected?)

[2017-02-10 20:39] sjaakd commented on #1060
Look at the original text above:

This is addressed in your PR.

This is not yet addressed. But I think this is the main problem (and what #1057 actually describes). See also my own comment above. I think we should close one of the issues since they address the same thing, so lets continue in #1057 with the remainder and close this one.

[2017-02-11 23:28] agudian commented on #1056
Fix landed on master. Thanks @stoerr for reporting and @gunnarmorling for the fix!

[2017-02-11 23:28] #1056 closed

[2017-02-12 07:56] sjaakd commented on #1070
@dermoritz any news? I want to go ahead on this one (close it if there's no issue, solve it if there is). Can you give some feedback..? Without feedback, I'll proceed to close later this week, since I can't reproduce it.

[2017-02-12 07:57] sjaakd commented on #1043
@jianyuz , I'll close this issue. We don't have sufficient info. You can always re-open and provide feedback.

[2017-02-12 07:57] #1043 closed

[2017-02-12 08:18] sjaakd commented on #809
@TheStijn the upcoming Beta should allow for adding parameters marked with an `@Context` annotation. If you've got time, can you check whether our current snapshot solves your issue?

[2017-02-12 18:57] filiphr opened #1073 "Duplicate NestedPropertyMappingMethod are created"
Let's say that we have this mappings (They don't really make sense, but they convey my point):

[code]

The generated code looks like:

[code]
In the `map2` method we should reuse the `sourceInteriorOrnament` method instead of creating a new one.

[2017-02-13 09:35] dermoritz commented on #1070
The main Problem was indeed that in imported the javax.inject.Named!
But i don't know why my self created annotations also failed to work.
i combined all ways from manual: i had some methods annotated with wrong named, a separate class with embedded annotations but in all cases the methods were used always if only the signature matched.

So probably an explicit hint that jsr annotation are not sup

[2017-02-13 09:48] sjaakd commented on #1070
@dermoritz  There's an issue on improving error messages ( #767 ) . I think we should take that one up soon. You can add a comment there if you like.

A common problem with the `@Qualifier` self-made annotations are wrong retention ( if you stick an annotation to a method, it should have `ElmentType.METHOD` and the fact that you don't have it available in a compiler (`RetentionPolicy.SOURCE iso CL

[2017-02-13 09:49] sjaakd commented on #1070
I remember its somewhere in the Javadoc.. Anyway.. Made the mistake myself.

No problem. Hope it helped.

[2017-02-13 09:49] #1070 closed

[2017-02-13 11:36] sjaakd commented on #1068
@twothe . I close this issue in the mean while.

[2017-02-13 11:36] #1068 closed

[2017-02-13 11:39] twothe commented on #1068
Sounds good. I have not yet had the time to test it, but I am confident it will work.

[2017-02-13 13:24] fabiohbarbosa commented on #510
Problem resolved with new lombok version!
Thanks

[2017-02-14 14:52] sabarnath commented on #841
I'm still facing same issue in "*1.1.0.Final*".. Due to "springfox-swagger2|2.6.1|jar", When we expect this fix from mapstruct team...

[2017-02-14 17:41] filiphr commented on #841
@sabarnath are you also using `mapstruct-jdk8`?

This actually is not a problem on our side. We have 2 packages, [mapstruct](http://mvnrepository.com/artifact/org.mapstruct/mapstruct) and [mapstruct-jdk8](http://mvnrepository.com/artifact/org.mapstruct/mapstruct-jdk8). The problem seems to occur when you have both on the classpath.

You don't need to exclude the entire swagger for this. You can do

[2017-02-15 06:37] sabarnath commented on #841
@filiphr ..We have using only on mapstruct-jdk8. Now it's working fine as per your suggestion. Thanks lot. @filiphr  and **Mapstruct team** :)

[2017-02-15 07:06] sjaakd commented on #841
@filiphr , @sabarnath can we close this issue?

@filiphr, @gunnarmorling : something for our FAQ (the combination swagger with mapstruct)?

[2017-02-15 07:14] filiphr commented on #841
@sjaak it is closed already :smile:.

I wrote on my TODO to create a ticket tonight. for our website to add this to our F&Q

[2017-02-15 09:34] twothe opened #1075 "Please add a feature to map from java.util.map to an object"
Refering to [Stack-Overflow](http://stackoverflow.com/questions/42226847/mapstruct-mapping-from-java-util-map-to-bean)

The situation is: I have a REST service that must be called with a huge amount of parameters (as by customer request) and those should be stored in a database. The easiest way to do that would be to take the parameter map and map that to an entity object. As it is about the same

[2017-02-15 10:06] twothe opened #1076 "Please allow other name matching strategies"
Currently the name matching strategy is exact, however in many mapping cases you have names that are almost exact and differ only by a few chars or case. A common example is the URL naming, where you have names like `customer_name` which should map to `customerName`.

It would be great if MapStruct would allow to add a name matching class to be set for a Mapper or a maping method, defined as follo

[2017-02-15 10:45] twothe commented on #1068
Turns out this is not yet released. I am eagerly awaiting 1.2 ;)

[2017-02-15 11:37] twothe commented on #1076
Thinking about it further it would be great if the strategy would actually be a list of classes, to allow for several fallback strategies to apply. As this only applies during code generation further processing should now have any effect on the execution time of the final code.

Then the following would apply:
1. If any `@Mapping` is given with source and target, only that applies, assuming that t

[2017-02-16 02:44] Maaartinus commented on #510
Cool! Could someone update the http://mapstruct.org/faq/?

[2017-02-16 22:25] gunnarmorling commented on #510
@Maaartinus Maybe you could do it? Just click the "Edit on GitHub" link on the upper right of the FAQ page and you could prepare a PR. We've planned the Beta1 release for Monday next week.

[2017-02-17 09:40] igor-dmitriev opened #1078 "Dependency injection enhancement"
There is no opportunity to use dependency injection without DI container, I think this is a mistake.
I have following mappers:

[code]
it will be generated in:

[code]

I am going to use my UserMapper somewhere where there is no DI container, like Spring or Guice, whatever. And since you use field-injection it's impossible. I can't create `new UserMapperImpl()` and use it, cause I will get NPE.

H

[2017-02-17 16:20] Maaartinus commented on #1078
I wouldn't call Guice a container or a framework, as it has no lifecycle and it's easy to use. All you need is to
- configure it, e.g., via `@ImplementedBy(UserMapperImpl.class) class UserMapper {...}` (if you can and want to modify the mapper class) or `bind(UserMapper.class).to(UserMapperImpl.class)`
- create an injector (usually as a singleton)
- and ask for `injector.getInstance(UserMapper.cla

[2017-02-17 16:31] igor-dmitriev commented on #1078
@Maaartinus you didn't get the issue, I need to test my classes which use UserMapper without Spring container, how can I do that???

[2017-02-17 16:48] Maaartinus commented on #1078
@igor-dmitriev I'm pretty new here (apologies if I'm talking non-sense). I use Guice even for tests (it doesn't measurably slow them down). Others claim that it's not clean.

Maybe, I understand now: You want the generated code to support testing (e.g., to include a constructor, so that you can do construction injection also manually), right?

[2017-02-17 16:49] davidfra commented on #1078
I have a similar problem. We are using blueprint in an OSGi context to inject an EntityManager.
As seen in the examples, it is possible to use mappers that resolve referenced entities from the database.

The problem is: aries blueprint needs a setter method to be able to inject other instances, or at least a constructor.

It would be really nice, if you could add an option to generate a setter met

[2017-02-17 17:01] davidfra commented on #1078
It seems a similar issue was already opened some time ago: #571

[2017-02-17 17:10] igor-dmitriev commented on #1078
@davidfra I don't like that setters, they just should change the implementation from field-injection to constructor-injection, that will be the right solution.

[2017-02-17 17:13] yhrn commented on #1025
Hey, so I finally got around to looking at this. Unfortunately, I'm struggeling to find the time at the moment. I have got it working for the basic `ImmutableMap` cases but there are some things that aren't obvious to me how it should work.

1. How should mappers with `@MappingTarget` be treated? It could be disallowed for immutable collections (which is what I've done right now) or we could allow

[2017-02-17 19:33] agudian commented on #1025
That sounds great! I'd say open the PR and we'll check it out more closely.

Regarding your questions:

1. I'd say it is okay to not try to update the immutable maps in update-mappings 😁. We could in that case just invoke the setter with a freshly created instance.
2. There should be no special handling for immutable types regarding the lifecycle-methods (`@BeforeMapping`/`@AfterMapping`), as they

[2017-02-17 19:57] agudian commented on #1078
Well, that really depends on the use case... Some DI frameworks allow cycles in the runtime graph (no, cycles are not *always* plain bad and there are cases when that allows to avoid an over-complicated class structure) - and in those cases you'd be lost (or at least challenged) if you only had constructor-injection. As for testability, I'd usually use the chosen DI frameworks test infrastructure,

[2017-02-17 20:38] igor-dmitriev commented on #1078
@agudian I got it, I would like to help you wit it, actually I am happy to do that.

[2017-02-17 20:39] Maaartinus commented on #1025
There isn't much an `ImmutableMap.Builder` can do. It basically can only add things, for anything else you'd need an old good `LinkedHashMap` (which can used as a builder and preserves the iteration order, too, but is less efficient).

I guess, that being able to modify things in `@BeforeMapping`/`@AfterMapping` may be useful even for immutables, but by default I'd do nothing as that's both simple

[2017-02-17 21:27] agudian commented on #1078
Awesome! Let us know if you need any assistance... A good place to start could be the `AnnotationBasedComponentModelProcessor` and its three sub-classes to see how we currently modify the model that represents the mapper class to generate for the non-default component models.
That could be a place to add the special constructor (I'm not sure if we could make constructor-based injection work on `de

[2017-02-17 21:27] #1078 closed

[2017-02-17 21:34] yhrn commented on #1025
@agudian:

1. My thinking there was that one of the use cases for `@MappingTarget` is that you might want to be able to pass in a subclass.
2. The main problem with the `@BeforeMapping` callback with `@MappingTarget` is that there is no real result object to pass in until after the X.Builder.build() method is called (which is the very last thing). That means I can't see any way it could behave in

[2017-02-17 21:50] gunnarmorling opened #1080 "Provide option to not add @Generated annotation"
When running on Java 9, using the `@Generated` annotation requires the addition of a separate module (_--add-modules java.xml.ws.annotation_). As that can be invonvinient, there should be a processor option to not add the `@Generated` annotation to generated mapper classes.

[2017-02-17 21:55] gunnarmorling commented on #1076
+1 I can see how such feature would be useful. Would you be interested in helping out with implementing it? It'd be a great addition to the tool.

[2017-02-17 22:02] gunnarmorling commented on #1076
#796 seems to be a similar request which also asks for an SPI for property name matching.

[2017-02-17 22:06] gunnarmorling commented on #1055
Hey @PFStruct, I'm going to close this one as there is hardly anything we can do to help without knowing further issues. If the problem still isn't fixed, please send a mail to the [mapstruct-users](https://groups.google.com/forum/#!forum/mapstruct-users) list with a complete reproducer of the issue. Thanks!

[2017-02-17 22:06] #1055 closed

[2017-02-17 22:08] gunnarmorling commented on #987
Hey @tbrizard did you ever have a chance to look into this one?

[2017-02-17 22:14] gunnarmorling commented on #509
That's doable via `@ValueMapping` now, thus closing it.

[2017-02-17 22:14] #509 closed

[2017-02-17 22:16] gunnarmorling commented on #5
Hey @GuiSim, curious which route you did end up following? If you didn't go for MapStruct in the end, do you mind me asking what spoke against it? Always eager to learn from people's thinking so we can improve the stuff. Thanks!

[2017-02-17 22:20] gunnarmorling commented on #71
There's #610 for this, too. Going to close this one as the other has some comments.

[2017-02-17 22:20] #71 closed

[2017-02-17 22:28] GuiSim commented on #5
We didn't go with any mapping technology for now.. we're still writing what we call "translators" to convert from one type to another.

It's still a tedious process but we're slowly removing intermediary objects. We realize that this increases coupling but we feel like the pros outweigh the cons.

[2017-02-17 22:34] agudian commented on #1080
We currently leave it out automatically if the annotation is not available, for exactly that reason. Do we really want to add another option to control that manually as well?

[2017-02-17 22:38] yhrn commented on #1025
Thinking a bit more about this I believe that not supporting the features I brought up make sense from the perspective of being able to be consistent with what can be supported for immutable targets in general (see #73). Builders and mutable counterparts exists in the case of Guava Immutable Collections but won't exist for an arbitrary immutable bean where everything needs to be passed in using a

[2017-02-17 22:39] gunnarmorling commented on #1080
Ah, I wasn't aware of this. That seems good enough then.

Btw. a new `@Generated` annotation may be added in Java 9 as per
discussions on jigsaw-dev this week. But nothing to act on yet.

[2017-02-17 22:40] agudian commented on #1025
Ah, right, that wouldn't work... but perhaps if the before-mapping method would receive a builder? But that can wait for a later iteration where we can see if anyone has the need for such a thing.

[2017-02-17 22:49] agudian commented on #1025
Using constructors for immutable beans is in the works already (the PR is dormant currently, we'll have to iron out some conceptual stuff), a more general support for builders is on the backlog somewhere as well... So this is a great fit into the big picture of supporting immutables on a brad range... 🙂

[2017-02-18 09:16] igor-dmitriev commented on #571
Hi guys, I am going to implement constructor-injection support, but we need to discuss it first. How can we do that? If we don't change basic implementation we can add a flag `useConstructorInjection=true` , like @agudian proposed

[2017-02-18 10:37] gunnarmorling commented on #1080
Going to close this one for the time being.

[2017-02-18 10:37] #1080 closed

[2017-02-18 10:43] gunnarmorling commented on #571
Hi @igor-dmitriev, awesome, that's great news! Does anything speaks against just always using constructor injection? If not, I'd prefer that. The less options and knobs, the better :)

Looking forward to the pull request, let us know if you run into an issues along the way. Thanks!

[2017-02-18 11:40] igor-dmitriev commented on #571
@gunnarmorling cool, thanks, I agree, I prefer to use constructor-injection. I am wondering if it will be ok for all DI containers, cause I am just using Spring framework.

[2017-02-18 12:14] filiphr commented on #571
@igor-dmitriev awesome for stepping up for this one. As @gunnarmorling, I also prefer always using constructor injection. The only thing where I see constructor injection making problems is cyclic dependency. At least for Spring it will fail to generate the Beans.

In my opinion one should never introduce / use such cyclic dependency between beans, but it happens 😄. For this reason I think that we

[2017-02-18 12:35] gunnarmorling commented on #571
Ok, so Spring does not support constructor injection in case of cyclic dependencies between two beans? I thought they'd use proxies to resolve that. But if not, yes, then we should support both indeed.

[2017-02-18 12:39] filiphr commented on #1025
@yhrn I am not sure if you had a look at the `StreamMappingMethod.ftl`. `Stream` is also an immutable class and we still have the callbacks engaging (not always though). You can have a look there how we are handling the callbacks.

1. I agree with you here you can just ignore the updates and only do the callbacks. We do that for the `Stream`(s)
1. There are 3 possible callbacks that we can have:

[2017-02-18 12:47] filiphr commented on #571
I just found out that there is a workaround to support it in the constructor. However, not without annotating the parameters with `@Lazy`. [This](http://www.baeldung.com/circular-dependencies-in-spring) is a nice article explaining all the workarounds.

Do you know if other DI frameworks support injection of cyclic dependencies?

[2017-02-18 12:48] gunnarmorling commented on #571
Not out of my head. I'd expect CDI to support it. Would be worth trying.

[2017-02-18 13:03] afdia commented on #571
Typically for jsr330 you should be able to inject a Provider<Dep> instead of Dep and the provider instantiates the object after the first call of the get() method.
See also the [Guice wiki](https://github.com/google/guice/wiki/CyclicDependencies#break-the-cycle-with-a-provider).
The [javadoc from the jsr330 Provider class](https://javax-inject.github.io/javax-inject/api/javax/inject/Provider.html)

[2017-02-19 04:42] yhrn commented on #1025
@filiphr
I haven't looked at `StreamMappingMethod.ftl`, I'll do that as soon as I get the chance. Meanwhile, there is one thing in your answer that confuses me. Why wouldn't `@BeforeMapping` without `@MappingTarget` make sense to use? In my mind that would work the same for immutable collections as it does for any other target type since the target is not included in the callback. Am I misundersta

[2017-02-19 07:45] igor-dmitriev commented on #571
@filiphr you are right, I think we should give an opportunity to use setter/field/constructor injections. Let's make constructor injection by default and an injection flag should be present, line `injection=setter`

[2017-02-19 07:52] filiphr commented on #1025
@yhrn You are right. I got confused and wrote something wrong. Your understanding is correct.

[2017-02-19 10:57] gunnarmorling commented on #1073
Done.

[2017-02-19 10:57] #1073 closed

[2017-02-19 11:17] gunnarmorling commented on #1060
@sjaakd @filiphr This seems to be addressed with PR #1057, right? I can't see any update methods being used any more in the fish tank example.

[2017-02-19 11:18] filiphr commented on #1060
@gunnarmorling This actually was resolved with PR #1071

[2017-02-19 11:23] gunnarmorling commented on #1060
Ok, so I'm going to close this one then. If there is anything from the discussions above which should be kept, please open a separate issue (nothing seems left from a quick glance, though). Thanks!

[2017-02-19 11:23] #1060 closed

[2017-02-19 11:32] filiphr opened #1082 "NestedPropertyMappingMethod should not add an empty line at the beginning of a method"
The generated code looks like:

[code]

and it should look like:

[code]

[2017-02-19 11:37] gunnarmorling commented on #1059
Sounds like a useful addition.

[2017-02-19 11:39] gunnarmorling commented on #839
@sjaakd is this still an issue? Could you ellobrate a bit on what you mean by "duplicate code"?

[2017-02-19 11:46] sjaakd commented on #839
@sjaakd is this still an issue? Could you ellobrate a bit on what you mean by "duplicate code"?

Ouch. I most likely made an issue during my work which I was meant to detail further in the evening.. Which I forgot. I have no idea.. Will proceed to close.

[2017-02-19 11:46] #839 closed

[2017-02-19 11:49] sjaakd commented on #970
@filiphr : I guess that this is solved by the fixtures?

[2017-02-19 11:51] sjaakd commented on #933
@zt1983811 : is there still an issue? If not, I'll proceed to close this one this week.

[2017-02-19 12:10] gunnarmorling commented on #871
Looking at `SourceConstantsTest#errorOnNonExistingEnumConstant()`, I think only one error (the first) should be raised for line 43 (or ideally, it'd actually be raised on the line with the malicious `@Mapping` instead of the method, not sure whether the compiler allows it, though).

[2017-02-19 13:09] filiphr opened #1083 "Use BeanMapping to control unmapped target properties per method"
Currently we use the `ReportingPolicy.requiresReport()` only for reporting unmapped target properties. If we only use the `ReportingPolicy` for that, then do we want to allow the user to have more granular control over when unmapped target properties errors are reported.

For example one can have a mapper with 2 methods, but want to ignore unmapped target properties for only one of those methods.

[2017-02-19 13:17] filiphr opened #1084 "Use get in the generated name of a NestedPropertyMappingMethod"
Currently we concatenate the `SourceReference` element names.
e.g. from: `@Mapping(target = "organisationName", source = "organisation.name")` with a source name `waterQualityReportDto` we are going to forge the method name: `waterQualityReportDtoOrganisationName`. Do we want to generate `getWaterQualityReportDtoOrganisationName` instead?

[2017-02-19 13:39] sjaakd commented on #1084
and perhaps.. `updateAAAtoBBB` or `mergeAAAintoBBB` for update methods?

[2017-02-19 13:54] filiphr opened #1085 "Investigate why there are no property entries in the source reference"
In #1072 there is a TODO in the `NestedTargetPropertyMappingHolder`. It seems that it is possible that the property entries of a non-`null` valid `SourceReference` can be empty. Investigate why is that the case

[2017-02-19 13:54] filiphr commented on #1085
If the mapping is ignore, constant and/or expression then the `SourceReference` is `null`

[2017-02-19 13:57] filiphr commented on #970
Yes with #1028 we can easily add any fixture and have a fixed test for them.

I will close this one

[2017-02-19 13:57] #970 closed

[2017-02-19 14:45] filiphr opened #1086 "Use configuration from prototype methods for forged name based methods"
This issue is extracted from one task at #1001.

Make sure that configuration from prototype methods in @MapperConfig classes are applied to forged methods (I think that's currently not the case and never has been -- but we should tackle that soon as it becomes more important now)

[2017-02-19 15:13] #1082 closed

[2017-02-19 15:20] sjaakd commented on #1085
and add meaningful comment why :smile:

[2017-02-19 16:07] agudian commented on #983
This on is done... :)

[2017-02-19 16:07] #983 closed

[2017-02-19 16:13] agudian commented on #571
Switching to constructor injection by default might actually break things for current users.

So'd actually prefer leaving the field injection the default and allowing to use constructor injection using an option.... Having those two, I don't see much benefit of also adding setter-injection -- in the long run it'll be just another thing we have to take care about.

[2017-02-19 16:35] filiphr commented on #571
I think that eventually we need to switch to constructor injection by default. I would propose that either we use field injection in the Beta and the switch it in the final release or we announce the change and then we switch it in the release after we introduce this feature.

Regarding the setter injection. Theoretically we could drop the field injection and use setter injection instead. Regardin

[2017-02-19 17:27] filiphr opened #1088 "Refactor the creation of ForgedMethod into a builder or static method creation"
The constructor of the `ForgedMethod` has become to complex. For future improvements we need to refactor the creation of `ForgedMethod` into some builder or static method creation with explanatory names

[2017-02-19 17:33] filiphr opened #1089 "Improve test framework to support adding classes per package"
@agudian had a nice idea to add support for adding all classes to the compiler with the exception of *Test classes.

Additionally it might be interesting to thing in the direction to automatically add all classes recursively to the Test class. Maybe exclude **Erroneous** classes from the inclusion.

[2017-02-19 17:42] sjaakd commented on #1089
and perhaps add objects in sub-packages as well (such as `source` and `_target`).

[2017-02-19 18:59] sjaakd commented on #1083
actually this is a good idea.. I have seen several occasions were I do not want to ignore each individual property. E.g. where you merge a bean with a small set of properties into a bean with a big set of properties. So I use the reporting policy. Drawback: I've to organize all these into a mapper with the proper reporting policy, whereas I would like to organize them along functional lines.

[2017-02-19 19:08] JohnHoward9 opened #1090 "Nested target properties issue"
I have a mapping that consists of:
[code]
Where productDetail is a class which has it's own mapping defined
`
    CatalogProduct.ContentsData toObject(CatalogProductDBO.DetailsData detailsData);`

I was hoping that the allergens mapping would use the ContentsData object created for the productDetail->contents mapping, but what is happening is that the generated code is creating two ContentsData ob

[2017-02-19 19:27] sjaakd commented on #1090
@JohnHoward9 , I'm a bit struggling with your example.

Do you mean there is a mapping inside productDetail taking care of some mappings? If that's the case, you should add it to your uses.

There are 'ignore' options as well. It might be that you need to 'ignore' `allergens` in the `productDetail to content` mapping..

BTW: personally I like to flip source / target around in `@Mapping`. Reads eas

[2017-02-19 20:08] JohnHoward9 commented on #1090
Thanks for guidance.  I've just started working with mapStruct this weekend, so any input is most welcome.

The attached a a simple case that demonstrates the issue.  There is a junit test SimpleMapperTest that when run results in 'C' not being mapped to the target.

I'll grab the beta when it is available and check if that works with our model.

Thanks,

John

[test.zip](https://github.com/mapstr

[2017-02-19 21:40] sjaakd commented on #1090
@JohnHoward9

try:
[code]

The first mapping method is a parameter mapping. It simply takes the name `source` from the source parameter name and maps it into the property `subClassTarget`.  You could of course do that also with your own handwritten method. I reckon that the second mapping method speaks for itself.

As a tip: try to keep the target non nested. This improves readability and eases ma

[2017-02-19 23:20] filiphr commented on #1057
#1072 has been merged

[2017-02-19 23:20] #1057 closed

[2017-02-20 11:45] idkw opened #1091 "MappingConstants ANY_REMAINING and NULL not playing well together"
I have an enum `FirstEnum` which looks like :

- START
- STOP
- REPORT

and an enum `SecondEnum` which looks like :
- START
- STOP

I want to map the values of the `FirstEnum` to the `SecondEnum` and output `null` when the value of `FirstEnum` doesn't exist in `SecondEnum`. It should map the values as follow:
- null -> null
- START -> START
- STOP -> STOP
- REPORT -> null

I tried :

[code]

It ge

[2017-02-20 12:31] cpoissonnier commented on #557
Can't wait this feature to be available in the next version (I need this to use Mapstruct in my Playframework projects). Do you have any idea when 1.2.0 will be released?

[2017-02-20 12:32] gunnarmorling commented on #557
1.2.0.Beta1 is planned for today :)

[2017-02-20 12:34] cpoissonnier commented on #557
Amazing timing, thanks !

[2017-02-20 16:44] gunnarmorling commented on #991
Also re-format it to use one sentence (or line of thought for longer sentences) per line.

[2017-02-20 17:27] filiphr opened #1092 "Add the github id next to the contributors in the copyright.txt"

[2017-02-20 17:30] zt1983811 commented on #933
No it is get resloved

[2017-02-20 17:30] #933 closed

[2017-02-20 19:28] sjaakd opened #1093 "Emit warning when a matching method collides with defined mappings."
We now have the possibility at root level to instruct MapStruct how to behave. However, this might collide with pre-existing (non forged) mapping methods.

So supposed we have
1. a nested target AND
2. MapStruct was supposed to forge a mapping method at the current nesting target entry to the source according to the mapping definitions at root level AND
3. There is a pre-existing source method tha

[2017-02-20 20:07] fdimauro commented on #769
Did the original issue ever get fixed? And if so how?

[2017-02-20 20:07] fdimauro commented on #769
I am having the same issue at the command line.

[2017-02-20 20:19] filiphr commented on #769
Did you configure your pom like in our [documentation](http://mapstruct.org/documentation/stable/reference/html/#_apache_maven)?

[2017-02-20 20:27] filiphr commented on #1091
This indeed seems to be a bug on our side. The only thing if you use this then you cannot Inherit a Reverse mapping from this one.

It is not allowed to have a `ValueMapping` like:
[code]

[2017-02-20 21:05] gunnarmorling commented on #1001
Closing to have the milestone clean for the announcement. @sjaakd could you add something to the migration notes?

[2017-02-20 21:05] #1001 closed

[2017-02-20 21:38] agudian commented on #1065
I don't think there was a specific reason for not implementing it -- I just didn't think of it, I guess. At least I can't remember anything else... 😁

Perhaps it can be fixed when the stuff get's refactored for making them applicable in the forged methods?

[2017-02-20 21:43] sjaakd commented on #1065
Good to know.. I've got a PR in the making.. However UT's start to fail (because they refer to local reverse methods)..

[2017-02-20 21:56] fdimauro commented on #769
Yes,

I may be having a different issue. When mapstuct runs it fails with class not found errors on Groovy classes. So mapstruct is running before any of the Groovy classes exist in the target directory so it can not find them.

Frank
 

 <http://www.west.com/>

[2017-02-20 22:25] gunnarmorling commented on #769
Frank, could you open a new issue, attaching a small example project which
demonstrates the problem? Are you generating your Groovy classes somehow?

[2017-02-21 12:37] idkw commented on #1091
OK thank you for the warning.
I intended to use this mapping as a one way converter.

[2017-02-21 17:40] Raild commented on #1075
I've tried to do it in the following way:
[code]
But is it possible to convert value if the MyEntity.name type is boolean (without calling Boolean.parse(...) manually)?

[2017-02-21 19:43] #1091 closed

[2017-02-21 19:44] filiphr commented on #1091
@idkw this one is now fixed and on our master it will be part of the next release (Beta or CR) for 1.2

[2017-02-21 19:49] sjaakd commented on #1090
@JohnHoward9 .. were my tips useful?

[2017-02-21 19:53] idkw commented on #1091
Thank you for the fast answer and fix ! As a workaround, for the released version, for now, I will manually map the "remaining" values to null.

[2017-02-21 20:27] gunnarmorling commented on #1091
You also can fetch 1.2.0-SNAPSHOT with this fix from the Sonatype repo: https://oss.sonatype.org/content/repositories/snapshots/org/mapstruct/mapstruct-processor/1.2.0-SNAPSHOT/

[2017-02-21 20:36] #1059 closed

[2017-02-21 20:36] gunnarmorling commented on #1059
Done.

[2017-02-21 20:55] JohnHoward9 commented on #1090
Only just got a chance to pick this up again - Works perfectly

I tried a few other mappings as our model was slightly more complicated.  As well as the subClass we had a list of alternate subClasses where field C wasn't set, plus the field names were different in the two subClasses.

This is how I solved that.  Hope this is the right approach!

[code]

Plan now is to use MapStruct on the microser

[2017-02-21 21:05] sjaakd commented on #1090
@JohnHoward9 .. nice to hear.

One small thing: if you're on Java8 you can even skip the `@Mappings` annotation and apply a list of `@Mapping` directly to the method. Just include `<artifactId>mapstruct-jdk8</artifactId>` iso the `<artifactId>mapstruct</artifactId>`

We just released the beta, and if you look at the issues, there are some spin offs of your issue wrt the beta. So thank you as well

[2017-02-21 21:06] #1090 closed

[2017-02-21 21:08] gunnarmorling commented on #725
@filiphr the idea is to check whether the value given for `@Mapping#dateFormat()` et al. is valid. Re-reading the comment on that attribute I'm wondering whether it's still correct. Is it really `SimpleDateFormat` syntax when we are mapping to the Java 8 time types? This may need some updating, too.

[2017-02-21 21:41] filiphr commented on #725
@gunnarmorling that is what that class is used for. You just need to dig a bit deeper to see that the strings passed to it are actually coming from `@Mapping`. The only downside is that we don't mark the line where that is happening.

No it isn't. We do this validation:
* `SimpleDateFormat` - for `java.util.Date` source or target, and for `XMLGregorianCalendar` source or target
* Java `DateTimeFor

[2017-02-22 07:50] gunnarmorling commented on #725
Would be nice to flag the `dateFormat()` annotation element itself in case a wrong value is given.

[2017-02-22 16:42] hakamairi commented on #782
Any updates? I would love to use this feature.

[2017-02-22 17:59] hakamairi commented on #73
Hi,
I'm currently working with a lot of immutable classes and this could be the mapping solution.
What's the progress on the issue?

The initial approach is a bit similar to @JsonCreator @JsonProperty of com.fasterxml.jackson.

[2017-02-22 19:20] manosbatsis opened #1099 "Introduce decision helper API"
Allow mappers to apply their strategy selectively to properties with null or other alternatives according to provided helper

[2017-02-22 19:38] gunnarmorling commented on #1099
Hi Manos, that request is a bit vague. Could you elaborate a bit how such
helper would look like and how you'd envision it to be used?

[2017-02-23 04:19] manosbatsis commented on #1099
Basically I would like to have a mapper consult my custom helper to allow overriding default behavior at runtime, for example to map a non-null value to null or even conditionally add a collection entry instead of setting a property to the target bean. The usecase is HTTP requests with parameters that dynamically instruct for a subset of the target model's properties and/or inclusion of relations

[2017-02-23 07:48] gunnarmorling commented on #1099
Seems like this could be solved using decorators and/or
@BeforeMapping/@AfterMapping methods. Have you tried out those?

[2017-02-23 09:58] manosbatsis commented on #1099
Happily guilty of missing that. Thanks for pointing me in the right direction.

[2017-02-23 09:58] #1099 closed

[2017-02-23 21:09] gunnarmorling commented on #1065
Done.

[2017-02-23 21:09] #1065 closed

[2017-02-23 22:21] sjaakd commented on #1099
FAQ issue?

[2017-02-23 22:22] gunnarmorling commented on #1099
Sure, feel free to add one :)

[2017-02-24 07:25] gokhanoner commented on #1017
If you replace the methods that get nested properties with Optional, yes it would be slower. But, when you have multiple nested properties, and if more than 1 layer, than you're checking if each object if its null or not for every property/object it has.

If u use Optional & get the nested object, not the property, once and than use it to get the properties, than it shouldn't be effecting the perf

[2017-02-24 12:10] pavel-kurnosov commented on #510
Can someone create example how it should look in gradle project?

[2017-02-25 13:51] prathapjayaraj opened #1100 "Couldn't retrieve @Mapper annotation while using Swagger2"
I'm not able to compile when I use along with the Swagger2. My pom configuration file is attached.  When I enable swagger 2. I'm not able to compile it. I'm getting below exception.

`
[ERROR] diagnostic: C:\Prathap\STS-Workspace\GIT\directory\src\main\java\app\prathaplabs\or
gman\mapper\AddressMapper.java:13: error: Couldn't retrieve @Mapper annotation
@Mapper(componentModel = "spring", uses = {}

[2017-02-25 15:51] brabenetz commented on #1001
I played a little with 1.2.0-Beta1 feature Automapping-generation. And found two test-cases which doesn't work:

1. Recursive Mappings can produce a compiler crash "Internal error in the mapping processor: java.lang.StackOverflowError":
[MapStructRecursionMapper.java.txt](https://github.com/mapstruct/mapstruct/files/801300/MapStructRecursionMapper.java.txt)

2. enums are not Mapped (Error "Conside

[2017-02-25 15:52] gunnarmorling commented on #1100
You've got groupId and artifactId for your dependency exclusion from Swagger to MapStruct 1.0.0.Final mixed up. It should be

    <dependency>
        <groupId>io.springfox</groupId>
        <artifactId>springfox-swagger2</artifactId>
        <version>${swagger2.version}</version>
        <scope>compile</scope>
        <exclusions>
            <exclusion>
		<groupId>org.mapstruct</groupId>
		<arti

[2017-02-25 15:52] #1100 closed

[2017-02-25 15:56] gunnarmorling commented on #1001
@brabenetz Thanks for the report. Could you open two new issues for these problems? Thanks!

[2017-02-26 09:02] gunnarmorling opened #1101 "Confusing method name in test mapper"
`shouldMapIntegerSetToNumberSet()` -> `shouldMapIntegerStreamToNumberSet()`

[2017-02-26 09:05] gunnarmorling commented on #1101
Done.

[2017-02-26 10:10] brabenetz opened #1102 "1.2.0-Beta1 Automapping Feature: doesn't work with enums"
enums are not Mapped (Error "Consider to declare/implement a mapping method: ..."):
[MapStructEnumMapper.java.txt](https://github.com/mapstruct/mapstruct/files/801846/MapStructEnumMapper.java.txt)

The Docu "mapstruct-reference-guide.asciidoc" says:

	MapStruct will only create a new mapping method if and only if the source and target property
	are  properties of a Bean and they themselves are Bea

[2017-02-26 10:11] brabenetz opened #1103 "1.2.0-Beta1 Automapping Feature: cycle tree let the compiler crash with StackOverflowError."
Recursive Mappings can produce a compiler crash "Internal error in the mapping processor: java.lang.StackOverflowError":
[MapStructRecursionMapper.java.txt](https://github.com/mapstruct/mapstruct/files/801850/MapStructRecursionMapper.java.txt)

[2017-02-26 10:16] brabenetz opened #1104 "1.2.0-Beta1 Automapping Feature: Doesn't work with "Unmapped target property" on the child Bean."
An "Unmapped target property" on the child Bean shows the error `Consider to declare/implement a mapping method: ...`:
[MapStructWithHirarchyMapper.java.txt](https://github.com/mapstruct/mapstruct/files/801853/MapStructWithHirarchyMapper.java.txt)

The `annotation @Mapping(ignore = true, target = "child.id")` solves that issue.
But, ...

1. There should not be an Error. A warning like `Unmapped ta

[2017-02-26 10:18] brabenetz commented on #1001
Sure, I created #1102, #1103, #1104

[2017-02-26 10:27] sjaakd commented on #1102
@brabenetz .. In principle this is a missing feature.. The problem concerns enum mappings (which are not yet automatically generated). That's why we mentioned `Bean` in the text above.

But having said that, its a good idea to add this as well.

[2017-02-26 10:34] sjaakd commented on #904
Idea is: SourceRHS always will be a combination of max 2 of: conversion, method, direct . Why not make this explicit (so inner conversion, outer conversion, inner method, outer method.. etc). Then we can get rid of this confusing assignment handling: going to one SourceRHS and multiple variants of TargetLHS which have SourceRHS as mandatory property (iso wrapper).

[2017-02-26 10:35] sjaakd opened #1105 "Fixing some template issues"
I was continuing my refactor activities around #904 (adapted text). Before I'm going to dig in further into this I spotted a problem between two templates.

~~There was an extra enter in `SourceRHS` which was somehow fixed in `MethodReference` by declaring the whole `MethodReference` as `<@compress single_line=true>` (including surrounding its macro's). This needs to be fixed.~~

Just refactoring

[2017-02-27 09:42] sjaakd commented on #1105
done and closed

[2017-02-27 09:42] #1105 closed

[2017-02-27 11:20] navpil commented on #1103
@brabenetz Thanks for finding this bug.

I have added the PR which fixes this particular issue. Probably some other recursive cases should be handled.

[2017-02-27 20:46] peterfk opened #1108 "Ignore unloaded entities for JPA"
This issue is in response to a stack overflow quesion.
http://stackoverflow.com/questions/41838886/can-mapstruct-do-a-deep-deproxy-of-hibernate-entity-classes
Perhaps an easier way to do this would be to create an @IgnoreUnloadedEntities annotation that would do a check first to see if the entity has been loaded, no longer a proxy.  Example of the generated code would look like this:

[code]
A che

[2017-02-27 21:01] agudian commented on #1108
Yea, we had that already. It was discussed in #778 (so I'm going to close this as a duplicate).

But I guess we'll have to continue thinking about allowing to customize the generated code as described in #706 or in a more closely related #788.

[2017-02-27 21:01] #1108 closed

[2017-02-27 22:24] filiphr commented on #1104
@brabenetz thanks a lot for trying out and providing so good examples for the new feature. Regarding the reporting, we explicitly added an error there and are not taking the `ReportingPolicy` into consideration. I am not 100% sure if it is correct to ignore or warn here.

I have to agree, for your use case it makes perfect sense to ignore it. However, imagine that we start to generate a mapping me

[2017-02-28 13:47] LucasAndersson commented on #782
I would also love to use this feature, it would be great if you could support at least the default builder pattern generated by Lombok as well out of the box somehow.

[2017-02-28 19:16] filiphr commented on #1101
@gunnarmorling this is already in master right? Shall we close this one?

[2017-02-28 19:17] agudian commented on #1104
Hmm, I would have expected that the `unmappedTargetPolicy` is taken into account as it is defined and that no error is created.

But I get how we want to avoid just instanciating an empty object... although it's kinda the same with our other mapping methods in combination with `unmappedTargetPolicy = IGNORE` - the user wouldn't be informed in case the properties in the target class are refactored

[2017-02-28 20:03] brabenetz commented on #1104
I prefer Tests which informs me if something is not mapped any more.
But at the moment (for this Case) there is only an Error that basically says that Automapping Feature doesn't work, without any hint what the real problem is. Even without `unmappedTargetPolicy = IGNORE`.

[2017-02-28 21:01] gunnarmorling commented on #1101
Ah, yes. Thanks!

[2017-02-28 21:01] #1101 closed

[2017-02-28 22:12] filiphr commented on #1104
@brabenetz you are most probably right. Maybe we also need to display the properties that could not have been mapped.

@agudian do you think that we should use the warning policy per default? I am asking, because if we do this, then the mappers would be generated with only a warning.

[2017-02-28 23:16] rwalkerands commented on #131
+1

Having just hand-coded two methods of the instanceof/cast variety to do this (e.g., https://github.com/au-research/ANDS-Vocabs-Toolkit/commit/087c32e89a4d515e61e4d4fe0b093f277d407315#diff-28ded5bdcc0bbe659e4da1ae67530d37R104), I await a better way.

[2017-02-28 23:34] filiphr opened #1109 "Specify @Qualifier import in the documentation"
This is a copy of https://github.com/mapstruct/mapstruct.org/issues/19 hat is moved to the mapstruct issues as the reference documentation is part of the main code base.

[2017-03-01 03:58] johnwatsondev opened #1111 "List<List<Bean>> generate method error"
#### ENV
MacOS 10.12.3

Android Studio 2.2.3
Build #AI-145.3537739, built on December 2, 2016
JRE: 1.8.0_112-release-b05 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

lombokVersion = '1.16.14'
mapstructVersion = '1.2.0.Beta1'

#### Mapper class
[code]

#### Generated class
[code]

#### Solution
Please change the local variable name `list` to `some_prefix_list` in for-loop criteria.

Tha

[2017-03-01 07:14] agudian commented on #1104
I think a warning (or whatever fits the configured policy) is just fine. The IDE will show it right away and you'll know what's going on. 🙂

[2017-03-01 17:48] filiphr commented on #1104
@agudian I think that it is agreed to use the `unmappedTargetPolicy` for the forged methods as well. I have assigned the issue to the 1.2-next milestone. Please remove it if you don't agree. This means that name based forged methods will be as all other mappings, i.e. there won't be an error per default :)

[2017-03-01 21:15] #1109 closed

[2017-03-01 21:16] gunnarmorling commented on #1109
Done.

[2017-03-01 21:39] gunnarmorling commented on #1111
@sjaakd We could even consider to forge the middle (List -> List) method. Not sure though whether it's worth the efforts. Probably better to avoid the nested collections and model it using proper classes.

[2017-03-01 21:46] gunnarmorling opened #1113 "Explore AST-based approach for code generation"
Hi all, creating this issue to share some experiment I've done with you and get a discussion on this started.

So my impression is that the template based approach for code generation served us well in the beginning but when looking at the templates of the "assignment" model, we clearly hit a limit where it's getting very hard to grasp what the behavior is and how the generated code will look like

[2017-03-01 22:45] sjaakd commented on #1111
That doesn't work.. I think forging only works when a bean mapping method refers to an iterable. Here an iterable requires another iterable mapping. That's not implemented. Perhaps an issue?

[2017-03-02 07:15] gunnarmorling commented on #1111
Yes, that's what I meant, should we support it? We can open an issue, but
it wouldn't be very high on my prio list :)

[2017-03-02 08:56] gunnarmorling opened #1115 "Make sure that GraphViz is installed when doing a release"
@agudian I just noticed that the recently published JavaDocs don't contain the automatically created class diagrams. ApiViz is set up for this (custom doclet), but it gracefully falls back to doing nothing if GraphViz isn't installed.

The added diagrams don't make a huge difference, but I think they can be helpful to someone navigating the JavaDocs in order to explore the code base.

[2017-03-02 10:22] LucasAndersson opened #1116 "Support for Lomboks @Builder and @Value annotations."
Hi

I would like to generate objects using builder and immutable patterns with Lomboks @Builder and @Value annotations and then map between these using mapstruct. I have managed to do this in a hackish way by using version 1.1.0.Final of mapstruct, build steps that I found in issue #510 and an old experimental version of Lomboks @Builder annotation which includes a "fluent" flag which turns the bu

[2017-03-02 19:53] sjaakd opened #1118 "Forge iterable / map mappings from inside an iterable / map mappings"
To handle lists of lists, like discussed in #1111

[2017-03-02 19:54] sjaakd commented on #1111
Done.. See #1118

[2017-03-02 19:54] sjaakd commented on #1111
@johnwatsondev .. Problem is solved. You can try our latest 1.2.0-SNAPSHOT build if you want  to try. Thanks for reporting this issue.

[2017-03-02 19:54] #1111 closed

[2017-03-02 20:30] gunnarmorling opened #1119 "ModelElement overrides write() without good reason"

[2017-03-02 20:30] gunnarmorling commented on #1119
Done.

[2017-03-02 20:30] #1119 closed

[2017-03-02 21:04] gunnarmorling commented on #1104
+1 for raising a warning by default and honor the effectively applying `unmappedTargetPolicy`. It should make no difference in terms of handling/reporting whether there is an unmapped target property on the root level or on the level of an automatically generated ("forged") sub node mapping method.

[2017-03-02 21:08] gunnarmorling commented on #1102
Makes sense.

Thanks a lot for testing the Beta and filing these reports/feature request, @brabenetz. Keep them coming :)

[2017-03-02 22:24] filiphr commented on #1116
@LucasAndersson to solve the issue with the builder and use it without `set` you will have to extend the `AccessorNamingStrategy` SPI. You can find more information in our [reference guide](http://mapstruct.org/documentation/stable/reference/html/#_custom_accessor_naming_strategy).

I just tried your example and it works with 1.2.0.Beta1. Did you have a look at our [mapstruct-lombok](https://githu

[2017-03-02 22:35] filiphr commented on #1104
Before we change this, I have one question for @navpil, do you remember why we are throwing an error when the `targetProperties` at [BeanMappingMethod#L681](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/model/BeanMappingMethod.java#L681) are empty?

[2017-03-02 22:49] filiphr commented on #1118
As suggested by @sjaakd  way to do this would be to:

[2017-03-03 07:03] navpil commented on #1104
@filiphr There was a problem with Issue590Test. In particular - automapping tried to generate mapping between String and XMLFormatter. Since none of them have any properties an empty method got generated which was wrong. It was decided to add the check that there is at least one property we can map into.
You can read more in the mapstruct google group in thread "Automatically create mapping method

[2017-03-03 07:14] brabenetz commented on #1102
Thanks for the greate MapStruct Library! I'm sure I will use it more often in the future.

[2017-03-03 09:51] avk2 commented on #366
An example to illustrate what @agudian has said:

[code]

That would be right, isn't?

[2017-03-03 10:51] iersel opened #1120 "MapStruct seems to mix Prototype method with mapping method signature"
Shared configuration:

[code]
Call site:
[code]
generated class:

[code]
`[ERROR] /C:/nathan/workspace/bhr_common/bhr_dao/target/generated-sources/annotations/nl/bro/dao/ss/bhr/impl/DtoToEntityMergeMapperImpl.java:[462,26] cannot find symbol symbol:   variable v`

Note: `v` is argument in the prototype method, `dto` is the corresponding method in the generated implementation. Using 1.1.0.final.

T

[2017-03-03 11:07] LucasAndersson commented on #1116
@filiphr

Thank you for you response. I tried my example again with 1.2.0.Beta1 and it didn't work (with or without the special build steps).

Here is my pom file:

`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apac

[2017-03-03 11:58] iersel opened #1121 "TypeConversion seems to fail when going to 1.2.0.Beta1"
When going to MapStruct 1.2.0.Beta1 we get the following errors:

`[ERROR] Can't map property "java.math.BigInteger numberOfLayerComponents" to "java.lang.Integer numberOfLayerComponents". Consider to declare/implement a mapping method: "java.lang.Integer map(java.math.BigInteger value)".`

Seems that typeconversion no longer works between `Integer` and `BigDecimal`

While it compiled on 1.1.0.Fin

[2017-03-03 12:03] iersel commented on #1120
problem also occurs with 1.2.0.Beta1

[2017-03-03 12:09] iersel commented on #1121
Note: MapStruct used to generate:

[code]

[2017-03-03 12:10] iersel commented on #1121
We are using an update method (with `@MappingTarget`)

[2017-03-03 13:49] dimw commented on #809
@sjaakd, just tried out the ```@Context``` feature from 1.2.0.Beta1 and it works as expected. :thumbsup:

It is probably also reasonable to have some kind of automatic context enrichment when using collection mapping method. In particular, the original collection should be automatically passed to the downstream element conversion method (if a `@Context`-annotated element converter is found):

[cod

[2017-03-03 14:53] filiphr commented on #1120
@iersel, what MapStruct is doing is correct. Have a look at the [documentation] (http://mapstruct.org/documentation/stable/reference/html/#expressions) for the expressions. MapStruct is taking the expression as is, without doing anything else.

Why don't you use nested source expression for your `v.getLocation().getCrs()` and `@Mapper(uses = BroLocationMapper.class)` for the other expressions?

Th

[2017-03-03 15:22] filiphr commented on #1116
@LucasAndersson you have configured the maven compiler to only see the MapStruct annotation processor, and not the Lombok one. Either add the lombok dependency via the `annotationProcessorPaths` or add the MapStruct processor as a provided dependency and remove the `annotationProcessorPaths` from the compiler configuration.

For our example I meant to look at the configuration in the `pom.xml`, no

[2017-03-03 15:51] litianming1024 opened #1122 "MapStruct doesn't work well in Lomboks with cycles"
Hello, I'm a green hand in MapStruct. When I want build mappers with cycles like that.
[code]
If use `@Data` with cycles, MapStruct can't find get menthods.

[2017-03-03 17:22] agudian commented on #1121
Great, thanks for reporting! We'll need to look into it for the next release.

[2017-03-03 17:41] LucasAndersson commented on #1116
@filiphr

Nice, it works! Thank you very much for your support. I will look into extending `AccessorNamingStrategy` so I don't have to use the old experimental version of Lomboks `@Builder` annotation.

[2017-03-03 17:44] filiphr commented on #1116
@LucasAndersson great. For the custom naming strategy you can have a look at our implementation (`DefaultAccessorNamingStrategy`), you can extend it and just override the needed methods.

I am going to close the issue. You can reopen it if you think it is required.

[2017-03-03 17:44] #1116 closed

[2017-03-03 20:08] sjaakd commented on #1120
@filiphr .. thanks. @iersel : we will close the issue...

[2017-03-03 20:08] #1120 closed

[2017-03-03 20:20] sjaakd commented on #809
IIUC you want MapStruct to automatically generate the helper method for you?

[2017-03-03 20:40] sjaakd commented on #1121
@iersel I can't reproduce it. Lets have a better look on tuesday.

[2017-03-03 21:17] dimw commented on #809
@sjaakd, MapStruct should not necessarily generate a helper method. Instead, it should make use of the context-aware element conversion method and pass the context. Let me show an example.

**Given:**
The following interface is defined.
[code]

**Expected:**
While processing the collection mapper method
[code]
the mapstruct-processor does not complains about the missing element conversion method (

[2017-03-03 22:01] sjaakd commented on #809
@dimw MapStruct just passes `@Context` as parameter if it finds a method with the same context type and an `@Context` annotated parameter...

So

[code]

leads to:

[code]

Interpreting the context parameter is something that MapStruct should never do. By definition it would then not be context anymore to the mapper.

The typical use case for context is an object that has for instance an id genera

[2017-03-03 23:19] dimw commented on #809
@sjaakd, thanks for the quick response. I completely agree on your point that MapStruct should never interpret the context. However, it was not my intention to introduce such functionality.

My point is about a half-automatic-MapStruct-way of passing the collection of entities (given in the collection mapper method) down to the entity mapper as a context.

Why do I need this? Well, there are many

[2017-03-04 06:39] sjaakd opened #1123 "Pass original source parameter as context"
See the discussion in #809.

In an object graph, It would be nice to pass a source parameter (which is not a context) as context to a subordinate mapping method.

To control this, this could be done by adding an attribute to an `@IterableMapping`, `@MapMapping`, `@BeanMapping` or `@ValueMapping` method.

A typical use case would be to retain for instance a collection for use in the element mapping

[2017-03-04 06:41] sjaakd commented on #809
@dimw, I get your point now. I opened up a new issue for that purpose. Thanks for your explanation.

@TheStijn : can we close this one an mark it as solved?

[2017-03-04 10:37] agudian commented on #1116
That said, we have an issue open for explicitly supporting builders, which might be what you need in the long run: #782

[2017-03-04 11:02] agudian commented on #1123
I not so sure that we should treat any non-context parameters or other values or properties as contxt parameters...
But didn't we already have an issue to allow passing the source param down to another property or element property method? I vaguely remember that we discussed that for the same kind of problem... ?

[2017-03-04 20:26] rasheedamir commented on #782
@agudian any hopes for this to be in place soon? It will take away lot of donkey work we have to do!

[2017-03-04 21:10] sjaakd commented on #1123
I'm not so sure either. You can do it quite easily with a hand written method. Not sure how big the problem actually is. Also: it would be more clear if context remains context (and thus untouched by MapStruct).

[2017-03-04 21:30] gunnarmorling commented on #1123
Couldn't one simply set this source object to a property of the context object manually before invoking the mapping method?

[2017-03-04 21:47] sjaakd commented on #1123
I based this issue on the discussion in #809. Yes, you are right (or even pass a complete collection as context as is the case in #809). However, it seems to occur often. Hence automation would help.

[2017-03-06 16:13] 44past4 opened #1124 "Mapping nested property to simple property does not work when used with context"
In 1.2.0-Beta1 when I am passing a context to a mapper using @Context annotation and I am applying a custom mapping from nested property like "entity.id" to "entityId" property (@Mapping(source = "entity.id", target = "id")) generated code does not compile as the invocation of method which extracts "entity.id" value expects context to be passed but it does not get any.

[TestMapper.java.txt](https

[2017-03-06 19:15] agudian commented on #1124
Thanks for reporting, I'll look into it... :+1:

[2017-03-07 20:15] sjaakd commented on #1121
I've managed to reproduce it. It seems to happen when source and target are in a different jar than the mapper. Need to check how to set this up in unit test.Perhaps using bean-style objects in the java lib (and hope it works)? Candidates?

[2017-03-07 20:56] zelark opened #1126 "MappingTarget and immutable collections"
I am trying to apply MapStruct to our project, but I run into a problem. We use our own ORM. If a property is a list, It returns either an emptyList() or an immutable list of values (unfortunately it works this way). The problem is the following generated code for update methods won't work in such case:
[code]

The question is how can we tell MapStruct just to generate code like in the else block

[2017-03-07 22:08] sjaakd commented on #1121
problem is most likely in `Type#hashCode` which uses `TypeMirror#hashCode`. JavaDoc `TypeMirror`:  `Types should be compared using the utility methods in Types. There is no guarantee that any particular type will always be represented by the same object. `

Ergo: if they are in different jar's these are most likely not the same objects.. Verifying now..

[2017-03-08 09:46] johnwatsondev commented on #1111
@sjaakd @gunnarmorling Thanks again.
I will try it later. But how can I use the 1.2.0-SNAPSHOT version by gradle? Please add it to README. 😅

[2017-03-08 09:51] filiphr commented on #1111
@johnwatsondev you'll have to build MapStruct from source (it is already in the README), then you will have to tell gradle to use your local maven repository and then you can try it out 😀

[2017-03-08 10:02] Dreijnde opened #1128 "Still unable to compile with lombok 1.16.14 and mapstruct 1.2.0.Beta1"
Please help! I love to use mapstruct with lombok.
I use versions lombok 1.16.14 and mapstruct 1.2.0.Beta1.

I get a long list of the following errors during compilation when adding the mapstruct processor to the maven compiler:

[code]

[code]

my maven pom.xml is set up like this:

[code]

How i am using lombok and mapstruct:

[code]
The noargs and allargs are needed to resolve Data with Builder

[2017-03-08 10:20] johnwatsondev commented on #1111
@filiphr OK. Thanks. 👍

[2017-03-08 16:58] Dreijnde commented on #1128
Removing the annotation processor from the pom.xml seems to resolve the issue.

Does 1.2.0.Beta1 not need the processor anymore?

[2017-03-08 16:58] #1128 closed

[2017-03-08 17:19] filiphr commented on #1128
@Dreijnde of course it does. When you configure the maven compiler with the `annotationProcessorPaths` then it only uses the Annotation Processors defined in those paths (see [here](https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#annotationProcessorPaths)). If you remove the `annotationProcessorPaths` then the maven compiler picks up all Annotation Processors on your class

[2017-03-08 22:46] sjaakd commented on #1121
Should be solved..

[2017-03-08 22:46] #1121 closed

[2017-03-09 08:03] ishan3243 commented on #686
I think we should fail the build if mappings for such use-cases are not defined. Any thoughts on this?

[2017-03-09 23:23] filiphr opened #1129 "Don't use equals and hashCode from TypeMirror"
This is connected to the fix to #1127. There is [this](https://bugs.openjdk.java.net/browse/JDK-7159498) JDK bug report that might be causing java lang `ClassType` that are actually same to be different.

According to the javadoc of [`TypeMirror#equals()`](https://docs.oracle.com/javase/8/docs/api/javax/lang/model/type/TypeMirror.html#equals-java.lang.Object-) one should use [`Types#isSameType()`]

[2017-03-09 23:56] gunnarmorling commented on #1129
Great analysis. We should call `isSameType()` in all these cases. The JDK bug you linked to looks indeed as it could be the cause for the problem and it matches Sjaak's description, too.

[2017-03-10 07:41] agudian commented on #1129
Agreed for the isSameType for equals, and for hashCode we can do it as Sjaak did it in the other PR.... 🙂
Great findings, Filip!

[2017-03-10 08:16] filiphr commented on #1129
I will make the changes then.

Additionally what do you think about sonar? They allow free usage of sonarqube for open source projects (more [here](https://about.sonarqube.com/news/2016/09/01/sonarqubedotcom-open-to-aynone.html)). This can theoretically be used to identify new issues like the current one. We can create a rule that will fail if someone uses `equals` / `hashCode` of a TypeMirror. If

[2017-03-10 11:14] 44past4 opened #1130 "Adding @TargetType to @ObjectFactory method causes it not to be used in mapping with @MappingTarget parameter"
In the example below both createB() and createC() methods seems like valid object factory methods for creating BDTO and CDTO objects respectively. But in mergeA() method implementation only createB() is used. In this method CDTO is created using constructor. In other generated methods createC() is used correctly.

[code]

[2017-03-10 11:25] 44past4 opened #1131 "Source parameter for @ObjectFactory method is not well defined"
It seems that the source parameter to object factory method has different meaning depending if it is used from method with @MappingTarget annotation or not. For methods with @MappingTarget parent of object which is going to be mapped into newly created object is passed as source and in case of methods without @MappingTarget annotation the object to be mapped is passed itself.
This can be seen in t

[2017-03-10 11:39] 44past4 commented on #1130
I think that this problem would be solved if in the example I gave in mergeA() method case if ADTO.getC() is null copyC() would be called instead of creating instance of CDTO and calling mergeC() on it.

[2017-03-10 15:08] 44past4 commented on #1131
This one is quite important because it means that it is not possible to implement cycle detection as it was described in #469 in case of merge being performed.

[2017-03-10 16:31] 44past4 opened #1132 "It is not possible to implement proper merge operation for JPA entities using MapStruct"
JPA states that the ids of managed entities should not be changed. This causes problems if you try to implement merge operation which would take a DTO object and try to apply changes from it to entities managed by JPA.

This problematic situation is shown below. When merging instance of ADTO class into existing instance of AEntity class (using mergeA() method) we might have two different situation

[2017-03-10 19:11] sjaakd commented on #1132
just a quick check question.. Why don't you use:

``java

       @Mapping( target = "id", ignore = true )
	BEntity mergeB(BDTO source, @MappingTarget BEntity target);
[code]

[2017-03-10 20:43] agudian commented on #1131
We should definitely align that.

But regarding the cycle handling, doesn't the following work for update-methods as well?
https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-mapping-with-cycles

[2017-03-10 20:52] zelark commented on #1126
Hi guys, can you help, please?

[2017-03-10 22:56] 44past4 commented on #1132
It is a bit more complicated and it requires some explanation how JPA works.
Let's assume that BEntity and BDTO classes have additional description property.
Now lets assume that we have following data in the database mapped to AEntity and BEntity:
AEntity:

id | b
-- | ---
1 | 1
2 | 2

BEntity:

id | description
-- | ---------
1 | first
2 | second

Now with the ADTO and BDTO defined as above and

[2017-03-10 23:25] 44past4 commented on #1131
Unfortunately this solution doesn't work for update/merge methods.
The code below in case of simple cycle of employee reporting to itself in case of create/copy method works fine (boss -> boss) but in case of update/merge method returns employee reporting to empty uninitialized employee (boss -> null).

This could be fixed by adding following method to the mapper:
[code]
but it does not work exact

[2017-03-10 23:38] 44past4 commented on #1131
There wouldn't be a problem if the updateEmployee() method implementation instead of this:
[code]

would like like this:
[code]

[2017-03-11 08:30] sjaakd commented on #1126
@zelark .. I'll try to have a look later this weekend.

[2017-03-11 09:31] sjaakd commented on #1126
@zelark .. for the current setup I don't have a definite solution.. However, you might want to try to define a hand written method for all `List<X>` to `List<Y>` you need along this line:

[code]

That will generate the following code

[code]

Alternatively you might want to have a look at `@BeforeMapping` , initializing all collection types that have a non-empty, non-null source.

[2017-03-11 09:36] sjaakd commented on #1126
However, I realize that this circumvents the problem. Perhaps we should have some setting (along the lines of `NullValueCheckStrategy` / `NullValueMappingStrategy`) indicating to leave out the:
[code]
part.

@gunnarmorling : WDYT? Feels that an additional value to `NullValueCheckStrategy` leads to combinations of values..

[2017-03-11 10:52] zelark commented on #1126
Thanks for reply, @sjaakd!
For our entities we can't invoke clear() or/and addAll() on any getters returning a collection. That's why we want to somehow eliminate this block:
[code]

@BeforeMapping works perfect, but not for this case. If we have some non-trivial type we have to map it as well. It may an enum or an nested entity. So, first, we have to ignore the all collection types and then put t

[2017-03-11 11:28] sjaakd commented on #1126
No problem. Now a decent solution :smile:

I've been thinking a bit more on this. I'm starting to run into problems on generated method when I use an additional parameter on `@MappingTarget`. However, I almost forgot: we also have a `CollectionMappingStrategy`. At the moment this is probably the most obvious candidate to extend. I'll try to prepare a PR for this one..

[2017-03-12 10:31] sjaakd commented on #1132
@44past4 .. According to my understanding of JPA, JPA is an ORM. That is, it the relations in de DB are captured in an object (graph) structure. The relational aspect is captured in the `@OneToMany` `@ManyToOne`, `@JoinColumn` etc.

Having said that: the relation between an object instance of `AEntity` and `BEntity` is established when the `AEntity` is read from the DB when you resolve `AEntity`.

[2017-03-12 10:34] sjaakd commented on #1132
@44past4 ... You might want to use the new possibility to add lifecycle methods to an `@Context` annotated class (`@BeforeMapping`, `@AfterMapping`).. That class could handle the DB business whilst keeping your mapping functionality clean.

[2017-03-12 14:34] #1102 closed

[2017-03-12 14:36] agudian commented on #1102
Just pushed @filiphr's fix for this to master... Thanks Filip, and thanks @brabenetz for reporing this 👍

[2017-03-12 15:03] #1124 closed

[2017-03-12 15:57] agudian commented on #1131
Hmm, I just added the bug label and rephrased the issue title to fix this.

But when I looked at the code, it doomed on me that the current behavior is as it was coded on purpose, and it matches the documentation of `@ObjectFactory`.

So I've changed it back to your original title, as I too think that this behavior is something that we might need to rethink. I must admit I didn't have this possibl

[2017-03-12 16:13] agudian commented on #1132
Well the observations is totally right. I'm just not sure if it's more of the "business logic" kind of problems that are more out-of-scope of MapStruct.

Plus, what is the propsed behavior here?

@44past4: would this still be an issue for you if we'd get the source-parameter assignment of `@ObjectFactory` "right" in all places, as described in #1131?

[2017-03-12 16:40] agudian commented on #1132
When ever a before/after mapping method returns a value other than `null`, that value is returned immediately. If the enclosing mapping method is `void`, then we simply `return;` in this case. Anything else wouldn't make much sense, IMHO, but I might be missing something... 😉.

[2017-03-12 17:27] quantumlexa opened #1135 "Support overloading for target"
Mapstruct  does support overloading of target setters(see: Issue892Test test) but choosing preferred type logic is based on getter type of target - not source, which looks a bit strange.
org.mapstruct.ap.internal.model.common.Type#getPropertyWriteAccessors: line 465

Please see unit test:
Source:
[code]

Target:
[code]
Mapper:
[code]
UnitTest:
[code]

[2017-03-12 18:14] sjaakd commented on #1132
I meant this:

[code]

now results in:

[code]

[2017-03-13 08:48] 44past4 commented on #1132
As for this issue the main point is that it seems inconsistent that by implementing @BeforeMapping method it is possible to change value which is returned from update/merge method so that it will not be the same as the @MappingTarget but this will be ignored by the another update/merge method which invokes it.
So that instead of generating code like this:
[code]

it would seem for me more consiste

[2017-03-13 09:24] 44past4 commented on #1132
Summing up the conclusions from #1130, #1131 and #1132 I feel that the the simple mapping to target object which does not exist works great, the same goes to mapping to target which has the structure exactly the same as source (there is no need to resolve or create any new bean instances for the target of mapping) but when the target and source does not match and some bean properties on target mus

[2017-03-13 09:37] 44past4 commented on #1132
@sjaakd Your suggested solution fixes the need to explicitly call mergeB() method from @BeforeMapping method in my example but the resolved entity will be still lost in case of nested mapping (mergeA() method) because the mapped entity which is returned as the result of mergeB() is not assigned to ADTO.b property.

[2017-03-13 12:51] Azork opened #1138 "Variable name already defined (Name variable in source and in target identical)"
The naming convention produces some unwanted bevahior:

For Object source:

[code]
[code]

[code]
[code]

Result:
[code]

[ERROR] /C:/Projects/test/mapstruct-examples-master/mapstruct-lombok/target/generated-sources/annotations/com/mycompany/mapper/SourceTargetMapperImpl.java:[25,22] variable **target** is already defined in method toTarget(com.mycompany.dto.Source)
[ERROR] /C:/Projects/test/mapst

[2017-03-13 19:34] #1092 closed

[2017-03-13 19:34] gunnarmorling commented on #1092
PR is merged; thanks, @filiphr!

[2017-03-13 20:05] filiphr commented on #1122
@litianming1024 how does your setup look like? Which version of MapStruct are you using?

You need to be using the latest 1.2.0.Beta1 version with Lombok 1.16.4 for MapStruct to find the get methods. You can find an example in our [lombok-example](https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-lombok).

As for the cycles MapStruct does not support cycles out of the box, you'

[2017-03-13 20:05] #1122 closed

[2017-03-13 20:20] agudian commented on #1138
Just tried to recreate it, and it turns out that this is already fixed in master... I'd like to close it. We're planning to do a new Beta release in the next days, and it would be great if you could verify it then with your real-life setup...

[2017-03-13 20:20] #1138 closed

[2017-03-13 21:11] #1130 closed

[2017-03-13 21:12] agudian commented on #1130
Fix is on master

[2017-03-13 22:49] filiphr opened #1140 "Warning when the target has no target properties"
As discussed in #1137. We should find another way and another message to display a warning when the target has no target properties (usually that means that something is strange in the mapping).

[2017-03-14 08:08] thekalinga commented on #520
After migrating to the latest versions of lombok & mapstruct, intellij throws duplicate class error.

Here are the steps to reproduce the error.

1. Run `./gradlew clean compileJava` from terminal
2. Debug spring boot application from Intellij

You would get a duplicate class error.

This is because intellij is creating its own version of generated source under `build/classes/main/generated`, but

[2017-03-14 08:34] Azork commented on #1138
It's working with the master branch.
Isn't it great to have caught a bug before it was reported?
Thanks for the quick response!

[2017-03-14 12:39] kerdosa commented on #782
Hi, which freemaker template is used to generate constructor() code? And which freemaker template is used to generate setter method?

[2017-03-14 15:13] Azork opened #1141 "Mapstruct fails silently when adding lombok dependency"
I don't have a simple exemple to show but basically, when using the master branch (1.2.0-SNAPSHOT 14/03/2017) the mappers impl are created correctly with the maven processor plugin.

But when I add
[code]

(I'm not even using anything from lombok yet)

The Impl classes are not created and there is no error in maven (clean install -X)
=> see attached files.
[noImplCreated.txt](https://github.com/ma

[2017-03-14 15:29] Azork commented on #1141
Actually, it's reproducible on the mapstruct-examples-updatemethods-1 by lombok:1.16.14 in the dependencies.

[2017-03-14 18:52] filiphr commented on #1141
@agudian the same occurs if you use:

[code]

However, if you just use and define the dependencies in the `<dependency>` tag then it works.

<plugin>
    <groupId>org.apache.maven.plugins</groupId>
    <artifactId>maven-compiler-plugin</artifactId>
    <version>3.6.0</version>
</plugin>
[code]

[2017-03-14 18:57] filiphr commented on #520
@thekalinga this looks like a problem with your IntelliJ setup (or a bug in IntelliJ). Check your settings under `Build, Execution, Deployment -> Compiler -> AnnotationProcessors`

For me with Maven and the IntelliJ 2017.1 EAP (171.3780.15) it works.

[2017-03-14 19:24] filiphr commented on #782
@kerdosa If you mean the constructor for the object that we are mapping it is generated in the [`BeanMappingMethod`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/resources/org/mapstruct/ap/internal/model/BeanMappingMethod.ftl#L37).

As for the setter methods the [`SetterWrapper`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/resources/org/mapstruct/

[2017-03-14 20:10] agudian commented on #1138
Haha, right, it is! Thanks to you for filing the issue and re-testing it! Very much appreciated.

[2017-03-14 20:42] agudian commented on #1141
I'm not so much surprised that it doesn't work with the processor plugin variant above, as the lombok processor is on the classpath (the plugin's classpath is just added to the projects compile-classpath by the processor-plugin, it doesn't use the `-processorpath` option).
So MapStruct picks up the SPI implementation provided by Lombok and it could just be that lombok answers with "nope, I'm not d

[2017-03-14 20:57] sjaakd commented on #1126
@zelark .. the solution is merged to the main branch.. Please feel free to check.

[2017-03-14 21:04] zelark commented on #1126
@sjaakd, sounds perfect! Thank you. I'll check it tomorrow.

[2017-03-14 21:20] filiphr commented on #1141
@agudian It is the pom of the `mapstruct-examples-updatemethods-1` example. It is really strange, the `mapstruct-examples-lombok` works with the same configuration. I removed the maven processor plugin and replaced it with:

[code]

I also tried with the same pom commented out the `processors` from the processor plugin added the Lombok dependency and it worked (it didn't work before, because I for

[2017-03-14 21:36] #1126 closed

[2017-03-15 06:52] sjaakd opened #1142 "Inconsistent use of clearing collections in case of update methods."
when using `ADDER_PREFERRED`  the following update method is generated:

[code]

It doesn't clear the collection. This is not consistent with other `CollectionMappingStrategie`'s
icw update methods.

[2017-03-15 11:36] thekalinga commented on #520
I'm using `IntelliJ IDEA 2016.3.5`, not EAP. Not sure if this the culprit/there is an issue with gradle builds.

[2017-03-15 21:04] #1104 closed

[2017-03-16 19:01] agudian commented on #1103
Merged the fix by @navpil. Thanks @brabenetz for reporting the issue!

[2017-03-16 19:02] #1103 closed

[2017-03-16 19:36] agudian commented on #1115
I've just installed graphviz and made sure that it's on my path, but I think it didn't fully work anyway:
[code]
Class diagrams are being generated now though, so that's a plus... 👍

[2017-03-16 19:41] gunnarmorling commented on #1115
Nice to have it back. Thanks!

[2017-03-17 10:01] adalgrim opened #1143 "1.2.0-Beta2 Automapping Feature: doesn't work with enums when field names are different"
` */
public class AddressDTO {

    private LocationDTO locationType;

    private String location;

    public LocationDTO getLocationType() {
        return locationType;
    }

    public void setLocationType(LocationDTO locationType) {
        this.locationType = locationType;
    }

    public String getLocation() {
        return location;
    }

    public void setLocation(String location)

[2017-03-17 22:18] filiphr commented on #1143
@adalgrim your mapping definition is wrong. When you use `@Mapping` it applies to the objects that you are mapping. In this case the `source` / `target` types are `List<UserEntity>` / `List<UserDTO` respectively.

What you need to do is:

[code]

The generated method will then call the `mapToUser` method.

It works because MapStruct does not try to find the `source` in the `List`.

If you agree I

[2017-03-17 23:39] filiphr commented on #1003
@zcanann we have a pending PR #1136 which I think is the same problem you were experiencing. Can you please try it out with your example and without the workaround? Thanks

[2017-03-19 13:26] stengvac opened #1144 "ReportingPolicy sometimes missing mapper class in error message"
Techs:
Java: 1.8
MapStructVersion: 1.2.0.Beta1 (mapstruct-jdk8)
And maven plugin configured as is described in http://mapstruct.org/documentation/installation/

Hello,
i have following problem. When i use ReportingPolicy.ERROR/WARN and target object have more fields than source (so some field in target are unmapped) then warn/error output message say only "somewhere in project is unmapped property

[2017-03-19 13:52] kerdosa commented on #782
@filiphr That's exactly what I wanted to know. I am thinking that we can add a strategy for how to create an object, which will be Constructor or Builder, and pass this configuration to templates. Current template generates the code with Constructor. We can generate builder-based code if mapper is configured with Builder strategy.

[2017-03-19 15:44] filiphr commented on #1144
@stengvac The error should be displayed on the place of the method that does the mapping. In your case ` T convert(S source);`.

The error looks something like:

[code]

Are you saying that this is not the case for you? I know that this would not be helpful to you as your `Converter` is generic. If you have some other suggestion to make this message helpful for generic methods please let us know.

[2017-03-19 18:56] stengvac commented on #1144
With project structure like [here](https://github.com/stengvac/mapstruct-err-msg) when i run build with

`mvn clean install`

then output is

`[ERROR] unmapped target property "surnamee".`

Sry i have tried to add project as zip archive but github had problem with file type (zip is allowed -_-).

[2017-03-20 02:47] tkruse opened #1145 "Vote on IntelliJ fix for annotation-processor sources in gradle projects"
Sorry if this is spam.
IntelliJ IDEA has a bug when trying to import gradle projects using annotation-processor generated sources. I think that may cause users to avoid using MapStruct.

Please vote for this to be fixed:
https://youtrack.jetbrains.com/oauth?state=%2Fissue%2FIDEA-124090

Close this ticket without further comment if you like.

[2017-03-20 17:09] filiphr commented on #1144
@stengvac that most probably happens because the method that the Annotation processor is using is in another jar (module).

@agudian, @gunnarmorling, @sjaakd, Do you think that we could / should do something for this use case?

[2017-03-20 19:30] pehunka commented on #717
I would like to see this feature in MapStruct as well, if possible.

[2017-03-21 03:34] amitwaves opened #1147 "Updating existing bean instances - of the target bean to be updated will be cleared"
Sorry if this is spam.
The documented behavior is when updating existing beans is Collection- or map-typed properties of the target bean to be updated will be cleared and then populated with the values.   I expected the ignored property values in target bean to be left alone and not cleared.  Should this be the correct behavior for an update operation ?

[2017-03-21 19:08] filiphr commented on #1147
@amitwaves what exactly do you mean by the ignored property values in the target bean? Do you mean the bean in the `Collection` or `Map` type or you mean the property in the bean you are trying to map?

If a property is ignored via `@Mapping` then MapStruct will not generate a mapping code for that, it is simply ignored.

Are you having some problems with something? Is something not working as exp

[2017-03-22 04:17] ishan3243 commented on #686
Ping.

[2017-03-22 09:26] adalgrim commented on #1143
@filiphr I think we can close. I found the same solution after some investigation.

However, it seems to me that one custom field stops us from using auto sub-mappings :(

[2017-03-22 09:26] #1143 closed

[2017-03-22 18:11] filiphr opened #1148 "Nested target properties uses same method for different mappings"
It comes from [this](http://stackoverflow.com/questions/42951058/mapstruct-from-string-to-nested-object-for-multiple-fields-with-the-same-type) Stack Overflow question.

In a nutshell:

[code]

Generates:
[code]

It should generate 2 `dtoToClient` methods instead of one. We most probably need to extend the the `PropertyMapping` to have the nested name as well and use that somehow in the `equals`

[2017-03-22 18:17] filiphr commented on #686
@ishan3243 if you mean when you want to map raw to generic and have no key/value types specified then yes we need to fail the build saying what is missing.

[2017-03-22 18:24] filiphr commented on #1143
@adalgrim what do you mean by one custom field stop you from using auto sub-mappings? You don't want to have a mapping method between the `UserEntity` and `UserDto`?

You can create a feature request to support `@Mapping` to apply on the element type of an `Iterable` if that is what you need.

[2017-03-22 18:30] adalgrim commented on #1143
@filiphr that's exactly what I'd like to have :) creating sub-mapping only for such extra custom mapping is a "waste of lines"..

[2017-03-22 18:42] adalgrim opened #1149 "[Feature] support @Mapping for an Iterable elements and auto sub-mappings"
Hi,

I'd like to propose a new feature to add in MapStruct. I think it would be very useful if I could write something like this (or something similar):

`@Mappings({
            @Mapping(target = "userdto.address.locationType", source = "userentity.address.locationEnum")
    })
    List<UserDTO> mapToUsers(List<UserEntity> userEntityList);
`
to prevent from writing definition of a method to map f

[2017-03-22 19:15] agudian commented on #1149
I guess the key to this is generally supporting the notation for iterable/array elements and map key/value elements as introduced in the property-path error messages for`source` and `target` in `@Mapping`... the example above where the mapping method begins with a collection is only a special case of that...
It would be great if we could use the same property path in an "unmappable property"/"unma

[2017-03-22 21:05] sjaakd opened #1150 "Confusing error messages, nesting levels not considered."
[code]

[code]

[code]

[code]

Leads to error message:

`ERROR MyMapper.java:30 Can't map property "int date" to "java.util.Date date". Consider to declare/implement a mapping method: "java.util.Date map(int value)".`

Took me a while to figure out that MapStruct actually tries to map the deprecated `getDate()` method the Java `Date` class..

The errror should have been:

`ERROR MyMapper.java:30

[2017-03-22 21:33] filiphr commented on #1150
Maybe we shouldn't be trying to forge mappings for objects that we have conversions (or objects in the Java package)?

[2017-03-22 21:39] sjaakd commented on #1150
?? We don't have a conversion from `Date` to `MyDate`..

The problem is that MapStruct maps all stuff and it gives no clue on which nesting level the problem is.

Let alone that we probably should exclude deprecated marked getters / setters and perhaps even have a means to indicate that MapStruct should ignore getters / setters on the DTO themselves.. (e.g. MyDate).

[2017-03-22 21:39] sjaakd commented on #1150
I'll issue some separate issues for that..

[2017-03-22 21:40] sjaakd opened #1151 "MapStruct should ignore @Deprecated marked getters / setters"

[2017-03-22 21:46] sjaakd opened #1152 "MapStruct should have means to mark getters / setters as going to be ignored"
Suppose a reusable source dto:

[code]

Especially with the new nested mapping, I want to have some means that the `isValid()` is **not** considered a source accessor if by any chance somewhere in the structure of the target is a property `valid`.

Something like this:

[code]

[2017-03-22 21:57] filiphr commented on #1150
What I meant is that we have a conversion to create a `Date`, so we shouldn't go into `Date` during forging. I think that we can at least block recursive calls into the objects in the `java` package.

[2017-03-23 06:08] sjaakd commented on #1150
That's a good idea. Can you open an issue for that ? (Perhaps it belongs to #1151).

Nonetheless we should have clear errors.

[2017-03-23 13:28] sjaakd opened #1153 "Exception when mapping non existing target.."
Internal error in the mapping processor: java.util.NoSuchElementException at
     java.util.ArrayList$Itr.next(ArrayList.java:854)  	at
     org.mapstruct.ap.internal.util.Collections.first(Collections.java:77)  	at
     org.mapstruct.ap.internal.model.NestedTargetPropertyMappingHolder$Builder.groupByTargetReferences(NestedTargetPropertyMappingHolder.java:288)  	at
     org.mapstruct.ap.internal.m

[2017-03-23 17:42] filiphr commented on #1152
I think that we can do this and #1151 together. We can do the implementation flexible so that it uses an SPI (maybe even a list of SPIs) that provides a way for the user to give multiple annotations that can be used to ignore getter / setter. This way they can use their own annotations and can for example in one go ignore `@Transient` getters.

In the end `@Deprecated` is just another annotation t

[2017-03-23 17:54] filiphr opened #1154 "Do not try to create mappings for objects in the java package"
When we generate missing mappings we shouldn't try to go into objects from the java package.

For example if we have:

[code]
[code]

[code]

[code]

We are going to generate:

[code]

In my opinion we shouldn't try to instantiate and create objects from the java package. We also then continue and try to see if there are properties that can be mapped between `Date` and `MyDate`.

[2017-03-23 17:55] filiphr commented on #1150
You are right this is more about the error. I created #1154 for that.

[2017-03-23 18:26] filiphr opened #1155 "Field mapping does not work for nested target properties"
For the example in #1148 if you use only public fields then we are not finding the entire path for the properties

[2017-03-24 15:39] amitwaves commented on #1147
Looking at the generated code, I understand why it is working the way it is, but it was not what I was expecting when I read the doc.

[code]
I was expecting the implementation to of updateDataList() to call updateData() instead of calling FooToBar(). That way my original populated value in target BarList remains intact.

I got around this by creating abstract class but it didn't work as what I wa

[2017-03-24 18:22] filiphr commented on #1147
How do you expect the `List<Bar>` to be updated? In order to call the `updateData()` we need to have a mapping target, what would the mapping target be in this case?

[2017-03-24 20:22] amitwaves commented on #1147
I get your point. Would need a Criteria for comparison before calling updateData(). I will close the comment.
Thanks.

[2017-03-24 20:22] #1147 closed

[2017-03-25 07:31] sjaakd commented on #1148
I thought a mapping method is characterized by its signature (excluding the name) and its mappings. Mapping `getRecipient` is something different than a mapping `getSender`.. Right? So does the equals work correctly?

[2017-03-25 07:44] #1155 closed

[2017-03-25 08:04] filiphr commented on #1148
If by mappings you mean the `PropertyMapping`(s) then yes it is characterized by them. However, currently a `PropertyMapping` is the same if they have the same `name` and `type`. We didn't had access to the source property entries for it.

I think that I found a way for this, we just have to pass the `SourceReference.getPropertyEntries()` to the `PropertyMapping` and use them to see if they are sa

[2017-03-25 08:18] filiphr commented on #1148
@sjaakd thanks for the comment, it inspired me for the solution :)

[2017-03-26 17:31] agudian commented on #1152
I don't see how this is different from not having the new auto mapping... If I don't want a property `valid` to be set from outside, I wouldn't create a public setter for it... Or I would use `@Mapping` annotations on the methods directly or for repeated stuff in `@MapperConfig`. That's much more in line of what we offered to do in the past.

But I like the idea of providing means to do it with an

[2017-03-26 17:38] agudian commented on #1151
We should talk about this one. Because I really don't think that we should ignore deprecated getters/setters. `@Deprecated` is there to document / mark parts of an API as not to be used in the future, as it will then be either replaced or removed. Especially is it there to _not break the API_ and give users time to migrate.
Ignoring deprecated getters or setters in Mappers would pretty much do the

[2017-03-26 18:11] agudian commented on #1154
Makes sense! I'm trying to come up with examples of classes in java.* where treating them as beans would be okay, but I can't find any... 😁
How about limiting this to known full package names, such as java.lang, java.util, java.time, ...? That gives us a little bit more control.

[2017-03-28 08:55] pgaschuetz opened #1159 "Mapstruct, Lombok, Maven & Eclipse"
Hi,

I am using Mapstruct and Lombok in a maven based project:

    <plugin>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-compiler-plugin</artifactId>
      <configuration>
        <annotationProcessorPaths>
          <path>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>1.16.16</version>
          </pa

[2017-03-28 12:46] fpeter8 opened #1160 "Nested mapper interfaces don't work."
We tried the following code:

[code]

When I try to access the mapper field, I get the following error:
`java.lang.RuntimeException: java.lang.ClassNotFoundException: Cannot find implementation for dk.dagrofa.merkur.api.dto.mapper.ApiMapper$SalesTransactionMapper`

If I move the actual mapper interfaces into separate files, the loader finds the implementations.

* I checked, MapStruct generates th

[2017-03-28 16:17] agudian commented on #1159
Hmm, itcould very well be that we need to use a different classloader in that case. What Eclipse version are you using?

[2017-03-28 19:01] pgaschuetz commented on #1159
Spring Tool Suite

Version: 3.8.3.RELEASE
Build Id: 201612191351
Platform: Eclipse Neon.2 (4.6.2)

[2017-03-28 19:26] filiphr commented on #1160
Just to make sure the implementation that is generated is in its own `SalesTransactionMapperImpl.java` file right?

The factory tries to load `<CLASS_NAME>Impl` and the class name of your mapper is `dk.dagrofa.merkur.api.dto.mapper.ApiMapper$SalesTransactionMapper`

As written in the Javadoc of the factory:

Your interfaces should be in it's own files. If you want this issue can be considered as a

[2017-03-29 09:09] alexandrepetrillo opened #1161 "Dto to Entity OneToMany orphanRemoval"
Hello, i'm trying to map PersonDto To PersonJpa.
PersonJpa have a adresses collection with orphanRemoval, for working my mapping doesnt create new Instance of JpaEntity but realize a loadById from entityManager.
But mapping set the collection and replace the hibernate's persistentSet by a traditionnal java.util.TreeSet and after.. orhpanRemoval can't working.
Do you know, how can i do for not set

[2017-03-29 17:01] filiphr commented on #1161
MapStruct will use `collection.clear()`, `collection.addAll` if you are doing an update method (`@MappingTarget`), or if there are not setters on your bean. Have a look at the [collection mapping strategies](http://mapstruct.org/documentation/stable/reference/html/#collection-mapping-strategies) from our documentation.

[2017-03-29 17:08] #1161 closed

[2017-03-29 17:08] filiphr commented on #1161
@alexandrepetrillo Let me know if we need to reopen the issue.

[2017-03-29 19:20] gunnarmorling opened #1162 "Add glossary to the documentation"

[2017-03-30 01:29] Muselgrusel opened #1163 "java.lang.StackOverflowError if Mappers have circular dependencies"
Consider the following simplified scenario:

[code]
[code]
If you use
`ClassAMapper mapper = ClassAMapper.INSTANCE;`
or
`ClassBMapper mapper = ClassBMapper.INSTANCE;`
you will get a StackOverflowError.

I guess there have to be greater modifications of the mapper factory to fix this issue and i have to rewrite my mapper classes ;)?

[2017-03-30 06:01] filiphr commented on #1163
I don't think that the modifications are that big, there should be some way to hold the instances and return those one when they are requested the second time instead of always creating a new instance.

The reason for the StackOverflowError is that the implementations are also calling `Mappers#getMapper(Class)` as well.

In my opinion I don't think that we should be keeping instances in order to a

[2017-03-30 07:20] alexandrepetrillo commented on #1161
For sure,
Thanks for your response.I can try tomorrow.

Thanks

2017-03-29 19:08 GMT+02:00 Filip Hrisafov <notifications@github.com>:

[2017-03-30 14:49] influence160 opened #1164 "Missing import when using generic on generic element"
My class **SearchResultDto** contains this attribute
`  private List<GenericRessource<CriteriaDto>> criterias;`

i have a mapper like this

[code]
this  mapper works fine with mapstructure 1.0.0.Final and generates this file

[code]

when i try to migrate to 1.1.0.Final the generated file is :

[code]

it does not compile and there is a missing import for the class CriteriaDto

[2017-03-30 17:18] #725 closed

[2017-03-30 17:57] filiphr commented on #1164
@influence160 Thanks for your report. Just to make sure we are on the same page the `mapCriterias` method is not an abstract method it is a handwritten method in your inheritance tree? I am asking because if it is a handwritten method, I think that we should not do a `null` check at all. @sjaakd?

I'll look into the issue with the `import`

[2017-03-30 18:12] filiphr commented on #1164
I forgot to mention, a workaround would be to add the missing types to the `@Mapper(imports) ` property.

[2017-03-30 20:27] Muselgrusel commented on #1163
I think the problem is that you can't even get to the point holding and returning an instance of one of the classes if the way the classes are generated doesn't change:

...and triggering an infinity loop...
Without changing the way the classes are generated i don't see any way to break the loop but if you see a possibility i would like to know (just out of curiosity).

Hmm i aggree that you shoul

[2017-03-31 08:13] influence160 commented on #1164
@filiphr yes the method mapCriterias is handwritten in the class SearchResultWsMapper and all the code compile and works fine with 1.0.0.Final
this is the method

  public List<GenericRessource<CriteriaDto>> mapCriterias(List<DiscriminantCriteria> criterias) {
    List<GenericRessource<CriteriaDto>> criteriaDto = Collections.EMPTY_LIST;
    criteriaDto = criteriaMapper.toDtoRessource(
      criter