[2022-08-20 12:57] filiphr commented on #2953
We've been reluctant to expose a lot of properties through the `Options` as previously it hasn't worked smoothly in IDEs.

However, if there is a request from the community about a specific property being added to the options I think that we would be willing to accept it. Would you be interested in providing a PR that will add the different properties @andye2004?

[2022-08-20 13:06] filiphr commented on #2581
I am a maintainer of an open source project myself, so I do understand your position!

Thanks @oliverlockwood. Typed communication sometimes escapes some nuances. Perhaps I shouldn't replied so strongly, but sometimes it gets frustrating to see users requesting certain level of support from a hobby project. I now understand that this was not your intention so I am sorry to you for coming out so st

[2022-08-20 13:13] filiphr commented on #2522
There hasn't been any progress on this currently and I am not sure when the MapStruct team is going to be able to look into this.

We do have some kind of a meta model in which we store the structure of the code we want to generate. However, we do have a lot of small nuances that are directly linked to our Freemarker templates (what we use under the hood to generate the java code).

Perhaps it wou

[2022-08-20 13:16] filiphr commented on #2948
Thanks again @bgK for the detailed examples. I've put this on 1.6 with the same state as #2945. We need to be a bit smarter here I think.

[2022-08-20 13:18] filiphr commented on #2947
Thanks for the detailed issue examples and the repro case. This is indeed a bug and we need to look into fixing it.

[2022-08-20 13:22] filiphr commented on #2949
Thanks a lot for your detailed issue description @rokkolesa. Seems like we have been incorrectly inheriting the `ignoreUnmappedSourceProperties` through the `InheritInverseConfiguration `. This is a mistake and those properties should never had been in the warning you used to have.

You were spot on with #2481. In 1.5 we added an improvement that is going to report an error if you try to ignore an

[2022-08-20 13:23] #2839 closed

[2022-08-20 13:28] filiphr commented on #2955
This is a tricky one @kris2kris.

When you have such an `@AfterMapping` we are invoking it and if the returned result is not `null` then we return from the original method the returned type.

However, in this case the return type of the `updateDomain` method is `void`. If I change it to `MyDomain` then the after mapping method is invoked. The method is also invoked if you change the return type of

[2022-08-20 14:51] filiphr commented on #2947
This bug was caused by the fix of #2677. It will be tricky to fix it

[2022-08-20 16:03] filiphr commented on #2955
I did some analysis on this one and the problem is the changes we've done in our improved generics matching in PR #2320. More precisely the change in the `TypeSelector` and the usage of the `returnType` there (which is `void`).

@sjaakd what do you think we should do to fix this? I tried replacing the use of the `returnType` with `mappingTargetType`, but then the `BuilderLifecycleCallbacksTest` fa

[2022-08-21 07:00] filiphr opened #2971 "Add support for disabling only top level imports"
In 1.5 we changed the way we import types in the generated code. This has lead to numerous bugs. We should provide a way to back of the new logic.

[2022-08-21 07:04] filiphr commented on #2948
After an analysis of this issue, I realized that this is identical to #2897. There are 2 workarounds for this particular problem:

* Use parent class. Note: once we fix the issue this workaround will no longer be possible.
[code]
* Do not use `Mapper#imports` but rather use `constant`. This is only applicable for enums
[code]

[2022-08-21 07:04] #2948 closed

[2022-08-21 08:00] Qomolang opened #2974 "Two typo questions？"
the first question
 in 2.4 "any processor options can be passed using an options element", but there is no "options element" in Maven, is it "compilerArgs"？

And the second question
in 10.10 the second note, a pair of bracket is missed. it should be
"Some types of mappings (collections, maps), in which MapStruct is instructed to use a getter or adder as target accessor (see CollectionMappingStrate

[2022-08-21 08:56] #2974 closed

[2022-08-21 08:57] filiphr commented on #2974
Thanks for raising this @Qomolang. I moved it to the MapStruct core project since the documentation is maintained here.

You are right on both questions:

1. Yes it should be `compilerArgs`
2. Yes it needs to be wrapped in brackets.

I've already pushed fix for this

[2022-08-21 16:40] filiphr commented on #2925
Thanks a lot for the reproducable repo @facboy. We've managed to use it to locate the problem and have a PR #2927 for fixing this

[2022-08-21 16:55] filiphr commented on #2907
Thanks for the example @nikomiranda. This will be fixed with PR #2973. I've added the test case as well to that PR.

[2022-08-21 17:34] filiphr commented on #2913
After doing some analysis on this one and #2849 it seems like the work we did in #2320 broke this. I still need to analyse why this happened. This was not supposed to happen when we did that PR. What do you think @sjaakd? It feels like the fact that the return type can be assigned to the expected type is causing the problem.

[2022-08-21 17:54] asicode24 commented on #2956
Hi Filip,

Here is an example, i am refering to in your github repo.

https://github.com/mapstruct/mapstruct-examples/blob/main/mapstruct-jpa-child-parent/src/main/java/org/mapstruct/jpa/JpaContext.java

Best Regards,
Asif

[2022-08-21 22:35] jccampanero commented on #2963
If  @Ikki-Dai is not interested in providing this functionality through a PR himself, I would be glad to help you with this issue.

[2022-08-22 03:28] yzhsss opened #2981 "When the same object is copied, the properties are not copied"
<img width="627" alt="image" src="https://user-images.githubusercontent.com/20329077/185832854-c013a326-6eee-42fb-b894-e3d2847084b9.png">

<img width="825" alt="image" src="https://user-images.githubusercontent.com/20329077/185832733-9c007779-c26c-4f45-bca3-877ea072b7f1.png">
When the same object is copied, the properties are not copied

[2022-08-22 05:40] filiphr commented on #2981
I see that you already asked a question in a discussion #2980. Please do not cross post.

[2022-08-22 05:40] #2981 closed

[2022-08-23 09:47] andye2004 commented on #2953
Hi @filiphr, I don't mind taking a stab at this, before I do though, I'm wondering if you would want the feature to be overridable at the `MappingConfig` and `Mapper` levels, similar to the `mapstruct.unmappedTargetPolicy`, or system wide, similar to the `mapstruct.disableBuilders`

[2022-08-24 16:36] #2949 closed

[2022-08-24 16:55] #2928 closed

[2022-08-24 16:59] #2897 closed

[2022-08-24 17:07] filiphr opened #2983 "Add `@AnnotateWith` support to other non bean mapping methods"
I believe that the new `@AnnotateWith` only works for bean mapping methods. We should add this support to all of the methods that we generate. Most likely we need to add it to `NormalTypeMappingMethod` and `ValueMappingMethod`

[2022-08-24 17:11] #2937 closed

[2022-08-24 17:38] #2907 closed

[2022-08-24 17:38] #2945 closed

[2022-08-24 17:39] #2925 closed

[2022-08-24 17:41] filiphr commented on #2963
Thanks for the offer @jccampanero. I am going to wait until Friday for @Ikki-Dai  in case they are interested. Otherwise, I'll assign the issue to you

[2022-08-24 18:35] facboy commented on #2925
👍

[2022-08-24 18:49] filiphr commented on #2953
You are going to add options that already exist in `MappingConfig` and `Mapper`, right? If you add your changes to `DefaultOptions` then everything would be overridable in a consistent manner (adding some tests for it though is always good 😉)

This relates to IDEs not picking up the compiler arguments that have been defined in Maven or Gradle configuration and thus leading to generating mappers th

[2022-08-25 02:27] Ikki-Dai commented on #2963
Thanks @jccampanero and @filiphr, I have no time to provide PR these days. and @jccampanero,  pls do it.

I'm glad to provide some advice and review, if i have spare time.

[2022-08-25 06:35] filiphr commented on #2963
Thanks for letting use know @Ikki-Dai. @jccampanero I've assigned this issue to you let us know if you need some pointers

[2022-08-25 10:37] christiangoudreau commented on #2843
I've tried this :
`@Mapper(
        componentModel = "spring",
        injectionStrategy = InjectionStrategy.CONSTRUCTOR,
        nullValueIterableMappingStrategy = NullValueMappingStrategy.RETURN_DEFAULT,
        nullValueMappingStrategy = NullValueMappingStrategy.RETURN_DEFAULT,
        unmappedTargetPolicy = ReportingPolicy.IGNORE
)
public interface ClientDocumentMapper {

    @Mapping(target =

[2022-08-25 11:19] christiangoudreau commented on #2843
I just realised that `ClientDocumentDto to(ClientDocument clientDocument);`was missing...

But still, using the strategy didn't produce en empty ArrayList for labels.

I had to use this strategy to replace the null array by an empty array. :
[code]

[2022-08-25 15:30] lehphyro opened #2987 "Support for defining Javadoc in the generated mapper implementation"
Javadoc validation checks generated code by default and generates warnings for missing tags on generated code.
It could be resolved by copying javadoc into the generated code because simply ignoring generated code causes other issues such as missing types.

[2022-08-25 15:50] Zegveld commented on #2987
Javadoc is inherited.
A method that does not have any javadoc but is overridden has the same javadoc as the super method.

Which javadoc validation tool are you using that it doesn't pick that up, or are there requirements which result in that you must restate the javadoc when overriding a method?

for example:
[code]

The javadoc of `B.myMethod(String myParam)` is the same as described in the int

[2022-08-25 16:02] lehphyro commented on #2987
I'm attaching a test project.
[javadoc-test.zip](https://github.com/mapstruct/mapstruct/files/9426418/javadoc-test.zip)

[2022-08-25 17:01] Zegveld commented on #2987
Thanks for adding the example.

[code]

It seems that it is the javadoc on the implementation class that is the issue, and not on the methods.
It doesn't always make sense to copy this from the source `interface`/`abstract class`.
Perhaps a default generation of something like this would suffice:
[code]

wdyt @filiphr , @lehphyro ?

[2022-08-25 17:36] lehphyro commented on #2987
Sure, works for me.

[2022-08-25 19:02] barkeldiho opened #2988 "Adhere to Java specifications - Overriding default methods in interface via decorator"
In Java it is possible to override default methods in interfaces. This mechanism seems not to be picked up by MapStruct when it comes to overriding methods in decorator implementations. The following code leads to a missing method in the generated mapper implementation.

Mapper interface:
[code]
and a Decorator as follows:

[code]

Result is a missing implementation for `toObject()`. This is in Ma

[2022-08-25 22:26] jccampanero commented on #2963
Sorry for the late reply.

Thank you very much @Ikki-Dai, and thank you very much you too @filiphr.

I will try to do my best to implement the required functionality. I will contact you if I need any help.

Thank you both very much again.

[2022-08-26 14:59] Zegveld opened #2990 "Main branch broken due to handling user-defined imports"
When running the tests of the main branch they fail at:
[code]

I'm creating a fix for this.

[2022-08-26 17:35] #2990 closed

[2022-08-26 17:37] filiphr commented on #2990
I messed it up by merging bunch of unrelated commits in one go. Didn't re run each PR against the newly merged commits

[2022-08-26 17:50] filiphr commented on #2987
Currently we aren't generating any comments in the. The proposed javadoc sounds a bit obsolete, it brings no value to the generated code.

@lehphyro why can't you configure your javadoc generation to ignore missing comments?

[2022-08-26 18:00] lehphyro commented on #2987
Because that would ignore actual violations, the only way I found to ignore MapStruct generated code is to put generated code in a separate package and configure javadoc to ignore that package but it's not nice to put generated mappers in a different package.

[2022-08-27 07:56] filiphr commented on #2988
Yes we are aware that in Java it is possible to override default methods. However, MapStruct by design only generates mappings for abstract methods. Have a look at [Adding custom methods to mappers](https://mapstruct.org/documentation/stable/reference/html/#adding-custom-methods).

Why do you need to use a decorator for this? Why not just implement the logic you need yoursefl?

e.g.

[code]

[2022-08-27 07:56] #2988 closed

[2022-08-28 07:48] filiphr commented on #2987
Starting from the next MapStruct version you are going to be able to annotate the generated code with whatever you want. In addition to that, starting from Java 18 you can sue `@SuppressWarnings("doclint")` to ignore doc lint errors (See https://docs.oracle.com/en/java/javase/18/docs/specs/man/javadoc.html#suppressing-messages).

All of this means that you can do something like:

[code]

which wil

[2022-08-28 10:41] #2825 closed

[2022-08-29 08:26] liuxiansheng990710 commented on #2963
@filiphr On the basis of mapstruct, I realized the conversion of enum and int. May I have a try?

[2022-08-29 08:53] filiphr commented on #2963
@liuxiansheng990710 this issue is already assigned to @jccampanero. If you would like to contribute, feel free to have a look at the issue tracker for some other issue.

[2022-08-29 09:07] liuxiansheng990710 opened #2997 "Multi source data conversion error"
[code]

[code]

  - @ObjectFactory
    - It will be repeatedly called, resulting in an error
[code]
 @filiphr Is there any solution

[2022-08-29 18:50] jccampanero commented on #2963
Thank you very much @filiphr and sorry for the late reply, I was unable to work on the task until yesterday.

I pushed an initial version of the code.

I defined the unit tests in a new package named `enumtointeger` under `org.mapstruct.ap.test.conversion`. Is it the right place? I noticed some tests related to `enum` to `String` in the `org.mapstruct.ap.test.value.enum2string` package.

Please le

[2022-08-29 19:05] filiphr commented on #2963
Take as much time as you need @jccampanero.

Yes the `org.mapstruct.ap.test.conversion` is the right place. However, I would do it under a package named `_enum` there and also add the tests for the string conversion.

You spotted things well. We do have those package. However, that is more for value mappings. When you want to explicitly define a mapping method from String to enum using `@ValueMapp

[2022-08-29 19:09] filiphr commented on #2997
@liuxiansheng990710 please do not use the issue tracker to ask questions. If you have a question please use either [StackOverflow](https://stackoverflow.com/questions/tagged/mapstruct) or [Discussions](https://github.com/mapstruct/mapstruct/discussions).

To answer your questions. when using multiple source parameters the mapping method is treated as a bean mapping method and thus you get the erro

[2022-08-29 19:09] #2997 closed

[2022-08-29 19:20] filiphr commented on #2956
This was answered in https://github.com/mapstruct/mapstruct/discussions/2978#discussioncomment-3441902

[2022-08-29 22:25] jccampanero commented on #2963
Thank you very much for your understanding @filiphr.

I did the changes you proposed.

Before creating the PR, do you want me to squash the different commits of the branch as suggested in the contributing guide?

Thank you very much again.

[2022-08-30 06:52] filiphr commented on #2963
Up to you. We usually squash the PR anyways when we do the merge in GitHub.

[2022-08-30 10:06] jccampanero commented on #2963
Thank you very much @filiphr.

Then, for now I have left the work split into the commits of the original branch, so that code review can be done more easily and to make it easier to add additional changes if needed.

At the moment I didn't provide any additional tests related to testing the enum to string conversion we mentioned in the comments above: if you want to, and you think it is within the

[2022-09-01 02:01] raphael-red commented on #2690
Remove the @Mapper at the generic mapper and add @Mapper on the concrete mapper. If I understand what you mean.

[2022-09-01 03:05] YAGAMIL opened #3002 "When expression is used to specify a method for a String, the normal mapping is changed to use the specified method"
Because some parameter mappings require specific logic, I added such a method

[code]
In my mapping statement method, I use @mapping like this
[code]

The code of "RecordtransferImpl" it generates is like this

[code]

And I created all in this RecordTransfer mapping method, as long as the switch field is of type String, all has been replaced by RecordTransfer.firstAsterisk( )

[2022-09-01 04:39] chenzijia12300 commented on #3002
I think this is caused by the fact that your `firstAsterisk` method is defined inside the mapper, which makes the framework think that you want to customize the way you map all strings to strings.
You should probably move this method to another class and reference it fully qualified in the `expression` property

[2022-09-01 06:25] YAGAMIL commented on #3002
Yeah, but I don't think MapStruct should do that, or if I need that optimization, mark a switch annotation like this@TypeHandler(type=String.class)，Otherwise, this default substitution should not be done

[2022-09-01 06:45] filiphr commented on #3002
A lot of our users are going to disagree with you about this @YAGAMIL. If you decide to write a custom mapping method and make it available for the mapper either by using `Mapper#uses` or as a method in the mapper itself then MapStruct will not use the default conversions. This is all explained in our documentation https://mapstruct.org/documentation/stable/reference/html/#adding-custom-methods.

[2022-09-01 06:45] #3002 closed

[2022-09-02 09:36] emat84 opened #3004 "Missing import when mapping nested enums"
Even after the recent fixes that went in 1.5.2, I can still reproduce a missing import when mapping an inner Enum to a String.

1.4.2.Final works

1.5.1.Final and 1.5.2.Final don't work

the generated code looks like:

`targetInstance.targetField( Enum.valueOf( Clazz.InnerEnum.class, sourceInstance.getSourceField() ) );`

and will result in `package Clazz does not exist`

[2022-09-02 12:34] filiphr commented on #3004
I believe that this has already been fixed on main. This looks like a duplicate of #2945. Therefore, I am going to close this one.

[2022-09-02 12:34] #3004 closed

[2022-09-02 13:00] WeihmannTNG commented on #2743
After Upgrade from 1.4.2.FINAL to 1.5.2.FINAL, I have the same problem. For the sake of completeness, here is a minimal example:
The source dto:
`
@Getter
@Setter
public class SrcDto {
  private int number;
  private SrcField field;
}
`
Its field:
`
@Getter
@Setter
public class SrcField {
	private int x;
}
`

The target dto:
`
@Getter
@Setter
public class TargetDto {
  private int number;
  privat

[2022-09-02 15:24] #2895 closed

[2022-09-02 17:09] filiphr commented on #2743
Thanks for @olivierboudet and @WeihmannTNG for your examples. You are both right. We shouldn't inherit the bean mappings onto the forged methods. We've created PR #3005 that should fix this

[2022-09-03 10:51] Zegveld commented on #2955
I've attempted to fix this, and currently believe that we should not fix this.

The reason lies in the differences between the 2 mapping flows:
Normal Mapping flow:
(not entirely certain of the order of the beforeMappings compared to eachother or the afterMappings compared to eachother.)
[code]
Update Mapping flow:
[code]

The major difference here is the null-checks. With the update mapping flow

[2022-09-03 16:07] ibogdanchikov commented on #2941
@filiphr Since no one is assigned to this issue yet, may I give it a try?

[2022-09-03 17:12] Blockost opened #3006 "@BeforeMapping method invocation is not generated when mapping a child collection using a qualified mapping method"
- [x] Is this an issue (and hence not a question)?

If this is a question how to use MapStruct there are several resources available.
- Our reference- and API [documentation](http://mapstruct.org/documentation/reference-guide/).
- Our [examples](https://github.com/mapstruct/mapstruct-examples) repository (contributions always welcome)
- Our [FAQ](http://mapstruct.org/faq/)
- [StackOverflow](https:

[2022-09-03 21:10] Zegveld commented on #3006
the reason is that it is searching for an `@BeforeMapping` that is `qualifiedByName = "qualifier"`.
That one cannot be found, and therefor it doesn't use a beforeMapping.

You can add a method that just passes it on to the actual before method for example:
[code]

hope this helps.

[2022-09-03 21:49] Blockost commented on #3006
Hi @Zegveld, yes it totally helps ! It seems to be the way to do it 💪

I guess I was confused by [the docs](https://mapstruct.org/documentation/stable/api/org/mapstruct/BeforeMapping.html) which states:

but still, qualifiers need to match.

Thanks for your help !

[2022-09-03 21:49] #3006 closed

[2022-09-04 07:14] filiphr commented on #2955
I disagree with this @Zegveld. This used to work reliably and we should fix it in order for this to work as it used to work. There should be no difference between the update and regular mappings in the way the lifecycle methods are handled.

As for the `@BeforeMapping`s, these will suddenly make it so that the `@MappingTarget` is not mapped at all.

The lifecycle with return values was done in ord

[2022-09-04 07:18] filiphr commented on #2941
Of course @ibogdanchikov feel free to give it a try. I haven't looked into possibilities for how to implement this, but if you need some help feel free to reach out. I'll assign it to you in the meantime

[2022-09-04 07:43] filiphr opened #3008 "Use GitHub new Issue Form Templates"
GitHub has added some new Issue Form Templates https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms that can allow us to more easily guide our users in creating bug reports or feature requests.

[2022-09-04 08:10] Zegveld commented on #2955
I did indeed not think about the cyclic mappings. To support those the flow with returning early is wanted.
Guess I'll continue with the route already taken and add tests for cyclic mappings to the code.

[2022-09-04 11:58] filiphr commented on #2963
Done in PR #3000. Thanks @jccampanero

[2022-09-04 11:58] #2963 closed

[2022-09-04 13:32] jccampanero commented on #2987
@filiphr I am aware you mentioned it is not a priority, but can I try helping you with this issue or with any other one?

My only concern has to do with the following: how should the provided javadoc string be sanitized in some way in order to prevent errors in the class generation process or even potential security issues?

[2022-09-04 15:32] filiphr commented on #2987
You are more than welcome to work on any issue you think you'd like to tackle. Another alternative issue would also be https://github.com/mapstruct/mapstruct/issues/1427, which shouldn't be too difficult.

In any case, if you prefer to work on this one then go ahead.

I don't think that we need provide anything special for sanitization. Perhaps we can have a `@Javadoc` annotation and offer the fol

[2022-09-04 18:18] filiphr commented on #2941
@ibogdanchikov I've been pondering a bit with https://github.com/mapstruct/mapstruct/issues/2070, which is a bit related to this and some other ones as well. I believe that this issue might help in the refactorings we want to do. Having said this, I believe that I'd like to give this issue a go. Unless, you already have some work done here?

The reason why I am saying this is because there are qui

[2022-09-04 22:03] jccampanero commented on #2987
Thank you very much for your words @filiphr.

 I will try to do my best to tackle both issues if you consider it appropriate.

Regarding this one, I agree with you, and using a custom annotation is probably a superior and more extensible solution. I will start working on this from that point of view. I hope I don't bother you too much with my doubts.

Thank you very much again.

[2022-09-04 22:08] jccampanero commented on #1427
@filiphr Please, could you elaborate the idea?

[2022-09-04 23:52] shankuljain opened #3011 "@InheritReverseConfiguration can't map to primitive wrapper classes like Boolean"
Consider a class like

[code]

and a Mapper class like below -

[code]

which generates the implementation as expected. But when I generate a reverse mapper, it is not possible.

[code]

[2022-09-05 01:39] nettadhp commented on #292
Is there any intention on implementing this? As fred mentioned, it would be super useful with grpc/protobuf generated entities.

[2022-09-05 06:01] filiphr commented on #3011
Let's for a second ignore the `@InheritReverseConfiguration` and only consider:

[code]

What would you expect MapStruct to generate here?

In this scenario MapStruct will treat the `Boolean` like an object and try to map into it like mapping into any other object. Therefore, what you are asking is not supported

[2022-09-05 06:12] filiphr commented on #1427
With #1574 one can now write a mapper that looks like:

[code]

This will now generate

[code]

This is of course invalid.

What we need to do is to make sure that we are properly handling this, i.e. not adding the `@Component` in `AnnotationBasedComponentModelProcessor`.

We'll need to make sure that the following things work:

* Works properly with delegator
* Works properly when a different spe

[2022-09-05 06:13] filiphr commented on #2987
For sure, feel free to work on both. I've assigned this one to you

[2022-09-05 06:22] filiphr commented on #292
This is a really old issue. I am not too keen on complicating our API to support things like this.

We already have the `AccessorNamingStrategy` that can be used to expand on certain things.

I know that there is the [mapstruct-spi-protobuf](https://github.com/entur/mapstruct-spi-protobuf) (Note: this is not maintained by the MapStruct team).

We can of course extend our API in order to facilitate

[2022-09-05 09:15] thedrow opened #3012 "Link to technical documentation is broken"
The [API documentation](https://mapstruct.ci.cloudbees.com/job/mapstruct-javadoc/javadoc/) is no longer available and should be published elsewhere.

[2022-09-05 09:29] filiphr commented on #3012
We have long moved the Javadoc to https://mapstruct.org/documentation/stable/api/.

Where did you find this URL @thedrow?

[2022-09-05 09:59] sankalpbhatt opened #3013 "MapStruct using default constructor over parameterised constructor of Kotlin data class(error: constructor in class cannot be applied to given types) Ask Question"
In my Micronaut Kotlin project I have two repositories. I am using MapStruct in both of them.

Source Class

@JsonInclude
data class Source(

var id: String,
var no: String,
var value: String,
)
Destination Class

@JsonInclude
data class Destination(

var id: String,
var no: String,
var value: String,
)
Mapper

@Mapper(unmappedTargetPolicy = ReportingPolicy.IGNORE)
interface SourceMapper {

fun co

[2022-09-05 13:18] thedrow commented on #3013
Please format the code. It's impossible to read it this way.

[2022-09-05 13:56] jccampanero commented on #1427
Thank you very much for your explanation @filiphr.

So, basically, it is necessary to finish the work already started on [this commit](https://github.com/Zegveld/mapstruct/commit/a1fcfd272c3327743a6a4a86414684729d9b4800), making sure it works properly with delegator and with other Spring related annotations, is that correct?

I will be glad to work in the issue if you wish.

[2022-09-05 15:19] sankalpbhatt commented on #3013
I have tried . If still unclear please check
https://stackoverflow.com/questions/73606007/mapstruct-using-default-constructor-over-parameterised-constructor-of-kotlin-dat

It has formatted code.

[2022-09-05 17:45] peterlitvak opened #3014 "Mappings are not generated as part of intelliJ build"
IntelliJ: IU-222.3739.54
MapStrict is added as a project dependency as:
[code]

And configured as a single annotation processor in IntelliJ.

Upon on "Rebuild Project" the empty directory is generated for the mappers.

[2022-09-07 07:40] thedrow commented on #3012
[here](https://mapstruct.org/development/technical-documentation/)

[2022-09-07 09:57] nfalco79 commented on #2881
Hi @filiphr I have an issue due to the missing generation of null check.
This is the simplified situation (1.5.2)

[code]
generated code is
[code]
if creationTimestamp is null a NPE is raised by the EventMapperImpl.toEvent method (when call parse with null value).
Using nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS on specific attribute mapper I expect it perform a null check before use t

[2022-09-07 10:39] chenzijia12300 opened #3015 "Annotations are automatically passed in forged methods"
Currently the `@AnnotateWith` annotation modification on the original method is automatically passed to its `forgeMethod` method, should we change it to an optional one, regarding whether it is automatically passed to its derived method

e.g. currently for

[code]
will generate

[code]
We can see that the `sourceToTarget` method also carries the `CustomMethodOnlyAnnotation` annotation

[2022-09-07 16:37] filiphr commented on #3015
Good spotting this @chenzijia12300. I don't think that we need to pass the annotations to the forged methods. Would you like to work on a fix for this?

[2022-09-07 17:43] ibogdanchikov commented on #2941
@filiphr

Sure, no problem. I haven't done any work yet. I barely started the analysis of the issue.

I haven't done anything beyond a couple of trivial tasks in MapStruct, so at this point I do not think I would be able to see places that need such refactoring.

I don't have any on my mind right now. I just picked this one, because it looked interesting and wasn't assigned to anyone.

[2022-09-08 03:30] chenzijia12300 commented on #3015
Yes, I am interested in trying to solve this problem

[2022-09-08 21:20] nettadhp commented on #1690
@filiphr I have stumbled across this issue as well (Intelli 2022.1.1). I'm not an expert on how intellij works but I'm wondering if this issue stems from the fact that mapstruct (as opposed to lombok for example) has a mapping file that separate from the objects being mapped. What if you were to add a helper annotation that we could add to the objects being mapped. Could something like that potent

[2022-09-09 09:09] bilak opened #3018 "SubclassMapping doesn't generate mapping methods"
- [ x] Is this an issue (and hence not a question)?

Sorry for [crossposting](https://stackoverflow.com/questions/73648381/deepclone-of-same-class-with-subclassmapping) but I just want to reference this issue somewhere in code.

So is it really necessary to include mapping methods for all mentioned subclasses even when we have them in `SubclassMapping` annotation? I initially thought that this is

[2022-09-09 14:11] Zegveld commented on #3018
did you try the `@Mapper(mappingControl = DeepClone.class)` as described here: https://mapstruct.org/documentation/stable/api/org/mapstruct/control/MappingControl.html

By default mapstruct will do as few mapping actions as possible.

[2022-09-09 14:21] bilak commented on #3018
yep, tried that also.

I wasn't looking into mapstruct implementation. Is it somehow possible at compile time get all descendants of given parent class? I mean if we have abstract class or interface, are we able to get all implementations and add them dynamically if we know they are of the same type. So basically doing deepclone of the same class?

[2022-09-09 14:46] Zegveld commented on #2377
Handling a third state feels to me like something for another issue. Seeing that the `condition`-check and the `null`-check are interchangeable.

[2022-09-09 15:25] Zegveld commented on #3018
This is not possible because the only classes that we are notified of are the ones that are in the current build. So any class outside this build is only spotted because something is referencing it.

Perhaps for `sealed` classes this would be doable, because then the class references to those classes.

[2022-09-11 21:41] jccampanero commented on #1427
Hi @filiphr.

It's nice talking to you again.

I have been working on the issue, I have provided a possible implementation mainly based on the code that you and @Zegveld developed.

I tried performing some initial testing of the decorator related stuff and it seems to work properly.

One question came to mind though: when using a decorator, if we have a component where we have a custom name, shoul

[2022-09-13 08:34] bilak commented on #3018
Does this mean that if we have everything on classspath in the build, that we could potentially get all those classes? I mean is there some extension point how to do this?

[2022-09-14 05:39] implermine commented on #1581
Is there no further discussion? i've experienced same issue with @hydra1983 and solved problem by `https://stackoverflow.com/a/68621947/16901221` , yet annotationProcessor's order has no matter?

[2022-09-14 22:32] nettadhp commented on #1882
@filiphr - From what I can tell, it isn't possible to use ignoreUnmappedSourceProperties more than once. Also, since there is the constant limitation for annotations there is no way to extend it. What if you want to hardcode a list of properties to be ignored from the source (for protobuf for example) and then add onto them on a case by case basis? Is there a way to do this?

[2022-09-16 07:36] camproto opened #3021 "Globally ignore an attribute all DTOs inherit from a base class"
Is this an  question

I have a base class Nachricht from where several dozens DTOs inherit. For all are mappers with mapstruct defined. All with special mapping configurations. To not forget to configure a property within these mappings I use for all the mapping strategy  mapstruct.unmappedTargetPolicy=ERROR.

Now I have the need to introduce on the base class several convenience getter and setter

[2022-09-16 16:04] Zegveld commented on #3021
This is available by creating your own annotation which contains all these `@Mapping` annotations.
[See the documentation for more information.](https://mapstruct.org/documentation/stable/reference/html/#mapping-composition)

[2022-09-17 11:55] filiphr commented on #3021
Closing since it has been explained how this can be achieved

[2022-09-17 11:55] #3021 closed

[2022-09-17 11:57] filiphr commented on #1882
@nettadhp I am not sure what you mean with use it more than once.

If we are talking about things like protobuf than this needs to be resolved on a different level. Those methods should not even be considered as properties. Have a look at an SPI extension from the community around protobuf (https://github.com/entur/mapstruct-spi-protobuf).

[2022-09-19 15:33] nettadhp commented on #1882
@filiphr thanks for responding. I'm referring to some config option that would allow me to define "ignoreUnmappedSourceProperties", use it in multiple mappings, and add onto it on a case by case basis

[2022-09-19 15:46] julius-d opened #3024 "[Bug] Generated mapping not compiling due to missing import"
Hi!

I wanted to update mapstruct from 1.4.2.Final to 1.5.2.Final.
But that is not possible because the compilation fails due to a missing import in the generated mapper.

I crated a sample repo to reproduce the issue:
https://github.com/julius-d/mapstruct-1-5-2-issue

The compilation fails with
[code]

The code is this

[code]

[code]

[code]

[code]

The generated code is this
Notice the missing

[2022-09-19 16:06] Zegveld commented on #3024
duplicate of #2945 which is already marked as fixed for the upcoming release 1.6.0.

[2022-09-19 16:06] #3024 closed

[2022-09-21 08:10] AbelPelser commented on #2880
This issue is still present for nested enums

[2022-09-21 20:10] #3008 closed

[2022-09-22 08:14] nobei commented on #292
when i use thrift, i also need this function to avoid some mistakes. Can suppor it @filiphr

[2022-09-22 14:54] ls-rein-martha opened #3029 "@SubclassMapping and @Decorator doesn't work together"
### Expected behavior

Unless overridden, method that have `@SubclassMapping` annotation should have a way to call the decorator with target subclass method.
Overridden target subclass method at decorator should be used when parent method called.

### Actual behavior

Method that have `@SubclassMapping` will  simply call the delegate method.
Overridden subclass target method will be ignored when t

[2022-09-23 02:08] esbug commented on #2661
Hello, has this problem been solved, I also encountered the same problem, and an error was reported when compiling.

mapstruc version: 1.5.2.Final

[2022-09-26 09:44] Syuziko opened #3031 "Kotlin Data class with all nullable fields is not mapped to the target class fields"
### Expected behavior

[expected_result.pdf](https://github.com/mapstruct/mapstruct/files/9644933/expected_result.pdf)

### Actual behavior

[actual_result.pdf](https://github.com/mapstruct/mapstruct/files/9644949/actual_result.pdf)

### Steps to reproduce the problem

Create two data classes:

`data class A(
    val field1: String?,
    val field2: String?,
    val field3: String?
)`

`data class

[2022-09-26 16:34] filiphr commented on #2840
I am happy to announce that we have managed to find the root cause for this problem and we have a pending fix in #3032

[2022-09-26 16:34] filiphr commented on #2921
I am happy to announce that we have managed to find the root cause for this problem and we have a pending fix in #3032

[2022-09-26 16:45] saw303 commented on #2913
@filiphr that's amazing news! Thank you

[2022-09-26 16:48] saw303 commented on #2840
@filiphr that's amazing news! Thank you

Any indication when 1.6.0 is GA?

[2022-09-26 17:18] filiphr commented on #2840
@saw303 for 1.6 we still do not have an Alpha / Beta release that would take a while. However, I would like to have a 1.5.3 released in the next 2 weeks. There are 2 PRs (one of them being the fix for this issue and 2 other ones like this one 😄) that are left for review before we have everything that we want for 1.5.3.

[2022-09-27 07:35] #2840 closed

[2022-09-27 07:35] #2913 closed

[2022-09-27 07:35] #2921 closed

[2022-09-27 23:28] nettadhp opened #3034 "nullValueCheckStrategy does not work when using expression"
### Expected behavior

[code]
should generate something like

[code]

Ie expect to honor `nullValueCheckStrategy` by checking that the result of `from(car)` is not null before setting it.

### Actual behavior

[code]
There is no null check before setting the manufacturer.

*Our set method checks for null and throws an NPE when it gets a null value.

### Steps to reproduce the problem

See above de

[2022-09-28 11:45] ajinkyapatki44 opened #3035 "Error for fields which are not in record class for mapping"
### Expected behavior

**My Java Record Classes:**
**First one:**
[code]

**Second one:**
[code]

**Mapper Interface** :-

[code]

Expected is it should not fail when I build project.

### Actual behavior

When I build project, it's failing with below errors
[code]
If you look at records, defined property is addressList which is same in both record classes.

I have tried to add some more normal (S

[2022-09-28 12:04] Hatzen opened #3036 "Update 1.4 to 1.5: Generic AfterMapping compiler issues as targetmapping is not properly considered anymore"
### Expected behavior

Recently I tried updating from 1.4.1 to 1.5.2 to use the new cool SubclassMapping feature.
But doing so seems to change the behaviour of AfterMapping with generic target classes.

In 1.4.1 the generated code for (this kotlin snippet)

[code]
worked out well and just called the method updateUniqueIdIfNeededWhenClassMatches on instances that will be mapped to Classes implement

[2022-09-28 15:51] heipl-paul opened #3037 "Would it be possible to add ElementType.ANNOTATION_TYPE as a target for @ValueMapping?"
### Use case

I write a bunch of mappers for gRPC which suggests `UNSPECIFIED` as a default value for integration with languages that offer the possibility of enum members that were not predefined, and auto-generates `UNRECOGNIZED` (at least in java, it does).

I always want to map both of these with

[code]

Which, okay, isn't that big of a deal. But since I've been doing a lot of gRPC mappings,

[2022-09-28 17:43] nettadhp opened #3038 "Mapstruct doesn't use custom enum mapper"
### Expected behavior

[code]
should generate something like:

[code]

### Actual behavior

[code]

### Steps to reproduce the problem

see above description.

### MapStruct Version

1.5.2.Final

[2022-09-28 18:37] filiphr commented on #3036
Thanks for reporting this @Hatzen. We are going to look into it and try to fix it. We've had some regressions around generics in 1.5 and we've done some fixes in preparation for 1.5.3.

I am not sure how the Java code looks like for the shared kotlin snippets. If you can provide an example in Java you'll make it easier for us to test this.

[2022-09-28 18:41] filiphr commented on #3035
@ajinkyapatki44 the problem is not for collection fields (List, Set), but the problem is in the name of the fields that are starting with `add`. The error should actually not be there and we shouldn't treat that as a property I do agree. We are going to look into fixing it.

Anyways, what happens if you do not use a `ReportingPolicy.ERROR`? I believe that we are going to properly map the address l

[2022-09-28 18:43] filiphr commented on #3034
This works as designed. When using `Mapping#expression` none of the other things are applied. In `expression` you can put any java code, there is no way in knowing what we should do a null check for.

I would suggest that you either do it yourself or if you want to rely on MapStruct then I would suggest using `Mapping#source` and using the source parameter.

e.g.

[code]

[2022-09-28 18:43] #3034 closed

[2022-09-28 18:47] filiphr opened #3039 "Update FreeMarker to 2.3.31"

[2022-09-28 19:57] filiphr commented on #3014
We haven't had problems with IntelliJ for a while. I would suggest updating MapStruct and checking if everything works as expected. There have some issues in our older versions that have been fixed for a while

[2022-09-28 19:57] #3014 closed

[2022-09-28 20:18] #2773 closed

[2022-09-28 21:15] nettadhp commented on #3034
@filiphr not sure I understand why this is as designed. Mapstruct still calls the setter method, it just sets it with the value returned from the expression right? So if the value the expression returns is null, and you have those null check annotations, then the value should not be set. The source would only solve it if the mapping is simple but it's not. There's a calculation that is happening i

[2022-09-28 21:26] nettadhp commented on #3038
Car was a contrived example based off of my code which is quite complicated. I double checked the class and the get returns the Enum not a String.
btw. Enum.valueOf returns the enum.

[2022-09-29 15:51] yahitesh commented on #1515
@jaas0301 can you provide the link for that?
Thanks!

[2022-09-29 19:06] filiphr commented on #3034
@nettadhp MapStruct does  a null check on the source value and not on the created value.

I am not sure what you mean by this. Expression is only a shortcut, but you can almost always achieve the same thing with a custom method and / or using a qualifier. In my previous reply there is an example for how you can achieve your example without using `expression`.

[2022-09-29 19:33] filiphr opened #3040 "Cannot use only BeanMapping#mappingControl"
### Expected behavior

It should be possible to only use `BeanMapping#mappingControl`

### Actual behavior

There is a compile error

### Steps to reproduce the problem

Use `@BeanMapping#mappingControl` on a method

### MapStruct Version

1.5.2

[2022-09-29 19:35] #3018 closed

[2022-09-29 19:47] filiphr commented on #3038
Yes `Enum#valueOf` does return the enum. However, it is used to map from `String` into the `CarDtoEnum`. If `Car#getCarEnum` returns `CarEnum` then `Enum.valueOf(CarDtoEnum.class, car.getCarEnum())` will not compile. However, it seems that for you this compiles correctly.

Can you please double check your getters

[2022-09-29 19:48] filiphr commented on #1515
I think that the link should be [this](https://mapstruct.org/documentation/stable/reference/html/#invoking-other-mappers)

[2022-09-29 20:09] filiphr commented on #3036
I am removing this from the 1.5.3 milestone since I was not able to reproduce it with Java.

I tried with:

[code]

If you can please share a minimal fully reproducible example (even if it is in kotlin) we would really appreciate it.

[2022-09-29 20:10] #2743 closed

[2022-09-29 21:51] nettadhp commented on #3034
I guess my example wasn't clear enough. Let's say the from method looks like this (and keep in mind this is a super dumb contrived example because my real code is just super complicated and also private for the company I work for, so I hope this will illustrate the problem).
[code]

Now given the above where that method can return null, how can I prevent carDto from calling `carDto.setManufacturer

[2022-09-29 21:51] Zegveld commented on #3036
I think we do not have multiple inheritance correctly covered:

[code]
throws
[code]
`Target` here only implements the first of the two interfaces required.

[2022-09-30 05:47] filiphr commented on #3034
Currently we do not have so granular checks. However, what you can do is to use your own custom condition:

[code]

[2022-09-30 05:48] filiphr commented on #3036
Got it. Thanks @Zegveld, I know what to do now.

[2022-09-30 09:25] chenzijia12300 commented on #3037
This looks interesting, can I try to implement it? 😊

[2022-09-30 10:48] ajinkyapatki44 commented on #3035
@filiphr  No, problem is not with **add**, see below code, I have updated parameter name to departmentList.

public record PersonRecord(List<String> departmentList) {}

public record EmployeeRecord(List<String> departmentList) {}

Mapper is same as above.

Now it started giving me below error:
error: Unmapped target property: **"artmentList"**.
  PersonRecord toPersonRecord(EmployeeRecord employee

[2022-09-30 11:10] heipl-paul commented on #3037
Thank you for the tip @filiphr, I've not encountered the protobuf spi before, it looks helpful.

Regarding the pull request, I can give it a try, I'll have to look over the code, I'm not familiar with it in the least, I've only ever been an end user. But I'll look into it, how hard can it be? 😅

[2022-09-30 16:31] nettadhp commented on #3034
Nice! I will try that out! However, to me this feels like a workaround. I'm not sure I understand why the logic today doesn't  always check for null before calling the set method when `nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS` is provided? What does it matter how the value is generated, whether via expression, custom method, or 1-1 mapping?

[2022-09-30 16:52] nettadhp commented on #3038
I'm going to try to recreate the issue with code that I can post here.

[2022-10-01 11:42] filiphr commented on #3037
@heipl-paul seems like @chenzijia12300 already did some work on this issue. @chenzijia12300 in the future, I would suggest waiting a bit before implementing something in order to avoid multiple people working on it.

@heipl-paul it isn't that hard, especially not for this functionality. Anyways, I hope you'll be able to contribute at a different time.

[2022-10-01 11:47] #1427 closed

[2022-10-01 11:49] chenzijia12300 commented on #3037
@filiphr I am sorry for my behavior, I will close this pr first, if @heipl-paul doesn't have time to implement it, I will try again
(￣▽￣)"

[2022-10-01 11:51] filiphr commented on #3037
@chenzijia12300 everything is good. I only wanted to let other people work on things as well. No need to close the PR, you've already implement the logic. Have a look at my review in it.

If @heipl-paul wants to work on something, we can find something else :)

[2022-10-01 11:51] filiphr commented on #3038
That would be the best @nettadhp. Thanks a lot

[2022-10-01 12:01] heipl-paul commented on #3037
@filiphr Absolutely! Still need a bit of time to familiarise myself with the code, but yeah. This is one of my favorite tools, it would be an honour to help.

[2022-10-01 12:18] chenzijia12300 commented on #3037
@heipl-paul I'm sorry for my rash intervention (⊙﹏⊙)

[2022-10-01 12:19] heipl-paul commented on #3037
@chenzijia12300 No worries, I can look over your PR and have that as a starting point :P

[2022-10-01 20:40] filiphr commented on #1427
This was implemented using the new `@AnnotateWith`.

This means that the one can do:

[code]

And that will generate:

[code]

[2022-10-02 07:34] #2955 closed

[2022-10-02 09:11] filiphr commented on #3040
This is an easier good issue that can be implemented by someone from the community. If someone is interested to work on this issue please comment here so that we can assign it to you.

[2022-10-02 09:49] filiphr opened #3044 "Add tests for composite SubclassMapping"
From what I can see we do support composite `@SubclassMapping`. However, I couldn't find the tests for it. We should add them

[2022-10-02 10:04] filiphr commented on #3034
If you read the javadoc of `NullValueCheckStrategy` it talks about dealing with `null` _source_ values. Apart from that this strategy is used for presence checking as well, not just `null` values. e.g. you might have a boolean method that checks if a property has been modified, even with a value of `null` and you might want to set the target to `null` based on that. e.g. in PATCH requests.

[2022-10-02 10:09] filiphr commented on #3035
Which Java version are you using @ajinkyapatki44? We have this exact test case in our integration tests and it works properly

[2022-10-02 14:03] chenzijia12300 commented on #3040
@filiphr Hello, I would like to try

[2022-10-02 14:04] filiphr commented on #3040
Yes sure @chenzijia12300, go for it

[2022-10-02 17:20] #1216 closed

[2022-10-03 00:27] nettadhp commented on #3034
I get it. I just wish there was a way to add the null check to the value returned by an expression before the setter is called. The option you provided is a nice when the logic is fairly simple. But when it's not, it might not be that useful.

[2022-10-03 06:44] ajinkyapatki44 commented on #3035
@filiphr
openjdk version "17.0.4.1" 2022-08-12 LTS
OpenJDK Runtime Environment Corretto-17.0.4.9.1 (build 17.0.4.1+9-LTS)

[2022-10-03 19:12] #3036 closed

[2022-10-03 19:19] filiphr commented on #3034
I do understand what you mean and it can be a problematic thing. However, currently MapStruct is not designed to work in the way you are expecting. If you want feel free to raise a change request and if there are multiple people that need such a feature they can voice their opinion and we could look into it for a future release.

[2022-10-03 19:23] filiphr commented on #3035
Really strange @ajinkyapatki44 I just tried with

[code]

and it works as expected. Can you please create a reproducible example in a git repo that we can clone and run MapStruct?

[2022-10-03 19:25] nettadhp commented on #3034
Thanks for your feedback!

[2022-10-08 08:21] andrei-ivanov commented on #1454
Any chance to get this one completed? 😩

[2022-10-09 11:41] ninjachen commented on #1343
Any update?
I still meet this issue on `org.mapstruct:mapstruct -> 1.4.1.Final` + protobuf
It generates `builder.getxxxxx().addAll()`, and it should use `builder.addAllxxxxx()`

The workaround is copy the codes generated, and modify it as I wish

[2022-10-14 09:15] AndyChenIT commented on #1343
The same issue,  [version: 1.5.0.beta1], `builder.getxxxxx().addAll()` will throw UnsupportedOperationException.

[2022-10-14 13:05] vishalgupta-valtech commented on #2661
I had this issue as well few days ago. I split the mappings into 2 mapping methods.  I used above example and it worked

[code]

[2022-10-14 21:08] mjustin opened #3054 "Do not require subclassExhaustiveStrategy when source is a sealed class and all subtypes are specified"
### Use case

The `@SubclassMapping` and `@BeanMapping(subclassExhaustiveStrategy = SubclassExhaustiveStrategy.RUNTIME_EXCEPTION)` annotations can be combined to allow mapping to an abstract class or interface.  If a given source input is not one of the specified types, a `RuntimeException` will be thrown.

[code]

=>

[code]

However, in certain scenarios it is possible to guarantee at compile ti

[2022-10-14 21:33] mjustin opened #3055 "Do not require subclassExhaustiveStrategy when one of the specified subtypes exactly matches the source type"
### Use case

The `@SubclassMapping` and `@BeanMapping(subclassExhaustiveStrategy = SubclassExhaustiveStrategy.RUNTIME_EXCEPTION)` annotations can be combined to allow mapping to an abstract class or interface.  If a given source input is not one of the specified types, a `RuntimeException` will be thrown.  Whether by design or otherwise, the `SubclassMapping` annotations appear to be applied in o

[2022-10-14 22:29] jccampanero commented on #2987
@filiphr Just an update: I've been working on the issue and I think the work is well under way. Please, sorry for the delay, these couple of weeks I have been very busy at work and had very little sparse time even at night.

[2022-10-19 10:15] Grosskopferter opened #3057 "Version 1.5.3 doesn't consider Mapping annotations for nested objects (worked with 1.5.2)"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the problem

Model class:
[code]

DTO class:
[code]

Mapper:
[code]

### MapStruct Version

MapStruct 1.5.3

[2022-10-19 23:45] Bue-von-hon opened #3058 "mapping builder that has constructor with some parameters"
### Use case

hello mapstruct!
i'd like to request some feature like below

Student jack = new student.builder("name", "addr").withAge(25).build();
Person person = new Person("name", "addr");
Student student = mapper.toStudent(person);

i'm using builder with some optional values
nessasy value -> passing to builder constructor
optional value -> with builder

### Generated Code

_No response_

###

[2022-10-19 23:51] Bue-von-hon commented on #1325
hello~ could i continuing this issue?

[2022-10-20 17:15] lowcasz opened #3059 "Map<String, ?> to bean - compilation error when value type is generic/object"
### Expected behavior

Bean should be created from any map with mixed value types.

### Actual behavior

Bean can be created when all values have the same types only.
When I try pass Map<String, ?> as argument, then values are not casted from Object in generated code and that error is thown:
java: incompatible types: java.lang.Object cannot be converted to _**ExpectedPojoType**_

### Steps to repr

[2022-10-20 17:54] Zegveld commented on #3057
## Analysis
the cause of this change lies with the fix for this issue: #2825
For subclassmappings we do not want to consider the original method as a possible method.
This change also affected all other mappings like the above one.

[2022-10-20 18:28] Zegveld commented on #3059
I would say that this is expected behaviour. The user needs to specify what to do with the incoming values, for example:
[code]

If you want to indiscriminately cast from Object to a class then you can add a method which does this, for example:
[code]

Mapstruct takes the safe route and gives this compile error.

[2022-10-20 21:21] lowcasz commented on #3059
Why it can't be casted by default when there is not more safety method?
But thank you for work around. ;)

[2022-10-20 21:31] #3059 closed

[2022-10-21 00:37] barbatchov opened #3060 "Issue when using @Context and Lombok @Builder"
Hello.
I'm having an issue when using **Context** and mapping a class with Lombok **Builder**.

Dto with Lombok builder:

[code]
My context:
[code]

My mapping:
[code]

The generated impl issue is using the Builder class as a type instead the own class:
[code]

The correct class should be FacDTO.class and not FacDTOBuilder.class.
This is giving an error since it is expecting FacDTO and not it's bu

[2022-10-21 12:21] neverkah commented on #1690
do not use eclipse compiler ,use javac complier

[2022-10-24 11:24] chenzijia12300 commented on #3060
Hello, I guess you can look at this [issue](https://github.com/mapstruct/mapstruct/issues/2721)

[2022-10-25 08:52] FireRedDev opened #3061 "disableBuilder via Application Properties"
### Use case

I use Mapstruct and Lombok @Builder. This causes me Issues with @AfterMapping

@AfterMapping
public void mapIdsToEntities(StorageDto storageDto, @MappingTarget Storage storage) {
would need to be turned into the following using @Builder:

@AfterMapping
public void mapIdsToEntities(StorageDto storageDto, @MappingTarget StorageBuilder storage) {

I need Builders for Tests and not for M

[2022-10-25 13:51] kimchanjung commented on #2281
I had the same problem, do you know how to fix it?

[2022-10-25 14:08] kimchanjung commented on #2281
I had the same problem, do you know how to fix it?

[2022-10-25 17:07] HoaiDang-work opened #3062 "Missing fields when mapping recursive nested objects"
### Expected behavior

Because my component have recursive children of the same class. I expect all component mapping is done using the same `toGrpc` method. Anyway to ensure the mapping to call the method `toGrpc` recursively.

### Actual behavior

Another method `componentToMediaTemplateComponent` is created to convert the first child level. Which does not set some fields.

[code]

### Steps to

[2022-10-25 18:35] Zegveld commented on #3062
duplicate of #3057 .

[2022-10-25 18:35] #3062 closed

[2022-10-25 21:23] Zegveld commented on #3061
this already exists, see [configuration options in the reference guide](https://mapstruct.org/documentation/stable/reference/html/#configuration-options) for all the compiler arguments and how to use them. Below I've listed the one for disabling builders from there.

<html>
<body>

mapstruct. disableBuilders | If set to true, then MapStruct will not use builder patterns when doing the mapping. Thi

[2022-10-25 21:23] #3061 closed

[2022-10-28 08:59] alabotski commented on #2326
I have the similar problem
[code]

And mapper
[code]

And have error

[30,16] Can't generate mapping method from iterable type from java stdlib to non-it
erable type.

I change mapper to
[code]

All works except one method from mapper
[code]

[2022-11-01 16:13] zshit opened #3065 "Generate a totally different class when I add a new filed"
### Expected behavior

[code]

this geneated class is correct, but when I add a new filed  'operatorId' to  ‘TargetObject’ , TargetObject.object became null.

there should be some warning logs or interrupt compile ?

### Actual behavior

[code]
TargetObject.object became null

### Steps to reproduce the problem

[code]

### MapStruct Version

MapStruct.1.5.3.Final

[2022-11-02 10:18] Michael-Frank commented on #2721
I've ran into a similar issue with mapstruct in conjunction with protobuf and https://github.com/entur/mapstruct-spi-protobuf

The solution (for mapstruct >1.4.2-Final) is to simply give the return type its own generic, decoupling it from the TargetType:
(Thx @Zegveld for pointing me in the right direction with your analysis)

[code]

This produces, as expected:
[code]

[2022-11-02 17:02] sajkol opened #3066 "Can't use `@Mapping#source` for map fields containg the dot character"
### Expected behavior

Using the new map->bean mapping feature it is not possible to use `@Mapping#source` for keys containing a `.` character. Instead, the `Map` type itself seems to be considered as the source type and its methods are proposed as alternatives.

It's still possible to achieve that with `expression` of course (as in the commented out line in the example), but it's far less elegant

[2022-11-03 14:13] chenzijia12300 commented on #3066
Hi, I guess you can take a look at this [document](https://mapstruct.org/documentation/stable/reference/html/#mapping-map-to-bean)

[2022-11-03 20:48] filiphr commented on #2953
I've had some time and I worked on this during a Hackergarten  event in Zurich

[2022-11-03 20:49] #3039 closed

[2022-11-03 21:02] #3040 closed

[2022-11-03 21:10] filiphr commented on #3058
@Bue-von-hon I am not sure that I understand what you are looking for. Why is the example you have shared not working with MapStruct?

Is the mapping builder method a method that takes parameters? If that is the case then this issues is a duplicate of #2081

[2022-11-03 21:11] filiphr commented on #3058
@Bue-von-hon I am not sure that I understand what you are looking for. Why is the example you have shared not working with MapStruct?

Is the mapping builder method a method that takes parameters? If that is the case then this issues is a duplicate of #2081

[2022-11-03 21:45] filiphr commented on #3035
Closing this because I couldn't reproduce the problem.

[2022-11-03 21:45] #3035 closed

[2022-11-03 22:21] #3037 closed

[2022-11-03 22:22] #3015 closed

[2022-11-03 22:29] #2967 closed

[2022-11-03 23:44] Bue-von-hon commented on #3058
@filiphr
#2081 is what I want
so it has been requesting since 2020...
if so, could I develop that feature for community of mapstruct?

[2022-11-04 02:27] Rubydesic opened #3069 "Collection mapping strategy to use contructor instead of getter/setter"
### Use case

I have a DTO which contains a collection (guava collection, specifically, which means I have to provide a factory for it, when I don't even want MapStruct to instantiate it in the first place)

[code]

[2022-11-04 06:32] filiphr commented on #2953
I've reopened this. We'll close it once the PR gets merged

[2022-11-04 09:28] sajkol commented on #3066
Thank you, I have of course read through the documentation and described behavior seems to contradict what's written there:

The example even shows usage of `Mapping#source` to directly name the field in the source map from which a value should be taken. There's no mention here of the `.` character being treated in a special way as it is for bean mappings - but in that case, it's used to support n

[2022-11-04 13:21] #3057 closed

[2022-11-04 21:37] StefanLobbenmeier commented on #2522
@filiphr

I think your comment was cut off here

[2022-11-04 23:26] ro0sterjam opened #3071 "Support configurable Spi Implementations"
### Use case

Spi Implementations have a better opportunity for reusability if they are configurable. Currently MapStruct's `MappingProcessor` does not pass the compilerArgs down to the `MapStructProcessingEnvironment` which is received on the `init` methods of the Spi classes (such as `AccessorNamingStrategy`).

Example of such use case: https://github.com/entur/mapstruct-spi-protobuf/pull/133 (t

[2022-11-05 00:55] ro0sterjam commented on #3071
It would be amazing if this could make it to the next minor version, since this is a backwards compatible change.

[2022-11-05 07:25] chenzijia12300 commented on #3066
I think you are right, we may need to think about how to handle the dot character in `map` in a special way

[2022-11-05 09:34] trks1970 opened #3072 "MapStruct recognizes 'remove' method as property"
### Expected behavior

I have  JPA Entity with two methods for bidirectional collection manipulation:
[code]

when creating a mapper, mapstruct complains, that `removeChild` is an unmapped property. (strangely it does not complain about addChild not being mapped)

### Actual behavior

Mapstruct should only map real properties

### Steps to reproduce the problem

[code]

### MapStruct Version

MapS

[2022-11-05 10:43] digithuman opened #3073 "mapstruct native support protobuf"
### Use case

The reasons are as follows:

1. gRPC use protobuf ,Jakarta EE 10 choise gRPC as Jakarta RPC , . Net Core same choise gRPC.

2. It is a good idea in the near future that protobuf will be selected as the data exchange foundation of heterogeneous platforms for service mash of microservice architecture.

3. MapStruct is not friendly to protobuf. For a long time, it will inevitably genera

[2022-11-05 12:20] filiphr commented on #2522
Oops you are right @StefanLobbenmeier.

I think what I wanted to say is that if there is someone from the community that would be interested into looking into this and  try to provide a good integration, we would be happy to help out.

[2022-11-05 12:24] filiphr commented on #3058
Then I am going to close this one.

Of course, we are always happy to have the community contribute to MapStruct. Let us know if we can help you somehow.

[2022-11-05 12:24] #3058 closed

[2022-11-07 10:43] xg578962913 commented on #2954
hi, @Zegveld
MapStruct seems to have to specify the specific class type of the JavaBean. Will this enhancement change this feature
Or this enhancement is only for JavaBean member variables, so that member variables can use generics, but JavaBean class  still need to specific class, and generics cannot be used
Like this?Such conversion will become possible?
`class JavaBean01<A> {
    A object1;

[2022-11-09 06:19] ro0sterjam commented on #3071
Bump on this. I already have a fix in place if someone was willing to review it https://github.com/mapstruct/mapstruct/issues/3071

[2022-11-09 09:45] Bluexin commented on #2528
I stumbled across the same issue after seeing https://github.com/mapstruct/mapstruct/issues/1718#issuecomment-989656447.
I assume support for this would be similar to https://github.com/mapstruct/mapstruct/issues/3037.
Would you be open to a pull request regarding this ?

[2022-11-09 16:41] ileAuTresor opened #3077 "self qualifiedByName get error: Qualifier error. No method found annotated with @Named#value"
### Expected behavior

Given a class that contains an attribute of the same class:

[code]

In 1.5.2.Final, the method `toDto` generated inside AMapperImpl can use recurive in itself
[code]

### Actual behavior

In 1.5.3.Final, an error is generated in compiled time:
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.10.1:compile (default-compile) on project test: Comp

[2022-11-09 19:55] Zegveld commented on #3077
This should be fixed in the next release with #3057 that has already been merged.

[2022-11-10 05:57] pupudaye opened #3078 "generate unexpected code"
### Expected behavior

[code]
### Steps to reproduce the problem

//Source code
[code]

Error desc:

The generated conversion logic exists to call the function of the parent class "ServiceImpl". It shouldn't be.

### MapStruct Version

1.5.2.Final

[2022-11-10 06:45] aleks-programmer opened #3079 "Can you please make null check for source instance optional?"
### Use case

Now null check for source instance is not optional. So I generate the mapper and see the code like the following:

[code]

But I would like to control that behavior. Now I use Kotlin and we have non-null type but generator generates non-null check.
Could you please check?

### Generated Code

_No response_

### Possible workarounds

_No response_

### MapStruct Version

1.5.3.Final

[2022-11-11 15:09] daniel-shuy commented on #2528
@Bluexin I think you forgot to tag @filiphr ;)

[2022-11-11 16:31] FlorianCassayre commented on #2688
This seems to correspond to what our project is needing. Is there a planned date for the release of `1.6.0` (even a release candidate)?

[2022-11-12 08:26] filiphr commented on #3071
I understand what you are trying to achieve @ro0sterjam. It is always good to see SPIs for MapStruct thriving and needing more features. However, I do not agree with the proposal. Options exposed to annotation processors which are not reported by any processor will produce a warning, in addition to that I believe that the names of the custom SPI should provide options that are prefixed with its ow

[2022-11-12 08:36] filiphr commented on #3072
MapStruct has the concept of adders and that is why it doesn't complain for `addChild` it treats it as an adder.

Whereas for `removeChild` it treats it as a property because it is a method which takes one parameter and returns the object being mapped. This was done for support for fluent properties in beans.

Unfortunately there isn't much that MapStruct can do about such methods. We can look int

[2022-11-12 08:41] filiphr commented on #3073
Have you tried the [mapstruct-spi-protobuf](https://github.com/entur/mapstruct-spi-protobuf) community led extension for MapStruct? I am not sure what it does for maps. However, it is possible to treat `putAllTestStrMap` as a setter for the `testStrMap` property.

It is a good idea to improve the Protobuf support in MapStruct, but I would suggest doing it through the current community lead extensi

[2022-11-12 08:51] filiphr commented on #2954
@xg578962913 a generic conversion such as `<S, T> T mapper(S s, Class<T> t)` is not possible in MapStruct and we are not planning to implement something like that.

If you are interested in something like that then you could implement it in your own way by implementing a custom processor that is going to create an implementation that works for something like this.

[2022-11-12 08:54] trks1970 commented on #3072
For every bidirectional OneToMany relationship there should be an addXXX and removeXXX method as best-practice IMHO.
So, this should happen quite often.

[2022-11-12 09:05] filiphr commented on #3077
Indeed this will be fixed in the next release. I've anyways added a test case in PR #3080 since this is slightly different that #3057

[2022-11-12 09:11] filiphr commented on #3078
This works as intended. Have a look at the [Invoking other mappers](https://mapstruct.org/documentation/stable/reference/html/#invoking-other-mappers) section of our documentation.

When MapStruct sees a user defined method for mapping between two types then those methods will have a precedence over the implicit mappings done by MapStruct.

In your case you most likely have a custom `boolean remov

[2022-11-12 09:11] #3078 closed

[2022-11-12 09:13] filiphr commented on #3079
The functionality requested in this issue should be resolved by #1243 with explicit support for the `NotNull` and `Nullable` annotations. I believe that Kotlin code is correctly annotated with those annotations and MapStruct can use that to ignore not needed checks. Therefore, I am closing this one in favour of #1243

[2022-11-12 09:13] #3079 closed

[2022-11-12 09:50] filiphr commented on #2528
I am receiving emails for every issue in MapStruct 😉. Just need to find the time for everything 😄.

I don't see a reason not to support meta annotations for `BeanMapping`. The only question there would be what should we do if there are 2? e.g. one through a meta annotation and another direct one. Perhaps have an error an not allow such a scenario.

@Bluexin if you are interested in working on some

[2022-11-12 09:51] filiphr commented on #2688
@FlorianCassayre we have some other issues that we would like to tackle before we release a first beta release for 1.6. I hope that I can speed this up

[2022-11-12 09:53] FlorianCassayre commented on #2688
Thanks for the reply, I understand; we will follow that closely and will be looking forward to that beta release.

[2022-11-12 09:54] filiphr commented on #3072
I am not a big JPA user so I can't say much about best-practices there. As far as I remember this is one of the first issues that has asked about removeXXX methods being treated as properties.

Yes if the method returns `void` then it won't be treated as a property.

[2022-11-12 09:56] trks1970 commented on #3072
I do not know the use case, but done, if "void" fixes it, that is good
enough.

Filip Hrisafov ***@***.***> schrieb am Sa., 12. Nov. 2022,
10:54:

[2022-11-12 12:07] kimchanjung commented on #2754
i have the same problem too

[2022-11-12 13:24] daniel-shuy commented on #2528
Ideally I guess the properties should be merged and the non-meta one should override the properties of the meta one, but I guess that would be extremely complicated to implement. Personally I'm happy for any form of meta-annotation support.

[2022-11-13 11:17] xg578962913 commented on #2954
@filiphr Thanks, I got it

[2022-11-13 11:42] trks1970 commented on #3072
Closing as I think it is better not to have "exceptions".

[2022-11-13 13:21] #3077 closed

[2022-11-13 13:22] #2953 closed

[2022-11-13 16:35] loalexzzzz commented on #2281
This library is great, but with the null constructor problem when will the fix be applied?

[2022-11-14 15:24] domi-87 opened #3081 "NullValuePropertyMappingStrategy.IGNORE is ignored on final Lists"
### Expected behavior

I would expect that if "nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE" is set, the target.list.clear() is called only if source.list is not NULL.
I would expect the same behavior for conditionalExpression. Again, clear() is called first and only then the conditionalExpression.

[code]

### Actual behavior

If the target property is a final list,

[2022-11-15 15:30] jarlesat commented on #3072
Recent versions of OpenApi-generator does also generate fluent removers alongside fluent adders. Meaning that it is often necessary to e.g. either not having unmappedTargetPolicy set to ERROR, or have a number of @Mapping(target='removeBlah', ignore=true). I will be more than happy to submit a PR if any interest in reopening this issue.

[2022-11-16 18:04] ro0sterjam commented on #3071
I see what you mean. I'll take a crack at your suggestion.

[2022-11-17 17:01] jamfor352 opened #3083 "Allow usage of custom @Generated annotation"
### Use case

Currently, my team uses Jacoco reports to get code coverage. This works well, however we get coverage reports for Mapstruct-created mappers - while there may be a use case for this, we have explicit designs where some of the routes will never be invoked (for example, mapstruct doing null checks where our code can never trigger those).
This leads to us having to implement unit tests w

[2022-11-17 17:47] Zegveld commented on #3083
This request seems to be the same as #1528.

With the upcoming 1.6.0 release the `@AnnotateWith` annotation is introduced.
This allows you to add your own annotations at either class or method level to the generated code.
see #1574 for more information.

Closing this as a duplicate of #1528

[2022-11-17 17:47] #3083 closed

[2022-11-17 17:49] Zegveld commented on #1528
@filiphr, @sjaakd
Do you think that this one is now covered with the upcoming 1.6.0 where `@AnnotateWith` #1574 has been introduced?

[2022-11-17 18:04] jamfor352 commented on #3083
@Zegveld Does this allow you to _replace_ the current default `@Generated` tag as well?

[2022-11-17 18:27] Zegveld commented on #3083
It does not allow you to replace the default `@Generated` but it will allow you to add a secondary `@Generated` annotation.

For example:
[code]
could turn into:
[code]

[2022-11-17 18:32] jamfor352 commented on #3083
OK, cool - hopefully this is a solution which works with the  code Jacoco uses (I would presume so, the fully qualified package name being in front shouldn't cause any issues as per my understanding)

[2022-11-17 18:58] Frank-D opened #3085 "@Condition to support receiving both Dto (source value) and Entity (target value) objects as input params"
### Use case

Hi,

My use case is somewhat pretty simple, I'm receiving a DTO object (containing sub-dto objects) from the UI through a PUT rest api, and now need to update the existing/corresponding ENTITY object hierarchy from DB.

To optimize this process and avoid some ORM queries, I would like for mapstruct to prevent updating certain fields (from Dto to Entity) under certain 'conditions', bu

[2022-11-17 21:35] Zegveld commented on #3085
did you try the `@Conditional` with `@MappingTarget` combination?

[2022-11-17 21:47] Frank-D commented on #3085
good question @Zegveld, and yes, that is one of the first test I tried, but to be certain, I did test it one more time just now, and same result, mapstruct doesn't add any reference to such 'hasBeenUpdated(...)' default mapper method in the generated impl code.

[2022-11-17 21:58] Zegveld commented on #3085
as a work-around you could use:

[code]

this way most code is still IDE supported, except for the call to the condition method.

I agree it would be a nice enhancement to have the conditions work with `@MappingTarget` for update mappings.

[2022-11-17 22:36] Frank-D commented on #3085
thanks @Zegveld, your suggestion does improve a bit my alternative solution #3, by reducing the amount of java code inside that string expression.

[2022-11-18 11:30] Kamui123 commented on #1961
We have excatly the same problem as wgottschalk describe. Any news on this?

[2022-11-20 02:06] digithuman commented on #3073
Thank you very much for your reply .
[mapstruct-spi-protobuf](https://github.com/entur/mapstruct-spi-protobuf) has started to learn, and has made some improvements on this basis.
When appropriate, I will pull requests .

[2022-11-20 11:37] filiphr commented on #1528
You are right @Zegveld this one is now covered by the work we did for #1574. If someone wants to use a custom `@Generated` annotation they can do it by using `@AnnotateWith( com.example.Generated.class )`.

Therefore, I am going to close this one

[2022-11-20 11:37] #1528 closed

[2022-11-22 12:17] mkczyk opened #3087 "Passing parent by @Context to child in @Named method (through qualifiedByName)"
### Use case

I try to pass parent object to child in custom method (`@Named` + `qualifiedByName`), but it seems that `@Context` doesn't support that.

Example:

Classes:
[code]
Mapper:
[code]
Example usage:
[code]
Compilation warning:
[code]

### Generated Code

After adding `@Context` I see that generated code stops using mine method and generates its own.

Generated code (with my comments):
[co

[2022-11-22 14:57] Sam-Si opened #3088 "MapStruct Property has no write accessor in MetaData for target name"
### Expected behavior

The mapping should be done successfully.

### Actual behavior

The following error.
`MapStruct Property has no write accessor in MetaData for target name`

### Steps to reproduce the problem

I have a FlatDTO that needs to be mapped to a nested Response containing InfoData and MetaData
The code for the response is generated by OpenAPI. So the below definitions can't be chang

[2022-11-22 21:42] Bluexin commented on #2528
@filiphr I struggled a bit to get IDEA happy with the project, now I'm looking around to get to know the internals a bit.
I was also thinking about the way to handle duplicates and how this would be useful.

the most common use case I've seen in the issues and on SO is to enable composition for explicitly ignoring source properties, for which merging the arrays would be more useful. Not sure about

[2022-11-23 15:25] GVladi opened #3089 "Improve support for Map attributes for immutables"
### Expected behavior

The mapstruct should not produce a "Unmapped target properties" for "put" and "putAll" methods.

### Actual behavior

The mapstruct supports org.immutables objects already. In case an object has got a java.util.Map attributes like:
`public abstract Map<String, String> getAttributes();`

the immutables generates the following methods in the Builder class for this attribute:
`

[2022-11-23 17:20] bwgjoseph opened #3090 "Using SubclassMapping and Mapping throws no write accessor error"
### Expected behavior

It should work exactly the same way without using `@SubclassMapping` or return type is the `Subclass (i.e Car)`

### Actual behavior

I have the following setup

[code]

With the above, I have the following mapper which works

[code]

I wanted to define the return type as `Vehicle` instead, so I did this

[code]

But that would throw the error `The return type Vehicle is an

[2022-11-23 19:18] Zegveld commented on #3090
Subclassmappings are meant to be used when you have multiple sources/targets but you do not know which is which.
For example a collection of vehicles that need to be mapped to a collection of vehicleDto's.

In this case there is only one implementation that you want to use. The `resultType` property of the `BeanMapping` annotation is what you want in this case: `@BeanMapping( resultType = Car.clas

[2022-11-23 19:29] Zegveld commented on #3087
Not certain if it would be more intuitive, mapstruct will currently only try to use fields that are already marked with `@Context` to fill parameters that are annotated with `@Context`. Changing this might cause unexpected behaviour in some cases.

As a work-around you can currently use an expression.
[code]

[2022-11-24 02:08] random-goodguy commented on #2348
Hey, @filiphr ,
I found a variation of the same issue,

https://bitbucket.org/rdllopes/mapstructnestederror/

If the target class contains a builder inner class, mapstruct will target that inner class instead of the outer class.

[2022-11-24 02:50] onacit opened #3091 "Add, if not exist yet, using other mapping method"
### Use case

Say, we have following base mapper interface.

[code]

### Generated Code

[code]

### Possible workarounds

I can't help but ..., am I missing something?

### MapStruct Version

_No response_

[2022-11-24 02:59] onacit commented on #3091
Let me update with actual implementation file.

[code]

[2022-11-24 09:19] bwgjoseph commented on #3090
So, I just did a quick test with various scenario.

## Java Class DTO with `@BeanMapping`

[code]

And running the following test, it works but not entirely

[code]

Everything seem well except that I noticed `isCar` is false, where it was `true` when I build the object before the mapper is called. Did I do something wrong here?

---

## Java Record with `@BeanMapping`

[code]

![image](https://us

[2022-11-24 12:38] aviaur commented on #1343
Hi guys! Any updates?

[2022-11-25 09:47] Sam-Si commented on #3088
[mapstruct-kotlin.zip](https://github.com/mapstruct/mapstruct/files/10090484/mapstruct-kotlin.zip)
Attaching the project for faster debugging.

[2022-11-26 07:41] filiphr commented on #3088
@Sam-Si thanks a lot for your example. Can you please have a look at #2281, I think that your problem is identical to the one there.

[2022-11-26 07:42] filiphr commented on #3031
@Syuziko  thanks for your examples. I believe that you are affected by #2281.

[2022-11-26 07:45] filiphr commented on #1343
@ninjachen and @AndyChenIT you can always use `@Mapper(collectionMappingStrategy = CollectionMappingStrategy.TARGET_IMMUTABLE)` and then the `getXXXX()` will not be used, neither do the `addAllxxx` will be used as well.

Since there is a MapStruct extension for Protobuf supported by out community in https://github.com/entur/mapstruct-spi-protobuf I would suggest trying to add such a support out-of

[2022-11-26 07:53] filiphr commented on #3090
I see that you are using `@SuperBuilder`. I believe that this is sometimes causing problems. I would suggest trying without that.

For the problem of `isCar`. I would suggest to see how the getter and setter look like in the objects. MapStruct is not looking at the fields. Which means that if the getter is called `isCar`, but int he builder it is `isCar` then the property in the getter is `car` an

[2022-11-26 08:01] filiphr commented on #3091
I guess the reason why you are doing this is because you want to define the `@Mapping` only once.  We actually have a solution for this and that is `@InheritConfiguration`, which is telling MapStruct to inherit the definition from another configuration.

[code]

This should generate a code that will functionally be what you need I believe.

Note: I've removed `@Mapping` since it was not needed, th

[2022-11-26 08:05] filiphr commented on #2348
Thanks @random-goodguy, we'll have a look at your project in more details. What you are explaining is right though. Have a look at our [Using builders](https://mapstruct.org/documentation/stable/reference/html/#mapping-with-builders) documentation, when MapStruct finds builders in your class then it will use the builder to create the object and not the target class. You need to disable builders if

[2022-11-26 08:08] filiphr commented on #3087
Closing this since this works as expected.

An alternative workaround to what @Zegveld explained is:

[code]

[2022-11-26 08:08] #3087 closed

[2022-11-26 08:10] filiphr commented on #3089
This is a valid request @GVladi. We can look into enhancing the `ImmutablesAccessorNamingStrategy` to improve the support for this methods.

Since the MapStruct team is busy with other issues, I have marked this with up-for-grabs, please reach out to us if someone from the community is interested in working on this issue.

[2022-11-26 08:12] filiphr commented on #2946
As I've said in https://github.com/mapstruct/mapstruct/issues/2946#issuecomment-1201504305, this is a good enhancement. We are busy with some other issues. Are you @jonsalvas perhaps interested in adding this functionality?

[2022-11-26 08:16] filiphr commented on #2528
Within the team we have discussed for alternative configurations mechanisms where we would be able to use the same annotation for similar things. e.g. `@CollectionMappingStrategy` that can be applied on various places, or `@IgnoreUnmappedSourceProperties`. Some discussions about this are in #1735. We have not yet reached a conclusion for this though.

[2022-11-26 08:43] filiphr commented on #3085
The reason why the example from @Zegveld didn't work is because it contained the wrong mapping target. What you can do is:

[code]

The other example might work if #2610 is done and if there was a `void updateChild(ChildDto childDto, @MappingTarget ChildEntity childEntity)`

[2022-11-26 08:46] filiphr commented on #1899
@shaike41 the issue was closed because there exists a community lead [MapStruct Protobuf Extension](https://github.com/entur/mapstruct-spi-protobuf) and we believe that it s better to implement such a functionality in that extension

[2022-11-26 08:47] bwgjoseph commented on #3090
I don't think I can use without `@SuperBuilder` since the nature of the class is inherited, and I need the `Builder` to work across the inherited class. I'm not sure what other alternative there is, any suggestion?

---

For the `isCar` problem, it seems that `MapStruct` is not generating the setter for it

![image](https://user-images.githubusercontent.com/37484538/204080176-3d38e8aa-8be8-41bb-a8

[2022-11-28 07:11] Sam-Si commented on #3088
Hi, @filiphr I went through the entire discussion multiple times and couldn't figure out the link between the two.
What changes do I need to do in the code above for it to work? That would be really helpful.
Thanks

[2022-11-28 07:46] borisboudron opened #3092 "Possible bug with SubClassMapping and generics"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the problem

For the MVCE, here is the interface used :
[code]
The 4 implementations :
[code]
[code]
[code]
[code]
And finally, the Mapper class :
[code]

The generated code not only doesn't use my custom method for ClassicImplemention submapping, but creates an infinite call loop.

Can you please check this issue i

[2022-11-28 17:18] Zegveld commented on #3092
This has been fixed in 1.5.3.Final with #2825

[2022-11-28 17:18] #3092 closed

[2022-11-29 08:49] Philb37 opened #3093 "java: Can't generate mapping method from iterable type to non-iterable type, with @MappingTarget and a List."
Hi,

I'm having an issue with this sample of code. I can't tell if it's me doing something wrong, a feature missing or a bug. I'm using MapStruct version 1.4.1.Final, but I've tried with the 1.5.3.Final and it doesn't seem to work either.

    public class A {

        String nameA;

        List<C> namesC;
    }

    public class B {

        String nameB;

        List<D> namesD;
    }

    publ

[2022-11-29 15:07] Left opened #3094 "Can't generate mapping where target record takes at least one Map parameter"
### Expected behavior

I can create a mapper that has java record with at least one Map field as a target

### Actual behavior

Build error

### Steps to reproduce the problem

Here is a minimum reproducible scenario:

TestRecord.java:
[code]

TestStruct.java:
[code]

TestMapper.java:
[code]

As a result, I'm getting build error: Unmapped target property: "ams".

NOTE that ams is a 3-symbols-trimm

[2022-11-30 08:10] #3091 closed

[2022-11-30 08:21] onacit opened #3095 "Polymorphic @MappingTarget?"
### Use case

This is a little-bit follow-up issue derived from https://github.com/mapstruct/mapstruct/issues/3091.

From the following interface,

[code]

I got,

[code]

Now I wanted to add another `@AfterMapping` for the `ProductType map(Product source)` method which uses the builder.

[code]
Whose more concrete interface looks like this.

[code]

And now the annotation processor won't generate

[2022-11-30 20:21] random-goodguy commented on #2348
@filiphr Thank you. But I didn't expect that the inner builder would interfere on MapStruct behavior by default. Well, anyway your solution works. Thanks again.