[2016-02-16 20:23] #750 closed

[2016-02-16 21:10] sjaakd opened #757 "Add javadoc + doc to #750"
TODO!

[2016-02-17 15:16] nezuvian opened #759 "Generating test skeletons for mappers"
Hi!

We had a short discussion with @gunnarmorling at the gitter channel about the idea of generating some test skeletons for mappers. In theory, the objects to be mapped would be generated (instantiated and populated with some random/dummy data) to prepare it for testing, so writing the actual assertions  - to verify that the mapping works as it should - would still be required.
My question is wo

[2016-02-18 07:56] gunnarmorling commented on #749
Thanks for the proposal.

Tbh. I am not convinced of the feature's usefulness. What is the advantage of "programming" this in annotations instead of writing an actual method? Granted, you save some characters, but you also loose things such as:

* Being able to refer to constants
* Direct type checking by the compiler; I think feedback when writing something like `int i = "String"` is better than

[2016-02-18 08:24] sjaakd commented on #749
Ok. Points taken.

So lets limit ourself to two things initially:
* enums. I think they have to move away from the current mapping as we discussed earlier.
* Strings. They do not need a type conversion (and its the case I use most).

Advantages:
* Reverse mappings come out of the box.
* The solutions objective is to add null mappings and default mappings to enum mappings. The complete on name-matc

[2016-02-19 18:23] DarkmanMuMoo commented on #537
+1
I really want this , at least provide some config that i can specified mapping method

or pick it base on  method modifier

thx

[2016-02-19 18:29] gunnarmorling commented on #537
Yes, we should eliminate the duplicates in this case. Maybe you'd be
willing to help out? Should be an easy fix.

You should be able to work around this issue easily by just removing the
referenced mapper from @Mapper#uses().

[2016-02-20 10:47] gunnarmorling commented on #757
I'm going to close this one without assigning it as a milestone. To keep the backlog of releases lean, I'd rather link all work to the original issue (i.e. I would have left open #750 open with a comment maybe). You did so anyways in your commit in the doc PR, so no need for this issue really :)

[2016-02-20 10:47] #757 closed

[2016-02-20 11:02] gunnarmorling commented on #749
Hi @sjaakd, some remarks:

+1. We should have a dedicated `@EnumMapping(s)` so let's do that and deprecate the enum mapping support via `@Mapping`.

Regarding Strings I'm having some doubts still.

That's cool for enums. For Strings, you also could use a Guava [BiMap](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/BiMap.html) in your custom implementation if it's

[2016-02-20 13:17] sjaakd opened #761 "javadoc, use fully qualified names for conflicting annotations"
We have our own `@Qualifier` / `@Named` / `@Decorator`. However we do mix with JSR303, Spring, etc. This is confusing in the java doc examples. We should use fully qualified names to avoid such confusion.

[2016-02-21 09:17] gunnarmorling commented on #749
+1 for naming it `@ValueMapping` in order to leave the door open for later generalizations. For now, only enum mappings would be supported.

One thing I was contemplating was to to provide support for more strongly typed enum mappings where one would use the actual enum constants in a custom annotation.

Say I have this:

    enum Source { FOO, BAR; }
    enum Target { BAZ, QUX; }

Then there coul

[2016-02-21 09:39] sjaakd commented on #749
Its a pity that Annotations don't allow some kind of Generic mechanism.

Anyway.. I'm not so sure mainly because of the complexity we introduce.
1. We detach the actually mapping definition from the spot were we have the mapping method.
2. Defining annotations is not the regular job of a programmer. It takes a learning curve.
3. If we are going to generate it, its not available initially (or after

[2016-02-21 09:58] gunnarmorling commented on #749
Yes, it adds quite some complexity. Nothing we should do right now for
sure, I just liked the idea in a way :)

[2016-02-21 18:59] #761 closed

[2016-02-25 13:55] gbrehmer opened #765 "Decorator class generator can not handle void/update methods"
In the decorator not overridden void methods are producing compile errors in the generated decorator part. Default wrapper code generated return statement:

`public void updateMethod(Dto dto, Entity entity) {
  return delegate.updateMethod(dto, entity);
}`

Workaround is to override those methods in the decorator and to simply call the delegate.

[2016-02-25 14:24] jandm opened #766 "Combining collection-adder, factory and mapper to update a parent-child entity"
Hi,

I have been using mapstruct for my latest spring/hibernate backend and am very pleased with it so far.
However, i am struggling to find a way to update a typical parent entity together with its children without having to write custom code.

Assuming i have  2 pojos (Parent, Child) with cascading enabled and 2 dtos (ParentDto, ChildDto), typical code to update such a relationship might look li

[2016-02-25 18:49] sjaakd commented on #766
hi @jandm  what about using the `@MappingTarget`? You can pass an existing entity to a method, and clearing it prior to calling the method.

[2016-02-25 18:50] sjaakd commented on #765
Ai.. This is an issue.

[2016-02-25 19:27] sjaakd commented on #183
@gunnarmorling .. we could generate for each method we implement on the decorated, a method in the decorated class in which we pass the decorator. Iso calling the class itself, we call the decorator. The methods could be package-scoped.

[2016-02-25 19:43] gunnarmorling commented on #183
Hey @sjaakd, could you paste an example of how you imagine the generated code to look like?

[2016-02-25 19:49] gunnarmorling commented on #183
One idea I have been contemplating lately is that we'd have to make sure that there only is a single class being generated. This would make sure that all references between decorated methods would be resolved properly. That'd require though that the *actual* methods (i.e. the undecorated ones) are renamed to avoid the conflict with the decorating method. Also we'd have to adapt references from the

[2016-02-26 08:28] jandm commented on #766
Hi @sjaakd,

that would work fine for clearing the parent's children, although i would prefer it to be part of the collection adder strategy (or maybe just a separate strategy altogether).

My main problem is the first one i mentioned, but maybe i could have been more clear about that. I would like to combine the entity resolution (using @TargetType as in the docs) with the normal mapping based on

[2016-02-28 10:30] sjaakd commented on #766
We distinguish between 'create' and 'update' mappings (using `@MappingTarget`).

I would assume that a 'create method' would clear the target collection prior to adding new elements  (in case of adder or a getter as target accessor).  The 'update method' would leave the target collection in-tact

Historically the 'update method' in MapStruct came after the 'create' (with the strategies: setter, ge

[2016-02-28 10:54] afdia opened #767 "Qualifier is sometimes not recognized"
While working with qualifiers, I found a pretty bad bug, because it seems to choose the wrong mapping method when working with qualifiers.

I built a sample class with static inner classes to keep it concise, but the error also happens if the annotations and classes are in separate files (also String and Runnable are just some random classes to make the mapper require an explicit mapping method)
E

[2016-02-28 11:03] sjaakd commented on #183
What I meant is giving the user the choice. Its perhaps a bit more verbose, but we could allow something like this:

[code]
The mapping configuration would automatically be inherited. The generated code would perform callbacks on the decorator iso the mapper itself itself.

[code]

The user would have the choice now of calling the 'normal' method in the decorator or the method with callback.

I'm

[2016-02-28 11:28] sjaakd commented on #767
@afdia Thanks for your feedback. The qualifier mechanism is conflict resolving mechanism. That is, if there's a conflict between potential candidates, the mechanism selects the most qualifying method. You can even add more qualifiers (the annotation allows for an array). See example 25 in the documentation, `@TitleTranslator`, `@EnglishToGerman` are both used to resolve the conflict.

In your case

[2016-02-28 12:36] afdia commented on #767
Thanks for the quick response.

You are right, there is no conflict, but it's still somehow inconsistent, because in the first example I request a non-qualified conversion and it prints an error that there is none, which makes it look as if the qualifiers are strictly applied and not only for conflict resolution.

In general I think it would be better to treat mapping methods for qualified and unq

[2016-02-28 12:54] afdia commented on #707
As I stumbled over the same issue with the retention policy, I would suggest to change the qualifier examples (TitleTranslator, EnglishToGerman, GermanToEnglish) in the documentation [1] from RetentionPolicy.SOURCE to RetentionPolicy.CLASS.

Perhaps you could also mention that if a qualifier annotation is located in a different file, it must have at least RetentionPolicy.CLASS to make it work. Per

[2016-02-28 13:16] sjaakd commented on #767
You are right our naming is inspired by JSR330 and hence would imply similar behavior by users familiar with JSR330.

However, qualifiers are not the only mechanism used in selection. There are a few (source type, target type,  result-type, qualifier, jaxb naming) , each of them applied subsequently. I'm not to familiar with JSR330, but I'm not sure whether these kind of aspects also apply to JSR3

[2016-02-28 16:15] afdia commented on #767
Sounds good.
I've updated the issue title and posted a short intro to make clear that my description as a bug was probably not correct.

[2016-02-29 08:19] jandm commented on #766
In my case i want to update some of the children, delete some of them and add some new ones. As i show in the example code, one way to do this is to clear the collection initially and then reconstruct it by adding both the existing children (from session) and the new ones (from constructor).
So basically 'create' semantics should be ok, as long as this can be combined with the object factory stuff

[2016-03-02 10:51] thomas-kummer opened #768 "Missing import statement in generated mapper class"
The generate mapper class misses an import statement if the source object contains a member of the type `Collection<?` extends `TYPE]>`. The effect is reproducible with the following code:

**Source Type:**
[code]

**Target Type:**

[code]

**Mapper**:

[code]

The generate Mapper class contains the following code:
[code]
The problem is that the method `authorityCollectionToAuthorityEntityCollecti

[2016-03-02 10:57] gunnarmorling commented on #768
Thanks for the report. Maybe you could send a patch with the fix?

[2016-03-02 14:11] OlegDokuka commented on #735
So, there is no way to do the same thing in Gradle like we did with Maven?

[2016-03-02 14:30] gunnarmorling commented on #735
@OlegDokuka, you could work with a multi-module set-up in Gradle, too. The key just is that it doesn't work if MapStruct and Lombok are invoked in the course of one compilation. If it's different modules, it'll work, no matter what the build tool is. The reason being that MapStruct then can see the accessors generated by Lombok.

[2016-03-03 09:53] OlegDokuka commented on #735
Hmmm... sounds good)) thanks)

[2016-03-03 17:22] wouterhund opened #769 "MapStruct errors out when trying to process classes that reference generated code"
I'm generating code based on a wsdl file, and with jOOQ. I'd also like to use MapStruct. This works fine when I'm running generate-sources on my project after it has already compiled the other generated code, but when running `mvn clean generate-sources` MapStruct appears to be scanning all of my Java files and errors out because a few files are referencing, at this point, non-existent classes. Th

[2016-03-03 20:24] gunnarmorling commented on #769
Hum, MapStruct is only interested in types annotated with `@Mapper`, so it's not quite clear to me why it has trouble with these other types. Do you think you could provide a minimum Maven project exposing this bug? I'll then take a look.

[2016-03-03 20:47] wouterhund commented on #769
@gunnarmorling I wouldn't be surprised if this was the same issue as https://groups.google.com/forum/#!topic/mapstruct-users/minP3fHfrU8

I'll get started on a minimum project demonstrating the bug.

[2016-03-03 20:55] gunnarmorling commented on #769
Yes, this sounds very related.

Thanks for creating a mininum reproducer! I hope we can distill an FAQ of
sort from this.

[2016-03-03 21:22] wouterhund commented on #769
@gunnarmorling I've managed to replicate the issue in a minimal project: https://github.com/wouterhund/mapstruck-error-demo

I'm using build-helper-maven-plugin to add an extra sources directory, which does not seem to be picked up by maven-processor-plugin or mapstruct. I'm using build-helper-maven-plugin in my real project, which causes the same problem, but the same issue happens when just usin

[2016-03-03 21:25] gunnarmorling commented on #769
Ok, cool, thanks a lot. I'll take a look tomorrow.

[2016-03-03 22:39] wouterhund commented on #769
I happened upon the addCompileSourceRoots configuration option of the maven-processor-plugin which seems to fix this issue, as long as MapStruct is ordered last in the plugins directive. However I wasn't able to find this option in the documentation of maven-processor-plugin.

[2016-03-04 13:38] gbrehmer opened #770 "Qualified String Mapper sometimes used for general String mapping"
I did not have a testcase to reproduce this error yet.

Sometimes a String-To-String mapping method with special Qualifier will be selected for all String-to-String mapping cases, where Qualifier is not set.

A clean project eclipse build fixes the problems. In addition these problems never occur during command line build process (or builds on jenkins).

My Environment: MacOS, Java 1.8.0_31, JHips

[2016-03-04 14:51] agudian commented on #770
Does your qualifier annotation have retention=CLASS defined? If not, it would explain what you observe.

[2016-03-06 17:52] gunnarmorling commented on #768
Sent PR #771.

[2016-03-07 11:08] gbrehmer commented on #770
I'm using retention=Source like in the official documentation.

[code]

[2016-03-07 11:10] gunnarmorling commented on #770
Ok, could you use CLASS then and let us know whether this resolves the
issue for you?

Depending on the state of (partial) compilations in Eclipse, SOURCE-level
annotations cannot be read. We should update the docs to recommend CLASS by
default.

[2016-03-07 18:14] gunnarmorling commented on #768
Done.

[2016-03-07 18:14] #768 closed

[2016-03-07 18:17] gunnarmorling commented on #770
Going to close this, as Andreas has fixed the examples/docs to use retention `CLASS`. Feel free to re-open if the issue remains also if you are using `CLASS`, too.

[2016-03-07 18:17] #770 closed

[2016-03-07 18:27] gunnarmorling commented on #722
Hey @tmonney, @antslava, could you test the latest MapStruct master and see whether the issue remains? Just clone the repo, run `mvn clean install` and use "1.0.1-SNAPSHOT" as dependency version in your project.

We fixed some related bugs and this should be no issue anymore (compiling the types given in this issue succeeds for me). Thanks!

[2016-03-07 18:31] gunnarmorling commented on #655
Hey @agudian, do you think you could give this one another look?

[2016-03-07 19:16] wouterhund commented on #769
Enabling addCompileSourceRoots seems to expose a compiler bug when running incremental compilations (in JDK8U66 at least, with `mvn clean compile; mvn compile`) so this is not advised. A stacktrace of the bug:

[code]

[2016-03-07 19:29] agudian commented on #769
What you're seeing is not a bug in the JDK, but one in the maven-compiler-plugin. Update that one to 3.5.1 and you should be good.
Btw, that version of the maven-compiler-plugin also allows you to configure the annotation processor dependencies explicitly using the option [annotationProcessorPaths](https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#annotationProcessorPaths).

[2016-03-07 20:13] kevinmic opened #773 "Allow @Mapping(source=) to be the source of the current method."
Given objects that look like this

[code]

I would like to be able to easily map back and forth between them.  I can easily map from the nested object to the flattened by doing this

[code]

Doing the reverse mapping is much more painful, one way would be to do this using an abstract class and manually wiring everything ...

[code]

Or another way using expressions

[code]

This way is cleaner tha

[2016-03-07 21:18] r04r commented on #769
Using maven-compiler-plugin 3.5.1 with maven-processor-plugin 3.1.0 using addCompileSourceRoots I'm still getting the same exception, which occurs during the `maven-processor-plugin:3.1.0:process (process)` phase.

Still using maven-compiler-plugin 3.5.1 I switched to using annotationProcessorPaths which seems to work smoothly, dropping the need for maven-processor-plugin. This does mean the gener

[2016-03-07 21:39] wouterhund commented on #769
That last bit helped a lot, thanks.

But when I switched to using the maven-compiler-plugin 3.5.1 with maven-processor-plugin 3.1.0 using addCompileSourceRoots

I still got the same exception, which occurs during the `maven-processor-plugin:3.1.0:process

(process)` phase.

But still using maven-compiler-plugin 3.5.1 I switched to using annotationProcessorPaths which seems

to work smoothly, dropp

[2016-03-07 22:10] gunnarmorling commented on #769
Is this reproduce-able in the demo project you linked above? I don't get it there, also when adding "addCompileSourceRoots". Does it only happen if you don't do a "clean" by any chance?

[2016-03-07 22:12] gunnarmorling commented on #769
Ah yes, seeing it now, when running "mvn install" after "mvn clean install".

[2016-03-07 22:12] wouterhund commented on #769
Yes, it only happens when doing an incremental compilation. So `mvn clean compile; mvn compile` triggers it for me consistently.

[2016-03-07 22:29] gunnarmorling commented on #769
@agudian, I'm getting this error from the _maven-processor-plugin_, not the compiler plug-in. I think it's caused by the fact that MapStruct tries to create mapper implementations a second time.

After some googling it appears to be a common issue with annotation processors and incremental compilation. It's not quite clear to me how to avoid it at this point (apart from running "mvn clean compile"

[2016-03-07 22:40] gunnarmorling commented on #769
So one - admittedly hacky - approach is to delete the directory with generated sources yourself, e.g. using the _maven-antrun-plugin_:

    <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-antrun-plugin</artifactId>
        <version>1.8</version>
        <executions>
            <execution>
                <phase>generate-sources</phase>
                <goals

[2016-03-07 23:12] r04r commented on #769
Just wondering, is there a reason to prefer using maven-processor-plugin over a recent maven-compiler-plugin with annotationProcessorPaths? I managed to provide additional arguments with `<compilerArguments><Amapstruct.defaultComponentModel>spring</Amapstruct.defaultComponentModel></compilerArguments>`

[2016-03-07 23:17] wouterhund commented on #769
Is there a reason to prefer maven-processor-plugin over annotationProcessorPaths with a recent maven-compiler-plugin? As a note, seems you can also pass arguments to mapstruct with for example

[code]

[2016-03-07 23:33] agudian commented on #769
That incremental issue with annotation processors was fixed in maven-compiler-p 3.5.1, but it can't do anything about the same kind of issue in the processor plugin.
Personally, I'd always prefer using the compiler-plugin only. It's a much simpler configuration, the classpath of the used processors is cleaner and the compiler itself doesn't have to be called twice.

[2016-03-08 07:45] gunnarmorling commented on #769
Yes, the main reason for me preferring the maven-processor-plugin in the past was isolation of the processor path. As you say, that's doable with the compiler plug-in itself now.

Another smaller advantage is being able to generate mappers (only) via _mvn generate-sources_ instead of doing a full compile, but that's not so critical. Plus, one can achieve the same with the processor plug-in by addi

[2016-03-08 08:21] wouterhund commented on #769
@gunnarmorling I happen to know that it does. I'm using Eclipse and with Window->Preferences->Maven->Annotation Processors enabled everything works extremely smoothly.

[2016-03-08 08:43] gbrehmer commented on #770
Yes, thanks, changing retention to `CLASS` works as expected

[2016-03-08 08:51] gunnarmorling commented on #770
Cool, glad to hear and thanks for reporting back!

[2016-03-08 09:17] agudian commented on #769
Right, it came with the latest update to m2e-apt. Btw, if you add the following to the `<properties>` section, the plugin will automatically enable the processor stuff, also in freshly setup workspaces:
[code]

[2016-03-08 09:48] wouterhund commented on #769
Oh, that is awesome. Thanks again.
On Mar 8, 2016 10:17 AM, "Andreas Gudian" <notifications@github.com> wrote:

[2016-03-08 12:27] ugrave opened #774 "Add support for java.util.Optional's (and com.google.common.base.Optional) in return values on mapping methods."
For example the a mapper definition like the following code:
`Optional<DataDto> map(Data source);`

Mapstruct should generate a mapper like this:
[code]

[2016-03-08 14:15] gunnarmorling commented on #774
Good idea; Propably it'd make sense to support it in inline conversions, too.

[2016-03-08 15:50] ugrave opened #775 "Mapping method matching not working for lower-bounded target type"
Example Objects to Map:

[code]

[code]
The TargetObject is generated automatically by the [immutables](http://immutables.github.io/) framework.

The mapper looks like:

[code]

On mapper generation mapstructs generates an error on map method:
`Can't map property "java.util.List<java.lang.String> numbers" to "java.lang.Iterable<? extends java.lang.Integer> numbers". Consider to declare/implement a

[2016-03-08 16:36] agudian commented on #774
Not only a good idea, it's an *awesome* idea... I bet some smartass has written that down already... #674... :grin:
Still, thanks Ulrich! Better twice than not at all. Would you be interested in helping with the implementation?

(closing this as duplicate)

[2016-03-08 16:36] #774 closed

[2016-03-09 10:59] tmonney commented on #722
Hi @gunnarmorling,

I just checked with latest snapshot and indeed it seems to work OK, both in my reproducer test case and in our "real" code.

Do you have any idea when we can expect a release with this fix?

Thanks a bunch!

[2016-03-09 11:01] gunnarmorling commented on #722
Nice, thanks for reporting back! Going to close this then.

We've planned to do the 1.1 Beta1 release next week or latest the week after that.

[2016-03-09 11:01] #722 closed

[2016-03-09 11:54] tmonney commented on #722
OK, great!

[2016-03-09 15:30] antslava commented on #722
Hi @gunnarmorling , it's work. Thanks for your help.

[2016-03-10 10:20] ugrave opened #777 "Set initial capacity for new collection element in collection mapping"
In collection mappings the new created target collection shout be initialize with a capacity of the source collection. For collections with many elements a lot of re-sizing is done.

Example
Mapper:
`List<DataDto> map(List<Data> source);`
Generated Mapper:

[code]

Maybe its also a good point to have an optionn to make the result list larger then the source list(see growCapacity attribute)
This co

[2016-03-12 13:43] alireza-hanifi opened #778 "problem on map lazy fields"
i don't want to fetch the lazy fields on mapping process.
i have added a field to Mapping Annotation titled as "hiberanteLazy".
when it is true, the framework checks whether  the field is loaded or not. if it is not loaded, the mapper won't fetch it.

if you approve this issue, i could commit the changes.
thank you. 😉

[2016-03-12 15:56] 5im5im commented on #510
Will there be a out of the box support for lombok in the near future?

[2016-03-12 16:26] agudian commented on #510
As explained in the earlier comments, this is nothing that we can solve on our side due to the nature of how lombok operates. They have some ideas on how to not interfere with other annotation-processors, though - so you could follow up over there.

[2016-03-12 16:34] agudian commented on #778
To be honest, I don't think that it's going to make it as a generally available feature, as it sounds quite specific.

However, we're here to help :), so I'd like to know a bit more about what you try to achieve. Do you want to exclude properties that are annotated in a way that Hibernate will load them lazy? Or do you want to check during the mapping if a property value in an instance has been lo

[2016-03-12 16:50] agudian commented on #777
I'm not sure if that growCapacity thing is something we should add as an option, but properly initializing the with the expected size for certain implementations (`ArrayList`, `HashSet`, `HashMap`) would surely make sense.
For the growCapacity, I could imagine that we allow factory methods to have the source size being passed as argument, so users could implement what they need there.

You already

[2016-03-12 16:57] agudian commented on #773
I came accross the same problem in a real-life application as well and it would be cool if we'd allow that. I'm not so sure about how that might look, though. Your proposal is one way of doing it, but we should gather some more ideas.
One alternative could be that we just select the `toArtist` method implicitly and pass the source object, as it fits the required signature (given that `SongFlattene

[2016-03-13 16:21] yntelectual commented on #706
Hi, any plans on this? Custom templates would be very beneficial in many cases. For example if I want to add some custom logic for every instance of specific class, or customize collection mapping(Due to hibernate lazy loading proxies, etc.)

[2016-03-13 17:01] agudian commented on #706
Can you give a more specific example of what you try to do? Perhaps the BeforeMapping/AfterMapping methods could already help you?

[2016-03-13 18:09] yntelectual commented on #706
Thanks for your quick reply. When you have an entity loaded from DB, that has many lazily loaded relationships that are not loaded at the time of mapping, you either have to ignore them manually via `@Mapping` or load them - which goes against the point of lazy loading. Hibernate uses custom Collection types to enable this functionality - e.g. a wrapper on top of `Set` or `ArrayList` which interna

[2016-03-13 19:19] agudian commented on #706
Not necessarily, as it works on super types as well, e.g. to be invoked for all mapping methods that map from a `List<? extends AbstractEntity>` (if you have such a type or marker interface). But you are right, such a method would not be able to prevent loading the collection. On the other hand, I would find it odd that the mapper would create different results based on whether the entity has been

[2016-03-13 19:41] agudian opened #779 "Temprarily select only one compiler in a processor test"
As Sjaak pointed out again, it's handy to use only one compiler in a new processor test during the development/debugging of a new feature / bugfix.

[2016-03-13 19:52] yntelectual commented on #706
I appreciate your feedback. The HATEOAS approach with `@AfterMapping` is nice indeed. However, with the association mapping, I still think that the mapping should be able to assist in handling association expansion. I understand, that it could be handled by different DTO models but still. Consider a very RESTfull example, when you one main entity, say `Issue` that has many associations. When you a

[2016-03-13 20:17] agudian commented on #706
The solution with the different mapping methods would have been my next proposal as well... :+1:
Regarding the refactorings, you'd be safe from renaming / removed properties as MapStruct throws an error at you at compile time. But you'd still have to think about adding the `ignore` to the more basic mappings when you add a new lazy collection.

Regarding your example, I'd still prefer using `Basic

[2016-03-13 20:57] yntelectual commented on #706
Could you elaborate on the generator manipulation via custom jar(or point me to some resources)?
Request driven expansion should not be handled by Mapstruct - it should just handle mapping into single DTO class from source entity with various level of association loading.
I do see different options how to handle this problem and until I found any better approach I will surely be able to achieve my

[2016-03-14 07:20] alireza-hanifi commented on #778
yes, i want to skip calling the getter when the lazy field was not loaded.

[2016-03-14 14:55] upway opened #781 "Decorator not working with object references"
Hi,

I want to user spring decorator for reference object.
It is a bug or I have something wrong in my code but problem is that when using decorator for Dto generated code call base mapping method (InspectionResultMapper2.tireToTireDto2(tire) instead my decorated method (InspectionResultMapperDecorator2.tireToTireDto2).

Example dto and model with problem

[code]

[code]
Model:
[code]

[code]
Mapp

[2016-03-14 19:48] agudian commented on #706
The currently possible way of adding customizations is via the ServiceLoader mechanism. Implement `ModelElementProcessor<Mapper, Mapper>` with a priority after that of the implementation `MapperCreationProcessor` (it creates most of the internal model for a mapper) and before `MapperRenderingProcessor` (which writes the mapper to a .java file).
Your implementation needs to be registered in your ja

[2016-03-14 19:53] agudian commented on #781
Indeed, decorators are expected to be called only from outside the decorated mapper. So if you split up your mapper into two mappers (`TireMapper` and `InspectionMapper` with `@Mapper(uses=TireMapper.class, componentModel="spring"))`), it should work.

Perhaps we should make that clearer in the documentation?

[2016-03-14 20:10] agudian commented on #708
That is because the `@MapperConfig`-annotated class might not be within the same project as the (or any) using mapper. If that's the case, the error message will probably not show up anywhere (it would have to work in any compiler environment). Plus, some compilers are capable of reporting multiple markers for the same location and we wouldn't want to create the same error marker ten times when ru

[2016-03-14 21:26] michalcholewinski opened #782 "Mapping of immutable objects with Builders"
Would be very nice to have functionality to map immutable objects (without setters) which contains only Builder with methods consistent with the naming convention "withSth().withAnother()" or something like this.
Already discussed with Andreas Gudian.

[2016-03-14 22:14] #779 closed

[2016-03-15 07:07] gunnarmorling commented on #73
@afdia Thanks for your input! We already have "factory methods", but they don't they take arguments either. But we could enhance those, making them just like producer methods in CDI. Qualifiers could be used to resolve ambiguities.

In the end I'd like to see support for both: parameterized constructors and parameterized factory/producer methods.

[2016-03-15 07:08] gunnarmorling commented on #73
@hyungsul, agreed some means of simplified configuration would be great, so to select between e.g. the default constructor and a single parameterized one.

[2016-03-15 07:10] gunnarmorling commented on #782
@michalcholewinski, part of this already is there: You could configure MapStruct to rocognize your "with..." methods as setters. That way you could map between the source and a builder. But you'd have to invoke build() yourself, and it wouldn't work with nested objects. So so more advanced support for builder-like patterns would be great to have. Interested in helping out?

[2016-03-15 07:39] gunnarmorling commented on #777
+1 for specifying the right size (though it's not super-easy for sets/maps). Regarding a parameter for grow capacity, I side with @agudian: It seems a bit too specific.

Any help for using the correct size is very welcome!

[2016-03-15 20:34] sjaakd commented on #749
@gunnarmorling : I think I stay away from the `@ValueMapping` for the time being.. :smile:

Lets open up a new issue when we want to handle a specific `@ValueMapping` or.. are you convinced and shall I open up a follow up one for enum-string, string-enum and string-string ?

[2016-03-15 20:39] gunnarmorling commented on #749
Your call; I'm not overly keen on adding these as you know, so staying away
from them would be my preference :)

[2016-03-15 20:43] sjaakd commented on #749
So.. lets park this one for the time being.. I have some other stuff which is higher on my list as well for the time being.

[2016-03-15 20:43] #749 closed

[2016-03-15 20:53] sjaakd opened #784 "Retention CLASS for `@Named`"
If `@Named` is used in dependent projects, it should have retention policy `Class`. Similar as we have for our advice on `@Qualfier`.

Runtime is a bit too much.

[2016-03-15 21:03] agudian commented on #775
Fixed. Thanks for letting us know, Ulrich! :+1:

[2016-03-15 21:17] #775 closed

[2016-03-15 21:19] gunnarmorling commented on #769
Sent PR #786 for updating the docs.

[2016-03-15 21:40] #784 closed

[2016-03-16 07:48] gunnarmorling opened #787 "Update readme"
- [x] Should show using compiler-plugin
- [x] Update general description
- [x] Point to docs
- [x] Show short example

[2016-03-16 08:43] PierrickPuimeanChieze commented on #752
Given the lack of description in this issue, I only think my problem is the same.

Given a Source class, a Target class and SubSource class

my Source has a subSource property, my SubSource has a XmlGregorianCalendar property and myTtarget has a DateTime corresponding property

If I try to update my target from my source, I  want the target property to be set to null if the source property, or the

[2016-03-16 10:16] steirer00 commented on #717
If this feature is added I would suggest that the other way around should also be done. Meaning: Map -> Bean , Set -> Bean

`java.util.Map<String, String> myMap();` with entry {"last_name","some name"}

[code]
[code]
additionally would be very usefull to use for HttpServletRequest e.g. `Map<String, String[]> parameters = request.getParameterMap();`
or other combinations like `Map<String, List<Stri

[2016-03-16 19:03] agudian commented on #769
Doc update is merged. Thanks, Gunnar!

[2016-03-16 19:03] #769 closed

[2016-03-18 15:40] axelpcr opened #788 "Dynamically mapping DTO from Rest Webservice (@JsonFilter)"
Hi guys,

I Would like to know if is possible to mapping dynamically DTO.

Example :

My Webservice
[code]

My DTO

[code]

My Mapper
[code]

It's possible of any way to map just the properties I need from my Webservice (@JsonFilter) ?

I seeing Orika can be that :

But I prefer MapStruct and I would like stay on this technology.

Thx :)

[2016-03-21 10:58] deepu105 opened #789 "Mapping fails when objects are single letter named"
Consider the below objects

## A.java
[code]

## B.java

[code]

## ADTO.java

[code]

## BDTO.java

[code]

## AMapper.java
[code]

## BMapper.java
[code]

## Error

This throws below error during compile
[code]

[2016-03-22 11:01] upway commented on #778
This is something "need to have" for people that use MapStruct with hibernate.
Similar functionality is in "jackson" lib with Hibernate4Module.

Is there any workaround for current final version ?

[2016-03-23 10:57] MrJohule commented on #647
Hi, i'm using version 1.1.0.Beta1.
How can i configure my mapper to map my POJO with this behaviours :
- NullValueMappingStrategy.RETURN_DEFAULT for collections (iterable and map)
- NullValueMappingStrategy.RETURN_NULL for beans

thx !

[2016-03-23 13:16] almothafar opened #790 "Empty object if there is no @Mappings annotation"
I have issue with empty object if I just was have mapper but without any `@Mappings` annotation, as the following example:

[code]

Classes:

User:
[code]

UserDTO:
[code]

So simply the generated UserMapperImpl will be like this :
[code]

To get workaround this I just added one target and source:
[code]

And Got correct generated implementation.

[2016-03-23 13:28] almothafar opened #791 "Mapping only parent class properties if I target parent property in @Mapping annotation"
I have issue with mapping Class have parent and I used one of attributes of parent in `target` and `source`:

[code]

Classes:

BaseModel:
@MappedSuperclass
public abstract class BaseModel extends Model {

    @Id
    @Column
    @GeneratedValue(strategy = GenerationType.AUTO)
    public Integer id;

    @Column
    @CreatedTimestamp
    public Timestamp createdDate;

    @Column
    @UpdatedTimes

[2016-03-23 16:25] almothafar commented on #791
I think the issue was that I was not use setter and getter, play framework standards that to use without setter and getter and the framework itself generate them, otherwise will not touch the class and will not generate those.

I just added the setters and getters and this issue gone.

Not sure, keep this as an issue for simple classes without setters and getter or its not issue at all?

[2016-03-23 18:10] agudian commented on #790
As you have already found out in the other issue, the problem is that there are no getters/setters, at least at the time the compiler calls our annotation processor. The order might have been different for you or the altered bean class file might have been available after you added the `@Mapping` annotation, but that's more out of luck then... It wouldn't work every time.

We planning to support a

[2016-03-23 18:10] #790 closed

[2016-03-23 18:13] agudian commented on #791
The same explanation as in #790 applies here... :)

Closing it as duplicate as well. Thanks anyways!

[2016-03-23 18:13] #791 closed

[2016-03-23 19:55] agudian commented on #789
Well, I took a closer look why that happens. The thing is, that according to the Java Bean Specification the correct accessor methods for the property `aId` would have to be `getaId()` and `setaId(..)`, as the property name derived from the accessors `getAId()` / `setAId(..)` would be `AId`.

(from the bean specification 1.01, section 8.8):

normally convert the first character to lower case. Howe

[2016-03-23 23:49] deepu105 commented on #789
Oh shit the the funny bean spec. Agree we should stick to that even if its
funny. I guess we will make changes then. You can close this then
On 24 Mar 2016 03:55, "Andreas Gudian" <notifications@github.com> wrote:

[2016-03-24 06:26] sjaakd commented on #789
I encountered similar problems with code generation in XJC. It uses XML definitions, and some weeks ago I came across a similar issue together with a colleague of mine.

However, there is also an ongoing discussion at my work. I've encountered developers that always want to specify all mappings and others (including myself) that want to leave as much up to MapStruct. Belonging to the latter fracti

[2016-03-26 19:07] gunnarmorling commented on #789
We have an SPI which allows to customize the property naming conventions: http://mapstruct.org/news/2015/06/11/mapstruct-1_0_0_CR1-has-landed.html

I hope this should be helpful to address this issue?

[2016-03-26 19:15] gunnarmorling commented on #788
Hey @axelpcr, that's not something explicitly supported by MapStruct atm.

I don't know about `@JsonFilter`, is the decision whether to map a given property or not one you can make at compile time (i.e. the time when MapStruct generates code) or is it only possible to decide at runtime? I can see us adding an SPI for the former; The latter would be harder to achieve. Maybe you could use an `@After

[2016-03-27 03:10] deepu105 commented on #789
Thank you @gunnarmorling would be useful. For the issue in Jhipster we will try to adhere to the java bean spec

[2016-03-27 03:10] #789 closed

[2016-03-29 16:19] mkrishna4u opened #792 "Why nesting is not supported on target attribute mapping"
I was trying to use mapstruct in many of the software applications but always stuck with the limitation of target nesting. It is a very good framework, i think it can beat any other framework like dozer etc.. So we should support target attribute nesting as soon as possible.

The design that i am thinking is:

2. @InheritInverseConfiguration method should also be annotated with @BidirectionalNesti

[2016-03-29 21:58] sjaakd commented on #792
Hi @mkrishna4u, I've been working on and off on this issue. I'll continue soon on this one. There's an issue for this already: #389. So I'll mark this one as duplicate and close it.

[2016-03-29 21:58] #792 closed

[2016-03-30 06:11] gunnarmorling commented on #792
Hey @mkrishna4u, thanks for this report; As Sjaak is saying, there is an issue for it already, so let's continue the discussion over there. In one of the comments, I've described some challenges around target-side nesting, any input from you on these is highly appreciated. Thanks!

[2016-03-30 15:30] almothafar commented on #469
+1

[2016-03-30 18:00] heitmanm commented on #788
I think @axelpcr is searching for something like entity-filtering.

https://github.com/jersey/jersey/tree/master/examples/entity-filtering
https://github.com/FasterXML/jackson-databind/issues/1040

I also tried to implement it in my JHipster / SpringBoot application without any success at the moment so I had the idea to use mapstruct for this filtering.

@axelpcr do you already have an implementat

[2016-03-30 18:29] agudian commented on #788
Would be interesting to know what the generated code is supposed to look like. Perhaps that can bring the discussion a bit forward... Right now I still don't have an idea of how this feature would be used exactly... :-)

[2016-03-30 20:02] sjaakd commented on #389
Perhaps I should publish my current work in a PR (so just to get an early feedback). Although its far from finished. WYDT?

[2016-03-31 11:49] lehcim commented on #389
Yes please ! I'll take a look if you publish it.

[2016-03-31 12:42] axelpcr commented on #788
@heitmanm : Yeah, I use Jersey entity-filtering now and it's work good.
You say you have a problem with entity-filetring, try this tutorial :
http://www.codingpedia.org/ama/restful-web-services-example-in-java-with-jersey-spring-and-mybatis/

Generally the problems with entity-filtering are jersey andjackson dependencies. I upgrade my Java 1.6 to Java 1.7 and Jackson1 to Jackson2 and now it's work

[2016-04-02 05:46] alireza-hanifi commented on #778
@upway .yes. i implemented this feature in this repository with version 1.0 Final
https://github.com/alireza-hanifi/mapstruct

[2016-04-06 10:40] maposchmi commented on #782
This worked for us.
Our Mappers are abstract and extend BeanZuBeanMitBuilder

[BeanZuBeanMitBuilder.java.txt](https://github.com/mapstruct/mapstruct/files/206217/BeanZuBeanMitBuilder.java.txt)
[BuilderNamingStrategy.java.txt](https://github.com/mapstruct/mapstruct/files/206218/BuilderNamingStrategy.java.txt)

[2016-04-06 10:49] maposchmi opened #796 "EnumNaming"
We had to map a lot of Beans to Jaxb-Objects, both containing enums.
Jaxb converts an underscore to 3 underscores:
Enum.class:
FOO_BAR
JaxbEnum.class
FOO___BAR

We didnt want to map all that enum-constants manually.

[2016-04-06 10:50] maposchmi commented on #796
So we introduced an EnumNamingStrategy similar to AccessorNamingStrategy to EnumMappingMethod.
Its not perfect, but it works für us.

[mapstruct-1.0.1-modified.zip](https://github.com/mapstruct/mapstruct/files/206232/mapstruct-1.0.1-modified.zip)

[2016-04-06 10:59] maposchmi opened #797 "No info about unused "qualifiedBy""
Sample:
[code]

The generated Mapping uses "fittingMapping".
The "qualifiedBy" is silently ignored.
We would expect at least a warning, or even a compile error.

[2016-04-06 11:16] maposchmi commented on #797
Similar to https://github.com/mapstruct/mapstruct/issues/767

[2016-04-06 11:19] maposchmi commented on #767
Could it be potential "dangerous" that you have that dead code, as soon as the mapstruct-implementation changes its behavior regarding to that qualifiers?

[2016-04-06 11:29] maposchmi commented on #773
Might it a proper Solution to split it to 2 mappers:

[code]

[code]

[2016-04-06 19:00] sjaakd commented on #773
@maposchmi , have you looked at #389 ?

[2016-04-06 19:03] sjaakd commented on #796
@maposchmi: you are aware that `Mapping` of enums (EnumMappingMethod) is deprecated? Its replaced by `@ValueMapping`..

[2016-04-07 04:48] Walker555 commented on #649
+1 for this feature.

[2016-04-07 06:24] maposchmi commented on #796
We used 1.0.0.Final and i guess that there it is not deprecated.
On the quick i didnt find docu about @ValueMapping

[2016-04-08 03:54] kevinmic commented on #773
@maposchmi, currently nesting the mappers doesnt solve the problem.  As a solution I don't think it makes sense to force a developer to do it that way to achieve the desired result.  Mapstruct should be able to do it whether specified in one or multiple mappers.

[2016-04-08 19:25] vadims commented on #742
We're seeing the same issue on Android as well.

[2016-04-10 08:08] afdia commented on #751
I also needed this feature some time ago where I had a state mapper which is used by several other mappers.
The state mapper maps state objects but also fills in missing fields based on a state-cache it holds (so if only iso3 is available it fills in name and vice versa)

The problem is that the state-cache is expensive to initialize and should be reused as a singleton, but the application doesnt

[2016-04-10 09:03] sjaakd commented on #751
@afdia , thanks for your response. The PR which is now out there is going to be replaced. My current ideas:
1. Generate constructors with overloaded arguments whenever you use an abstract class as `Mapper` definition. I've got a working solution for that.
2. Generate a factory implementation as well. The user would have to define the factory methods in an interface or abstract class which would be

[2016-04-10 09:04] sjaakd commented on #751
As an addition: the problem with the current implementation is that we advertise a singleton pattern to create a nested mapper. Exposing a getter would imply all kinds of unexpected thread safety issues.

[2016-04-10 10:59] afdia commented on #751
Sorry this post is longer than I expected ;)

I will first answer with a general comment about your thread safety concerns:
I guess with "advertise a singleton pattern", you're talking about the suggestion with an INSTANCE field in http://mapstruct.org/documentation/1.1/reference/html/index.html#retrieving-mapper

Using this singleton approach, my example with the StateCache would only work if I m

[2016-04-11 08:41] dziegenbalg opened #798 "Bulk data mapping"
How can I simple map huge Data-Objects? Think of a complex entity e.g.

public class CustomerEntity {
  private PersonDataEntiy personData;
  private AdressDataEntity addressData;
  private ExtendedDataEntity extendedData;
  ...
}

The embedded Entities consists of 20+ properties each. Now I have a huge DTO looking like this:

public class CustomerDto {
  private String personDataName;
  private S

[2016-04-12 08:26] gunnarmorling commented on #742
So is this happening one and off for one and the same mapper class?

[2016-04-12 14:25] vadims commented on #742
We have 2 mapper classes and it happens to both of them for a very small number of users. We have not been able to reproduce this ourselves.

[2016-04-12 14:41] gunnarmorling commented on #742
Ok, I see. Thanks for the quick feedback.

Really odd that it happens intermittently. Could you try and copy the `Mappers` class into your project and adapt it so it's using the classloader of the given `clazz` object? That's the better approach anyways and I've planned to change it into that in the next release.

Would be great to know if that fixes the issue for you.

[2016-04-12 17:03] agudian commented on #797
@maposchmi thanks for the report! I agree that it's very much the essence of what needs to be done in #767 - so let's close this as a duplicate and see that we fix #767.

[2016-04-12 17:03] #797 closed

[2016-04-12 17:10] agudian commented on #798
Hehe, we talked about a rule / regexp-based source/target mapping some time ago - this would come in handy here. However, there are some major drawbacks that came with that idea as well, so we should find a more robust solution.

What you propose could be way. Or we start to automagically detect that something like `propertySubProperty` can be mapped from `property.subProperty` if that is possible

[2016-04-12 18:06] agudian commented on #788
OK, I get the use case and how you'd like to use the results. What I'm missing is how you want to pass the filter-information to the mapper and how the generated mapper implementation is supposed to use that information.

All in all, I could imagine that this is kind-of the same problem space as described in #778, where some other means are to be used in the mapper implementation to decide if a ce

[2016-04-12 18:43] agudian commented on #778
@alireza-hanifi first of all thanks for your pull-request and your offer to contribute that code.

I'm still not very found of the feature and the use case, though, for the following reasons:
* The feature itself addresses a very specific technology (Hibernate), which we'd like to avoid.
* Plus, leaving out properties based on them being (already) loaded or not should really really be avoided.
Laz

[2016-04-12 21:39] sjaakd commented on #751
Indeed. And in our examples and test cases. So, we don't want to break with that approach, since many users are already using that kind of singleton approach. A new mechanism would have to be complementary to what's currently out there.

The main problem here is that the implementation classes do not exist prior to kicking of the annotation processor (compilation). So your IDE would initially flag

[2016-04-12 21:46] sjaakd commented on #778
Nope.

There is a PR on providing a hook to provide you're own (customized) templates somewhere however. Perhaps that's usable for this case as well. WDYT?

[2016-04-12 22:50] afdia commented on #751
I understand that you don't want to break with that practice, but such a manual constructor call would still be possible even if you add the factories, because the generated Impl classes would have to implement the constructor anyways and calling them manually or using the generated factories would be a matter of taste.

Initially I though you would let the user write factory implementations and n

[2016-04-13 08:47] gunnarmorling commented on #798
I'm no fan of enabling wildcards and the like by default, but I like the idea of making this possible through an SPI. We could expose the configured `@Mapping` and get back the target property to set from the SPI. It'd preferably have to work without additional attributes on `@Mapping`, though.

[2016-04-13 13:04] amineRS2i commented on #775
Please can you tell us your solution !!!

[2016-04-13 13:08] gunnarmorling commented on #775
@amineRS2i, this has been fixed in the 1.1.0.Beta1 release. Is this the version you are using?

[2016-04-13 13:29] amineRS2i opened #800 "Can't map property "java.lang.String mail" to "java.util.ArrayList<java.lang.String> listMail""
I have a client sources like below :

        @Entity
        @Table(name="client")
         public class Client implements Serializable {

             @Id
             @Column(name="code_client", nullable = false, length=10)
             private String codeClient;

             @Column(name="mail", length=100)
             private String mail;`
           }

and target is :

     public class Co

[2016-04-13 13:32] amineRS2i commented on #775
yes i i use this version, but i have open a ticket for my problem :
[(https://github.com/mapstruct/mapstruct/issues/800)]
can you help me please ?

[2016-04-13 17:02] agudian commented on #800
Well, you're trying to map from `String` to `ArrayList<String>`, so you'll have to provide a method that takes `String` as an argument and returns an `ArrayList<String>`. Your method `first` does the opposite of that... :smile:

One more note: When creating `@Qualifier` annotations, better use `@Retention(RetentionPolicy.CLASS)` - there are several cases where `SOURCE` won't be enough. We tried to

[2016-04-13 21:40] sjaakd commented on #751
Thats true.  Similar as actually is the case now.

`OtherMapperFactory otherFac = Mappers.getFactory(OtherMapperFactory.class);
StateMapperFactory stateFac = Mappers.getFactory(StateMapperFactory.class);
 OtherMapper = otherFac.create(stateFac.create(stateCache));`

Almost. There will be 3 steps.

User defines a state full mapper

[code]
And a factory (interface)

[code]

MapStruct will generate t

[2016-04-14 06:29] gunnarmorling commented on #800
As Andreas is saying, all you need is reversing the logic of that qualified method and let it create an `ArrayList` from a single string.

Or you use an inline expression, e.g. like so:

    @Mapping(target = "listMail", expression = "java(Collections.singletonList(client.getMail()))")

I'm going to close this one as "Not a bug".

[2016-04-14 06:29] #800 closed

[2016-04-14 06:31] gunnarmorling opened #801 "Use classloader of given mapper type in Mappers#getMappers()"
We should use these classloaders in the given order:

* The CL of the given class object (in 99% of cases that's the right one)
* As a fallback, the TCCL
* As a fallback, MapStruct's own CL

[2016-04-14 08:02] amineRS2i commented on #800
Think you for your help

[2016-04-14 09:28] afdia commented on #751
Looks good to me, but I see two potential problems with your example (correct me if I'm wrong):

1. what happens if someone calls `Mappers.getMapper(StateFullMapper.class)` or uses `@Mapper(uses = StateFullMapper.class)`?
Without an empty arg constructor on `StateFullMapper.class`, such a call couldn't initialize the class, because it doesn't know what to pass as the `SomeState` argument.

I guess

[2016-04-14 19:39] sjaakd commented on #751
You are right.. Did not think about that one.

[2016-04-14 19:43] sjaakd commented on #751
That does not work...My IDE still wants something there, although throwing a RuntimeException. I reckon that calling the empty super() is the first think you need to do before anything else (including throwing an illegal state). So that will not fix the `Mappers.getMapper(StateFullMapper.class)`

[2016-04-14 19:52] sjaakd commented on #751
Now, about step 3. That I did not really think that one through, I realized this morning when biking to my work :smile:.

Let me come back and update this one with an example..

[2016-04-14 20:51] sjaakd commented on #751
@afdia .. I think you have a good idea, ICW this could work for step 3 (took me some time to go through the steps). Now, one tiny remark: interfaces don't have constructors, but I reckon you meant abstract class.

Anyway. I combined your idea's (correct me if I'm wrong) and extended them with some more comments. Lets see if we match up (or if you still see holes). Perhaps @agudian  / @gunnarmorlin

[2016-04-14 22:27] afdia commented on #751
What I meant is: abstract classes (and their implementation) must not have an empty arg constructor by Java standards (I'm not sure what you mean with your IDE wants something there), but the consequence of not having one is that `Classname.class.newInstance()` calls won't work anymore for this class.
You get a `java.lang.NoSuchMethodException: Classname.<init>()` if you call the method.

That mea

[2016-04-15 05:26] sjaakd commented on #751
I meant that one option is still to generate an empty constructor in the implementing class whilst the abstract mapper does not have one.

[code]

[code]

Not leading to the construction of the class with a clear message. But even that is not allowed according to the JLS (and my IDE).

Ah.. But the more fundamental change is that MapStruct needs to recognize a property in an abstract class as mapp

[2016-04-15 06:40] afdia commented on #751
Ok now I understand the remark about the IDE, but I wouldn't generate a no-arg constructor in the impl class if it's missing in the abstract class. That way it would compile and only fail during runtime if one calls newInstance().
The readable error could be thrown with a catch-rethrow around the newInstance() call in Mappers.getMapper(), then you wouldn't have to declare an error throwing no-arg

[2016-04-15 06:43] sjaakd commented on #751
To be complete: that's exactly what I meant. And I just realized that I probably should drop the condition that this should be a mapper itself, because that would exclude hw mappers. Perhaps an additional annotation '@usedmapper' on the field would be required.

[2016-04-15 06:51] afdia commented on #751
I fully agree, handwritten mappers should be possible and a new annotation for the field would make it an intentional decision of the developer that he wants MapStruct to use this as a mapper. It would also make it visible (a new dev could look up the annotation if he finds it in a mapper and immediately see what it does) instead of using a "hidden" collection logic.

It would also make the error

[2016-04-15 10:23] sjaakd commented on #751
Agreed.

me too.. :smile:

Indeed.

I think the discussion above has proven to be already very usefull. Thanks. I'll continue to work on the PR. Thinking out loud, perhaps you find some time to add unit test cases after my initial PR. That would not require full knowlegde of MapStruct and be really helpfull. If not, no worries. For myself, it will also take time. Its a hobby after all.

[2016-04-15 10:28] gunnarmorling commented on #778
Hi all, first off, many thanks for your effort, @alireza-hanifi, it's great to see this kind of contribution although I agree with Andreas and Sjaak in that it does not appear to be a good candidate for being baked into the core of MapStruct as it is just too specific for a general purpose tool.

I'm not sure how far an SPI would get us here, @agudian, as this decision (map or not map a property)

[2016-04-15 10:28] ugrave commented on #782
Hi,
the [Jakson](https://github.com/FasterXML/) api has a annotation called [JsonPOJOBuilder](jackson-databind/src/main/java/com/fasterxml/jackson/databind/annotation/JsonPOJOBuilder.java). This can be used to define a builder to deserilize Jason to model object.
Mapstruct could also define such a annotation to define a builder.

[code]

[2016-04-15 10:59] natros opened #802 "Google AutoValue support"
AutoValue is used to create immutable objects using an annotation processor. It would be nice if mapstruct would support this mapping.

[AutoValue](https://github.com/google/auto/blob/master/value/userguide/index.md)
[AutoValue with Builders](https://github.com/google/auto/blob/master/value/userguide/builders.md)

[2016-04-15 11:01] gunnarmorling commented on #802
Hey, any thoughts on how this support should look like? Is it "just" support for builders? Or anything else? I like the idea (there is an issue for builder-style support somewhere already), but the details are still a bit vague to me.

[2016-04-15 11:04] gunnarmorling commented on #788
@axelpcr, when you say "generic DTO", it is still not a map-kind structure but a strongly typed DTO, it's just that you want to dynamically select which properties to populate, right?

[2016-04-15 11:27] natros commented on #802
With jackson I can do this:

[code]

In this example jackson is able to serialize and deserialize based on the builder.
Maybe something like this should be possible to use.

[code]

[2016-04-15 15:47] afdia commented on #751
I agree this was really a nice and productive discussion and I guess we have found a good solution to the problem. I'll wait for the PR and help with tests if possible.

[2016-04-16 08:20] gunnarmorling commented on #751
Hey, thanks everyone for having this discussion!

@sjaakd, @agudian Any chance you could give me a TL;DR with the gist of it? What's the plan here?

[2016-04-16 10:09] sjaakd commented on #751
@gunnarmorling .. Reckon that @agudian also still has to read it..  :smile:

This is the executive summary (in code):

-----------
Define a StateFull mapper.

[code]

MapStruct will generate:
[code]

-----------
Then, suppose you have another mapper, using this StateFullMapper

[code]

Note my comments int his class. MapStruct will generate

[code]
-----------
We want to be able to avoid calling n

[2016-04-17 10:03] jlzi opened #803 "Problem with mapping inherited JAXB beans"
I have two JAXB beans and two ObjectFactory, one for each JAXB bean. One JAXB bean extends another one.
I want to map these JAXB beans to two separate Java beans, one of which extends another one.
I have created two mappers for this purpose, one for each JAXB bean. Mapper for child class "uses" mapper for parent class.

As a result during the generation of the implementations of the mappers, I rec

[2016-04-17 10:56] jlzi opened #804 "Date -> XMLGregorianCalendar generated mapper is not customizable"
Consider I want to map Date field to XMLGregorianCalendar one. MapStruct generates such mapper for me.
The problem is that the generated mapper always includes not only year, month and day of month to the result, but also time and timezone. You can see it if you run the main method of the attached [sample project](https://github.com/mapstruct/mapstruct/files/222604/mapstruct-date-calendar-mapping.

[2016-04-18 09:15] PierrickPuimeanChieze commented on #803
I have exactly the same problem, but I have only one mapper, for the child classe. But even like this, MapStruct doesn't seem to find the parent class properties.

[2016-04-18 18:35] agudian commented on #803
That's not how it is supposed to happen anyway. At least we didn't implement it that way. The mapping method of the child type would include all the setter-invocations, including those for the properties of the super type. The mapper of the super type wouldn't be invoked. Plus, "used" mappers or facotries of one mapper are not propagated to mappers that reference this mapper in their `uses` sectio

[2016-04-18 18:38] agudian commented on #803
So this actually works:
[code]

[2016-04-18 18:42] agudian commented on #803
@PierrickPuimeanChieze Guessing that you are using JAXB as well, adding the proper `ObjectFactories` should do the trick for you as well. If not, please open another issue with some more information.

I'm closing this issue as "not a bug". Thanks for the report, though! :+1:

If you feel like there's something missing in the documentation about it, we gladly take pull-requests for those as well...

[2016-04-18 18:42] #803 closed

[2016-04-18 18:45] agudian opened #805 "Javadoc of ValueMapping is garbled in the released source-jars."
It contains stuff like:
[code]

I guess it's an encoding issue in either the files or in the configuration of the source-plugin. The generated and published javadocs are fine, but Eclipse shows me the docs based on the content of the source-jars. So we need to fix that before the next release.

[2016-04-20 02:31] riyvitxgt opened #806 "@Mapping in boolean property like isXXX"
if the property is boolean, and It's name like isSaled, the target should be saled, not isSaled, like bellow
@Mapping(target = "saled",expression  = "java(null !=entity.getIsSale()  && 1== entity.getIsSale())")
because the setter for isSaled is  setSaled, not setIsSaled, is there any way to fixed this problem?

[2016-04-20 06:08] gunnarmorling commented on #806
Hi, I would have expected that it already behaves as you describe. Could
you provide the exact definitions of the source and target properties,
please?

[2016-04-20 06:11] agudian commented on #806
I don't fully get what your actual and expected results are, but MapStruct only checks the getXyz/setXyz/isXyz methods and derives the property name 'xyz' from that (following the Java Bean spec, taking the special handling of boolean and Boolean into account). We don't look how the underlying class attribute is called.

Perhaps you can provide an example of how your methods in the target class lo

[2016-04-22 03:32] riyvitxgt commented on #806
[code]
I want to when the goods.isSaled == 1 ,the goodsModel.isSaled = true;
the code will not mapper goods.isSaled to goodsModel.isSaled;
so I add Mapping in GoodsMapper
[code]
there will be an error: Unknown property "isSaled" in return type.
if the @Mapping like this ,It can be work
`@Mapping(target = "saled",expression  = "java(null !=entity.getIsSaled()  && 1== entity.getIsSaled())")`
Why the

[2016-04-22 04:18] agudian commented on #806
Could you also add to the example how your getter/setter for isSealed in GoodsModel look like?

[2016-04-22 04:38] riyvitxgt commented on #806
`public class Goods {
  private Double price;
  private Integer isSaled;

  public Double getPrice() {
    return price;
  }

  public void setPrice(Double price) {
    this.price = price;
  }

  public Integer getIsSaled() {
    return isSaled;
  }

  public void setIsSaled(Integer isSaled) {
    this.isSaled = isSaled;
  }
}

public class GoodsModel {
  private Double price;
  private boolean is

[2016-04-22 19:50] vadims commented on #742
We haven't seen any more crashes after using `ClassLoader classLoader = clazz.getClassLoader();` in `Mappers`.

[2016-04-22 22:04] agudian commented on #806
Alright, your accessor methods in `GoodsModel` are called `isSaled` and `setSaled`. As per Java Bean Specification, the name of the *property* is "saled".
That's totally independent of how the methods are implemented - if they store it in an attribute or in a `HashMap` or write it to a file :wink:.
Hope that helps.
I'm closing this issue as not-a-bug, as there is nothing that we would change here.

[2016-04-22 22:04] #806 closed

[2016-04-24 21:08] ahus1 commented on #510
I took the example from @rmannibucau one step further to not confuse the IDE. The solution for me was to set addOutputDirectory to false and use the output of de-lombok only for creating the mappers.

See an example in my [forked mapstruct examples project](https://github.com/ahus1/mapstruct-examples/tree/lombok_mapstruct_single_project/mapstruct-lombok). Please comment, I'm happy to provide a pul

[2016-04-25 19:33] sjaakd commented on #510
@ahus1 , there are many questions around the combination, so I'll reckon: a working example is very welcome. @agudian , @gunnarmorling : WYDT?

Why do you need both the maven-compiler-plugin and the maven-processor-plugin? I think we have an example with the maven-compiler-plugin as well nowadays. So perhaps better to use one technology.

Now, on the example. I'm not sure whether I onderstand it c

[2016-04-26 18:58] DanielDressler commented on #796
So is a solution for this being considered? While newer, ValueMappingMethod still simply matches by exact names and needs to be configured with exact source/target pairs.

Support for JaxB-generated enums could be built-in. I'd probably prefer a "dumber" approach of just ignoring a few typical delimiters and maybe even case when matching enum constants by name. (Which project has a lot of enums co

[2016-04-26 19:18] ahus1 commented on #510
I've used the processor plugin as I wanted to create only the generated sources. This way I avoid any irritation for my IDE (IntelliJ). If I would use the compiler plugin, I would need to put the delombok-sources into the sourcepath, and that would conflict with the other original sources. AFAIK I can't specify an alternative sources folder for the compiler like I can do for the processor.

The `l

[2016-04-28 12:54] axelpcr commented on #788
Yeah, I just want to populate specific properties. This properties needs to chosen at runtime.

[2016-04-29 21:08] agudian commented on #507
Closing it, as it's a duplicate.

[2016-04-29 21:08] #507 closed

[2016-04-29 21:29] agudian commented on #469
Until we get this resolved properly, let's document a possible workaround:

# Workaround

I'll borrow the example from #507:

[code]

The `parent` properties could be of other types, the possible cycle could also span over a longer chain of properties, but it doesn't matter for the example.

To avoid the stack-overflow error, we do two things:
* Ignore the back-reference to `parent` in `TreeNodeDt

[2016-05-01 09:55] alireza-hanifi commented on #778
thank you for your consideration. I do agree that the method isn't that useful and I'd like to work on the generality problem
it would be my pleasure.

[2016-05-02 13:20] ebelanger opened #807 "Mapping composition"
It would be great if MapStruct could support mapping composition by defining a new annotation.  It could work similar to how [Hibernate Validator](http://docs.jboss.org/hibernate/validator/5.2/reference/en-US/html/ch06.html#section-constraint-composition) constraint composition does.  This would allow reuse of mapping configurations by duck-typing instead of inheritance, which is useful when you d

[2016-05-02 13:30] gunnarmorling commented on #807
Hey Eric, could you provide an example of how such mapping composition
would look like and how it would be used? I'm aware of Bean Validation
constraint composition, but I'd like to know how you envision such
composition to apply to MapStruct.

[2016-05-02 13:51] ebelanger commented on #807
`
@Mapping(target = "id", ignore = true)
@Mapping(target = "deleted", ignore = true)
@Mapping(target = "account", ignore = true)
@Mapping(target = "options", ignore = true)
@Mapping(target = "promotions", ignore = true)
public abstract Plan update(PlanView view, @MappingTarget Plan plan);

@Mapping(target = "id", ignore = true)
@Mapping(target = "deleted", ignore = true)
@Mapping(target = "account

[2016-05-02 19:26] sjaakd commented on #807
👍 . I like the idea. Should also not be too difficult to realize.

[2016-05-02 19:33] sjaakd commented on #469
@agudian ; shall we add this to examples?

[2016-05-02 20:12] ebelanger commented on #807
Great.  I will prepare a PR soon then :)

[2016-05-02 20:38] agudian commented on #807
I think we should first check how that is in line with our other config facilities, such as MappingConfig and the config-inheritance settings.
Adding just another dimension might just be an easy thing now, but could convolute our way of supplying mapping configs.
I could imagine that we can extend the current options and for example extend how and which mapping configs from MappingConfig types are

[2016-05-03 01:48] ebelanger commented on #807
I do not mind discussing other possible concepts, but what I do like about my proposed solution is that it doesn't modify the cores of MapStruct.  It is simple annotation inheritance to remove duplication in cases where beans share property names but no common interface.  In my case, it is because we are mapping with generated classes derived from some JSON data structure.

I am not sure how expen

[2016-05-03 12:00] dslivka commented on #510
@agudian: what about the @gunnarmorling 's idea?

Sounds simple and elegant. You can consider making configuration similar to `@XmlAccessorType(XmlAccessType.FIELD)`, in this case it would be `@Mapper(accessType = MapperAccessType.FIELD)`

[2016-05-09 20:09] dslivka commented on #510
In addition to my previous post: source and target beans may have different character, e.g. source is generated by CXF/JAXB and its getter/setter names do not necessarily follow the Lombok conventions, the manually created target may use Lombok. Therefore I suggest annotation `@Mapper(sourceAccessType = MapperAccessType.FIELD, targetAccessType = ...`

[2016-05-10 13:45] TheStijn opened #809 "Map a collection with parameter with mapstruct"
http://stackoverflow.com/questions/36399695/map-a-collection-with-parameter-with-mapstruct

To map a certain object with mapstruct I need some custom post processing which needs an additional parameter to do it's work:

@Mapper
public abstract class AlertConfigActionMapper {

[code]

}
This works just fine. The problem starts when I add following method to this mapper:

public abstract ArrayList<A

[2016-05-11 13:45] sureez opened #810 "Multiple String object to List<String>"
I have a usecase to map
String primaryEmailAddress;
String secondaryEmailAddress;
to
List<String> emailAddress

I have used collectionMappingStrategy to add primaryEmailAddress to the emailAddress list but when i create a mapping for secondaryEmailAddress to the emailAddress same list. I am gettting error saying Targetproperty should not be used more than once.

What is the problem with this appro

[2016-05-11 19:57] sjaakd commented on #810
Hi @sureez,

This is not how this is intended. The CollectionMappingStrategy is intended to map collections to collections.

Normally, you map source property to target property.

To solve your problem there are several options:
1. Custom (hand written) mapper. You can refer to it by using a 'uses' relation.
2. However, if the `primaryEmailAddress` and the `secondaryEmailAddress` are just 2 mappin

[2016-05-11 19:57] #810 closed

[2016-05-17 02:04] johngamarra commented on #742
I have this issue, any workaround?

[2016-05-17 07:43] gunnarmorling commented on #742
@johngamarra See my last comment above for a workaround. We'll change it into this strategy in MapStruct 1.1.

[2016-05-17 23:51] bfg commented on #649
i'd appreciate this feature too.

[2016-05-30 01:51] wenerme opened #812 "Ignore all and only include specified field"
Something like this

[code]

This is my workaround

[code]

[2016-05-30 20:23] sjaakd commented on #805
Eclipse is a tool of the devil.. :smile:. Use Netbeans

[2016-06-01 12:35] getAkashJain commented on #649
+1 for this feature.

[2016-06-11 07:32] ranjitkumarbarick commented on #781
i am also getting error  for customizing   the  Dto field       please give  the   better clarity  in documentation   .here  i mention these classes  please  evaluate the  where is the my mistake . i   have done  as per your  procedure
@Mapper
@DecoratedWith(VendorArticleViewMapperDecorator.class)
public interface VendorArticleViewMapper {
	VendorArticleViewMapper INSTANCE=Mappers.getMapper(	Vendo

[2016-06-11 07:36] ranjitkumarbarick commented on #781
it generated  two class  that is
package com.smythstoys.vendormanagement.application.article;

import com.smythstoys.vendormanagement.api.article.VendorArticleViewDTO;

import java.util.ArrayList;

import java.util.List;

import javax.annotation.Generated;

@Generated(

    value = "org.mapstruct.ap.MappingProcessor",

    date = "2016-06-11T12:18:46+0530",

    comments = "version: 1.1.0.Beta1, c

[2016-06-13 19:41] antslava commented on #742
Hi All, I think this issues comes from multidex support.
Multidex separate our code to different .dex files, so that's why Mappers classloader can't find *Impl class.
Hello guys @johngamarra , @vadims can you confirm that yours projects use multidex ? Or this issue start reproduce after enabling multidex.

[2016-06-13 21:07] vadims commented on #742
Our project only uses multidex for debug builds, however the exceptions were reported from the release builds where multidex was disabled.

[2016-06-13 21:12] antslava commented on #742
Can you unpack your release build and check how many dex files you have

[2016-06-13 21:18] vadims commented on #742
[code]

[2016-06-13 21:20] antslava commented on #742
thanks, I already get your apk. You are right you have only one dex file.

[2016-06-15 18:15] gunnarmorling commented on #751
IIRC, we discussed in the last Hangout the option of passing "state" via specifically designated parameters of mapping methods. Did you pursue that idea any further, @sjaakd? I feel it may actually resolve some of the issues we discussed. WDYT?

[2016-06-15 18:23] sjaakd commented on #751
No. I spent quite some time on the current solution 😭.  I'm personally not in favor of 'dragging' a parameter through many method calls (e.g. in an object graph) to the spot where you need it, especially if this parameter 'defines' the behavior of en entire mapper, like the examples provided.

Also, you mentioned the singleton pattern that we advocate. However, we do sin ourselves :smile: in the c

[2016-06-15 20:35] agudian commented on #812
Your workaround seems to be exactly what we have in mind for such scenarios. Our approach is not to be able to conveniently generate _all_ of the mapping code, but at least _most_ of it. Favour handling special cases manually instead of hacking too much into annotations... :wink:
Or is your example heavily simplified and I don't get the full impact of it?

[2016-06-15 21:19] sjaakd commented on #679
Closed with #811

[2016-06-15 21:19] #679 closed

[2016-06-16 01:31] wenerme commented on #812
This is ok for me in edge case.So, close this now.

[2016-06-16 01:31] #812 closed

[2016-06-16 01:49] wenerme opened #814 "Ignore common field by field-based or config-base ignore config"
[code]

There is no `BaseDTO` that I can do

[code]

Also a `BaseDTO` is a bad idea, because it looks like

[code]

[2016-06-16 01:55] wenerme commented on #814
We got almost 100 entity now, every mapper I have to do this, that's very inconvenience.

[2016-06-16 02:02] wenerme commented on #814
Currently we define  these field in each entity not `BaseEntity` yet.

Common field like this
[code]

In real code

![image](https://cloud.githubusercontent.com/assets/1777211/16103257/66ea5ada-33a9-11e6-92c5-4acb371e887e.png)
![image](https://cloud.githubusercontent.com/assets/1777211/16103261/7b5b488a-33a9-11e6-85de-a2aa0dcae169.png)

[2016-06-16 06:25] agudian commented on #814
To solve that kind of problem, we created the _prototype methods_ in shared mapper configurations: http://mapstruct.org/documentation/1.1/reference/html/index.html#shared-configurations

Check the example with mappingInheritanceStrategy = MappingInheritanceStrategy.AUTO_INHERIT_FROM_CONFIG and use Object as parameter type in the prototype method. However, note that when this config is applied to e

[2016-06-16 06:34] wenerme commented on #814
My currently work around is remove the setter of these field in BaseEntity, only have to handle one or two filed in mapper.

[code]

Now I only need to ignore deleted.

`AUTO_INHERIT_FROM_CONFIG ` is kind of wild, I don't want to this cause invisible problem.

[2016-06-16 18:08] sjaakd commented on #814
@wenerme , @agudian : I think that something similar is proposed in: #807. Is this a duplicate?

[2016-06-17 01:49] wenerme commented on #814
Yes, #807 can solve this problem too with different approach but better idea.

[2016-06-17 20:47] sjaakd opened #815 "Follow up of #813"
#813 makes it possible to use the `@InheritInverseConfiguration` on nested source properties. Hence it introduces implicit nested target properties.

There is no completeness check on the nested target properties on nesting levels, e.g. no warning on missed nested properties.

[2016-06-20 10:54] chris922 opened #816 "Decorator and void-methods error: "Void methods cannot return a value""
I've got a problem when using a decorator and declaring a void method in my mapping interface, see the following example:
[code]
Without the `map`-method inside my decorator the generated java file contains a compile error: "Void methods cannot return a value".

The generated code looks like this here:
[code]

The workaround is to add appropriate void methods to the mapper, like I did in the examp

[2016-06-22 14:20] shankyty opened #817 "Mapstruct at runtime?"
Is there a way to use mapstruct in runtime to generate mapper and load those in class-loader?
I have have requirement to generate mapper from config which is in database from which I am able to generate pojo but now I need to generate mapper from newly constructed pojo and existing pojo in class loader?

[2016-06-23 06:07] agudian commented on #817
Although it is not something we would encourage you to do, there is always the possibility to invoke the Java compiler with MapStruct as annotation processor at runtime and then load the generated and compiled classes. Our tests do it that way. You can find some of the tidbits here:

https://github.com/mapstruct/mapstruct/blob/master/processor/src/test/java/org/mapstruct/ap/testutil/runner/JdkComp

[2016-06-23 06:07] #817 closed

[2016-06-23 20:31] sjaakd opened #818 "Recursion of #212"
Found out during implementation of #669 there's a recursion of #212.

[2016-06-28 20:01] jvz commented on #27
I'm using MapStruct in OSGi, and using bnd to wrap the JAR worked fine, so just adding the MANIFEST.MF metadata should be enough. You can use it like so:

[code]

You can also slim down the package exports if desired, but I'm not sure if you can without further testing. Exporting everything works as a simple method of doing so even if it's not very OSGi-y.

[2016-06-29 18:48] jvz commented on #801
Using the CL of the provided class would certainly make more sense than the TCCL. I just came across this bug in an OSGi environment where my mapper is in one bundle (and ClassLoader) but used by another bundle (via Camel's type converters). This causes a sort of ClassLoader race condition based on which bundle causes the initialization of the mapper.

[2016-06-29 20:10] agudian commented on #27
Good thing is that our API modules are the only stuff you need on the runtime classpath and hence in the bundle, and everything there is supposed to be exported... :)

[2016-06-29 21:43] jvz commented on #510
FWIW, the Lombok/MapStruct combo worked just fine for me in Gradle.

[2016-06-30 07:04] wenerme opened #822 "Feature request: null strategy for bean field."
[code]

This very useful to handler HTTP `PATCH` method for JPA.

Currently I have to do some dirty stuff

* Patch DTO to Entity
  * Convert Entity to DTO
  * Use [jodd-bean](http://jodd.org/doc/beanutil.html#beancopy) copy PATCH DTO to entity's DTO which support ignoreNull
  * merge the final DTO to Entity

This is fine if entity have no collection field, but if the entity have collection, this w

[2016-06-30 10:04] nachii commented on #649
+1 for this feature!

[2016-06-30 19:46] agudian commented on #27
Added OSGi metadata to mapstruct.jar and mapstruct-jdk8.jar.

[2016-06-30 19:46] #27 closed

[2016-06-30 19:47] #805 closed

[2016-06-30 19:49] agudian commented on #822
Closing it as a duplicate to #649. The feature might actually be right around the corner... :)

[2016-06-30 19:49] #822 closed

[2016-07-01 19:20] ja1979 commented on #615
Hi... I had a similar issue using **maven-processor-plugin** and **cxf plugin**. When they are used individually they work well but when used at the same time **maven-processor-plugin** fails with message "[ERROR] error on execute: error during compilation"

I found a solution changing the behavior of **maven-processor-plugin**. I set **true* to the parameter **addCompileSourceRoots**. In this way

[2016-07-02 16:51] ja1979 commented on #615
What I suggested previously works OK when no generated code exist (after a clean), but I got a error compiling code when generated code already exist so I removed that parameter and set a new one:

`<additionalSourceDirectories>${project.build.directory}/generated/cxf</additionalSourceDirectories>`

...in the **maven-processor-plugin** section of the pom.xml.

[2016-07-05 17:39] JulianH opened #824 "Target Bean Factory"
It would be great if the target bean could be instantiated using a factory, which could use the source bean. The idea is, that the factory could instaniate the instance based on some existing information of the source. What i have in mind is, that the entity could be instantiated by an hibernate query and the mapping method will then update the mapped fields.

The factory which will instantiate th

[2016-07-05 18:47] agudian opened #825 "Allow using custom implementations of SPIs in processor tests"

[2016-07-05 18:52] agudian commented on #825
Fixed with #823.

[2016-07-05 18:52] #825 closed

[2016-07-05 19:29] agudian commented on #818
@sjaakd fixed it already, we can close it :smile:

[2016-07-05 19:29] #818 closed

[2016-07-05 19:46] gunnarmorling opened #827 "Add some checks to Mappers#getMapper()"
Check that

* clazz is annotated with @Mapper
* the implementation type implements clazz

Also we should use a privileged action for doing the reflective operations.

[2016-07-05 20:08] agudian commented on #824
Note: Currently we differentiate between factory methods and (custom) mapping methods simply by checking the parameters: if the method has no parameter or only one `@TargetType` parameter, it's a factory method - otherwise it's considred a mapping method that can be invoked for property mappings.
So we would have to come up with something else to distinguish these two cases. Perhaps by using an ex

[2016-07-05 20:25] gunnarmorling commented on #801
Fixed in master. Thanks for your feedback, @jvz!

[2016-07-05 20:25] #801 closed

[2016-07-05 20:27] gunnarmorling commented on #742
As of issue #801 we are using the classloader of the given mapper type first now when trying to load the implementation type. This should resolve this issue, too. It's fixed on master, a new Beta containing the fix will be out soon. Going to close this issue therefore. Thanks for all the feedback!

[2016-07-05 20:27] #742 closed

[2016-07-05 20:28] gunnarmorling commented on #721
This issue has been fixed on master as of #801. I'm going to close this one.

[2016-07-05 20:28] #721 closed

[2016-07-05 20:54] jvz commented on #801
FWIW, what I ended up doing as a workaround for 1.0.0 was this:

[code]

[2016-07-05 21:58] sjaakd commented on #669
fixed and implemented by means of SPI and annotation

[2016-07-05 21:58] #669 closed

[2016-07-06 07:56] shane-chen opened #828 "Mappers cannot auto-generated within eclipse NEON"
Hi all,

we are using mapstruct 1.0.0.Final in our project. After upgrading the eclipse IDE to NEON and importing eclipse projects, some mappers cannot be auto-generated. Following is the error and a screenshot in the IDE:

[code]

![image](https://cloud.githubusercontent.com/assets/10446357/16611016/3638503e-435f-11e6-9e59-bd69c9459c49.png)

I also tried the version 1.1.0-Beta1. Unfortunately, th

[2016-07-06 08:46] gunnarmorling commented on #828
Seems our work-arounds for addressing some bugs within the Eclipse APT implementation fail due to changes of some internal types as of Neon. I cannot think of any work-around really, apart from staying on the previous Eclipse version.

@agudian maybe you can take a look? Seems your field of expertise really :) Would be nice to have this in the upcoming Beta so people can use MapStruct with the lat

[2016-07-06 08:47] agudian commented on #828
Yes, that smells like an issue with the Eclipse compiler. We'll look into it asap.

[2016-07-06 15:53] mpryahin opened #829 "Use #add() method when mapping to existing target collection"
Hi,
thanks a lot for the fantastic mapper!

I have a one to many relationship. When updating an existing parent entity the child collection is cleaned and then a new child collection is added by invoking addAll(Collection<Child>) method on that collection.
Is it possible to configure mapping so that the add(Child) method is invoked on the parent entity instead of addAll on the parents collection?

[2016-07-06 21:24] sjaakd opened #832 "Add SPI explanation / example somewhere"
Speaks for itself

[2016-07-14 02:20] bpiper opened #833 "'Unknown property' error raised for ignored targets with no setter"
If I have a Mapping that specifies a target property as ignored, and there is no setter for that property in the target class, I am getting an `Unknown property "myPropertyName" in return type` error raised.  This is not what I would expect if I have indicated that the property is to be ignored.

In `BeanMappingMethod.handleDefinedSourceMappings`, it is attempting to resolve the `targetWriteAccess

[2016-07-14 06:19] agudian commented on #833
I'd say what you describe is not a problem but it is how it's supposed to work.
Read-only properties shouldn't need to be explicitly ignored anyway. If you get a warning for an unmapped property but that property is read-only, then my feeling is that there lies the bug instead. Do you get such a warning if you don't mention that property in the annotations?

[2016-07-14 06:56] Ayush-Bajpai commented on #369
Hi @agudian @sjaakd @gunnarmorling , I am trying to to use Mapstruct. I have a requirement where in source value should not be mapped to target if it is null. But i am not able to find a way out for this. From the above discussion i think this is not implemented yet. Is there any way we can do this? If not, then are you taking this into consideration for your next release. When is the expected Rel

[2016-07-14 18:35] agudian commented on #369
I'm pretty sure most of this issue is now covered by the new `@Mapper#nullValueMappingStrategy`, where you can define `@Mapper(nullValueMappingStragety = ALWAYS)` to perform null-checks around every setter invocation. It's on the current master now and we'll do a release some time next week with it.

What's not yet implemented is a more fine grained control on a per-mapping method level or per-pro

[2016-07-14 19:02] 0x3333 commented on #369
Sure I'm. I just don't know where to start.

Some guidance would be great. I'm not used to MapStruct codebase, but I have some time to spend on this.

[2016-07-14 21:45] bpiper commented on #833
Yes, you're quite right... I hadn't realised that target properties with no mutator would be implicitly ignored.  I'd lumped a couple of read-only properties in with a couple of writeable properties that I also wanted to ignore and assumed that Mapstruct would complain if I didn't... but turns out it doesn't.

Arguably it would still be worth printing a more useful warning or error if someone adds

[2016-07-15 02:40] xiemeilong commented on #557
+1

[2016-07-15 08:14] #828 closed

[2016-07-15 09:31] remmeier commented on #824
+1 such a feature would be extremely useful

[2016-07-15 10:57] remmeier commented on #702
+1 it would be great if there is a standarized way of having all the evaluated mappings between source and target (not the raw annotations) available at runtime if desired.

we plan to use mapstruct to map JPA entities to DTO. As a consequence, we would like to do filtering, paging and sorting on DTOs. For this purpose, the paths/naming in DTO "queries" need to be translated back into entity "quer

[2016-07-15 11:21] remmeier commented on #674
it would be great if the request here is implemented in a more generic fashion. Meaning that the developer has to possiblity to provide an own isPresent(sourceObj, sourcePropertyName, targetObj, targetPropertyName), ignore(...) or skip(...) method to skip the mapping process for some of the properties. Some additional use cases:

- JPA/Hibernate proxies: ignore proxies if not loaded (can kill the

[2016-07-16 08:30] sjaakd commented on #369
per-mapping method level (@BeanMapping): yes. per-property-level: I'm not sure what would be the use case to have such fine grained control. For frameworks like protobuf I reckon its more than sufficient to have it on `@Mapper` or even `@MapperConfig` level. Right?

[2016-07-16 09:21] sjaakd commented on #833
Good suggestion. Although, I reckon its a more broader case in which you specify a `@Mapping` that has no write accessor but does have a read accessor.

[2016-07-16 09:27] sjaakd commented on #824
Hmm. wouldn't that be avoid by the suggestion above: so if the mapping method has only a parameter marked with `@MappingSource ` or icm with a parameter marked with `@TargetType ` its still a factory method?

[2016-07-17 15:03] agudian commented on #833
Sjaak added a better message for this case, closing it.
@bpiper thanks for the report!

[2016-07-17 15:03] #833 closed

[2016-07-17 18:02] agudian commented on #824
Every parameter that is not annotated otherwise is a mapping source, so creating a new annotation `@MappingSource` could be a bit confusing: should one always use that annotation for property mappings as well? Probably not... :wink:

So IMHO this would call for a more specific annotation on the method for marking it a _factory_. Given the idea of having factories for mappers, calling it `@Factory`

[2016-07-18 09:08] remmeier commented on #649
relates to https://github.com/mapstruct/mapstruct/issues/674 and https://github.com/mapstruct/mapstruct/issues/369 as well.

it would further be great to support:

`
@Override
 public void updateFooFromNonNullAttributesOfDto(FooDto fooDto, Foo foo) {
        if ( fooDto== null ) {
            return;
        }
        if ( fooDto.isLoaded("bar") ) {
            site.setBar( fooDto.getBar() );

[2016-07-18 09:14] remmeier commented on #369
@sjaakd  for example for jpa to dto mapping I would like to exclude Hibernate proxies that are not yet initialized (as it would lead to n+1 loading/performance issues).

It should be possible to have:
`
  if (!ignoreStrategy.isIgnored(source, "value")l)
        target.setValue (source.getValue());
`
where the application provides its own mapping strategy, as in this case the check whether a given

[2016-07-19 13:04] mirabilos opened #835 "MapStruct clash with Sonar code quality warning"
@Mapper
    public interface CarMapper {

        CarMapper INSTANCE = Mappers.getMapper( CarMapper.class );

This yields a Sonar warning “Move constants to a class or enum.” with the rationale “Constants should not be defined in interfaces” (squid:S1214).

What is the “correct” way to work around this? Also, can this please be documented in, say, http://mapstruct.org/documentation/1.0/reference/h

[2016-07-19 13:52] mirabilos commented on #835
FWIW, just adding `//NOSONAR` to the INSTANCE line isn’t enough, unfortunately

[2016-07-19 15:16] sjaakd opened #836 "Parameter mapping not reversible."
Currently I get the error notice:
`Parameter nl.bro.entities.gm.gmw.GmwDeliveredLocationEntity entity cannot be reversed.`

when using: `@InheritInverseConfiguration`.

This is akward. It means that all other mappings which can be automatically inherited must be defined by hand.

Better / more logical: ignore silently and exclude from inherit mapping.

[2016-07-19 19:14] sjaakd commented on #835
@mirabilos , nothing forbids you from taking an abstract class as base for an `@Mapper`. Also, you can place the ` CarMapper INSTANCE = Mappers.getMapper( CarMapper.class );` in a class as public static final.

Sonar is there to help you to stick to good practices and conventions. However, it does not proclaim to have the ultimate truth :smile:.

[2016-07-20 19:45] sjaakd commented on #389
fixed..

[2016-07-20 19:45] #389 closed

[2016-07-21 07:10] sjaakd opened #838 "MapStruct should check for suitable constructors when reversing"
...and not leave it up to the compiler.

[2016-07-21 09:38] sjaakd opened #839 "Overriding nested target properties"
Overriding nested target properties works. But produces duplicate code.

[2016-07-21 09:45] sjaakd commented on #836
Actually the problem has been resolved by introducing `NestedTargetMapping`. However, by removing the checks for this issue, I stumbled on a new issue: #839.

A reproducer (check generated code) is already present in PR #837. Checkout generated code for:
`org.mapstruct.ap.test.nestedsource.parameter.LetterMapper`

[2016-07-21 09:49] #815 closed

[2016-07-21 10:11] vitaliy-zinchenko opened #840 "How to map from Enum to value and vice versa?"
**I have Entity:**
[code]
**And Dto:**
[code]
**And Enum:**
[code]

**So, I have object like this:**
[code]

I want Mapper to convert this Entity to Dto and I want the field BeanDto.value to be populated with "t".
Is it possible to do it? If yes, how can I do this?

I don't want to use this approach https://iamhug.gitbooks.io/mapstruct/content/7mapping_enum_types.html because in this case I need t

[2016-07-21 15:24] remmeier opened #841 "Couldn't retrieve @Mapper annotation"
I'm currently trying to implement a processor for https://github.com/mapstruct/mapstruct/issues/702. When using the current snapshot I get:  "Couldn't retrieve @Mapper annotation". While it works fine for 1.1.0.Beta1. Maybe the given exception could be extended with more . MapperConfiguration.isValid() seems to be able to fail for various reasons. The mapper itself looks like:

@Mapper(componentMo

[2016-07-21 16:06] sjaakd commented on #841
Strange. Have you tried to built the entire code or only the processor? Note: all unit tests pass, and I'm pretty sure they test the '@Mapper' annotation .

[2016-07-21 17:03] mirabilos commented on #835
Thanks, this indeed helped. It was a bit tricky to figure it out, but here’s what I did in the end:

    -public interface CommentMapper {
    +public abstract class CommentMapper {

… and…

    -    CommentMapper INSTANCE = Mappers.getMapper(CommentMapper.class); //NOSONAR
    +    public static final CommentMapper INSTANCE = Mappers.getMapper(CommentMapper.class);

… and put `public abstract ` i

[2016-07-21 17:12] sjaakd commented on #835
Nice to hear. Thanks for your feedback .

[2016-07-21 17:28] #835 closed

[2016-07-21 19:48] agudian commented on #840
The way to go is implementing manual mapping methods and make them available in the mapper (as `protected` methods in an abstract mapper class, in a seperate class referenced in `@Mapper( uses = .. )` or as Java 8 default methods in the interface):
[code]

I'm gonna close this issue, as it's more a question.

[2016-07-21 19:48] #840 closed

[2016-07-21 21:37] #838 closed

[2016-07-21 21:37] #836 closed

[2016-07-21 21:38] sjaakd commented on #841
@remmeier : do you have any more info on this? Did you try my suggestion above?

[2016-07-22 07:04] remmeier commented on #841
thx, found the issue, the build was not properly working with the embedded eclipse maven distribution.

[2016-07-22 07:04] #841 closed

[2016-07-22 07:15] remmeier commented on #702
I looked more closely at the processors. Would there be an interest for a PR that adds a  "MapperRuntimeModelRenderingProcessor" processor similar to the MapperRenderingProcessor that has its own set of templates to generate mapping informations (src <-> target properties) into the mapping classes? The processor could be enabled/triggered by an annotation like @RuntimeModel on the mapper class. So

[2016-07-22 07:18] remmeier commented on #841
BTW: the gradle daemon does seem to make life miserable when developing annotation processors with random failures like

https://discuss.gradle.org/t/custom-plugin-jar-meta-inf-gradle-plugins-properties-file-not-found-error/2499/11

and others...

[2016-07-22 08:12] gunnarmorling commented on #702
Hi, generating some sort of metamodel for inspecting mappings is a very
interesting idea.

I like the idea of making this some kind of side project, so this may be
the right time to make the processor SPI more publicly available (currently
it's "internal"), probably marked as experimental/incubating.

That said, any ideas on how the generated metamodel would look like? A PR
would be welcome for su

[2016-07-22 20:10] agudian opened #842 "Use the proper MapStruct version in the generated docs"
Every damn time I run the release I forget to update the MapStruct version to display in the generated asciidoctor docs.

I think they could just as easiliy use the project.version by default.

[2016-07-23 08:07] remmeier commented on #702
The processor model packages are quite extensive (which is a good thing for the processor impl).
Not sure whether to expose part of it or work with a simplified runtime model that might be more accessible to consumers and easier to generate. In such a case, the processor model could be transformed into the runtime model. Then the code generation/serialization for the model part would be done with

[2016-07-23 08:22] sjaakd commented on #702
Do I understand you correctly that you initially would consider property mapping (as part of bean mapping) only? Would the way we implemented `BuiltIn` methods be a way forward or would that be too limited? Can that mechanism be published?

[2016-07-23 08:58] remmeier commented on #702
yes, I guess the BeanMappingMethod would be the most important and initial one. In my case to map DTO sorting/filtering to JPA sorting/filtering. But other things like the conversion of enums would be fairly interesting as well very quickly. So I suspect the runtime model will grow a bit.

Similar to the BuiltIn methods sounds good.

[2016-07-23 10:26] sjaakd commented on #702
One of the things I was thinking of to make the BuiltIn method api externally available and make it possible register your own methods (extending something extending 'BuiltIn' via the SPI.

Things that have to be considered are the order in which the matching mechanism works. The matching mechanism itself is perhaps also candidate for (SPI-like) extension. I.e. to add your own matching filters. An

[2016-07-27 07:04] pavelbely opened #843 "Non effective code generated for nested property conversion"
Hi!

MapStruct generates code to call method twice instead of saving it result to a variable and then working with it.

Consider the interface
[code]

And the following is generated. Please mind double usage of gitlabTagCommitAuthoredDate() method.
[code]

I am using MapStruct 1.0.0.Final with Java 8.

[2016-07-27 13:10] HereThereBeMonsters opened #844 "Import not generated for generic argument"
I already posted a question on StackOverflow : http://stackoverflow.com/questions/38610306/why-does-this-mapstruct-generated-class-does-not-include-import-statement

I am using MapStruct to map between JPA entities and POJO DTOs.

All my entities extend a common base class that has an ID field (a `java.lang.Long`).

I have the following abstract mapper, that allows me to map from relationship in J

[2016-07-28 18:20] agudian commented on #844
That's not good. I'm almost sure we didn't fix anything in that area after 1.0.0.Final, but just in case: could you please try it with the latest 1.1.0.Beta2 as well? Thanks!

[2016-07-28 18:29] agudian commented on #843
Still present in 1.1.0.Beta2. We should fix that.
@pavelbely, thanks for letting us know! Would you be interested in providing a fix?

[2016-07-29 06:28] pavelbely commented on #843
You are welcome, Andreas.
Sure, I will try to fix it.

[2016-07-29 06:53] HereThereBeMonsters commented on #844
Thanks for the quick reply.

This is actually fixed in 1.1.0.Beta2, the import is created.

So, I'll leave the explicit method for now as a workaround although I don't otherwise need it, and I will switch to 1.1.0 as soon as it hits production status.

Thanks again.

[2016-07-29 07:00] agudian commented on #844
Great, thanks for the feedback! I'll close this and mark it as a duplicate then.

[2016-07-29 07:00] #844 closed

[2016-07-29 07:17] sjaakd commented on #843
There should be such issue for the reverse nesting case. I noticed it just before merging but ran out of time. Perhaps we are talking about the same one.

Verstuurd vanaf mijn iPhone

[2016-07-29 08:44] sjaakd commented on #843
Could this be caused by an old version as well? I vaguely remember that such issue is fixed in the forward mapping (even before 1.0.0)...

Verstuurd vanaf mijn iPhone

[2016-07-29 09:38] HereThereBeMonsters commented on #844
I answered my own question on SO linking to this issue.

[2016-07-29 15:45] RomanMinenok commented on #481
Guys, why you don't update this page http://mapstruct.org/news/2013/07/08/using-mapstruct-with-gradle.html? Compare build.gradle in the sample project by @pardom and this page? I almost dropped any remote idea of using your lib after seeing the page and it turned out that it can be used in pretty standard and straightforward way with Gradle.

[2016-07-29 16:28] agudian commented on #481
Apart from updating the bolg post (you find it in the repo mapstruct/mapstruct.org), the main documentation in this repository (published as reference docs) could also use that example. And so does the readme.md here.

Would you consider opening a pull request?

(This may sound lame or bitchy (or both), but I mean it in a purely positive manner - any help is appreciated).

[2016-08-01 08:40] RomanMinenok commented on #481
I see. Not sure about updating web site, but I can add Android specific demo (basically adapting the one from @pardom) here guys if you wish https://github.com/mapstruct/mapstruct-examples

I just wanted to point out that looks like that article is very outdated and brings harm to the project since Gradle integration can be actually done in a very simple and clean way currently. I would delete bas

[2016-08-01 17:55] RomanMinenok commented on #481
Guys, if anyone is interested - I actually could not make MapStruct work on Android. In the sample provided by @pardom the core feature is missing which is multiple `@Mapping` annotations on a method name. It refuses to work as Android  as it is compatible only with Java 8. No workarounds that I tried to apply to the issue actually helped also.

[2016-08-01 18:22] pardom commented on #481
@RomanMinenok Since you cannot use multiple `@Mapping` annotations with Android, you'll have to use the [`@Mappings`](http://mapstruct.org/documentation/1.0/api/index.html) annotation.

For example:

[code]

[2016-08-01 19:55] ebelanger commented on #695
I would add my approval for such a change.  It would be very nice indeed if MapStruct could be used to create cloning methods since it would make sure that no properties are missed VS writing the method manually.

[2016-08-01 20:04] RomanMinenok commented on #481
Thanks @pardom, it helped! Probably having a working Gradle example for Android would be a good idea too.

[2016-08-02 15:16] ebelanger commented on #695
I think I have found a way to use MapStruct to generate such cloning methods, but it will require 2 methods.

``
public Attribute clone(Attribute attribute) {
    return clone(source, new Attribute());
}

protected abstract Attribute clone(Attribute source, @MappingTarget Attribute target);
``

[2016-08-04 15:59] mvonrenteln commented on #782
How is this custom NamingStrategy registered with mapstruct? I could not find anything in the documentation..

[2016-08-04 16:07] afdia opened #846 "@InheritInverseConfiguration not working with @MappingTarget on interface"
This issue was introduced in 1.1.0.Beta2. Older versions (including 1.1.0.Beta1) work.

Example code:
[code]

In Beta2 this shows the error `There is no suitable result type constructor for reversing this method.` at the `@InheritInverseConfiguration` annotation

Previous versions worked as expected and MapStruct doesn't need a constructor for this case, because the target object is created extern

[2016-08-04 16:37] agudian commented on #782
@mvonrenteln Currently that's only possible through a ServiceLoader file in META-INF of a jar that you add to the processor classpath. There is an example below integration-tests/src/test/resources.

[2016-08-04 18:35] sjaakd commented on #846
Oops. It's actually linked to one of the last two pr's. I included a check but obviously forgot the @mappintarget case. Put it on my name. It's not too difficult to fix.

Verstuurd vanaf mijn iPhone

[2016-08-05 12:47] mvonrenteln commented on #782
Okay, thanks, I will look into it. The example in integration test worked but the adaptions seem to be a bit tricky... Java-Model-API seems to be a bit complicated. I will adapt it next iteration.

[2016-08-06 18:39] #829 closed

[2016-08-08 08:28] cliedeman commented on #73
I have started work on this here https://github.com/mapstruct/mapstruct/pull/847

[2016-08-08 09:50] sjaakd commented on #73
👍 i'll take a look as soon as I'm back .

[2016-08-08 20:38] afdia opened #848 "Ambiguous mapping methods error in Eclipse, although only one exists"
This issue only occurs in Eclipse, so I guess it's probably an Eclipse compiler specific problem.
A Maven build works and generates the Impl class without a problem.

It's a very specific usecase and I tried to narrow the problem down as much as possible.
Create the following class:
[code]

In Eclipse, the convert method shows the error:
`Ambiguous mapping methods found for mapping property "java.

[2016-08-09 14:23] darrenreimer opened #849 "Missing import in generated mapping class"
I have an issue similar to #844, but in my case the import was being included correctly in the generated mapper class for MapStruct versions up until 1.0.0.Final and is broken in versions 1.1.0.Beta1 and 1.1.0.Beta2.  My actual mapping is quite complicated, but I was able to get this down to a simple scenario so it should be easy to reproduce.
Source class:
[code]
Target class:

[code]

Mapping cl

[2016-08-09 15:00] botzzz opened #850 "Map a List into a Map<Key, Value>"
Hello,

I'm trying to map a List<Something> into a Map<Key,Value> using a custom mapper.

The compilation fails with this message

At the top of my mapper I have this code :
[code]

And my custom mapper is defined like this :
[code]

Am I missing something ?

Thank you for reading and eventually helping me,

[2016-08-09 21:14] spoerri commented on #610
@velo did you make any progress? We'd like to use this too...

[2016-08-09 21:16] velo commented on #610
I end up not needing it... only unmappedTargetPolicy was enough for me

[2016-08-10 08:06] gorazdio commented on #589
Something like this perhaps. Where `mapPencil` inherits both from `mapProduct` and `mapStockItem`.

[code]
[code]
[code]

[2016-08-11 06:59] gunnarmorling commented on #850
You should not declare the `toMap()` method on your `MyMapper` interface. Instead, the method on `CustomMapper` will be used for each property to be mapped from list to map within generated method implementations of `MyMapper`.

I'm going to close this one, as it's not a bug. I suggest you use the [Google Group](https://groups.google.com/forum/#!forum/mapstruct-users) for asking questions, as this

[2016-08-11 06:59] #850 closed

[2016-08-11 07:01] gunnarmorling commented on #849
Hi, thanks for the report. Would you be interested in providing a bugfix for this one? Thanks!

[2016-08-11 12:25] darrenreimer commented on #849
Possibly.  Though this fix may benefit from someone who is aware of relevant code changes made between versions 1.0.0.Final and 1.1.0.Beta1.

[2016-08-15 07:16] jmuis commented on #788
Hi,

Are there currently any concrete plans to implement a SPI to filter in/out properties?
We have just taken mapstruct on board, but this is kind of a showstopper for us, as we really need to filter out 'recursive' structures based on real-time user input as we typically don't need full recursion on the mapping, but sometimes do. It all depends on context...

I would be honoured to help implemen

[2016-08-15 20:53] pjlarson opened #852 "Add built-in conversion from java.util.LocalDate to java.util.Date"
There is no mapper for java.util.LocalDate to java.util.Date

Granted there are a lot of combinations of things you're attempting to cover.

Since I need this and stubbornly refuse to stop using mapstruct since I already have it in my POM, I will attempt to submit a pull request.

[2016-08-16 19:18] sjaakd commented on #852
Ok.. Are you aware its always possible to define a hand-written method to do this for you?

[2016-08-16 19:56] gunnarmorling commented on #852
That's some stubbornness I like :) A PR is surely welcome, the existing
built-in conversions around dates should provide some guidance. Thanks a
lot!

[2016-08-17 13:35] agudian commented on #846
Just merged the fix by @sjaakd to master. @afdia, thanks for reporting!

[2016-08-17 13:35] #846 closed

[2016-08-17 14:22] agudian opened #853 "Support non-generic specializations of Iterables and Maps"
Properly support types like `StringList extends ArrayList<String>` or `LongToDateMap implements Map<Long, Date>`. Currently using such types for properties results in exceptions during the mapper generation.

(#845 fixes this).

[2016-08-17 16:18] pjlarson commented on #852
@sjaakd I am aware and have done just that. But it feels a bit strange that all the combinations similar to mine are covered in the built-ins, but this particular one is not. Potentially I will have mapstruct in many many projects, and it would be great if I could have java.time.LocalDate<->java.util.Date built in rather than have to manage my own library and manual mappings.

[2016-08-17 19:29] sjaakd commented on #852
In that case, by all means: please provide a PR. Thanks!

[2016-08-17 20:05] gunnarmorling commented on #852
+1 Looking forward to this contribution :)

[2016-08-17 20:25] agudian commented on #848
Hmm, this might be related to #655... But I need to take a closer look.

[2016-08-18 06:43] maciejkurowski commented on #824
+1 to usefullness

At the moment we are struggling to use Mapstruct for mapping DTO -> Entities which contain  collections of Entities as an attribute.

eg:
`@Entity
public class Emploee {

@OneToMany(mappedBy = "emploeeId")
protected List<Task> tasks;
}
`
For the successfull update of the Emploee record we need its data in EmploeeDto and list of his task ids in TaskDto objects.

While doing mappi

[2016-08-18 09:02] gunnarmorling commented on #849
It may have been me, but I don't remember details :) Generally, required imports are aggregated along the model object tree. So the starting point would be to find the element referring to that type the import is missing for, i.e. here the return type of the mapping method or the parameter type. Then the `Type` instance representing `Type<Serialiazable>` should return `Serializable`, too, via `get

[2016-08-21 07:55] almothafar commented on #778
Hi,
Actually I have a use for lazy fields, and this is a feature for me not an issue , I really like it, if its disabled I would suffer with fetching each field with tens of lines more just to handle this case before map it? for me if I don't want to map a specific field, simply I can do `@Mapping(target = "fieldName", ignore = true)` this will do the job to ignore the field that you don't want, a

[2016-08-21 17:54] agudian opened #855 "DependsOn creates the correct property order only in some cases"
As demonstrated in #854 by @tisoft, `dependsOn` sometimes doesn't have any effect, even if no constant-mappings are involved (see #619 for that).

[2016-08-21 18:07] agudian opened #856 "Not all dependsOn-cycles are always detected"
While investigating and fixing #855, I found that not all cycles in `dependsOn` are always reported. It's currently only guaranteed that all cycles are reported that contain disjoint nodes.
If any two cycles share one or more nodes, it may be that only one of those cycles is reported. With the coming fix to #855, the "selection" of the cycle to report will be deterministic (with the current state,

[2016-08-22 08:12] filiphr opened #858 "Add built-in methods for converting java.sql.Date, java.sql.Time and java.sql.Timestamp"
Are you willing to add built in method for the following conversions?

* Date <> java.sql.Date
* Date <> java.sql.Time
* Date <> java.sql.TimeStamp
* java.sql.Date <> Date
* java.sql.Time <> Date
* java.sql.TimeStamp <> Date

[2016-08-22 08:58] gunnarmorling commented on #858
Hey, yes, we'd be more than willing to accept a pull request providing
these built-in conversions!

[2016-08-22 23:52] filiphr opened #860 "Use assertj instead of fest"
While working on my last pull request I noticed that fest asserts are used for testing the framework.

Would you be interested in replacing the fest asserts with [assertj](https://github.com/joel-costigliola/assertj)? Assertj is actually a fork of fest and is actively developed as opposed to fest. There  is also a [migration guide](http://joel-costigliola.github.io/assertj/assertj-core-migrating-f

[2016-08-23 12:42] marcoschulte commented on #153
The change to only calling clear if `@MappingTarget` is specified instead of always calling clear and keeping the collection breaks the possibility to use nested collections with JPA.

Assume the three entities `Grandparent`, `Parent` and `Child`. A mapping with `@MappingTarget` is defined for all entities in their mappers.

When mapping `List<Parent>` of `Grandparent`, clear is called on the list

[2016-08-24 15:18] gunnarmorling commented on #860
So far I didn't perceive any shortcoming due to the lack of development in FEST Assert.

Agreed though that using an actively maintained lib would be nice. Would you like to give it a go? That'd be great, I cannot judge though how much work it'd be (we are still on FEST 1.4).

Thanks for the idea and any help!

[2016-08-24 15:24] gunnarmorling commented on #852
@pjlarson Any update on this? Would be nice to have it for the 1.1 CR which we've planned soon-ish.

[2016-08-24 15:49] gunnarmorling commented on #824
I side with @agudian, having a method-level annotation seems like the way to go, e.g. `@ObjectFactory`.

@JulianH Your help with implementing this is more than welcome. As a starter, you could check out the [contribution notes](http://mapstruct.org/contributing/#section-02) as well as the subsequent technical documentation section and check out in the code base how factory methods are handled (e.g

[2016-08-24 15:51] gunnarmorling commented on #802
The [Immutables](https://immutables.github.io/) project would be another interesting case in the same category as AutoValue it seems.

[2016-08-24 16:02] gunnarmorling commented on #856
I don't mind if just one cycle is reported in such case. The user would fix them and then learn about the other one.

[2016-08-24 16:07] gunnarmorling commented on #832
@sjaakd did you ever end up writing up something around the SPI?

[2016-08-24 16:13] gunnarmorling commented on #759
@nezuvian, wondering whether you ever followed up on this one?

[2016-08-24 16:17] gunnarmorling commented on #643
I don't think that's worth the effort really. Two identical enums should be very rare (why wouldn't you just use one to begin with in such case). And if there are differences, a dedicated method is needed to hold the configuration. I'm going to close as "Won't fix" therefore, thanks for bringing up the idea nevertheless.

[2016-08-24 16:17] #643 closed

[2016-08-24 16:21] gunnarmorling commented on #509
@agudian @sjaakd That one should be addressed by now via value mappings, right?

[2016-08-24 16:23] gunnarmorling commented on #115
Going to close this one. Can re-open one in the mapstruct.org repo if needed.

[2016-08-24 16:23] #115 closed

[2016-08-24 17:59] sjaakd commented on #832
Nope.. its on my TODO list.. Will take a look later.. Shouldn't be that big issue.

[2016-08-24 18:37] gunnarmorling commented on #832
Ok, cool, thanks, Sjaak!

[2016-08-24 18:44] agudian commented on #816
Just noticed that it's a duplicate to #765. So I'm closing this.

Still, thanks for the report, @chris922! We'll make sure that we get this fixed soon.

[2016-08-24 18:44] #816 closed

[2016-08-24 18:49] agudian commented on #689
I guess what we need is are specific LocalDate<->XmlGregorianCalendar built-in mapping methods to avoid the funny choosing of two-step conversions here (which might be influenced by what built-ins were added for other properties to the same mapper before).

[2016-08-24 18:58] agudian commented on #804
Let's close this as won't-fix. My take would be that doing it with a hand-written method is the way to go in such cases, as it's usually more expressive and better maintainable than a specific and possibly more convulated configuration via annotations.
Is that alright with you, @jlzi?

[2016-08-24 18:58] #804 closed

[2016-08-24 19:19] gunnarmorling opened #861 "Track progress of https://bugs.eclipse.org/bugs/show_bug.cgi?id=481555"

[2016-08-24 20:27] #855 closed

[2016-08-24 20:53] #842 closed

[2016-08-24 21:05] agudian commented on #842
I've also reconfigured the build to publish the latest docs in the Jenkins build:
https://mapstruct.ci.cloudbees.com/job/mapstruct-snapshot/lastSuccessfulBuild/artifact/documentation/target/generated-docs/mapstruct-reference-guide.html

[2016-08-24 22:26] filiphr commented on #860
I will try to do the migration assertj. I had a quick look and it seems that there aren't a lot of special usages of FEST Assert so it shouldn't be too complicated.

@gunnarmorling I have one question, which version should I use:
* AssertJ 1.x requires Java 6 or higher
* AssertJ 2.x requires Java 7 or higher (use the org.assertj.core.api.Java6Assertions entry point on Android)
* AssertJ 3.x requir

[2016-08-25 14:13] natros commented on #802
And there is also https://github.com/google/FreeBuilder from google.

[2016-08-25 17:47] filiphr commented on #860
@gunnarmorling It was much easier than I thought so I provided a pull request for the switch. If you are interested you can review it.

[2016-08-25 20:46] gunnarmorling commented on #860
Awesome, thanks a lot! Regarding the version, we use Java 8 for building but work with source level 1.6 for source and target (apart from the mapstruct-jdk8 module). Not sure where this leaves us exactly in terms of the AssertJ version, but it seems your PR works successfully using AssertJ 3.x?

[2016-08-25 22:37] filiphr commented on #860
Yes the PR is working with AssertJ 3.x. If you are OK I'll leave this version, as in any case there are java 8 classes in the tests

[2016-08-26 04:02] wenerme opened #865 "Collection source null check"
[code]

[2016-08-26 04:03] wenerme commented on #865
For every collection field I have to assign an empty collection.

[2016-08-26 04:41] tomliuxd commented on #717
I am looking for something similar (if not the same)

1) Mapping bean property to target map with given key name
2) Mapping target map with given key name to bean property

for example
`
abc
def
`
public class ClassA {
    Map<String, String> properties;
}

public class ClassB {
    String serverName;
}

@Mapping(target="properties(key='server name')", source="serverName")
public ClassA b2a (Class

[2016-08-26 07:15] gunnarmorling commented on #865
Hi @wenerme, it's not quite clear to me what the issue is you are reporting. Could you describe more clearly what's the behavior you'd expect from MapStruct and what's the behavior you currently get instead? Thanks!

[2016-08-26 08:11] agudian commented on #865
And maybe also check this section of the docs: http://mapstruct.org/documentation/1.1/reference/html/index.html#mapping-result-for-null-arguments

[2016-08-27 10:55] agudian commented on #865
Now I understand:
* You have an update-method (mapping method with `@MappingTarget` parameter).
* A collection property needs to be mapped and for the element types there is a mapping method - the iterable mapping method is generated automatically (we call that a _forged method_ internally).
* The generated iterable mapping method returns `null` by default if the source is `null`. But as the resul

[2016-08-27 11:14] agudian commented on #860
Your PR is merged. Thanks a lot, @filiphr!

[2016-08-27 11:33] sjaakd opened #866 "DefaultAccessorNamingStrategy does not expose all relevant methods"
... to be reusable..

[2016-08-27 16:32] wenerme commented on #865
Sorry for weekend delay, @agudian yes, I don't expected `addAll(null)`, this will cause NPE (JPA Persist Collection).

[2016-08-27 18:53] filiphr commented on #860
Great. We can close the issue now.

[2016-08-27 18:53] #860 closed

[2016-08-27 20:03] sjaakd commented on #843
Hi,

I tried to reproduce this on 1.1.0.Beta2.. This is the result:

[code]

However, if I change the `@Mapper` to `@Mapper( nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS )` it will trigger the ineffective code as in your example. Have you migrated to 1.1.0.Beta2?

We should fix this. But its more a corner case than I initially thought.

[2016-08-28 08:09] sjaakd commented on #707
@gunnarmorling :

So the documentation should be clarified. No problem. I think this unclarity (I made the same mistake) can cause a lot of misunderstanding.

Checkout the warning on P21 of our documentation: 'A class / method annotated with a qualifier will not qualify anymore for mappings that do not have the qualifiedBy element.'

So IIUC and in the light of the documentation, it would be very

[2016-08-28 20:41] sjaakd opened #871 "Fix message CONSTANTMAPPING_MAPPING_NOT_FOUND"
Because it has strange quotation mark placement :smile:

[2016-08-29 08:00] marcoschulte opened #873 "Automatic mapping of nested persistent collections not possible"
Hi,

I just want to raise awareness of the comment I made in a closed issue: https://github.com/mapstruct/mapstruct/issues/153#issuecomment-241717848

There I describe why a commit you made made it impossible to automatically map nested persistent collections correctly.

[2016-08-29 12:44] apolit commented on #717
Similar functionality is available in Dozer: http://dozer.sourceforge.net/documentation/mapbackedproperty.html
It would be great to have it in MapStruct

[2016-08-29 15:16] agudian commented on #873
I'm pretty sure we have this covered in issue #487 already (allowing to use update-methods for lists/maps). There are some details still to be discussed, but if you want to give it a try, a PR would be most welcome.
Could you please check if that other issue covers what you need and close this one if it does?

[2016-08-29 17:49] tomliuxd commented on #717
actually we are using dozer now.  but its performance is not good.  we are considering to move to either mapstruct or other tools.

[2016-08-30 13:44] marcoschulte commented on #487
We might find the time to implement that feature.

I guess it should be discussed beforehand how that problem could/should be solved.

I'm not aware about the terms you are using, therefore I clarify what I mean by _mapping_ and _merging_:

To me a mapping method looks like `B map(A source)` and a merging function like `void merge(A source, @MappingTarget B target)`

Basically I see two options to

[2016-08-30 15:08] agudian commented on #487
@marcoschulte that'd be great!

Some remarks: what you call _merging_ methods is what ended up being called _update_ methods in our issues, docs, and partially in the code and tests - in the code you can also find the term `isExistingInstanceMapping` in some places instead of `isUpdate` or something -- that might be something to refactor properly, I guess.

As for the factory methods, we have that

[2016-08-30 19:35] #832 closed

[2016-08-30 19:35] #866 closed

[2016-08-30 20:36] sjaakd commented on #700
going to close this one. Fixed by PR. @agudian thanks for reviewing

[2016-08-30 20:36] #700 closed

[2016-08-30 20:55] sjaakd commented on #843
@pavelbely : can you check this to the lasted 1.1.0.SNAPSHOT? I could not completely reproduce your original problem. My guess is it was already fixed. I fixed another corner case. I'm going to close it for the mean time.

@agudian: thanks for reviewing.

[2016-08-30 20:55] #843 closed

[2016-08-30 21:27] sjaakd commented on #849
Should be fixed.

@agudian : thanks for reviewing.
@darrenreimer : can you test the latest 1.1.0.SNAPSHOT? I'll close the issue in the meantime

[2016-08-30 21:27] #849 closed

[2016-08-30 22:45] pjlarson commented on #852
Hi Gunnar. Unfortunately when I put in the fix it broke a test related to a
gregoriancalendarxml test. I left for vacation so not looking at it. Can
you mark it for the following release and I'll do a pull request when I get
back. I will need help understanding what broke.

On Wednesday, August 24, 2016, Gunnar Morling <notifications@github.com>
wrote:

[2016-08-30 22:59] darrenreimer commented on #849
Yes, I'll test it out and let you know.

[2016-08-31 07:01] sjaakd commented on #852
Hi Peter, do you want one of us to take a look and fix it? It's up for CR1 next week.

[2016-08-31 07:28] marcoschulte commented on #487
To sum it up:
* #824 should be implemented. As far as I understand it, you decided to use a method level annotation called `@TargetBeanFactory` or `@ObjectFactory`. Should backwards compatibility be broken and the annotation become necessary for all factory methods, or is the annotation optional?
* I haven't had a look at the mapstruct sources, but I assume you are talking about an iterable-update

[2016-08-31 08:03] thekalinga opened #875 "Mapping using decorator throws "Can't generate mapping method from non-iterable type to iterable type""
Given the following classes

[code]

[code]

[code]

If I try to compile, I get the following exception

[code]

Please note that I have explicitly overriden ```toChildResponses()``` method

[2016-08-31 08:31] sjaakd commented on #875
@thekalinga: this is not how decorators work.
1. MapStruct first tries to generate the `RootMapper`, `RootMapperImpl`.
2. MapStruct then tries to generate the `RootDecorator`. MapStruct will generate a simple implementation of all non overridden methods, delegating their call to the `RootMapper`.

Step 1. fails in your scenario.

There are a number of ways to fix this:
1.  define an abstract class

[2016-08-31 08:59] thekalinga commented on #875
@sjaakd Thanks for your prompt response.

1. I am achieving reusability by injecting this mapper in other mapper decorators/services.
2. ```java @Mapper(uses = {ReusuableChildMapper.class})``` is useful only if this mapeper is applicable to other mappers aswell, but in my case, this mapping is required only once, just for this scenario.
3. If I make it an abstract class, what will happen to other

[2016-08-31 09:09] sjaakd commented on #875
That's just perfectly fine.

Yes. Abstract methods in abstract classes and interfaces (in essence also abstract methods) will trigger MapStruct to do its job.. See chapter 3.2 of our documentation.

But that's exactly the intention. It leaves the possibility to let the generated MapStruct method in the decorated mapper do the bulk of the work. In your decorator, you can just tweak the things you n

[2016-08-31 10:54] thekalinga commented on #875
Thanks

[2016-08-31 10:59] sjaakd commented on #875
@thekalinga .. I hope the issue is resolved. I'll continue to close this issue. If you have additional questions, please also checkout our [user-group](https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users).

[2016-08-31 10:59] #875 closed

[2016-08-31 14:05] pjlarson commented on #852
It's on my home PC and I don't have access to it while on vacation. If only
I had pushed to my fork before I left...

I have someone at home who's not a software person. I'll see if I can talk
them through git over the phone. Stay tuned...

On Wednesday, August 31, 2016, Sjaak Derksen <notifications@github.com>
wrote:

[2016-08-31 15:50] darrenreimer commented on #849
Verified this has been fixed in 1.1.0-SNAPSHOT.

[2016-08-31 16:05] sjaakd commented on #849
Thanks!

[2016-08-31 18:34] agudian opened #877 "Use a source-code formatter lib to format the generated code"
We're taking great pride in the readability of our generated code, and that includes a proper formatting. Currently, we're tweaking the ftl templates where we can until the result looks good and we have our `IndentationCorrectingWriter` that takes care of indentations and strips out double newlines.

But removing unecessary line breaks is always a pain, and we still don't have it right in some pla

[2016-08-31 20:37] sjaakd opened #878 "Check whether `collectionGetterName` is really needed"
We have the`Type#Map<String, ExecutableElement> getPropertyReadAccessors()` to do a similar job, right?

See #865 for more info

[2016-08-31 20:55] sjaakd commented on #865
Fixed with #878. @agudian : thanks for reviewing.

[2016-08-31 20:55] #865 closed

[2016-08-31 23:59] natros commented on #877
There is also https://github.com/google/google-java-format the only problem is that formats the code to comply with the Google code style.

Sent from my iPad

[2016-09-01 06:54] gunnarmorling commented on #877
I'm a bit torn. It's a bit sad that we should not be able to achieve a
proper formatting ourselves but as you say formatting errors keep to pop
up. I'm not thrilled by the thought of adding another dependency "just" for
formatting.

Still +1 for experimenting with it, I'd hope such lib would not add to much
weight to the processor JAR (when shaded in)?

[2016-09-01 07:25] wenerme opened #879 "Merge target ignore null or empty"
I want a patch(very common in REST) update, which means ignore null(or empty collection/string) field from source, only map non-null field to target.

User{name,age,children}

[code]

This is very helpful.

Currently we use [jodd BeanCopy](http://jodd.org/doc/beanutil.html#beancopy), extend to support ignore empty collection to avoid copy empty collection(due to this https://github.com/mapstruct/m

[2016-09-01 08:38] pavelbely opened #880 "Specifying componentModel="default" in mapper has no effect if defaultComponentModel is configured"
My assumption is that configuring defaultComponentModel literally overrides default component model.

So if I configure defaultComponentModel:
[code]

And then when I try to specify default as a component model for my mapper:
[code]
it has no effect and the mapper is created as Spring bean and **SomeOtherMapper** is autowired in it instead of get using `Mappers.get(SomeOtherMapper.class)`.

I'm ge

[2016-09-01 18:16] sjaakd commented on #878
I reckon we need to determine if this is really needed in an SPI before the CR1 is out..

[2016-09-01 19:43] agudian commented on #880
Um, right. I wonder if we did that on purpose.

[2016-09-01 19:44] agudian commented on #880
I'm labelling it at as a bug, as it doesn't really make sense... :smirk:

[2016-09-01 20:50] agudian commented on #879
If you have your bean classes under your own domain, you can add `hasX() : boolean` methods for each string or collection property `x` that should not be mapped if not empty. Together with `Mapper#nullValueCheckStrategy`, this could get you pretty far.

Could you check what would still be missing for your use case?

[2016-09-02 02:11] wenerme commented on #879
We also have a merge operation in mapper, which not ignore null for PUT method in REST.By now,we have about 100 DTP, so have to add about 1000 hasX method by hand(getter and setter is generated), we can't do this.

[2016-09-02 21:08] agudian commented on #880
Found another spot: `MapperConfig#unmappedTargetPolicy` is ignored if there was a value specified as processor option.

[2016-09-03 10:44] sjaakd commented on #689
I'm not sure whether the conversion makes sense from `LocalDate` to `XmlGregorianCalendar`. The latter one contains date and time. The first one only a date. So, in essence you have to choose what time part to generate in `XmlGregorianCalendar`. I'm not in favor of MapStruct making that choice. Especially considering time-zones.

I reckon the following conversions make sense:
 DateTime <> XmlGrego

[2016-09-03 12:37] sjaakd commented on #689
I wrote some small tests. The current conversion (see above) from
`XmlGregorianCalendar` <> `DateTime` runs in two steps: via `java.util.Date`.
1) the first part from /to `XmlGregorianCalendar` to `java.util.Date` is a built in method
2) and the latter from/to `DateTime` a conversion.

TimeZone information (and representation) is lost due to the fact it runs via `java.util.Date` which is in essenc

[2016-09-04 09:40] gunnarmorling commented on #880
These processor options became quite obsolete when we added config inheritance via `@MapperConfig`. I wished we had removed these options then. I think we should deprecate them now. WDYT?

[2016-09-04 10:41] agudian commented on #880
We had that discussion before, I think :). I'm still in favor of keeping them, as it removes a possible pitfall for large projects with many devs. And I guess I had some other equally weak arguments back then.
I think it doesn't hurt having the options and if it is usefull for some users, why not.

[2016-09-04 12:13] #880 closed

[2016-09-04 12:13] agudian commented on #880
Fix merged to master. Thanks @sjaakd for the reviews!

[2016-09-04 20:38] gunnarmorling commented on #707
@sjaakd, reading that comment, I think it may be about the case where `qualifiedBy=Foo.class()` is given in the using mapping method and there is an element mapping method with that qualifier. Then we fail to generate the collection mapping method. Or there is an unqualified element mapping method and a qualified one, and we'd need to generate a private list mapping method for the unqualified one

[2016-09-04 22:06] Runomu opened #883 "generated variable names with ı instead i"
I'm using mapstruct in spring-boot with component model 'spring'.  My problem is generated variable names have ı instead i. i'm using IDEA and encoding for editor is already set to UTF-8. i have also set encoding to UTF-8 in maven properties. But i can't still generate concrete classes with 'i' instead of 'ı'. After Build success it becomes 'ı'. And if i try to deploy, make module in IDEA fails an

[2016-09-05 06:03] agudian commented on #883
Hmm, intersting. What's the default file encoding and the default Locale on your system?

[2016-09-05 06:46] Runomu commented on #883
i'm still struggling for this problem. yes its really suspicious. Because windows 10 in Turkish is installed on my laptop. And Turkish has that character :) i really dont know how to find out default encoding. But on save as in Notepad first encoding option was ANSI.

i tried now following for maven-compiler-plugin. But there is still ı instead i :(

`                  <compilerArgs>

[2016-09-05 07:38] Runomu commented on #883
finally i solved problem with following maven configuration parameters. set fork to true and file.encoding to UTF-8

[code]

[2016-09-05 11:54] domdorn commented on #657
any updates here?
I'm trying to do mapping to a interface and specify the implementation class somehow, but I'm unable

code looks like this:

    @BeanMapping(resultType = ModifiableOpeningTime.class)
    OpeningTime mapOpeningTime(otherpackage.model.OpeningTime value);

ModifiableOpeningTime is a normal POJO, OpeningTime is a interface

thx

[2016-09-05 13:23] Runomu commented on #883
unfornunality problem is not solved. setting fork to true and adding  -J-Duser.language=en_us and -J-Dfile.encoding=UTF-8 just helped to generate letter as i insted of ı. But if i try to deploy or make module. it fails again and somehow letter i is changed to ?.

in order to test it, i have created a sample project just with mapper dependencies and an object and dto beginned with (ITestObject). An

[2016-09-05 18:20] agudian commented on #657
@domdorn That shouldn't be too hard to do, but sending in a PR would speed things up... :)
In the meantime, you'd have to use factory-methods (http://mapstruct.org/documentation/1.1/reference/html/index.html#object-factories)

[2016-09-05 18:25] agudian commented on #883
IntelliJ probably doesn't pick up those settings from the pom.xml to pass on to Javac, so you might have to set it manually in the project settings.
Anyway, it would still be nice to have this fixed. If you feel like it, you could try to fix it - given that your PC already has the proper environment required for reproducing it. Would that work for you? It would probably be a bit more tricky for us

[2016-09-05 19:15] sjaakd opened #886 "Have more control on 2 step builtin / conversions"
Idea. Consider the following 2 step matches:
- Conversion / Conversion
- Builtin / Conversion (and vice versa)
- Builtin / Builtin
- The discovery mechanism of these 2 step matches should add all possibilities (and not bail out on the first match).
- A new selector should favor (prioritize) more complex types as in-between-type over simple ones such as: String, Date. Perhaps even issue a warning o

[2016-09-05 19:46] sjaakd commented on #878
Fixed. @agudian thanks for reviewing.

[2016-09-05 19:46] #878 closed

[2016-09-06 17:18] sjaakd commented on #707
Ok.. But what about maps? I can imagine that you have `@Mapping( target="...", qualifiedBy=Foo.class)` and you know the proper element mapping to select. But you can't do that for maps. Here you need a `keyQualifiedBy` and a `valueQualifiedBy`.

[2016-09-06 18:55] agudian opened #888 "Add config-snippets for Gradle in documentation"

[2016-09-06 20:07] #707 closed

[2016-09-06 20:10] #888 closed

[2016-09-07 13:11] almothafar opened #890 "Map from Date to joda DateTime with null value not working as intended"
Hi, its simple to explain , i'm trying to map 2 classes, the source value of Date type is set with null, when I map it to DateTime property it set it with DateTime.now() instead of null, I think it must keep it with null if it is a null !

[code]

And:
[code]
And following mapper:
[code]
Then try to map 2 classes:
[code]

**Edit:**
I'm using version 1.1.0 Beta2 with jdk8:
[code]

[2016-09-07 17:20] agudian commented on #890
Yup, that doesn't feel right.

[2016-09-08 11:53] stoerr commented on #843
This ticket seems to introduce some bugs. We tried to upgrade from 1.1.0.Beta2 to 1.1.0.CR1, and got some NullPointerExceptions. If you try to map the following, you get code that will throw an NPE when nested.getPropInt is null. Shall I report a separate bug, or is it sufficient to include this here?

@Mapper
public interface BuggyMapper {

    class Src {
        public SrcNested getNested() {

[2016-09-08 13:42] sjaakd commented on #843
Thanks for the report . Will look into this.

[2016-09-08 14:06] gunnarmorling commented on #843
Could you please open a new one for this? Thanks!

[2016-09-09 07:13] stoerr opened #891 "NullPointerException in implicit type conversions"
When upgrading from MapStruct 1.1.0.Beta2 to 1.1.0.CR1 we suddenly got some NullPointerExceptions when MapStruct tries to convert an Integer to a Long. If you try to map the following, you get code that will throw an NPE in the .longValue() call when nested.getPropInt is null. This might be related to issue #843 . The correct way would probably be to save the result of srcNestedPropInt( src ) in a

[2016-09-09 13:02] stoerr commented on #843
I did report a new bug for this problem #891 .

[2016-09-09 15:28] sjaakd commented on #843
Thanks ! I'll look into it early next week.

[2016-09-12 17:59] piercena opened #892 "String.valueOf called for int to int mapping"
We have a source and target bean. Both has a parameter of type int on them. In the mapper impl that is generated using "mvn clean compile" the generated code is target.setType(String.valueOf(int)); even though both the source and target has an int type. In the target bean though there are two methods that set the same parameter on the target, one that takes in an int and one that takes in a string

[2016-09-13 13:20] pjlarson commented on #852
Hi guys, so sorry for the delay. I created a pull request. There is a test failing for an unrelated conversion. I could not figure it out on my own.

[2016-09-14 19:51] sjaakd commented on #892
@piercena could you provide a reproducer?

[2016-09-15 16:14] afdia opened #895 "Mapstruct cannot map List<byte[]> to byte[][] and reverse"
Given the following example class:
[code]
Mapstruct will generate the following code:
[code]

If I change the class to
[code]
it generates the following correct mapper-class:
[code]

Therefore I guess the issue is that Mapstruct uses "byte[]" as part of method and variable names if byte[][] or List<byte[]> are used. This leads to broken mapper classes.

[2016-09-15 17:14] agudian commented on #895
Oh that's a nice one!

[2016-09-15 19:56] brunomanzo opened #896 "String to Enum problem"
Hello,

Given the example:
[code]
MapStruct outputs this:
[code]

If the variable text is null, Enum.valueOf will throw a Exception.
I think a != null is missing before calling Enum.valueOf

[2016-09-15 20:47] sjaakd commented on #896
hi @brunomanzo , could you check if this is solved with PR #897? I think its the same issue as #891. Could be that the PR needs to be extended a bit.

[2016-09-15 20:51] sjaakd commented on #890
@almothafar did this work in older releases?

[2016-09-16 11:57] brunomanzo commented on #896
@sjaakd, I just checked and got this:

[code]

Looks better now!

[2016-09-16 12:49] sjaakd commented on #896
@brunomanzo  thanks for your quick feedback. Sorry for the inconvienience.  I'll mark this one then as duplicate for #891

[2016-09-16 12:49] #896 closed

[2016-09-16 21:20] sjaakd opened #899 "Bring `AdderWrapper` in line with new `SourceRHS`"
See #897 and approach for `NullCheckWrapper`.

[2016-09-16 21:21] sjaakd commented on #891
Merged & solved.. @stoerr thanks for reporting.

[2016-09-16 21:21] #891 closed

[2016-09-17 10:03] #895 closed

[2016-09-17 10:06] agudian commented on #895
@afdia Thanks for the report, it's fixed on master now.

[2016-09-17 10:22] agudian opened #900 "Fix integration-test execution with jigsawed JDK 9 in toolchain"
With the Jigsaw-enabled JDK 9 builds, we need to add `-addmods java.annotations.common` to the compiler args, as otherwise some of the annotations we add to the classes won't be available (e.g. `@Generated`).
We might also consider detecting if the annotation is available in the classpath and leave it out / comment it out in the generated classes to make it easier for our users.

[2016-09-18 08:43] qwert321 opened #901 "Failed to generate code to convert List to nested List."
**When compile to generate the code to convert List to nested List, with error below:**

**NestedList.java**

[code]

**List2nestedListMapper.java**

[code]

As the error said, "nested" in class NestedList is List<>, it must be a iterable type.

Or I am wrong with anything?

With version: 1.1.0.CR1

[2016-09-18 13:53] afdia commented on #895
@agudian Thank you for fixing the problem! :)

[2016-09-19 00:17] spoerri commented on #621
This feature would also work nicely with bidirectional mapping and reporting unmapped source fields.

[2016-09-19 10:51] sjaakd commented on #621
@spoerri have you tried the latest 1.1.0.CR1? It has nested source mapping and tested target mapping.

There's no completeness check, since that would entail scouting the complete target tree for missing mappings and it would (most likely) more cumbersome to ignore them all. Instead of this, there's only a check on top level.

@gbrehmer , @mozinrat, @spoerri .. is still relevant, now we have neste

[2016-09-20 17:43] agentgt opened #902 "Generate an interface from a bean for compile time safety"
This might be outside of the scope of the library but is there a way for MapStruct to generate a filling contract for a bean?

That is I want to something like the following:

http://stackoverflow.com/questions/39600413/annotation-processor-to-create-interfaces-for-bean-construction

Basically I want to be able to do something like:

[code]

It feels like MapStruct is the closest I have seen. If i

[2016-09-20 18:48] gunnarmorling commented on #902
Hi, there is no such functionality like this in MapStruct right now. It's not really in the scope of this tool, but have you looked into [Immutables](https://immutables.github.io/) or Google's AutoValue? They may be more what you are after.

[2016-09-20 19:12] agentgt commented on #902
Yes I have sort of thought about that but it would require an interface first approach (ie interface->POJO).

We would have to convert our code base to having loads of abstract classes or interfaces (depending on the library).

[2016-09-20 20:22] sjaakd opened #904 "Refactoring wrappers"
In follow up of #903

Currently we have wrappers that can be used to decorate assignments. However, only the combination: `XYZWrapper` - `NullCheckWrapper` is used. The idea is to remove the `NullCheckWrapper` and include the null check in the `XYZWrapper` hence making the code more transparent.

Next we could merge the `MethodReference`, `TypeConversions` and `SourceRHS` into `SourceRHS`

The fin

[2016-09-20 20:23] sjaakd commented on #900
oops. wrong reference.. sorry

[2016-09-21 18:00] gunnarmorling opened #907 "Investigate slowness of tests"
Some of the tests run 2 seconds on my machine. We should profile what's causing this, as the overall build time starts to become concerningly high. Just a wild guess, but maybe we could keep the compilers around during the cause of one test suite run.

@agudian, any thoughts?

[2016-09-21 18:06] gunnarmorling commented on #858
The PR is merged, leaving this issue open for tracking:

* Updating the reference docs
* Avoiding the usage of deprecated methods in generated code

@filiphr Do you think you could take a look into these issues above? If not let me know and I can take over. Thanks!

[2016-09-21 18:57] gunnarmorling commented on #883
Hey @Runomu just wanted to check in on this on. Any chance that you send a bug fix for this one? Your help would be greatly appreciated.

[2016-09-21 19:26] gunnarmorling commented on #853
@agudian Would you agree if we moved this to 1.1.1 or 1.2? I agree it should be supported but it seems like quite some corner case so I wouldn't mind deferring it (esp. since it hasn't been reported by a user).

[2016-09-21 19:29] gunnarmorling commented on #899
Moved to 1.2 as discussed.

[2016-09-21 20:27] gunnarmorling commented on #765
Done.

[2016-09-21 20:27] #765 closed

[2016-09-21 20:47] agudian commented on #853
Merged 👍

[2016-09-21 20:47] #853 closed

[2016-09-22 10:20] lukas0krupa commented on #510
@ahus1 Thank you for sharing your code. I managed to get it finally working with Maven.

Then I had some time and I managed to get it working with `maven-compiler-plugin` and multiple executions with specific configuration (you can have different configurations per executions).

Long-story-short, 3 executions:
- turning default compiler off
- compiling all sources except mappers
- compiling mapper

[2016-09-22 16:20] filiphr commented on #858
@gunnarmorling No problem. I just created a pull request for the reference documentation.

As for the deprecated methods, I am not sure what is deprecated. I am using `new Time( <SOURCE>.getTime() )`, which is not deprecated. Can you tell me where did you see that deprecated methods are used? How can I see that?

[2016-09-26 08:15] zivry opened #909 "mapping does not work when parameter name is 'values'"
A really non descriptive error is thrown, and I looked for the reason of problem for hours.
apparently the name of the parameter cannot be 'values', I sill fail to understand why.
The exception:

/workarea/zivry/workspace/NBODataService/service/src/main/java/com/intel/swiss/microservices/nbodataservice/controllers/JobDtoMapper.java:24: error: Internal error in the mapping processor: java.lang.Runt

[2016-09-26 08:54] stryd3r commented on #469
Any news about this problem?

[2016-09-26 20:00] agudian commented on #909
Well, that looks strange indeed. What version of MapStruct do you use? What compiler?

I just tried a simple mapper of beans that contain a `values` property, but it worked as expected. Could you share a simplified example?

[2016-09-26 20:04] agudian commented on #909
Ahh... If the source argument is called `values`, I get the same error:

[code]

[2016-09-26 20:46] agudian commented on #909
That's a bug in freemarker - strange thing. I'll prepare a PR with a workround...

[2016-09-27 03:30] spoerri commented on #621
Iiuc this feature is independent of the nested mapping features.

E.g.

[code]

This annotation feature would be unusual because it would require a separate "Mapping method with several source parameters" and would never just work by itself.

The completeness check and inverse mapping of course wouldn't come for free, but would nicely complement...

[2016-09-27 04:17] zivry commented on #909
Thanks! I am using 1.0.0.Final by the way.

[2016-09-27 05:09] agudian commented on #909
If you have the chance, could you build the PR above and check if it solves the problem for you? Just to make sure I didn't miss anything.

[2016-09-27 07:54] zivry commented on #909
Sorry, for some reason build fails for me. I don't understand if it is a local environment problem

[2016-09-27 20:52] pascalgn commented on #469
Yes. Hi. Sorry, there were some larger pauses between my commits because I had to think of a good solution.

The first idea was to add a configuration parameter `mappingStrategy = IdentityMap`. (those are commits `3519c7c` and `feade77`, both of which I ended up discarding). However, that would have introduced runtime dependencies to MapStruct, which I would like to avoid.

After some thought, I f

[2016-09-27 20:54] pascalgn commented on #469
The pull request is #911

[2016-09-28 08:19] svendig opened #912 "No nullcheck for nested source-properties with simple type-conversion in in 1.1.0CR1"
Mapstruct 1.1.0CR1 behaves different to Beta2, when mapping nested source-properties, that need a simple type-conversion. In CR1 no nullcheck is generated, what might potentially lead to Nullpointers.
Is there a new configuration I'm missing or is this a bug?

The objects to map:
[code]

The mapper:
[code]

The CR1 result:
[code]

In Beta2 there is an additional nullcheck generated:
[code]

[2016-09-29 02:10] Sarev0k commented on #601
I have a similar issue.  I'm using a `@Mapping` expression, and my generated code is causing warnings in Findbugs, because of the null checks the generated code is doing and the fact that my custom expression could be dereferencing null.

I'd love to be able to annotate my Mapper interface in such a way where I could get `@SuppressFBWarnings` applied to the generated class.

[2016-09-29 12:11] aspan opened #913 "Generated code does not compile in 1.1.0.CR1 it compiled fine in 1.1.0.Beta2"
`List<String>` is incorrectly assigned to a `Set<String>` local variable in 1.1.0.CR1 in 1.1.0.Beta2 no such assignment is made.
## The objects to map:

[code]
## The mapper:

[code]
## 1.1.0.Beta2 generated code:

[code]
## 1.1.0.CR1 generated code:

[code]
## The Diff left 1.1.0.Beta2, right 1.1.0.CR1:

[code]

`source.getStrings()` returns a `List<String>` not a `Set<String>`

[2016-09-29 12:53] rohodragon opened #914 "Decorator with List code generation is wrong"
Any decorator method that overrides the logic for iterating the list will not get called.
In the case below, the intent is to call an **3.5. Updating existing bean instances** method to do additional work on each element of the list collection.

`
public class ActivityBundleTemplateTypeToQuestionnaireTypeMapperImpl_ implements ActivityBundleTemplateTypeToQuestionnaireTypeMapper {
    @Override

[2016-09-29 13:24] rohodragon commented on #914
The fix by setting reference to the Impl class as an attribute of the Impl_ class.
   private ActivityBundleTemplateTypeToQuestionnaireTypeMapperImpl(ActivityBundleTemplateTypeToQuestionnaireTypeMapperImpl_ delegate) {
        super( delegate );
        this.delegate = delegate;
        delegate.setImpl(this);
    }

In the Impl_ class added the setter
   public void setImpl(ActivityBundleTemplate

[2016-09-29 15:51] gunnarmorling commented on #909
@zivry What kind of build error do you get?

[2016-09-29 15:59] gunnarmorling commented on #909
Merged the fix.

[2016-09-29 15:59] #909 closed

[2016-09-29 16:23] sjaakd commented on #913
@aspan . I'll have a look what happened here. The local variable assignment is due to an introduced source check. Apparently the target type is taken instead of the source type. And its debatable whether the source check is required in this scenario. I think we only do it for conversions and mapping methods.

[2016-09-29 16:28] sjaakd commented on #912
@svendig: are you really sure?  I thought I covered this case in issue #891. See also `org.mapstruct.ap.test.bugs._891`.  I solved this in CR1 but it was failing in Beta2.

[2016-09-29 16:44] ravy commented on #510
I am using maven, lombok, mapstruct.
figured out i am having this issue too.

[2016-09-29 17:11] gunnarmorling commented on #858
@filiphr, ah, sorry. For some reason Eclipse marked the constructor usage as deprecated, I reckon it was because it didn't open it in the Java source editor properly. All good I'd say.

[2016-09-29 17:15] gunnarmorling commented on #858
Done. Many thanks for this contribution @filiphr! If there is anything else you'd like to hack on, just let me know and we can discuss some interesting issues :)

[2016-09-29 17:15] #858 closed

[2016-09-29 17:30] gunnarmorling commented on #912
Seems we should verify/fix this before the final.

[2016-09-29 17:33] gunnarmorling commented on #913
Many thanks for testing the CR release and filing this bug report @aspan!

[2016-09-29 17:34] gunnarmorling commented on #902
I'm going to close this as "Won't fix" as it's not something which I think we'll add in the foreseeable future. Nevertheless thanks for getting in touch and bringing up the idea.

[2016-09-29 17:34] #902 closed

[2016-09-29 17:46] gunnarmorling commented on #852
Going to look into the test failure right now.

[2016-09-29 18:21] svendig commented on #912
@sjaakd: You are right, this issue is a duplicate to #891, that also relates to 1.1.0.CR1. I guess you fixed it for 1.1.0.Final.

[2016-09-29 18:39] gunnarmorling commented on #912
@svendig, so can you confirm it works on the current master if you built
MapStruct yourself and use that SNAPSHOT version?

[2016-09-29 18:54] gunnarmorling opened #915 "Compile test code with debug symbols"
The code in the programmatic compilations doesn't contain debug symbols, instead I'm seeing `arg0` etc. as parameter names.

[2016-09-29 19:33] gunnarmorling commented on #655
Need to move that out of 1.1 as there unfortunately is no fix we can implement right now.

[2016-09-29 20:13] gunnarmorling commented on #852
@sjaakd So this change is triggering a different path in the 2-step conversion resolution. Source is of type `XMLGregorianCalendar`, target is of `LocalDate`.

Before the conversion was

     XMLGregorianCalendar -> String -> LocalDate

Whereas now it's

     XMLGregorianCalendar -> Date -> LocalDate

Simplest would be to add an explicit conversion for `XMLGregorianCalendar` to `LocalDate`. WDYT?

[2016-09-29 20:25] agudian commented on #915
Fixed on master

[2016-09-29 20:25] #915 closed

[2016-09-29 20:41] filiphr commented on #858
@gunnarmorling, no problem, it was really nice working on this. I am open for more hacking. Which issues  do you have in mind? We can also move the discussion to some chat/email as well.

[2016-09-30 06:20] gunnarmorling commented on #890
@sjaakd Did you have a chance to look into this one?

[2016-09-30 07:02] sjaakd commented on #890
Nope. This evening ill do some coding.

Verstuurd vanaf mijn iPhone

[2016-09-30 07:12] gunnarmorling commented on #890
Ok, thanks for the heads-up!

[2016-09-30 07:21] gunnarmorling commented on #601
@Sarev0k Can you share some of the generated code which causes the warning? Not sure whether it's of the usage of custom expressions but I'd rather avoid such warning on null dereferencing instead of suppressing it.

[2016-09-30 07:26] svendig commented on #912
@sjaakd @gunnarmorling: yes i can confirm that this issue is fixed in the SNAPSHOT version.
### The generated Mapper:
[code]

[2016-09-30 19:43] sjaakd commented on #852
Nice to hear.. :smile:. The idea is to order 2 step conversions by their middle type. So if you've to three types available:
1. String
2. Date
3. SomeOther type.

The order of preference should be 3. first, then 2. then 1. Then you still keep the current stuff working. Or more generic "something special", "something from java.util", " something from java.lang" possibly emitting a warning on the la

[2016-09-30 19:54] sjaakd commented on #912
@svendig .. thanks a lot for verifying I'm going to close this as duplicate of #891

[2016-09-30 19:55] #912 closed

[2016-09-30 20:15] sjaakd commented on #890
generated code on current SNAPSHOT:

[code]
Problem seems *not* to occur on our current master.

[2016-09-30 20:19] sjaakd commented on #890
@almothafar :  can you confirm for yourself it works on the current master if you built
MapStruct yourself and use that SNAPSHOT version?

I'll continue to close this issue in the mean time. If there's still a problem let us know (reopen the issue). Thanks for reporting.

[2016-09-30 20:19] #890 closed

[2016-09-30 20:57] rohodragon opened #917 "Source Presence Checking"
[simple.zip](https://github.com/mapstruct/mapstruct/files/503792/simple.zip)

compile with:
C:\java\jdk1.8u101\bin\javac -cp \projects\light\Test\src\IsMapper.jar;\projects\light\SharedLibraries\mapstruct-1.1.0.CR1\lib\mapstruct-1.1.0.CR1.jar;\projects\light\SharedLibraries\mapstruct-1.1.0.CR1\lib\mapstruct-jdk8-1.1.0.CR1.jar;\projects\light\SharedLibraries\mapstruct-1.1.0.CR1\lib\mapstruct-proces

[2016-09-30 21:15] sjaakd commented on #913
@aspan . Thanks for reporting. I think this was introduced in #865. Your reproducer works. Now thinking about solution.

[2016-09-30 21:48] agudian commented on #917
This works for me:

[code]

No need to specify `nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS` then.

Btw, the custom implementation above would ignore getters that start with `isSet` - so if you have an actual boolean property that starts with `set`, then you'd have a problem that you'll need to handle manually.

On another note: you don't need `mapstruct-1.1.0.CR1.jar` and `mapstruct-jd

[2016-09-30 21:51] agudian commented on #917
And just to make sure, as it's not contained in your zip file: make sure that your jar with the custom strategy contains `META-INF/services/org.mapstruct.ap.spi.AccessorNamingStrategy` with the fully-qualified name of the custom stragety class in it. Otherwise it won't be picked up.

[2016-10-01 17:46] almothafar commented on #890
@sjaakd I'll check that tomorrow and will let you know the result, but need to ask first if this is the correct way to get snapshot using my sbt?

[code]

[2016-10-02 09:36] almothafar commented on #890
Something strange happened first time before I get snapshot, even the CR1 was OK, anyway I tried SNAPSHOT and its OK too and working well.

[2016-10-03 15:35] lorenzobenvenuti opened #918 "Retrieve mappings programmatically"
Hi,

is there any way to retrieve mappings via API? It would be nice to know what property of type A becomes what property of type B. I'll try to clarify the request using an example: mapping a filter or sort clause from DTO to DO. Consider for instance

[code]

Suppose the UI has a toggle to filter the car based on the number of seats: `CarDTO` is filtered on `seatCount` property while `Car` is f

[2016-10-04 18:36] sjaakd commented on #890
@almothafar .. thanks for testing..!!

[2016-10-05 12:37] gbogaert commented on #706
@agudian I'm very interested in the mechanism of template overriding.
Could you detail the mechanism plz ?

[2016-10-05 19:06] blop opened #919 "Issue with CustomType extends HashMap<String, Object>"
Hello,

Using :
[code]
I have a :
[code]

In the Impl, I have an error :
[code]
The <> shouldn't be empty.

Code generated is :
[code]
Thanks ;-)

[2016-10-05 22:21] JLLeitschuh opened #920 "JSR 269 link on readme is dead"
https://github.com/mapstruct/mapstruct/blob/master/jcp.org/en/jsr/detail?id=269 this link does not exist

[2016-10-06 08:30] svendig opened #921 "Duplicate variable generated in Mapper. Compilation not possible. SNAPSHOT-Version 06.10.2016"
@sjaakd If there are two nested Mappings with the same resulttype, two variables with the same name are generated.
**The generated Mapper:**
[code]

[2016-10-06 08:37] blop opened #922 "Automatic mapping of Map<String, Collection<CustomType>>"
Hello,

So currently (1.1.0-SNAPSHOT), we have automatic mapping of List<> and Set<>, and Map<>.

But if you combine both Map<K, Collection<V>>, mapstruct is not generating implicit mappers.

[code]

I get a :

I would expect mapstruct to handle Collection<> as Map key or value type automatically.

Thanks.

Olivier

[2016-10-06 08:46] blop opened #923 "Support mapping of interface and abstract class (with polymorphism annotation)"
It would be great if mapstruct could provide a way to generate a mapper between interfaces or abstract classes.

Of course requiring that the list of sub-types is provided through an annotation.

Something like  :
[code]

Should generate :

[code]

[2016-10-06 14:48] zloyreznic opened #924 "@AfterMapping no generated method"
[code]
[code]

[code]

[2016-10-06 16:25] agudian commented on #924
You're mapping from ContactCurrency to GsonCurrency, so the '@MappingTarget' annotation in your 'afterMapping' method needs to be on the GsonCurrency parameter (which is the target type of the mapping method you want to handle) and not on the ContactCurrency  parameter.

Please reopen if this doesn't solve your problem or if I didn't get what the issue is.

[2016-10-06 16:25] #924 closed

[2016-10-06 18:05] agudian commented on #923
Duplicate of #131. The `@PolymorphismMapping` suggestion is new, though and we should consider that as a possibility in the design of this feature.

[2016-10-06 18:05] #923 closed

[2016-10-06 18:07] gunnarmorling commented on #131
A possible alternative solution for this issue is presented in #923.

[2016-10-06 18:08] agudian commented on #131
An alternative to just collecting all possible specializations from the used mappers / declared methods is suggested in #923: the variants to consider could be declared specifically using an annotation, e.g. `@PolymorphismMapping`.

[2016-10-06 18:08] gunnarmorling commented on #923
@blop, also if it's a duplicate, thanks for opening this request! I've added a note to the original one so we don't forget about this idea here.

[2016-10-06 18:09] agudian commented on #923
Same for me, at the same time 😁

[2016-10-06 18:10] gunnarmorling commented on #131
Ahaha, great minds think alike :)

[2016-10-06 19:31] zora-borys opened #925 "broken link on documentation page"
please update or delete broken link on documentation page
step to reproduce:

- go to this link:
http://mapstruct.org/documentation/

- click link with text below:
Layered applications with Mapstruct; Using MapStruct for object mappings in multi-layered applications

link points to:
http://software-reengineered.com/layered-an-application-with-mapstruct/ - does not exists

[2016-10-06 19:57] sjaakd commented on #921
Hmmm. that's not so nice.. I'll look into this.

[2016-10-07 08:30] davidkron opened #926 "MapStruct is mapping static properties"
Hello

I'm using MapStruct 1.1.0.CR1 with Gradle and have discovered, that the generated code also maps static properties, which seems like a bug.

Bean class:

[code]

Mapper interface:

[code]

Generated code:

[code]

[2016-10-08 08:24] gunnarmorling commented on #858
Hi @filiphr Awesome, great to hear that you are up for more hacking on MapStruct :)

One interesting thing would be to support direct access of (public) fields, see issue #557. This has been requested several times and I think it's a great starter to learn more about the inner workings of the tool. If you are interested, we can have a discussion on #557 itself or on the mapstruct-users mailing lis

[2016-10-08 15:04] filiphr commented on #557
@gunnarmorling I had a look at this issue. And I think I can start working on it. I had a deeper look at the code and the inner workings. I think that in order to do this, we would need to add our own `Accessor` class which would wrap the `ExecutableElemement`(s) and the `VariableElements`. In our own `Accessor` we would add the methods which we need and get them from the underlying `Element`.
The

[2016-10-08 16:10] filiphr commented on #557
Another thing, we are using the `AccessorNamingStrategy` with the `ExecutableElement`(s). I guess this is public and should not be modified?

[2016-10-09 06:35] gunnarmorling commented on #557
Yes, I think building such common abstraction would the right way to go.

Good question, I reckon that it doesn't need to be changed. A field named "foo" really can only represent a property named "foo" and it cannot be a "presence checker" or any of the other method types.

[2016-10-09 14:22] agudian commented on #920
Good catch, thanks! The `https://` was missing :)

[2016-10-09 14:22] #920 closed

[2016-10-09 14:29] agudian commented on #925
Thanks for the info! I didn't find the article anymore, so I've removed the link.

[2016-10-09 14:29] #925 closed

[2016-10-09 14:36] spoerri commented on #807
Is the alternative to fix `@InheritConfiguration(name =` so that it works no matter the source and target types?

To be as fully general, InheritConfiguration would also have to support java @Repeatable...

Imho this is an orthogonal consideration, and current mapstruct style would be to require organizing either the composition annotations or the prototype methods in such a way that configured pr

[2016-10-10 18:04] #919 closed

[2016-10-10 18:10] agudian commented on #919
@blop the fix is on master now and should be available in thr snapshot repo in half an hour. Could you please check if it fixes the issue for you?

[2016-10-10 20:31] blop commented on #919
Still not working with those SNAPSHOT : :'(
[code]

[2016-10-11 04:45] agudian commented on #919
That's build from Sunday - this one should be available as well: mapstruct-processor-1.1.0-20161010.181659-40.jar

[2016-10-11 05:34] blop commented on #919
Indeed.

Works with :
[code]

Thanks ;-)

[2016-10-11 06:09] agudian commented on #919
Great! And thanks for trying out! 👍

[2016-10-12 06:32] yhjhoo opened #929 "Implementation class not found exception in eclipse"
I am getting

"Caused by: java.lang.RuntimeException: java.lang.ClassNotFoundException: Cannot find implementation for"

in eclipse IDE, with version 1.0.0.Final and 1.1.0.CR1 .

Refer to the sample code here https://github.com/yhjhoo/mapStructTest.git

Just found out, it's also not working in inteliji

[2016-10-12 12:52] AntwaneB commented on #510
I don't know if it belongs here (feel free to remove / move this comment), but in order to use the solution given by @ahus1, make sure to run your IDE / maven with the JDK and not the JRE, or you'll get an error trying to delombok the sources saying that the class `com/sun/tools/javac/util/Context` is missing.

[2016-10-12 17:18] agudian commented on #929
Did you check the info-box below the example pom in the documentation at http://mapstruct.org/documentation/1.1/reference/html/index.html#setup ?
It describes the necessary stuff you need in Eclipse.

For IntelliJ, you need to setup the annotation processing manually. There's this issue open that could fix that and perhaps you'd like to vote for it: https://youtrack.jetbrains.com/issue/IDEA-150621

[2016-10-12 17:18] #929 closed

[2016-10-12 21:31] rohodragon commented on #917
Works for me too, thanks.

[2016-10-12 21:31] #917 closed

[2016-10-12 21:32] rohodragon commented on #917
agudian resolved my coding oversight.  I recommend updating the documentation on this to be a little more clear.

[2016-10-15 18:34] pascalgn commented on #469
I have commented on this issue in #911. If you find the time, please let me know if you have any more comments/suggestions!

[2016-10-17 13:33] caarlos0 opened #930 "Multiple `use` classes with CDI"
We have a mapper like this:

[code]

But the generated code is injecting only the last mapper defined in `uses`:

[code]

We are using MapStruct 1.0.0.Final and java 7.

[2016-10-17 14:19] gunnarmorling commented on #930
Hum, that seems like a bug. Could you check 1.1.0.CR1 and let us know
whether you see the issue there, too?

[2016-10-17 16:45] caarlos0 commented on #930
@gunnarmorling it broke some other stuff, I can't try to fix them right now to reproduce the issue...

[2016-10-17 17:08] caarlos0 commented on #930
I'll try to do a unit test for that

[2016-10-18 10:16] oliversaggau opened #931 "Wrong type for nested properties"
When I try to map a nested property from source (long) to the target (Long) and the source or the nested object is null, the target gets the value 0L instead of null. I think the type of generated method in the impl is wrong. Instead of using the type of the target (Long) which actually is nullable, MapStruct uses the type of the source property (long) for the generated method.

I attached a simpl

[2016-10-18 18:45] sjaakd commented on #931
@oliversaggau thanks.. I'll have a look.

[2016-10-19 11:57] anilbharadia commented on #510
any update on when this will be resolved ? or any official workaround ?

[2016-10-19 17:47] piercena commented on #892
Since this was added for the 1.1.0.Final milestone does that mean this was found or do you still need the reproducer? I apologize for not providing that and completely forgetting to look back at this since I posted the issue.

[2016-10-19 18:00] gunnarmorling commented on #892
Yes, please do provide a reproducer. That will help very much. Thanks!

[2016-10-20 14:37] zt1983811 opened #933 "Mapper should be able to ignore one attribute from nested List"
Mapper should be able to ingore one attribute from nested List object, For example:

[code]

In the mapper I should be able to ignore target cites.country and country.cites to avoid hibernate many to one infinite recursion.

[code]

I am currently get follow errors :
java.lang.StackOverflowError\n\tat org.hibernate.collection.internal.PersistentSet.iterator(PersistentSet.java:163)\n\tat com.toms.a

[2016-10-20 19:22] sjaakd commented on #926
Interesting... Did not know that. In your opinion, would there be serious problems if we keep on supporting that? Note: we are probably not adhering to the Bean Convention in a strict sense, that talks about properties, which I take to be instance variables.

[2016-10-20 19:48] sjaakd commented on #931
Hmm. seems you are right..

1. The generated method (forged method) is correct. It's intention is just to get the content of the nested property.

2. Type conversion (in this case boxing) is used to map this to the `id` with type `Long`. Which is in essence also correct.

In short.. I need to think about this a bit more. For instance you might imagine a check in the calling generated method on the

[2016-10-20 20:54] oliversaggau commented on #931
I think think the forged method is absolutly correct at the moment to return `0L` (so basically the default value) for any intermediate nesting level being `null`. I would definitly expect exactly that. But rather then mapping the default value of the source property I would expect the target having the default value of the target property.

So basically I would just change the forged method to ha

[2016-10-21 20:51] filiphr commented on #926
There is a way to workaround this. While playing a bit, I noticed that one can provide their own `AccessorNamingStrategy` extending the `DefaultAccessorNamingStrategy` and do a check on the modifiers of the executable, or even earlier in the `getMethodType`

[2016-10-21 20:59] gunnarmorling commented on #926
Ah yes, that's a good idea. I'm inclined to close this one as "Not a bug". We could add an FAQ entry "How to exclude static properties". But for that we'd need an FAQ on the website first :)

[2016-10-22 11:46] gunnarmorling commented on #921
Fix is merged. @svendig could you build from master yourself and confirm that it works for you now?

[2016-10-22 11:46] #921 closed

[2016-10-22 16:56] gunnarmorling opened #936 "Re-think import handling for simple conversions"
E.g. there could be two `SimpleConversion`s being applied within one source file which both import `Date`, but once it's java.util.Date and once java.sql.Date. Static method calls generated by the simple conversions could not be properly resolved then.

[2016-10-23 19:05] gunnarmorling commented on #852
PR is merged.

[2016-10-23 19:05] #852 closed

[2016-10-23 19:25] sjaakd commented on #852
This is of course always preferable.

[2016-10-23 20:45] gunnarmorling commented on #931
PR merged to master.

[2016-10-23 20:45] #931 closed

[2016-10-24 11:05] svendig commented on #921
@gunnarmorling I can confirm, that the variables have different names now.

[2016-10-25 18:23] sjaakd commented on #931
I was thinking of a generalized approach. If the target type extends Object and the source type is primitive, use the wrapped type as return type of the forged method instead of its corresponding primitive type. WDYT?

Verstuurd vanaf mijn iPhone

[2016-10-25 19:50] sjaakd commented on #689
Specific built-in methods added. @gbrehmer .. can you verify?

[2016-10-25 19:50] #689 closed

[2016-10-25 22:00] brettanomyces opened #938 "Classes declared with 'uses' not being autowired"
Classes declared with 'uses' will only be autowired if one of their methods is used as a source->target mapping, so if their only use is in an expression they will not get autowired

http://stackoverflow.com/q/38807415/1427295

[2016-10-26 16:45] gunnarmorling opened #939 "Import handling for built-in methods not fully working"
For the Joda LocalDateTime <> Date conversion I needed to use FQNs, as for some reason LocalDateTime wasn't added to the list of imports of the generated class.

[2016-10-26 17:02] sjaakd commented on #939
Ai! Need to fix!

Verstuurd vanaf mijn iPhone

[2016-10-27 19:27] gunnarmorling opened #941 "Weird variable names generated for Issue289Test"
For some reason some private variables do have three underscores at the end of the name.

[2016-10-28 20:30] gunnarmorling commented on #900
Done.

[2016-10-28 20:30] #900 closed

[2016-10-29 08:21] sjaakd commented on #939
Hmm. Title is a bit confusing with description. I tried to build a reproducer for the conversion.. No issue there. Then I looked through all the built-in generated code. Also no problem.

Can you be more specific?

[2016-10-29 08:37] gunnarmorling commented on #939
Yes, take a look at `LocalDateToXmlGregorianCalendar.ftl`. The FQN `java.time.LocalDate` is given there as a workaround. It should still work when only using the simple name `LocalDate`, as the corresponding conversion class `LocalDateToXmlGregorianCalendar` adds the parameter type to the list of import types. But that import doesn't show up in the generated file.

I only had a quick look so far,

[2016-10-30 17:35] gunnarmorling commented on #787
Done.

[2016-10-30 17:35] #787 closed

[2016-11-01 09:31] pkainulainen commented on #572
It would be useful if MapStruct would support protected and package private visibility constraints for getters and setters. I agree that it's not a good idea to support this if the mapper and the beans are not in the same package, but if they are, this would be a very useful feature.

[2016-11-01 14:56] dgruntz opened #945 "Documentation: default methods"
I just read the (newest) documentation and there you describe in chapter "3.2. Generating mappers from abstract classes" that abstract classes can be used to add specific mappings from one type to another for those cases which can't be generated by MapStruct.

However, I have not read in the documentation (but it seems to be possible) that such methods could also be provided as default methods to

[2016-11-01 15:05] gunnarmorling commented on #945
Hi, did you try to use a default method? It may work indeed (never tried it
myself). If it does, would you mind sending an update for the reference
guide? Thanks!

[2016-11-01 15:25] dgruntz commented on #945
Yes I tried it and I was surprised that it worked. But I also found an example on [mapstruct-users](https://groups.google.com/forum/?fromgroups#!searchin/mapstruct-users/default%7Csort:relevance/mapstruct-users/PqB-g1SBTPg/cgeaNU-4CgAJ) and therefore I assumed that this is a known feature.

I could add a section or extend an existing section, but it was not clear to me whether it should be part of

[2016-11-01 15:30] gunnarmorling commented on #945
Adding a note and short example to 3.2 seems good. Maybe we also could
rename that section, I don't have a good idea right now, though.

[2016-11-01 16:04] dgruntz commented on #945
Just added https://github.com/mapstruct/mapstruct/pull/947. I leave it up to you to close this issue.

[2016-11-01 18:12] gunnarmorling commented on #945
Merged all your doc PRs, @dgruntz. Thanks a lot! I've changed the commit messages to refer to this issue and added one more commit to clarify that default methods may only be used on Java 8.

[2016-11-01 18:12] #945 closed

[2016-11-01 18:15] dgruntz commented on #945
ok fine, and thanks for this nice project.

[2016-11-02 14:40] kvneswar commented on #675
Issue has been resolved by adding the following dependencies:

compile group: 'org.mapstruct', name: 'mapstruct-processor', version: '1.0.0.Final'
compile group: 'org.mapstruct', name: 'mapstruct', version: '1.0.0.Final'

[2016-11-02 20:48] gunnarmorling opened #949 "Add section on Ant usage to reference guide"

[2016-11-02 21:31] gunnarmorling commented on #892
Done.

[2016-11-02 21:31] #892 closed

[2016-11-02 21:33] gunnarmorling opened #951 "If there are several setters with the same name requiring conversion, raise an error"
As this case is ambigous we cannot reasonably select the setter to call. So this needs to be resolved explicitly by the user.

[2016-11-02 21:33] gunnarmorling commented on #930
Hey @caarlos0, any luck with creating a reproducer for this one?

[2016-11-02 21:36] gunnarmorling commented on #610
Hey @spoerri maybe you'd like to give this a shot?

[2016-11-03 01:35] caarlos0 commented on #930
hi @gunnarmorling , I didn't get to start it yet... feel free to go ahead if you have some free time

[2016-11-03 02:06] spoerri commented on #610
No time for near future... and i'd probably go for https://github.com/mapstruct/mapstruct/issues/621 first.

[2016-11-04 14:38] garethahealy opened #953 "Travis CI support"
Most GitHub projects provide a travis-ci build now. Would suggest following suit, since its free and easy to setup. Will also speed up PRs

[2016-11-04 14:40] garethahealy commented on #953
Ignore. Didn't know you had "mapstruct-robot"

[2016-11-04 14:40] #953 closed

[2016-11-05 15:04] gunnarmorling commented on #949
Done.

[2016-11-05 15:04] #949 closed

[2016-11-06 21:16] sjaakd commented on #913
should be solved

[2016-11-06 21:16] #913 closed

[2016-11-08 14:44] fluxish commented on #649
+1 for this feature

[2016-11-08 21:35] sjaakd commented on #649
@fluxish , @bhdrk , @Mendred, @Walker555, @bfg , @getAkashJain , @nachii .. I think this issue is resolved with the following mapper (using the example of @bhdrk ):

[code]

which generates the desired:

[code]

-----
@remmeier , @fluxish .. I think that your problem is resolved by the introduction of the customizable `hasXYZ` methods. See example: https://github.com/mapstruct/mapstruct-examples/t

[2016-11-09 00:05] bhdrk commented on #649
@sjaakd I tested that. But there is a bug for collection field types such as `java.util.Set`. My generated code below. There is no null check for dto.getPermissions()  field.

[code]

[2016-11-09 08:19] sjaakd commented on #649
@bhdrk but there is a null check, right.. Its the combination of:
[code]
And the call to the generated method..

[code]
So it should work in your case. Or am I missing something?

We can discuss surrounding all the property related code with a null check if-and-only-if the
`@Mapper( nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS )` in case of collection mapping. But that would be a differe

[2016-11-09 09:33] fluxish commented on #649
I'm sorry, it's exactly what I want, thanks

[2016-11-09 20:07] sjaakd commented on #649
That would be difficult right now. We need to have a check on the target property to avoid NPE's. In the future, there might be a way to hook in your own templates.. I believe we have an issue for that.

[2016-11-09 20:24] bhdrk commented on #649
@sjaakd  you are missing `else` block. There is a `entity.setPermissions( null )`. Therefore target object property will be null due to source object.

[code]

The solution seems simple. Just should be a null check before collection setter like other fields.

[code]

[2016-11-09 21:20] sjaakd commented on #649
ahh.. now I get your point. What happens here is that the mapping method generates the method `permissionDTOSetToPermissionSet`.. This is a so called `create method`. Can you try to implement an `update mapping` method with the following signature `permissionDTOSetToPermissionSet( Set<PermissionDTO> set, @MappingTarget Set<Permission>)`.

This can be done by using abstract class `ModelMapper` in s

[2016-11-09 21:29] sjaakd commented on #649
if you want an example.. Check out our unit test on update [method selection](https://github.com/mapstruct/mapstruct/blob/master/processor/src/test/java/org/mapstruct/ap/test/updatemethods/selection/ExternalSelectionTest.java) and its generated code how `ExternalHandWrittenMapper` is called.

[2016-11-10 08:22] sjaakd opened #954 "Explicit set to null for collection property handling should not be there for Nvms.Always"
When `NullValueCheckStrategy.ALWAYS` there should not be an explicit null check.

[code]
MapStruct handles collections different via the `addAll`. For regular property-to-property mapping NPE checks are generated for type conversions. Otherwise the source property (also if null) is mapped to the target.

When `NullValueCheckStrategy.ALWAYS` is applicable, an NPE check is always included. In that c

[2016-11-10 08:24] sjaakd commented on #649
@bhdrk: I thought a bit more about it. The above should work for you in the current situation. But I also think you have a point. I wrote: #954 to tackle this specific scenario.

[2016-11-12 16:44] poojavenkatram commented on #759
Hey,

This would be a great feature. I just came across this here, but I also added a similar request on the Google groups page. I was thinking that the asserts were the easier part to generate because mapstruct knows the Mapping and can return Assert of all the fields, the dummy values we can fill if possible(IDEAL case) or we can ask the client to populate the test data with whatever they want.

[2016-11-12 19:27] simontrudeau opened #955 "Missing Type import for Map<k,v> when providing custom mapper"
When declaring a mapper like so using MapStruct version 1.1.0.CR2:

Mapper:
[code]

Custom Mapper
[code]

Car containing a Map of Person
[code]

The generate code is missing import for type `Person`. The generate code (`CarMapperImpl.java`) contains the following and is missing *import* for the type `Person`, thus it doesn't compile:
[code]

Is it possible to add a hint or something so that the ge

[2016-11-12 23:26] filiphr commented on #955
If you add `@Mapper( imports = Person.class )`, mapstruct will add the import to mapper class and it will work.

[2016-11-13 12:56] simontrudeau commented on #955
It works, thank you.

[2016-11-13 19:51] sjaakd commented on #954
And the same goes for source presence checkers.

[2016-11-13 20:28] sjaakd commented on #955
But.. is still an issue :smile:

[2016-11-13 20:59] devj87 commented on #65
Hi same issue for me I need to map as source a property from an object within in a List.

Having:

I'm using MapStruct to create my DTOs, so I have a problem to set target attribute from an Object within collection:

My DTO is Employee which hava a department attribute.

The department name value is in DepartmentLanguage class which is a collection within a Department entity class has departmentLa

[2016-11-13 22:15] sjaakd commented on #955
Fixed.

[2016-11-13 22:15] #955 closed

[2016-11-14 09:44] bhdrk commented on #649
Thank you @sjaakd, finally I understand my wrong :) After adding a update method `void map(Set<PermissionDTO> dtos, @MappingTarget Set<Permission> entities);` the mapper works as expected.

[code]

the generated code of related methods is below.

[code]

But I still think that a null check should be also added for collection fields. Because the developers can forget to add the update methods of co

[2016-11-14 11:01] sjaakd commented on #649
@bhdrk Thanks for your feedback.

I agree hence I wrote #954 to cover this (see my reasoning there). But, we also have to take into consideration that a user actually might want to have `null` when source property is `null`.  There's a PR pending. I hope I can convince the others to take it still in.

I'll continue to close this one..

[2016-11-14 11:01] #649 closed

[2016-11-14 22:35] sjaakd commented on #954
Done!

[2016-11-14 22:35] #954 closed

[2016-11-15 12:45] remmeier opened #960 "@MapperConfig, @InheritConfiguration and java.lang.Object throws Exception"
I try to use @InheritConfiguration to ignore an attribute in multple mappers.

- Interface I with attribute "attr"
- Mapper for X => S
- Mapper for Y => U
- S and U implement I
- X and Y do not implement I and do not have "attr"

Now I would like to ignore A for both mappers with @InheritConfiguration and @MapperConfig. My mapper configuration looks like:

[code]

With java.lang.Object as paramete

[2016-11-15 17:09] EggIt commented on #631
Hi was this bug resolved please?
I have a similar mapper but i am stuck at maven compilation... i get the following error :
[code]

This is my mapper :
[code]

Any help please?
i am using v.1.1.0.CR2

[2016-11-15 17:49] filiphr commented on #631
@EggIt This bug was resolved and you are getting a correct error message. The bug was that there was an NPE and not a nice error message.

Currently mapstruct cannot generate a mapping method for a generic variable.

Why do you need to use such generic mapping?

[2016-11-15 18:41] EggIt commented on #631
Thanks for your response.

Well, i have many entities inheriting common fields from base class Referentiel, and few of them introduce new fields. (say : ChildA, ChildB etc...)

So, i created a generic service to operate CRUD functionalities for all these entities :
[code]
and then i thought of a generic mapper as well in the abstract service :
[code]
And finally declare my concrete services :
[cod

[2016-11-15 18:54] filiphr commented on #960
@remmeier The problem is that you are using `@Mapping(uses = { IMapperConfig.class })` instead of `@Mapping(config = IMapperConfig.class)`.

**uses** means other mapper types that need to be used by the mapper to create the mappings, whereas **config** is just a configuration which MapStruct will use to create the implementation.

[2016-11-15 19:22] filiphr commented on #631
@EggIt You would need to do the same thing you are doing for your services for the mappers.

You need the base interface **without** the `@Mapper` annotation so MapStruct won't pick it up and won't generate an implementation for it.

[code]

And then

[code]

[code]

This way you will be able to inject the base mapper in your services.

If you want to customize specifics, you can try making the `R

[2016-11-15 22:20] sjaakd commented on #960
@filiphr : agreed. Still we should not throw an NPE but have a good error message :wink:. @remmeier : can you confirm the approach of @filiphr works?

[2016-11-16 09:46] EggIt commented on #631
Excellent! Thanks for the tip.
Will keep note of the specifics suggestions as i am sure i will need them sooner or later.

[2016-11-16 13:28] AntwaneB commented on #469
Hello,

Is there any updated regarding when (if?) this is going to be merged to the main repository?

Thanks :)

[2016-11-17 04:35] anchitanc commented on #65
Hi
I am also looking for both source and Target nested mapping.

[code]

i am getting below error -
`CategoriesMapper.java:28: error: Unknown property "regionsid.id" in return type.`

I have angularJS view which required the data in nested properties. I can't send domain class because it has so many unnecessary information.

[2016-11-17 07:15] agudian commented on #65
@anchitanc: either try the latest version 1.1.0-CR2 (Final is coming up this weekend, probably), or just define another mapping method that maps from Regions to RegionsDto (and remove the `@Mapping` annotation).

[2016-11-17 08:31] devj87 commented on #65
thanks for reply @anchitanc my issue is to access an attribute from a Collection within a class
e.g
[code]

so I need to get the 1st index from it and access to "name" attribute:, I tried both with

[code]
and
[code]

But it doesn't work

[2016-11-17 14:47] anchitanc commented on #65
@agudian  i have tried latest 1.1.0-CR2, its seem error is resolved but i am stuck with another error like below, what if i have Set<RegionsDTO>

Source -
`private Set<Regions> regions = new HashSet<>();`

Target -
 `private Set<RegionsDTO> regions = new HashSet<>();`

`CategoriesMapper.java:36: error: Can't map property "java.util.Set<com.equidity.xboard.service.dto.RegionsDTO> regions" to "java.

[2016-11-17 16:32] remmeier commented on #960
yes, thank you, works fine this way. Something other than the NPE would be great.

[2016-11-17 16:35] remmeier commented on #824
support for this would really helpful. Is there any progress? Or should I have a look?

[2016-11-17 19:13] agudian commented on #65
@devj87 just check the generated code of your last example and you'll see that the expression within `java( xx )` is used as you wrote it. Add compilable code there and it should work.

@anchitanc: just add a mapping method to map from RegionsDto to Regions (check our documentation on why it's enough to add that method for mapping sets of those types 😉).

@devj87 and @anchitanc, I'd appreciate it

[2016-11-17 19:19] agudian commented on #824
@remmeier I don't think that anyone has started working on it, yet, so we'd highly appreciate the help! 👍

[2016-11-18 09:17] devj87 commented on #65
Thanks @agudian solved using expression in 1.1.0-CR2 version
Next time I'll ask question in separated area, can you post me link please?

[2016-11-18 13:46] sjaakd commented on #65
https://groups.google.com/forum/m/?fromgroups#!forum/mapstruct-users

[2016-11-18 14:09] remmeier commented on #824
a "draft" is available, more info in the PR.

[2016-11-18 14:43] amitraju01 commented on #841
I am trying implementing MapStruct for my project. Till 1.1.0.Beta1 its working nicely but not for newer versions. Every time  getting "Couldn't retrieve @Mapper annotation". Build is perfectly fine.

[2016-11-18 15:06] agudian commented on #841
@amitraju01, could you provide a small sample project to demonstrate the issue? In a new guthub issue, please. Thanks!

[2016-11-19 02:21] svpace opened #962 "Add support to Java 8 Streams"
Add support for stream attributes. Allowing mappings like:
``
class From {
    public Stream<Foo> getFoos() {...}
}
``
to
``
class To {
    public void setBars(Stream<Bar> bars)  {...}
}
``
or even
``
class To {
    public void setBars(Set<Bar> bars)  {...}
}
``
by applying the proper Collector

[2016-11-21 05:50] amitraju01 commented on #841
import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.Mappings;
import org.mapstruct.factory.Mappers;

import com.anonymous.cbs.CustFinInfoInqRs;

@Mapper
    public interface CustInfoDTOMapper{

	CustInfoDTOMapper INSTANCE = Mappers.getMapper(CustInfoDTOMapper.class);
	@Mappings(
	{
	 @Mapping(source = "financialClass", target = "custFinInfo.creditClassCode",qualifiedBy

[2016-11-21 09:06] amitraju01 commented on #841
![capture](https://cloud.githubusercontent.com/assets/13333478/20476607/d8da2628-aff7-11e6-8893-88ee864eb368.PNG)

[2016-11-21 09:09] amitraju01 commented on #841
![capture](https://cloud.githubusercontent.com/assets/13333478/20476700/45d63974-aff8-11e6-9a65-7564ec894e0f.PNG)

[2016-11-21 12:44] fluxish commented on #469
I also would appreciate an update ;)

[2016-11-21 19:10] agudian commented on #841
That looks all okay so far. Can you check if it works if you disable the uber-jar cration in the spring-boot plugin.
And could you provide a small sample of the project here on github so that we can examine more closely what happens in your case?

[2016-11-21 19:35] agudian commented on #962
Hmm, interesting! It would probably make sense to generate the fluent kind of mapping with method references, such as `to.setBars( from.getFoos().map( this::toBar ) );`...
The Stream to Collection conversion could be done by adding appropriate built-in Conversions (again, for in-line usage).
Especially that last part shouldn't be too hard to get started with (in the code it's somehow similar to ou

[2016-11-21 19:39] agudian commented on #469
I've added a comment in #911: we'll get to it, and I do acknowledge that this should be high on our priority list.

[2016-11-22 13:38] vitaliy-kuzmich commented on #182
I was need to map "nested bean collection"  -> "primitive collection", here it is approach with jdk8 instead of abstract classes :
[code]

[2016-11-22 15:44] ralphgonz opened #963 "Duplicate 'delegate' members in decorator implementation generated class"
When you create an abstract decorator class extending an interface using the Spring component model, the generated code creates a secondary 'delegate' member, hiding the one in the abstract class.

To replicate the problem:

Follow the example shown [here](https://iamhug.gitbooks.io/mapstruct/content/171_decorators_with_spring_component_model.html), creating an abstract decorator class extending a

[2016-11-22 20:51] filiphr commented on #963
As @agudian said in the Google group, it would be nice to reuse the same delegate if it was accessible and that is a separate change that needs to be done.

However, I think that if #571 and #751 and we can use constructor injection, then there won't be any problem with the private member in the abstract class as it would come via a constructor.

[2016-11-22 22:25] gunnarmorling commented on #955
@sjaakd, @agudian, shouldn't this be assigned to the 1.1.0.Final release?

[2016-11-22 22:26] gunnarmorling commented on #954
@sjaakd, shouldn't this be assigned to the 1.1.0.Final release?

[2016-11-22 22:29] gunnarmorling commented on #955
Assigned that milestone. When closing an issue please make always sure a milestone is assigned. Thanks! Same for #954.

[2016-11-22 22:31] sjaakd commented on #954
Yep.. You're right.

[2016-11-22 22:32] sjaakd commented on #955
Ok.. Forgot.

[2016-11-22 22:33] gunnarmorling commented on #955
No problem. Just was wondering whether there was any intention behind it :)

[2016-11-24 18:21] ruszki opened #965 "Documentation incorrectly refers to NullValueMappingStrategy in chapter 9.5"
In the documentation the chapter named "Controlling checking result for 'null' properties in bean mapping" contains incorrect references. The text refers to _NullValueMappingStrategy.ON_IMPLICIT_CONVERSION_ and _NullValueMappingStrategy.ALWAYS_. These should be _NullValueCheckStrategy.CONVERSION_  and _NullValueCheckStrategy.ALWAYS_, respectively.

Later in the same chapter there is a paragraph ab

[2016-11-24 22:14] agudian opened #966 "Avoid multiple newlines and missing newlines"
... both in our genereated code and in our hand written code.

PR following with some fixes for missing newlines in the generated code, the corresponding checkstyle settings and fixes for our code base following up.

[2016-11-26 16:37] sjaakd opened #968 "Formatting generated code property mapping for Collections"
Remove strange spacing and enters for code generated by `SetterWrapperForCollectionsAndMaps`.

[2016-11-27 09:20] sjaakd opened #970 "Detect strange enters and spaces in generated code such as prior to #968"
See generated code due to `SetterWrapperForColllectionsAndMaps` prior to #968. Is it possible that Checkstyle detects such generated code formatting problems??

[2016-11-27 09:22] #968 closed

[2016-11-27 09:23] sjaakd commented on #968
@filiphr thanks for reviewing.