[2017-03-31 08:20] influence160 commented on #1164
i understand from your message that i can have an issue on version 1.1.0.Final by adding the import to the @Mapper(imports) property. but i dont find a property import in the @Mapper annotation

[2017-03-31 13:05] softdays opened #1166 "Nesting on null target property"
When I use the following mapping configuration with a nested property:
`
@Mapping(target = "nestedId", source = "nested.id")
ObjectA map(ObjectB source);

@InheritInverseConfiguration
ObjectB map(ObjectA source);
`
Mapstruct generates the inverse mapping below:
`
ObjectB objectB = new ObjectB();

Nested nested = new Nested();
objectB.setNested(nested);

nested.setId(source.getNestedId());
`
But wh

[2017-03-31 17:37] agudian commented on #1163
I think what Filip means is that you could try to refactor your mappers to not have cycles in `@Mapper#uses`.
Another alternative is using Spring or something else (see `@Mapper#componentModel`) - that would take care of such cycles.

[2017-03-31 17:40] filiphr commented on #1164
@influence160 Yes it works in 1.0.0.Final because the way we set the code there has been changed. That is why I am asking @sjaakd if this code is correct and it is like it was planned.

I am not sure if you managed to solve it with the workaround. I was talking about [this](http://mapstruct.org/documentation/stable/api/org/mapstruct/Mapper.html#imports--). I created a PR #1165 that should fix the

[2017-03-31 17:49] filiphr commented on #1163
Thanks @agudian. @Muselgrusel this is exactly what I meant, you should try to break the cycle dependency in your own mappers.

I think that this will make the `Mappers` quite complex. The `Mappers` factory is really simple, it gets a `Mapper` class and instantiates the `MapperImpl` there is nothing special going on in there. In order to support a use case like this we would have to make it much mo

[2017-03-31 18:01] filiphr commented on #1166
@softdays You are not using the latest 1.2.0.Beta2. I think that your issue is similar as #1011.

However, I think that currently you are always going to get a non `null` instance of the nested property with a `null` id if the `source.nestedId` is `null`.

Do you have a suggestion how we could do what you need?

In order to do something like that we will have to check all the properties that are b

[2017-03-31 19:41] filiphr commented on #1164
@influence160 the fix has been merged into master. If you want you can try it out directly.

[2017-04-01 08:12] sjaakd commented on #1164
@influence160 : can you check the latest version (Beta2). There have been some changes in this area (and lots of discussions). I need to dig deeper to figure out when / why this was introduced.

[2017-04-01 08:49] sjaakd commented on #1164
@filiphr .. I checked and it seems we do add a null check also in Beta2. I'm still investigating why. Why did you close this issue?

[2017-04-01 09:12] filiphr commented on #1164
It was closed via the PR. I think that there are 2 problems with this one:

* A missing import was missing for aub generic typeas (Fixed with #1165)
* The null check was strange to me so I commented that as well.

@sjaakd We can either open a new one or reopen this one foe the null check. I am fine with both

[2017-04-01 09:18] sjaakd commented on #1164
Lets reopen it :smile:

[2017-04-01 12:41] sjaakd commented on #1164
@filiphr the issue is introduced when `SetterWrapperForCollectionsAndMaps` was refactored. I think I somehow decided to always do a null check after the introduction of `nullCheckLocalVarName` in the `WrapperForCollectionsAndMaps` whereas in the past we did this only for conversions or direct and left it up to the designer of the mapping method to do this correctly.

Perhaps its not always needed

[2017-04-01 17:50] filiphr commented on #1164
@sjaakd I agree with you. Splitting the `SetterWrapperForCollections` into 2 model variants one for update and another one for normal is fine for me. This would make things a bit easier.

Regarding the problem with `addAll`, I think that for `GettersWrapperForCollection` we only need to do a `null` check  before the `addAll` and always call clear. I remember that there was one issue where someone

[2017-04-02 08:31] sjaakd commented on #1164
No. its a bit confusing, but the `GettersWrapperForCollections` is used when we have only a getter available to do the job. The `SettersWrapperForCollection` is a create scenario and in an update scenario. The update in the `SettersWrapperForCollection` scenario looks very similar to the scenario where only a getter is available (in the `GettersWrapperForCollections`. This has grown over time, but

[2017-04-02 08:59] filiphr commented on #1164
Yes sure, I can have a look at it.

I have an idea how the generated code should look like. However, I think that we will have to agree on a strategy here. I would even propose that we always return a default `Iterable`, `Array` or `Map` in our internal methods and we expect the users to return a default value in their methods and then we won't need to have a `null` check before calling `addAll`.

[2017-04-02 10:39] sjaakd commented on #1164
The current strategy is:
1. Do not check when the input for the target collections is the result of a mapping method
2. NullCheck if the input for the target collection is the result of a conversion
3. Always check when the target accessor is a getter.
4. I probably forget one-or-two rules.

I think rule 1. is violated in this problem. IHMO I think we should stick our solution to that and do not d

[2017-04-02 18:26] softdays commented on #1166
Yes you're right, I was using 1.1.0.Final. And yes I can confirm that this is the same using 1.2.0.Beta2.
Indeed I had not actually perceived all the potential complexity of my issue...
Do you think that it could be addressed with a new `NullValue*Strategy`? Or maybe with a specific property on the property mapping?
I am aware of not bringing enough proposal

[2017-04-04 10:25] Muselgrusel commented on #1163
Thanks for your suggestions, but using a DI framework is no option at the moment and would possibly be over the top.

I will refactor my mapper classes but would like to have the possibility to use mappers with circular dependencies and without a DI framework with MapStruct anyway.
If i would provide a way (and the code) to handle such use cases as an option in MapStruct will you be open minded ad

[2017-04-04 20:18] cornzy opened #1169 "Mapping config should be transitive"
In our model we have muliple level of inheritance. For example:
SpecialCustomer extends Customer extends Person.

In our mapping we have one mapper for every inheritence level (PersonMapper, CustomerMapper, SpecialCustomerMapper). To get the mapping config from PersonMapper in CustomMapper we use the config attribut in @Mapper and define a reference from CustomMapper to PersonMapper, thats fine.

[2017-04-04 20:40] cornzy opened #1170 "Bounded wildcard like Collection<? extends OrderItem> is not generated properly"
Easy to reproduce in example project "mapstruct-examples-field-mappings".
Change org.mapstruct.example.dto.Customer.getOrderItems() return type from `Collection<OrderItem>` to `Collection<? extends OrderItem>`.

With the default CollectionMappingStrategy (ACCESSOR_ONLY) this may be hard to generate because you could not add anything to such a list. We are using ADDER_PREFERRED, in this case the ge

[2017-04-04 21:49] cornzy commented on #1169
I have uploaded a little example in https://github.com/cornzy/mapstruct-examples/tree/indirect-configuration-inheritance-bug in project `mapstruct-field-mapping` with some subclasses of org.mapstruct.example.mapper.CustomerMapper

[2017-04-05 16:35] filiphr commented on #1169
@cornzy This looks like an interesting idea. The current implementation  explicitly does not support multi level transitive inheritance. If you want to contribute you should have a look at the [`MethodRetrievalProcessor#L104`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/processor/MethodRetrievalProcessor.java#L104). That method retrieves the

[2017-04-05 18:40] filiphr opened #1171 "Use Travis CI for PRs"

[2017-04-05 19:37] filiphr commented on #1163
Speaking only from my name, I don't see a problem accepting a PR for a use cases like this. I think that this should be an opt in functionality though.

@gunnarmorling, @agudian, @sjaakd WDYT?

[2017-04-06 04:42] chandra0651 opened #1173 "not mapping the subclass during compile"
Hi i am new to mapstruct and i am trying to use it to convert the entity to dto and viceversa. i am using the 1.2.0.Beta1 version.

i have entity which extends other entity like
public entity extends abstract entity{
 String name;
String version;
}

abstract Entity{
String id,
String  createdTime;
}

public EntityDto{
String name;
String version;
String id,
String  createdTime;
}

When i write som

[2017-04-06 06:04] agudian commented on #1163
I thought about it a bit and I wasn't able to come up with an idea of how a Mappers-factory based solution could work (short of byte-code enhancement). So I'm very curious about what @Muselgrusel has in mind :-).

An alternative would be a custom componentModel, added via SPI, that changes the way the mapper refereced are constructed.

Btw, that reminds me of that other issue where mapper referenc

[2017-04-06 06:10] agudian commented on #1173
How is your build set up? How does your pom/gradle file look like?

How do you compile?

Are any of the used entities/dtos generated/extended through some other tool during the build? (xjc, Lombok, Protobuf, ...)

[2017-04-06 14:18] chandra0651 commented on #1173
i am using lombok and my gradle file looks like

plugins{
   id 'java'
    id 'net.ltgt.apt' version '0.9'
}

  dependencies {
            dependency 'org.mapstruct:mapstruct-processor:1.2.0.Beta1'
            dependency 'org.mapstruct:mapstruct-jdk8:1.2.0.Beta1'
            dependency 'org.mapstruct:mapstruct:1.2.0.Beta1'

        }

[2017-04-06 15:18] filiphr commented on #1173
Which lombok version are you using? Lombok 1.16.4 is compatible with MapStruct, earlier versions will not work correctly.

By the way you don't need mapstruct and mapstruct-jdk8 in the same time. The only difference between the two is the possibility to use Java 8 repeatable annotations

[2017-04-06 15:18] filiphr commented on #1173
Sorry lombok 1.16.14 not 1.16.4

[2017-04-06 17:20] chandra0651 commented on #1173
i am using below dependencies and now i couldnt able to generate the mapstruct impl class itself

  compile "org.mapstruct:mapstruct-jdk8:1.2.0.Beta1"
    apt "org.mapstruct:mapstruct-processor:1.2.0.Beta1"

    compile "org.projectlombok:lombok:1.16.14"

[2017-04-06 19:17] agudian commented on #1173
If you add `org.mapstruct:mapstruct-processor` to the `apt` path, then you'll also need to add `org.projectlombok:lombok` to the `apt` path (in addtion to `org.projectlombok:lombok` on the `compile` path, as for Lombok, the annotations and the processor are in the same jar).

Reason: `javac` picks up annotation processors either from the `-processorpath` (`apt` in gradle) if it is specified, OR, i

[2017-04-06 19:22] #1171 closed

[2017-04-06 19:30] agudian commented on #1171
Thanks a lot, Filip! Now we need a rebased PR around here to test it... 😁

[2017-04-06 21:49] chandra0651 commented on #1173
When i use my dependencies like below the impl class is getting generated and working fine

compile "org.mapstruct:mapstruct-jdk8:1.2.0.Beta1","org.projectlombok:lombok:1.16.14"
compile "org.mapstruct:mapstruct-processor:1.2.0.Beta1","org.projectlombok:lombok:1.16.14"

but not working with apt() method for processor like below

compile "org.mapstruct:mapstruct-jdk8:1.2.0.Beta1","org.projectlombok:

[2017-04-07 17:05] filiphr commented on #1163
A way that I am seeing to solve this is to use memoization (i.e. make the Mappers singleton and if the same mapper is requested then just return the instance).

[2017-04-07 17:05] filiphr commented on #1171
No problem. I already rebased on of my PRs :)

[2017-04-07 17:09] filiphr commented on #1154
Just as information, I already have a 90% ready implementation for this. I am waiting for #1146 to be resolved/merged to create a PR. The reason is that I am using something from there to ignore the java packages :)

[2017-04-07 18:30] agudian commented on #1169
Hmm, that's not what we intended - only types with an `@MapperConfig` Annotation were supposed to be referenced in `@Mapper#config`  - and as `@MapperConfig` doesn't have a `config` attribute, only methods there were supposed to be treated as prototype methods.

But this usage here is definitely creative... but do we actually want to support it this way? I'm not sure, as we don't pull in any other

[2017-04-08 09:27] pgaschuetz commented on #1159
Hi,

I've just tried with
Version: 3.8.4.RELEASE
Build Id: 201703310825
Platform: Eclipse Neon.3 (4.6.3)

with the same results.
Let me know if I can support somehow, though I don't have an idea on where to start...

[2017-04-08 09:57] agudian commented on #744
Pasting a mail from Rory O'Donnell, I guess it's time we get things working in the integration-tests at least.

Hi,

* JDK 9 Developer Preview is now available on java.net [1]

Developer Preview milestone: - A reasonably stable build suitable for
broad testing by the developer community is available.
JDK 9 Builds 163 and higher include all planned features.

*Attention annotation processing users

[2017-04-08 10:00] filiphr commented on #1159
Can you try without lombok and see if it will work. The strangest think is that the `AstModifyingAnnotationProcessor` comes from mapstruct, it is strange how there is a problem with Eclipse. In IntelliJ and with Maven it works.

I don't know how Eclipse configures the apt, but can you try putting the lombok and the mapstruct dependencies in the main maven dependencies and remove them from the mave

[2017-04-08 10:08] filiphr commented on #744
Here are some pointers about setting up with Travis if we want to have that:

* [JUnit 5 Testing with JDK-9](https://github.com/junit-team/junit5/issues/296) - There are a lot of links there that show how it can be done. Also their [Travis Configuration](https://github.com/junit-team/junit5/blob/master/.travis.yml)
* [Travis JDK-9 Support](https://github.com/travis-ci/travis-ci/issues/5520)

[2017-04-08 12:36] pgaschuetz commented on #1159
Hi,

i did some extensive tests now using all possible combinations using the attached pom.xml
Whichever combination, a pure maven compile (ie. outside of eclipse) works just fine.

Compilation within Eclipse:
 * works fine, if Eclipse is *NOT* started with -javaagent:../Eclipse/lombok.jar
   * works with automatically configured JDT APT from Maven
   * works with manually configured annotation pr

[2017-04-08 12:38] gunnarmorling commented on #744
+1 for testing this!

[2017-04-08 12:42] pgaschuetz commented on #1159
BTW: I am happy to cross-post this to the lombok project, if you think it's more relevant there...

[2017-04-08 12:46] gunnarmorling commented on #744
One thing to address is that the @Generated annotation got a
replacement just recently, there is now
javax.annotation.processing.Generated.

[2017-04-08 22:15] cornzy commented on #1169
@agudian thank you for your answer. It looks like we just misunderstood the config attribute but I think we misunderstood because it seems to be so cool :) We thought it is common to use existing mappers, for example of a super type by referencing the mapper as config. While reading the docu again it is correctly described that config needs to target a MappingConfig not a Mapper.

But I like the i

[2017-04-08 22:16] cornzy commented on #1170
If you have any hint how to fix it I may have a look in the code for my own :)

[2017-04-09 18:47] sjaakd opened #1174 "nullptr in beta2"
nl/bro/dao/ss/bhr/impl/DtoToEntityMapper.java:[82,17] Internal error in the mapping processor: java.lang.NullPointerException  	at org.mapstruct.ap.internal.model.source.SourceReference.copyForInheritanceTo(SourceReference.java:286)  	at org.mapstruct.ap.internal.model.source.Mapping.copyForInheritanceTo(Mapping.java:360)  	at org.mapstruct.ap.internal.model.source.MappingOptions.applyInheritedOpt

[2017-04-09 19:27] filiphr commented on #1174
@sjaakd I don't think that this is in Beta2, in Beta2 the line location is a bracket, but it corresponds to a meaningful line in 1.1.0.Final. However, it might be possible that the NPE is both in 1.1.0.Final and Beta2.

[2017-04-09 20:56] sjaakd commented on #1174
Its beta2.
[code]
A bit hard to reproduce. I saw it occuring in relation to lots of other errors. I started fixing the errors and the nullptr disseapeared... Strange.. It seems to be related to a sharedConfig..

[2017-04-09 21:52] filiphr commented on #1174
Then the line number in the stack trace is wrong. [This](https://github.com/mapstruct/mapstruct/blob/1.2.0.Beta2/processor/src/main/java/org/mapstruct/ap/internal/model/source/SourceReference.java#L286) is line 286 in Beta2.

[2017-04-10 08:36] atomcat1978 commented on #585
@gunnarmorling Couldn't ResultType be used here to define the returning type. This way MapStruct could do an automatic mapping.

[2017-04-10 11:47] kevcodez commented on #571
Any news on this? Would really like to see constructor injection, especially for testability.

[2017-04-10 16:25] filiphr commented on #1164
@sjaakd I had a look at the `SetterWrapperForCollections` and the `GetterWrapperForCollections`, everywhere it is correctly generated with the exception of the mapped assignment.

There is nothing we need to do for the `GetterWrapperForCollections`.

As for the `SetterWrapperForCollections` we do the following:

1. Existing instance mapping or `CollectionMappingStrategy#TARGET_IMMUTABLE` - everyth

[2017-04-10 17:16] filiphr commented on #1164
@sjaakd btw, is `existingInstanceMapping` needs only for the `SetterWrapperForCollections` and the `GetterWrapperForCollections`? From what I can understand from the code it seems like it

[2017-04-10 17:51] filiphr commented on #585
@atomcat1978 it cannot, currently MapStruct takes the given expression "as is" without any checks.

What you can do is to have some generic util mapping method that will return you the first element of a list. Have a look at the `mapstruct-iterable-to-non-iterable` example from the [mapstruct-examples](https://github.com/mapstruct/mapstruct-examples). Currently MapStruct will pick up the mapping c

[2017-04-10 17:52] filiphr commented on #571
@kevcodez it is still pending, I am not sure if someone is working on it yet.

[2017-04-10 18:55] filiphr commented on #1170
Can you also make an example that does not work. I think that I know how to reproduce it, but just to be on the same page.

For the adder the generated code looks like:
[code]

The new collection that elements should be added to is of type `Collection<OrderItem>`. Or you mean when the setter is also `? extends OrderItem` then the new collection is with element `? extends OrderItem`?

As for the co

[2017-04-10 19:02] filiphr commented on #1169
@agudian maybe an extension to the `@MapperConfig` that will be used as an "enhancer" for the methods that are defined in it will be a better approach. That way one can always annotate their own mappers with `@MapperConfig` and can benefit from the configuration.

@cornzy I think that currently there is no way to do this with mapper per level. Maybe you can try to put the configuration into one co

[2017-04-10 19:09] filiphr commented on #1159
Thanks for the extensive analysis @pgaschuetz.

The fact that it does not work with the maven-processor-plugin is expected, because Eclipse most probably does not know about it and does not use it to configure the APT.

I have no experience with javaagents, but from your analysis it looks like the problem is with the lombok agent. The reason for that is that without the lombok javagent everything

[2017-04-10 20:57] sjaakd commented on #1164
@filiphr we can fix it in the `SetterWrapperForCollections` as you did.But to be honest, I'm not in favor of any one of the options. We should select the proper `Wrapper` based on what we have available on the java side and not bring to much knowledge (and also via 2 paths) to the templates.

So perhaps we should go for a more definite solution. Our unit test is good (you've extended on that a bit

[2017-04-10 21:02] sjaakd commented on #1174
Hmm. I agree. Its strange. Can't explain it though.. Perhaps some kind of build problem on my side. We can keep it open, and see if it occurs again, or we can close it. Can't reproduce it anyway..

[2017-04-10 21:21] sjaakd commented on #1164
Or alternatively, I can push also some of my ideas to your branch later this week

[2017-04-11 08:17] mpachucki-decerto opened #1176 "@Context not working for collections"
Hi,
I have two classes A and B. A keeps a collection of B's. I want to map A to ADTO, but for that I need additional @Context argument which I use in @AfterMapping method. I can pass it fine to the A mapper, but when A mapper calls B mapper it does not pass the @Context argument.

As far as I know the annotations are correct, mapstruct just creates invalid code as it tries to call B mapper methods

[2017-04-11 09:05] #1176 closed

[2017-04-11 11:19] mpachucki-decerto opened #1177 "Exception while generating mappers when using non existing field"
Hi,
while running mapstruct preprocessor I get this error, it is caused by a @Mapping that references a nonexisting field in target class

at java.util.ArrayList$Itr.next(ArrayList.java:854)
at org.mapstruct.ap.internal.util.Collections.first(Collections.java:77)
at org.mapstruct.ap.internal.model.NestedTargetPropertyMappingHolder$Builder.groupByTargetReferences(NestedTargetPropertyMappingHolder.j

[2017-04-11 13:42] avk2 commented on #510
If I add lombok to entities too, then it's not working. Lombok is not meant to be used with entities?

[2017-04-11 16:08] filiphr commented on #1177
I think that this is  the same problem as in #1153. Can you show us your mapper?

[2017-04-11 16:09] filiphr commented on #1174
I think that we can close it (if you can't reproduce it). If it happens again we can reopen it

[2017-04-11 16:09] #1174 closed

[2017-04-11 18:31] filiphr commented on #510
It doesn't matter whether you use lombok with entities and not. If your project is correctly setup and uses the versions defined in [this faq](http://mapstruct.org/faq/#can-i-use-mapstruct-together-with-project-lombok) then it should work. If it doesn't please create a new issue, displaying the problem

[2017-04-11 18:46] filiphr commented on #1177
I just checked the exception is exactly the same. I will close this. You can track #1153 for the progress

[2017-04-11 18:46] #1177 closed

[2017-04-11 18:49] filiphr commented on #1176
I guess the solution is the same as the one you wrote in the gitter:

Just posting it here, so others can see what the "solution" was :)

[2017-04-11 19:06] filiphr commented on #1164
By all means, I am not in a hurry for any solution. I just didn't want to change a lot of things.

Yes I had a look at it.
We can also create a wrapper for each of the branches in the template, one for existing instance mapping and not target immutable, one for direct assignment or always null check and one that does the default. Is this what you are suggesting?

I also thing that separating the m

[2017-04-11 19:13] cornzy commented on #1170
@filiphr thank you for your answer. Yes you found the problem. I will have a look at the mentioned code but I fear I need some more help.

[2017-04-11 19:16] filiphr commented on #1170
@cornzy no problem, glad I could help. If something is not clear just let me know and I can help you out. We are also on gitter at [mapstruct-user](https://gitter.im/mapstruct/mapstruct-users) you can find us there for help as well

[2017-04-11 20:29] sjaakd opened #1178 "nested target mappings not working properly"
[code]

does not map `owner` and `maintenanceResponsibleParty`.. Need to investigate futher.

[2017-04-12 08:16] avk2 commented on #510
@filiphr I originally had

[code]

I fixed it commenting out the `<configuration>` part and adding `mapstruct-processor` as dependency

[2017-04-12 12:29] cornzy commented on #1170
@filiphr  I think I understood the template files and maybe could fix them. But I cannot find the code where mapstruct decides whether the parameter type of the adder matches or not. At the moment it seems like the adder method is not recognized because of the wrong argument type.
I changed the type of getPets in `org.mapstruct.ap.test.collection.adder._target.Target` to be List<? extends Long> (e

[2017-04-12 18:26] nnvnaveen opened #1179 "Non iterable to iterable mapping"
Hi,

I have a requirement to convert non iterable mapping to iterable ..

class Car{
  String parent;
  String name;
 String price;
}

class CarDto {
 String name;
 String price;
}

I've a mapper class like this

@Mappings(@Mapping(target = "parent", source="company")
public abstract Car CarDtotoCar(String company, CarDto cardto );

this is working fine when converting from one to one. But if I wa

[2017-04-12 21:14] sjaakd commented on #1164
That's more or less the idea.. I'm a bit constraint in time myself (busy at work). But I can have a shot at this myself as well. First I've got to do my tax reporting this weekend 😭

[2017-04-12 21:16] sjaakd commented on #1179
Have you tried out [this](https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-iterable-to-non-iterable) example?

[2017-04-12 21:18] sjaakd opened #1180 "nullptr when using shared configuration"
ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-compile) on project gmw_dao: Compilation failure: Compilation failure:
[ERROR] /C:/Development/workspace/gmw_common/gmw_dao/src/main/java/nl/bro/dao/gm/gmw/impl/SharedMappingConfig.java:[184,32] No property named "insertedPartDiameter" exists in source parameter(s).
[ERROR] /C:/Development/workspace

[2017-04-13 00:37] filiphr commented on #510
@avk2 if you add lombok as path in the `annotationprocessorPaths` it will also work. The thing with the `annotationProcessorPaths` is that if it is specified there, then the maven compiler will only use what is there, if that is empty, then it will use the classpath for the APT.

Maybe we need to write in the installation instructions that one should add other APT via path there.

[2017-04-13 08:11] filiphr commented on #1170
The adder is just a wrapper assignment, in the adder you are sure that the `sourceType` is a generic iterable and the element is taken from `sourceType.typeParameters[0]` in the model. You will need to make `sourceType.typeParameters[0].typeBound` in order to get the bound. The place where MapStruct decides to use the adder is [here](https://github.com/mapstruct/mapstruct/blob/fdf37cf45100c3de685a

[2017-04-13 08:15] filiphr commented on #1180
@sjaakd with the correct line it makes much more sense :). Does this mean that you can reproduce it? If you have a small example from at least how does the structure with the mapper and the config looks like, it would be great :)

[2017-04-13 09:29] avk2 opened #1181 "Adding partially custom methods"
I would want to implement the mapping just for one of the fields of my pojo and let MapStruct do the rest, is that possible?

[code]

[2017-04-13 09:45] filiphr commented on #1181
Yes you can do this there are multiple ways it could be done:

* [Decorators](http://mapstruct.org/documentation/stable/reference/html/#customizing-mappers-using-decorators)
* With `@BeforeMapping` or `@AfterMapping` more [here](http://mapstruct.org/documentation/stable/reference/html/#customizing-mappings-with-before-and-after).

I would personally go for the `@BeforeMapping` or `@AfterMapping`

[2017-04-13 09:47] filiphr commented on #1181
I am going to close this as the question is answered. If you think that it should be reopened please reopen it

[2017-04-13 09:47] #1181 closed

[2017-04-13 09:51] filiphr commented on #1145
Thanks for pointing out the IntelliJ ticket. I will close this issue as it is not directly linked to MapStruct. Maybe we can add this to the FAQ on the website, if you think that it happens frequently to gradle users.

[2017-04-13 09:51] #1145 closed

[2017-04-13 16:39] TheStijn commented on #809
Hi @sjaakd,

sorry for the late reaction.
I finally had some time to try this out.
It works but not for all cases it seems.
[code]
This will work nicely but it no longer works when:

`abstract WidgetTO map(Widget widget, @Context Locale locale);`

Exception is not very helpful:

I tried with other types as well (custom, Timezone, ...) and for now it only fails with the class Locale.

Apart from th

[2017-04-13 17:16] agudian commented on #809
@TheStijn that's very unexpected... could you please open a new issue with the full stack trace and if possible a minimal example mapper that reproduces the error?

[2017-04-15 03:15] tkruse commented on #1145
Already with a few votes added it seems IntelliJ takes the issue more seriously. I believe all Gradle+IntelliJ+Mapstruct users are affected to the point of dropping one of those 3 tools out of frustration.

[2017-04-15 12:32] sjaakd commented on #1180
@filiphr the real mappers are quite big. It happens when you have a shared config and non existing properties. The exact conditions I need to figure out...

[2017-04-15 13:31] eiswind commented on #743
Hi, just bumped into this. As it's still open, can someone tell me how far you got already?

[2017-04-17 12:06] filiphr commented on #1145
If you are on IDEA 2016.3 or newer you can always use the possibility IntelliJ to delegate the build to Gradle. Have a look at the IntelliJ [blog post](https://blog.jetbrains.com/idea/2016/10/intellij-idea-2016-3-eap-refactorings-to-java-8-vcs-integration-and-gradle/)

[2017-04-18 16:19] mgohin commented on #1153
How can I have more info in the debug console to know the problem's source ?
Just hit the same problem and can't find what's wrong :/

[2017-04-18 16:30] filiphr commented on #1153
@mgohin unfortunately there won't be any debug information in the console. Hint for us: Maybe add some more verbose info to display which method is being mapped.

The best way to find out what is happening is to run the compilation in debug mode. I am not sure what you use as your IDE or your build tool. For me with IntelliJ and Maven I run the compile goal with debug and you can find out. You can

[2017-04-18 16:33] mgohin commented on #1153
Sorry I deleted my post not to bother because I found the source of my problem.
My question was to know how to find the problem's source.

I keep note of your tip, never used and looks very useful 👍

[2017-04-18 20:23] zcanann commented on #1003
@filiphr I actually no longer have access to the source code of the project that I had been working on, so I won't be able to test this out in the original scenario. I assume this is at least functioning for the gist you created? If so, then the solution is likely sufficient.

[2017-04-19 18:50] filiphr commented on #1153
@sjaakd I am having a look at this in order to fix it. I have one question for you why not report the error directly in the `TargetReference` building, but in the `BeanMappingMethod`? In `TargetReference` there is a `TODO` from you saying:

and also:

What we could do is to report the errors there and we have access to the method at that time, and then if  the `MappingOptions` are invalid (they ar

[2017-04-20 10:46] julien-may commented on #702
What's the state here? Having a model that describes the mapping between a source and target class at runtime is indeed very useful when wanting/needing to separate concerns as described by @remmeier https://github.com/mapstruct/mapstruct/issues/702#issuecomment-232922486

[2017-04-20 15:04] dmitry87 opened #1182 "Loosing element value on conversion from JAXBElement<T>"
The issue is in generated code:
[code]
When converting to DTO object following part of xml `<sexCode>F</sexCode>` that have JAXB representation as `JAXBElement<String> sexCode` returns `true` on `element.isNil()` check. As the result of this operation we loose our F value when storing to DTO. Generations rule can be fixed here.
However the workaround is following:
[code]
And here is the method in

[2017-04-20 16:17] filiphr commented on #1182
Is this an issue for MapStruct or you just posted it so people can find it? If it is the second, I propose that we write this in the MapStruct [Google group](https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users). I don't have a lot of experience with JAXB, but to me this looks like a problem with that. Why is `nil` in the `JAXBElement` set to `true` in the first place?

[2017-04-20 19:12] gunnarmorling commented on #1152
Hey @sjaakd any further insights on why @agudian's proposal above isn't good enought (using `@Mapping#ignore()`?

[2017-04-20 19:39] dmitry87 commented on #1182
@filiphr I believe it is a bug. I hit this during development. I am not sure why `element.isNil() == true` in my case. I think we just do not need this check. It is redundant because we will return value or null when we have `element != null` itself. I've posted workaround in case someone hit that too before bug is fixed.

[2017-04-20 21:36] filiphr commented on #1182
@dmitry87 I don't know much about the specification. If you look at the definition of [`JAXBElement#isNil`](http://docs.oracle.com/javaee/7/api/javax/xml/bind/JAXBElement.html#isNil--) it says:

Also if you look at the definition at [w3.org](https://www.w3.org/TR/xmlschema-0/#Nils) it clearly says that an element should not have any content and just attributes. So in your case, I would say that so

[2017-04-20 21:37] #993 closed

[2017-04-20 21:47] sjaakd commented on #1152
Well. when I wrote this I spent half an hour troubleshooting on a mapping that MapStruct tried to make on `java.util.date` to our own type which was created 4 years ago and used in a lot of other projects. It happened on a nesting level so it was not immediately obvious.

This type is called in a lot of places. So I would like to be able to stick an `@Ignore` to this type iso having a lot of `@Map

[2017-04-21 08:46] dmitry87 commented on #1182
@filiphr I have no control over xsd or xml. JAXB generated value looks like
[code]
Now we return `element.getValue()` if and only if `!isNil()`. If `isNil() == true` we will return null.
So I mean here that we can `return element.getValue()` from the very beginning without `isNil()` check. If `isNil() == true` we will get  `null` or `value` from the element(it may contain attributes). If `!isNil()

[2017-04-21 18:27] filiphr commented on #1182
@dmitry87 by all means MapStruct is not there too impose how a user should map their objects. I just wrote more about that, because the example looked strange.

With the `@Mapper(uses)` you can take over any built-in conversion from MapStruct. User defined methods always have the highest precedence in MapStruct.

For example if you define a method that maps `String` to `String` and put it into `us

[2017-04-23 10:59] filiphr opened #1185 "Report the specific type for which a nested target property has no write accessor or not exists"
With #1184 the reporting of the error is moved into the `TargetReference`. The error reporting stays the same and the entire target name is reported.

For a Mapping like:
[code]

The error messages look like:
* `Property "readOnly" has no write accessor.`
* `Unknown property "writable2" in return type.`.
* `Property "nestedTarget.readOnly" has no write accessor.`
* `Unknown property "nestedTarget.

[2017-04-24 07:31] #1182 closed

[2017-04-24 19:15] sjaakd commented on #1182
@dmitry87 : the `isNill` in JAXBElement comes from elements that have the attribute `nillable=true`. See [here](https://www.w3schools.com/xml/el_element.asp). XML being text base has no means to distinguish between an `empty` or  a `null` value. Especially strings are tricky. By adding the attribute `nil=true`  to your xml (when the element XSD definitions allows for that) tells your java binding

[2017-04-25 14:27] ahararwala opened #1187 "Source / Destination with same Class name but different packages fails"
In version 1.1.0.Final, the mappings are generated incorrectly in this situation.

Appears to be a regression: previous issue found here https://github.com/mapstruct/mapstruct/issues/394

[2017-04-25 16:05] filiphr commented on #1187
@ahararwala I don't think that it is the same problem. We have this [test](https://github.com/mapstruct/mapstruct/tree/master/processor/src/test/java/org/mapstruct/ap/test/bugs/_394) for it, that is why I think that it might be something else.

Do you have generics perhaps? Can you also try the latest 1.2.0.Beta2? Can you perhaps show us a small reproducible example, so we can pin point the proble

[2017-04-25 17:57] sjaakd commented on #1179
@nnvnaveen .. Did the example solve your problem? Can we close this issue?

[2017-04-25 18:21] sjaakd opened #1188 "Consistently handle update methods with non-null return;"
See discussion on #1132.

Currently we have 3 options:

1. A create method
2. An update method (with parameter annotated as `@MappingTarget`)
3. A hybrid, were we have both.

This behavior can be found on `regular mapping methods`, `after/before mapping methods`. However, we have no clear / consistent view on what to do with the return value in case of scenario 3. (the hybrid).

Consider this meth

[2017-04-25 20:25] ahararwala commented on #1187
I was able to reproduce the error in the mapstruct-examples git repo. Please review my fork at:
https://github.com/ahararwala/mapstruct-examples.git

Note that we are currently using Java 7 with mapstruct version 1.1.0.Final version.

Also I tested the mapstruct-examples with the latest beta version and Java 8 and all the tests were passing. So it looks like the bug could be specific to java 7 and

[2017-04-25 20:42] filiphr commented on #1164
The second part of this issue has been fixed as part of the #1175 PR

[2017-04-25 20:42] #1164 closed

[2017-04-25 21:15] filiphr commented on #1187
@ahararwala Thanks a lot for the reproducer. I'll have a look and get back to you. There are 47 closed issues in Beta1 and 16 in Beta2 most probably it is solved in one of those. In any case I'll let you know with more information in the next days

[2017-04-25 21:28] filiphr commented on #1187
@ahararwala I just checked it out. There are multiple issues with your changes:

* [mapstruct-mapping-with-cycles](https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-mapping-with-cycles) must use 1.2.0.Beta2 because it uses the new `@Context`
* [mapstruct-nested-bean-mappings](https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-nested-bean-mappings) must also u

[2017-04-26 08:38] Dichotomia opened #1189 "default component model is not longer honored with @Mapper(uses = ....)"
When a mapper has a annotation @Mapper(uses = ...), the default component model is no longer honored. I tried with "spring" value.

I need to add @Mapper(uses = ..., componentModel = "spring").
I use mapstruct-jdk8 1.2.0.Beta2, with lombok 1.16.16.

[2017-04-26 11:57] dmitry87 commented on #1182
@sjaakd thanks for explanation.

In my particular case
[code]
and nilable should be false here I believe, however it's not. Perhaps this is JAXB implementation issue as you said above. It can be fixed by using Custom mapper for this.

[2017-04-26 18:03] filiphr commented on #1189
Do you mean the component model set via compiler property? Can you provide a reproducer?

Are you creating the mappers every time with the same commands, i.e. do you use maven or gradle or you are relying on the IDE to invoke the apt?

[2017-04-26 21:11] Dichotomia commented on #1189
The property mapstruct.defaultComponentModel is set to "spring" by the maven compiler plugin.

[2017-04-27 17:36] ahararwala commented on #1187
We don't get any errors but the generated files contains compile errors.
Appears that the processor is incorrectly mapping the files in the wrong class and therefore does not produce any errors.

[2017-04-27 18:40] filiphr commented on #1187
@ahararwala that is still a problem in our processor, can you please create some reproducer (the changes in the examples repo that you created are invalid, as the minimum requirements mentioned in previous comment must be satisfied). We would like to help you out with the problem, but without a reproducing example we can't do more, sorry.

[2017-04-27 18:50] filiphr commented on #1189
Can you perhaps provide a reproducer? I tried it out in the examples repo and it works as expected. With `mvn clean install` everything works correctly. However, if the apt is invoked from within an IDE (at least from IntelliJ) it won't work as the maven compiler arguments are not picked up by IntelliJ (I am not sure for Eclipse).

[2017-04-28 06:32] boristhecat opened #1190 "Mapstruct inside an AspectJ project in Eclipse causes NPE in mapper interface"
We are currently using mapstruct in a project mainly developed using Eclipse. Yesterday we configured a maven module to be an 'AspectJ project' in Eclipse and right after that, our Mapper-Interfaces are showing the Error below.

Removing all methods from the mapper interface as well as removing the aspectj capabilities from the eclipse project makes the error go away.

[code]

[2017-04-29 10:43] filiphr commented on #1160
This a a duplicate of #611. Therefore I will close this one. If you want to follow the status please watch the original.

[2017-04-29 10:43] #1160 closed

[2017-05-01 17:24] filiphr commented on #143
One performance bottleneck is #777, because we are using the default constructor to create a collection a lot is lost during the add operation to the collection.

[2017-05-02 17:28] IrishkA13 opened #1191 "Bug: Lombock @Delegate property cannot be accessed as target-property"
**Compilation failure: Unknown property "employeeId" in return type.**

[code]

[code]

[code]
@Delegate create get-accessors in Appointment for inner fields so the all BaseAppointmentDTO fields are accessible within AppointmentInfoDTO but mapstruct doesn't consider this.
There are 2 correct ways to access:
[code]

[2017-05-02 17:53] filiphr commented on #1191
You are using 1.2.0.Beta2 with Lombok at least at 1.16.14.

I tried using lombok `@Delegate` and it looks like lombok is not adding the necessary information (the executables to the Type) to the `AppointmentInfoDTO`. Did you create an issue in the lombok repository? If yes can you link it with this one, if not can you create one and link it with this one?

On the other side how will the `baseAppoi

[2017-05-03 08:17] IrishkA13 commented on #1191
Filiphr, thanks for quick reply!
Versions that are used:
mapstruct = 1.2.0.Beta2
lombok = 1.16.14

I didn't create the bug for lombok as it works as expected.
I don't use  @ObjectFactory. As I understand the problem here is that the search for @Mapping target is done by properties, not by get/set methods so the code that is generated by lombok looks like this

[code]

It doesn't allow to use lombo

[2017-05-03 08:33] IrishkA13 commented on #1191
One more thing that the nested fields mapping also doesn't work correctly for me.
There is a mapping **employee.id -> baseAppointment.employeeId.**
Instead I have mapping **employee -> baseAppoinment**.

[code]

The generated code for this looks like:
[code]

 Here is the whole mapping class I use
[code]

[2017-05-03 17:43] filiphr commented on #1191
This is answer for https://github.com/mapstruct/mapstruct/issues/1191#issuecomment-298848904
@IrishkA13 yes `@Mapping` works with properties. However, properties according to the [Javabeans specification](http://download.oracle.com/otn-pub/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/beans.101.pdf) chapter 2.2 are not fields of a class.

associated with a bean that can be read or written by calling a

[2017-05-03 17:58] filiphr commented on #1191
To answer your 2nd https://github.com/mapstruct/mapstruct/issues/1191#issuecomment-298852141.

What you are experiencing there is the new feature that allows automatic creation of sub-mapping methods and control of mappings from the root mapping.

You are controlling how `employee` needs to be mapped from the root object. MapStruct sees `@Mapping(source = "employee.id", target = "baseAppointment.e

[2017-05-04 09:58] IrishkA13 commented on #1191
Thanks for reply. I have already done some chnages to make it applyable for my needs.
But anyway it works incorrectly and it will be good not to find the single variant it normally works as I did but to use all common ways that are provided by mapstruct.
Especially mapping employee -> baseAppointment instead of employee.id -> baseAppointment.employeeId.
If I try additionally map someField -> baseA

[2017-05-04 19:49] filiphr commented on #1191
@IrishkA13 the feature that allows to control sub-mappings from the root level is new and we really appreciate the feedback.

Regarding your points, I would like to sum them up so it is clearer to me:
* You are saying that in your case you want to only map `employee.id` to `baseAppointment.employeeId` and not the other fields? And that you want to have an ability that will only do mapping on defin

[2017-05-05 13:03] eiswind commented on #743
Just to be exact:
https://developers.google.com/protocol-buffers/docs/reference/java-generated#repeated-fields

[2017-05-05 20:29] filiphr commented on #743
So the property that you write in the `@Mapping` is `permissionsList`, right? You can use the [`AccessorNamingStrategy`](http://mapstruct.org/documentation/stable/api/org/mapstruct/ap/spi/AccessorNamingStrategy.html), even better extend the [`DefaultAccessorNamingStrategy`](http://mapstruct.org/documentation/stable/api/org/mapstruct/ap/spi/DefaultAccessorNamingStrategy.html) and override the [`get

[2017-05-06 11:17] eiswind commented on #743
Its so small! Had to find your example to see how to include it in the classpath. Works like a charm. But I don't know if it's worth a pr:
https://github.com/eiswind/mapstruct-proto3/blob/master/src/main/java/de/eiswind/bmfx/mapstruct/proto3/Proto3AccessorNamingStrategy.java

[2017-05-06 13:12] filiphr commented on #777
The initial capacity constructor is used where needed. I will close this issue. I think that the part about the `growCapacity` can go in a new issue.

Just to clarify for `Map`(s) and `Set`(s) we use: `Math.max((int) (c.size()/.75f) + 1, 16)`, something similar to what Guava does and what the Java Collections use when creating a new `HashMap` / `HashSet` from a collection

[2017-05-06 13:12] #777 closed

[2017-05-06 21:26] #1153 closed

[2017-05-06 21:46] filiphr commented on #743
Yes it looks really small. I don't know much about protobuf, but are all builders extending or implementing some java class or interface? If that is the case, then I would say that the `Proto3AccessorNamingStrategy` should also check that, because if you are not in a protobuf builder the added should behave differently.

You can get the enclosed type from the executable method and do the checks. I

[2017-05-07 05:14] eiswind commented on #743
yes that could make sense. if I could check for the type (protobuf messages extend a baseclass) I could also turn around the naming convention, so that the property mapped will be "permissions" instead of "permissionsList", that would free me from specifying the additional mapping. if I find time this week i could put together an example.

[2017-05-07 07:48] filiphr opened #1193 "Code blocks in documentation have empty lines"
The code blocks in the html reference documentation have a lot of empty lines. The asciidoc file does not have empty lines and it is correct.

[2017-05-07 08:46] sjaakd commented on #743
What about adding a this strategy as `ProtobufAccessorNamingStrategy` to our `org.mapstruct.ap.spi` **and** adding an example to our examples repository on how to use it.. There's no hard dependency on protobuf or its api's right?

It serves 2 purposes: explaining our spi and enriching our MapStruct with out-of -the-box functionality.

[2017-05-07 11:37] filiphr commented on #1193
They don't have empty lines, just the line number 10 is created on 2 lines on some screens :)

[2017-05-07 11:37] #1193 closed

[2017-05-07 12:14] filiphr opened #1194 "Setup coverage analysis"

[2017-05-07 12:22] eiswind commented on #743
While setting up the example (https://github.com/eiswind/mapstruct-examples) I found that I have trouble with null values. Is there a way to not call the setter if the source value is null?

[2017-05-07 13:07] sjaakd commented on #743
You might want to checkout the null value mapping strategy.

Verstuurd vanaf mijn iPhone

[2017-05-07 18:37] filiphr commented on #743
@eiswind awesome. Thanks for the example, replied you back in the PR for the examples.

[2017-05-08 20:53] sjaakd opened #1196 "new surefire argline breaks debugging in netbeans"
The following change (but then commented in) makes in-IDE-debugging impossible in netbeans..

[code]

I know this was added for jacocco., but I think we should tweak the configuration a  little bit (lifecycle?). Don't know how Eclipse behaves.

[2017-05-08 21:14] filiphr commented on #1196
I noticed the same problem with IntelliJ as well. And they already have some bug reports: [IDEA-143187](https://youtrack.jetbrains.com/issue/IDEA-143187), [IDEA-172542](https://youtrack.jetbrains.com/issue/IDEA-172542) and [IDEA-167838](https://youtrack.jetbrains.com/issue/IDEA-167838). In IntelliJ there is a way to not use the surefire `argLine`. Is there something like this for Netbeans?

In any

[2017-05-08 21:36] sjaakd commented on #1196
My debug console sais:
[code]

[2017-05-08 21:53] thiyanesh commented on #369
@sjaakd We used dozer to map properties of an incoming entity to an existing entity(source and target class is same). The non-null fields in the incoming entity are mapped to the existing entity(null fields in incoming entity are ignored and these fields will remain unmodified in the existing entity). Finally, the updated/merged entity is persisted. How do we achieve this functionality in mapstruc

[2017-05-08 21:55] filiphr commented on #1196
Looks similar to the output of IntelliJ. Can you try with `${argLine} `? We can change it to that.

[2017-05-08 22:03] sjaakd commented on #1196
First thing I tried.. sorry.. no result..

[2017-05-08 22:07] sjaakd commented on #1196
checkout [this](http://stackoverflow.com/questions/12269558/maven-jacoco-plugin-error).  For now I call it a day..

[2017-05-08 22:11] sjaakd commented on #369
@thiyanesh .. Have you checked out: `@Mapper(nullValueMappingStragety = ALWAYS)`. See [our ref guide](http://mapstruct.org/documentation/dev/reference/html/) for more info

[2017-05-08 22:13] sjaakd commented on #369
@remmeier .. , @0x3333 is PR still required or is it covered by our current functionality. ?

[2017-05-08 22:37] thiyanesh commented on #369
@sjaakd Thank you. "NullValueCheckStrategy.ALWAYS" worked for the use-case.

[2017-05-09 01:07] 0x3333 commented on #369
A long as I can tell, fixed.

[2017-05-09 06:05] agudian commented on #1196
Just define an empty argLine default in the properties-section of the pom - that should do it., shouldn't it?

[2017-05-09 08:14] Dichotomia commented on #1189
Sorry i am little busy. I will try to provide a reproducer as soon as possible.

[2017-05-09 16:26] filiphr commented on #1189
@Dichotomia no problem, once we have the reproducer we would be able to find out what exactly is the problem

[2017-05-09 21:10] sjaakd opened #1197 "Optimize understandability of our source code"
It seems we are dragging around the following `Map<String, List<Mapping>>`, were the key identifies a target name and the list of mappings is associated with that target.

However: the only place were we seem to use that is in the 'old-style' enum mapping (before `@ValueMapping`). Goal of this issue is to get rid of this relict. It will make the code a whole lot easier to understand.

[2017-05-09 21:14] sjaakd commented on #1197
As a suggestion, perhaps we can rewrite the @Mapping to `@ValueMapping` in an earlier phase (e.g. when creating the `SourceMethod`)

[2017-05-10 07:39] jmuis opened #1198 "Support @Named variables to address mapper inheritance when super is not located in same jar"
Hi,

We have a case where we need to have a mapper interface with 2 different implementations, which implementation will be chosen runtime is basically dependent upon the way we need to retrieve additional data for the mapper (target property uses a java expression to fetch mapping data).

Because these 2 implementations resist in 2 different jars and the mapper interface in a 3rd jar reflection t

[2017-05-10 08:35] juriad commented on #1169
Would it be possible to add config attribute to @MapperConfig and allow its "inheritance" this way? We have a hierarchy of abstract superclasses (AObject < AEntity < AVersionedEntity < RuleEntity) and we want to provide prototype mapping for each level. These prototypes need to be in a type annotated with @MapperConfig. So far we have been inheriting interfaces and annotating only the lowest abstr

[2017-05-10 19:57] filiphr commented on #1198
As I wrote in the PR #1199 I find this feature really interesting and useful. The implementation looks pretty simple as well.

I would only prefer using some other annotation like `@Param` or something similar instead of the `@Named` annotation. @gunnarmorling, @agudian, @sjaakd what do you think?

@jmuis is using a different annotation acceptable for you?

[2017-05-11 12:51] lex-em opened #1200 "NullPointerException when creating sub mapping method between an array and another type"
Hi, how I can pass target mapping object to custom mapping method as parameter?
I am trying something like this, but take NPE during compilation:
[code]
[code]

If I remove @MappingTarget Application application parameter - compile is OK, without @MappingTarget have same result

[2017-05-11 12:53] lex-em commented on #1200
version: 1.2.0.Beta2

[2017-05-11 21:45] filiphr commented on #1200
@lex-em thanks a lot for the report. We should not be throwing the exception that is a bug.

Note for us for the bug in the `BeanMappingMethod#applyPropertyNameBasedMapping()`  we have a check if the `sourceType` is primitive and if it is we skip it. In this case the source type is not primitive it is `byte[]`. However, when we try to get read accessors from it we get an NPE, because it has no typ

[2017-05-12 04:11] lex-em commented on #1200
@filiphr thank you, it is wery usefull suggestion!

[2017-05-12 17:19] filiphr commented on #1200
@lex-em no problem, I am glad that it works :).

Regarding this issue, do you think that it is OK to change the title to something else that reflects the NPE? We can write the question and the answer to it in the google group, or something like that.

[2017-05-12 17:34] lex-em commented on #1200
@filiphr I think that it is OK

[2017-05-13 14:45] sina-golesorkhi opened #1201 "Compilation failure on static import of Guava's Stopwatch method"
Hi there.
I saw a compilation problem in a project that has both Guava and mapstruct. I created a sample project which only includes these two. Here is how the pom.xml looks like:

[code]

And here is a sample class:

[code]

The project has just these two files and nothing else. On doing `mvn package` I get the following error:

[code]
And this only happens with static import of the `createStarte

[2017-05-13 21:43] agudian commented on #1198
Hmm, interesting. We talked about a similar problem in https://github.com/mapstruct/mapstruct/pull/847

[2017-05-14 15:44] agudian commented on #1201
The probelm is not with MapStruct, but with the plugin configuration in your pom - the maven-processor-plugin simply doesn't run the compiler with the correct language level (see how it cannot understand `import static` in the first error.

I would suggest removing the processor plugin and instead configure annotation processing using the compiler-plugin only, as we're describing in the readme and

[2017-05-14 15:45] agudian commented on #1201
I'll close this issue, as I don't think it's a problem that needs fixing here. If you still see issues, feel free to continue with comments or to reopen.

[2017-05-14 15:45] #1201 closed

[2017-05-14 16:35] sina-golesorkhi commented on #1201
@agudian Thanks for the response. I have now changed my project to use this config and it worked.
I was basically following the other configuration that is provided [ on the website here](http://mapstruct.org/documentation/1.0/reference/html/#setup) and now I've found this other documentation [here on GitHub](https://github.com/mapstruct/mapstruct/blob/aa6cda117701c41ca0697f4872f4631808ec6e4d/docu

[2017-05-14 18:07] filiphr commented on #1201
@sina-golesorkhi The configuration that you have linked is from the 1.0.0.Final documentation. The best is to look at the configuration from the latest stable release (1.1.0.Final in this case) [here](http://mapstruct.org/documentation/stable/reference/html/#setup), or the latest released development version (1.2.0.Beta2 currently) [here](http://mapstruct.org/documentation/dev/reference/html/#setu

[2017-05-14 18:15] filiphr commented on #1198
@agudian where is this talked about in the linked PR? Sorry, I couldn't find it :(.

Are you talking about this:

mapping from them

If that is the case, it is similar, but not that much. I also didn't understand what was the consensus there. Did you agree on something or not?

[2017-05-14 18:27] sina-golesorkhi commented on #1201
@filiphr What I wanted to point out is that I'm still using the `1.0.0.Final` and used `annotationProcessorPaths` but the reference guide for that version does not reflect this and updating older versions' documents will help those who are not necessarily on the latest version :)  but thanks for the help guys.

[2017-05-14 18:30] filiphr commented on #1201
@sina-golesorkhi sorry for misunderstanding you. You are right, maybe we need to update the old version for the documentation, we need to talk and decide.

No problem for the help, let us know if you have some other issues as well

[2017-05-16 19:16] filiphr commented on #1200
I analyzed this better. The error comes when we try to create an automatic sub mapping method between an array and some type. This issue will be resolved if we do #1188.

[2017-05-17 17:18] gunnarmorling commented on #1198
Hi @jmuis it's not quite clear to me yet how reflection plays into this. MapStruct works at compile time, so it should have access to the parameter names of the methods for which it generates implementations. Could you provide some more context perhaps? Thanks!

[2017-05-17 19:28] gunnarmorling commented on #1198
@jmuis, got it now - when creating an implementation for a method defined in another JAR the parameter name will be lost. But as you said, Java 8 allows to retain parameter names. I'd strongly prefer to take advantage of that standard facility instead of adding our own solution. What is it that speaks against it?

[2017-05-17 20:34] #1154 closed

[2017-05-17 20:44] #1194 closed

[2017-05-18 06:09] jmuis commented on #1198
Hi @gunnarmorling ,
First of all it adds extra size to the class metadata, but more importantly, we don't wish to 'leak' that kind of information from our implementation as you would expose all parameter names in the entire jar. Given the size and impact of the change we believe it's a welcome addition to the JDK8 option.

[2017-05-18 20:32] filiphr commented on #1196
Just to note, defining an empty `argLine` in the properties does not work. Maven just evaluates it before jacoco has picked it up (I think). In any case, with that config jacoco didn't run

[2017-05-20 07:06] sjaakd commented on #1198
I see an added value.. Certainly in the context of #847 . I'm not sure whether we should use `@Named` for it for 2 reasons:
1. `@Named` derives its use from CDI and other DI frameworks. It relates to methods and method selection.
2.  If we want to add arguments to the annotation in the future because of for instance #847, they might not be applicable to the method selection use case and vice versa

[2017-05-20 10:05] filiphr commented on #122
Fixed by #1168

[2017-05-20 10:05] #122 closed

[2017-05-21 03:39] davidyee opened #1206 "Custom component models for generated mappers"
While MapStruct supports several common component models (`default`, `cdi`, `spring`, and `jsr330`), is it possible to allow custom component models to be implemented?

For example, in the Dolphin Platform, they define a [custom scope called `ClientScope`](https://canoo.github.io/dolphin-platform/#_definition_of_the_client_scope). This annotation would be needed on a MapStruct mapper if it needs a

[2017-05-21 06:27] filiphr commented on #1206
I think that you can achieve what you need by implementing your own  [`ModelElementProcessor`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/processor/ModelElementProcessor.java). I would suggest you to extend the [`AnnotationBasedComponentModelProcessor`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct

[2017-05-21 08:19] #1206 closed

[2017-05-22 00:42] eximius313 opened #1207 "1.2.0.Beta2 doesn't generate sources in Eclipse"
I'm using ```mapstruct-jdk8``` version ```1.2.0.Beta2``` (Beta2 because I use Lombok as well) together with ```Hibernate Static Metamodel Generator```.
My configuration in Eclipse is as following:
![image](https://cloud.githubusercontent.com/assets/5578017/26288712/29daf4a6-3e98-11e7-8606-0ee4be28dd96.png)

Files generated by ```Hibernate Static Metamodel Generator``` are placed inside ```.apt_gen

[2017-05-22 00:45] eximius313 commented on #1159
I think this bugs are related: https://github.com/mapstruct/mapstruct/issues/1207

[2017-05-22 05:15] santoshkt opened #1208 "Not able to use MapStruct generated Impl class in Unit Test"
I have a unit test class like below.

[code]

My collegues using Eclipse are able to run unit tests in their IDE but I am a IDEA user and I can't run the tests. I also tried the steps at http://mapstruct.org/development/ide-setup/ but no use.

IDE cannot detect `CountryMapperImpl` class as shown in above examples. What are my options with IDEA ?

[2017-05-22 05:44] filiphr commented on #1207
Did it work with previous versions?

Do you use some build tool? If yes how does the setup look like in it, does it build OK with it?

Does it work if you don't have lombok?

[2017-05-22 05:50] filiphr commented on #1208
The steps in your link are for setting up a development for the MapStruct source code. For using MapStruct have a look at http://mapstruct.org/documentation/ide-support/.

You should definitely have the annotation processing enabled and because of the way IDEA sets up the annotation processing, you have to have the `mapstruct-processor` as an optional or provided dependency. There is all this info

[2017-05-22 06:56] cornzy commented on #1170
Finally it seems like I have found the necessary code parts. There are some different kind of matching wildcard collections and I hope I found all necessary combination.

I also resolved a TODO in Type#isAssignableTo() that was responsible for not finding add method when maaping from List<? extend T> to List.

@filiphr in your last comment you said that my change might not work because there is no

[2017-05-22 07:18] filiphr commented on #1170
@cornzy awesome for working on this. We'll have a look at it tonight.

Yes I said that in my last comment and I meant that it won't work with the current code that we have, but with the resolving of your TODO it should work.

Testing with your code would be awesome as well, looking to hear how it behaves there as well.

[2017-05-22 09:31] eximius313 commented on #1207
1)I don't know - I started project with this version
2)I use gradle, but this issue is present in fresh Eclipse import. I'm providing the test case.
* Import to Eclipse (project will not yet compile)
* invoke ./gradlew eclipse (in order to configure paths)
* Project should compile and Metamodel classes are generated, but not Mapstruct
* Run tests on both "backend" and "frontend" to see results
3)I

[2017-05-22 19:03] agudian commented on #1207
Well, after importing the projects in Eclipse (I ran `gradlew eclipse` first), the metamodel and the mapper were generated. However, Lobmok didn't run... But I don't have the lombok agent in Eclipse, so that might be expected:
[code]

Is `frontend/.apt_generated` empty for you?

[2017-05-22 22:04] filiphr commented on #1207
I also tried the example (without eclipse) and the mappers were also generated but in `frontend/build/generated/source/apt/main`.

@agudian Lombok must have run, because otherwise we cannot generate the Mappers. Both the `User` and the `UserDTO` need Lombok so we can use the methods.

[2017-05-23 07:34] filiphr opened #1210 "Component model default only works when uses are @Mapper"
If we have a class that we want to use in the mapper and we use the default component model then we search for it's implementation even though we can instantiate it like we need it.

e.g.

[code]

If we improve the `Mappers#getMapper` do try and load the class actually passed as a last resort then one doesn't need to annotate the `MapperHelper` with `@Mapper`

[2017-05-23 11:54] filiphr commented on #445
This has actually been done via PR #1158.

The only caveat is that due to the implementation of the [`javax.annotation.processing.Messager`] it will only work correctly (specify the exact element) in Java 9, because they have fixed [JDK-6388543](https://bugs.openjdk.java.net/browse/JDK-6388543) only for Java 9. I think that it doesn't work for the Eclipse as well (I couldn't find a bug report).

I

[2017-05-23 11:54] #445 closed

[2017-05-23 20:20] slavap opened #1211 "Static private methods should be generated in case of aaa.bbb to ccc mapping"
Example:
[code]

[2017-05-23 20:20] filiphr opened #1212 "Reconsider the way we generate mappings for nested non symmetric target properties"
As discussed in #1157 we need to rethink how we generate the mapping methods for the nested non symmetric target properties.

[2017-05-23 20:24] filiphr commented on #1211
@slavap what kind of problem do you have it that private method is `static` or not?

[2017-05-23 20:54] slavap commented on #1211
@filiphr A lot of warnings from IDE "this method could be declared as static" :-) Also it's better from performance and overall code quality, see https://stackoverflow.com/a/11993118

[2017-05-23 21:07] filiphr commented on #1211
@slavap that sound reasonable. Those methods are not that difficult to be made static (have a look at the NestedProperryMappingMethod.ftl). However, the other methods are more complicated, especially if you consider, object factories, before/after mapping methods, using other mappers etc.

If you feel like it you can try to contribute a PR.

It would be good to hear what the others think (@gunnarm

[2017-05-24 12:14] filiphr opened #1213 "General code cleanups"
* Use util methods when possible (cleanup after #122)
* Reduce Javadoc warnings
* Reduce compiler warnings
* Exclude files that don't need license from the license check

[2017-05-24 12:16] #1213 closed

[2017-05-24 19:46] masterky opened #1214 "ClassNotFoundException when running JUnit tests in eclipse using gradle example"
I'm not able to run the 'mapstruct-on-gradle' example project using junit 'Test' annotations in eclipse. The test fails with 'ClassNotFoundException: Cannot find implementation for ...SourceTargetMapper.
I'm using javaSE-1.8, mapstruct 1.1.0.Final and JUnit 4.1.2

[2017-05-24 20:32] #1148 closed

[2017-05-24 20:37] gunnarmorling commented on #1210
Hum, that's weird. I'm pretty sure it works for using the JAXB factory classes and such.

[2017-05-24 20:50] filiphr commented on #1210
I'll do a better check for this. @cornzy said that he had to annotate a Mapper with `@Mapper` in the #1209 PR.

[2017-05-25 11:59] filiphr commented on #1214
We'll have to investigate why this does not work. Does a normal gradle build work for you there?

[2017-05-29 10:07] masterky commented on #1214
Yes it does. Is there something to bear in mind when using mapstruct with junit and gradle?

[2017-05-29 14:46] juriad opened #1215 "Regression: Missing import when upgrading to 1.2.0.Beta2"
Hi, we were using Mapstruct version 1.1 but we are upgrading to 1.2 because we need Lombok support. After the upgrade, old mappers stopped working.

The problem is demonstrated in https://github.com/juriad/mapstruct-missing-import-1.2

Basically, this (in 1.1):
[code]
was replaced with this (1.2):
[code]

Notice that in version 1.2, the type Tag[] is not fully qualified, which causes a compilation

[2017-05-29 16:53] filiphr commented on #1215
Thanks a lot for the demonstration of the problem. I see that you have the workaround already.

For others: one needs to use `@Mapper(uses = {Tag.class})` to avoid the problem.

This is a regression of #999 We'll try to fix this with `1.2.0Beta3`, otherwise the fix will be part of the release after the Beta.

[2017-05-29 23:22] filiphr commented on #1215
@juriad I managed to find a solution for the problem. Before I make the PR and the change can you tell me if I can use your classes in a test, or should I create some similar ones? If I can use the same classes, do you want me to add your name to the author of the classes?

[2017-05-30 06:06] filiphr commented on #1214
I asked so we know where exactly the problem is. Have you tried running `gradle eclipse`? There shouldn't be anything special to junit and gradle. It looks like the mappers are not generated i.e. the annotation processor has not been invoked.

@agudian is there something special that one needs to do for gradle and eclipse?

[2017-05-30 06:09] filiphr commented on #1208
@santoshkt did my comment work for you? I'll close the issue, if you think that it needs to be reopened please do ao

[2017-05-30 06:09] #1208 closed

[2017-05-30 06:38] filiphr commented on #879
I have a similar use case for this issues. The only difference is that I need to not set `null` if the source property is `null`.

From my point of view there are two sub-issues here:

1. Do not set `null` in the update methods. More precisely from our `UpdateWrapper.ftl`:

[code]

This will lead to a method generated like:

[code]

We need to not include: the `else` if there is `includeSourceNull

[2017-05-30 07:10] juriad commented on #1215
Oh, that was quick. I added a license to the problem demonstration project. You can use it in a test. I don't want to be mentioned. From my point of view, the code served its purpose, it demonstrated the bug and made it easier to fix.
Thanks a lot!

[2017-05-30 08:02] filiphr opened #1216 "Ambiguous mapping method but there is a most specific mapping"
I have a util class that has the following methods:

[code]

I want to map from `String` to `java.util.Date`. I am getting an Ambiguous mapping error. I think that if an explicit mapping between `String` to `java.util.Date` exists then we should select that method. If the `toUtilDate` method didn't exists then we should throw the error.

WDYT?

[2017-05-30 14:06] masterky commented on #1214
I did but the error still occurs.

[2017-05-30 19:35] #1215 closed

[2017-05-30 20:39] filiphr commented on #1215
Thanks again for the demonstration project it really helped a lot. The fix is integrated into master and it should be out with Beta3 really soon.

Let us know if there are other issues. Thanks for trying out the Betas

[2017-05-31 20:12] #1129 closed

[2017-06-01 08:31] DavidWylie opened #1218 "[Feature] Mapping hashmap to and from a field"
When using the mapstruct library for mapping dto objects to domain objects a common problem encountered is the ability to map Hashmaps to object properties.
Existing code to acheive this is to use a custom function which will get a hashmap index from the map and return it.

      @Mapper()
    public abstract class OrderMapper {

    @Mappings({
            @Mapping(target="id", expression="java(

[2017-06-01 16:44] filiphr commented on #1218
Thanks for the feature request @DavidWylie. I think that this one is similar to #1075 and #717. I think we had one other feature request that was requesting to provide the index of a list.

I think that it is an interesting feature for MapStruct. If you are up for it you can try contributing it 😄. We are here of course for guidance and help.

[2017-06-02 06:48] gunnarmorling commented on #993
Hey @filiphr, is this option somewhere described in the docs? I cannot seem to find any mention of it (only the SPI).

[2017-06-02 06:51] filiphr commented on #993
@gunnarmorling not in the docs, but it is in the Javadoc [`Mapper#disableSubMappingMethodsGeneration`](http://mapstruct.org/documentation/dev/api/org/mapstruct/Mapper.html#disableSubMappingMethodsGeneration--)

[2017-06-02 06:53] gunnarmorling opened #1219 "Mention ability to turn off sub-mapping methods in the reference docs"

[2017-06-02 06:54] gunnarmorling commented on #993
Ok, thanks for clarifying, @filphr. I've filed https://github.com/mapstruct/mapstruct/issues/1219 for adding it to the ref guide, too.

[2017-06-02 08:50] doctor-zoidberg opened #1220 "[Feature] Pattern to match enum constants"
I need to map various enums, manually written and generated from WSDL:
[code]
[code]
The problem is that the generated enums always have a prefix on their constant names. My current workaround is a custom mapper. However, I don’t like this solution that much. Of course, I could use a large list of `@ValueMappings` / `@ValueMapping` but this is quite tedious.

So I would really appreciate a solutio

[2017-06-02 17:23] filiphr commented on #1220
There other issues similar to this one. Such as:

* #796 - Which is similar (if not the same as this one). As a solution it proposes using an SPI for matching `Enums`
* #1076 - Which proposes an SPI for general name matching strategies

Will a solution to one of those issues work for you? We are not big fans of wild card matching, but something in the direction of the 2 linked tickets is something

[2017-06-04 19:37] doctor-zoidberg commented on #1220
I can understand your concerns about wildcard patterns. So, I will look at your proposal for using an SPI and then report back. Thank you.

[2017-06-06 13:06] doctor-zoidberg commented on #1220
After reading issues #796 and #1076 I would say that an SPI as you prefer would do the trick for me.

Nonetheless, this solution feels a bit odd to me. You have to put a piece of your custom mapping in an external JAR module making it less understandable for another person reading the code. That is why I would prefer an annotation way like @twothe proposed in https://github.com/mapstruct/mapstruct

[2017-06-06 16:46] filiphr commented on #1220
Making it an SPI is not a must, it was a start that was proposed by others. And I agree with you I also prefer the approach in the comment as it makes your mappers and your mapping strategy much more flexible and makes it more understandable for a person reading the code.

Would you be interested in helping out with the implementation of such feature?

[2017-06-08 02:05] wenerme commented on #879
@filiphr How can I test this ? I think this is enough.

I should do empty string check before mapper, that's why I propose [HV-1315](https://hibernate.atlassian.net/projects/HV/issues/HV-1315) [hv-annotation-with-group](https://github.com/wenerme/hv-annotation-with-group) for hibernate beanvalidation, this propose can easily handle PATCH dto that every field can be null.

Mapper should only handle

[2017-06-08 08:30] doctor-zoidberg commented on #1220
At the moment I’m trying to understand the basic functionality of the mapstruct processor. Maybe a good idea comes along. But I can’t promise anything, because my time is rather limited. Anyway, who knows…

[2017-06-08 16:38] filiphr commented on #879
@wenerme what do you want to test? What I wrote in my comment is not implemented in MapStruct, I just gave a proposal for a possible solution. Or you are asking about writing a test for MapStruct itself and contributing such feature?

Regarding your proposal to handle `PATCH` with MapStruct, that is a way to do it. However, you are actually using `BeanCopy` to do it for you and you first do normal

[2017-06-08 16:39] filiphr commented on #879
Sorry your `EntityMapper` not the `AddressMapper`

[2017-06-08 17:04] wenerme commented on #879
`@BeanMapping(ignoreNull=true)` is what I want, just tell MapStruct don't set it if source is null.

I don't want to use `BeanCopy ` nether, but I have to implement the path operation, the performance is less important than make this work.

Real workflow goes like this.

[code]

The reason I map entity to dto for update is to handle validate , otherwise I have to define a lot `@NotNull(groups=Upda

[2017-06-08 17:39] filiphr commented on #879
I think that something in the direction of the `NullValueMappingStrategy` for update methods is what we need. Also I think that this works correctly for `Collection` or `Map`. Can you try it out?

[2017-06-08 17:42] filiphr commented on #1220
Let us know if you need some help. There are multiple `ModelElementProcessor` that are responsible for multiple things. The core is the `MapperCreationProcessor`, more specifically the `MapperCreationProcessor#getMappingMethods` from there the entire creation of mapping methods starts

[2017-06-09 05:31] khandelwalankit opened #1222 "Inverse Mapping on Interface"
Hi MapStruct community,

My experience with using mapstruct has been extremely wonderful. This has made my code cleaner and better. Also , it has helped me to isolate business logic from mundane setters and getters.

We have scenario where one mapper interface might contain 30+ mapping methods because the object is complex. Now if i have to do the inverse mapping for these , do i have to write all

[2017-06-09 18:07] filiphr commented on #1222
Hi Ankit,

It's really nice to hear that you like MapStruct, glad that it can helps out 😄.

Regarding your question, currently you'll have to annotate all your inverse methods with `@InheritInverseConfiguration`.

For your use case, where you have so many methods, it might make sense to have some automatic way to look for inverse methods. However, we would need to find some strategy for how to do

[2017-06-10 14:36] agudian commented on #1222
Regarding the complex structure and the many mapping methods... did you try out the automatic sub-property mapping in the the latest 1.2.0.Beta3 release? It could help you to reduce the number of methods you need to declare yourself. It depends on what you're actually doing in your mapper, of course, but I'm just curious 🙂

[2017-06-12 05:58] ugrave opened #1223 "Use EnumSet as Implementation Type if result type is a set of enums"
If the mapping result type is a Set of Enums use the EnumSet implementation type instead of a hashmap.

[code]

[2017-06-12 14:14] khandelwalankit commented on #1222
Apologies for delay in reply. I was out for weekend.
@filiphr : In my opinion , MapperConfig could be used to define inverseMapping boolean, which would create mapping both from CarDTO to Car and Car to CarDTO. I have not looked at mapstruct code base, so there could be better places to define that as well. I was earlier indicating requirement from user point of view.

@agudian  : I have not used

[2017-06-13 12:43] doctor-zoidberg commented on #1220
Now that I have a very basic understanding of how the mapstruct processor works, I managed to write a simple (for now unfortunately hard coded) enum pattern mapper that would fit my needs:

`ValueMappingMethod.Builder.enumToEnumMapping(Method method)`:
[code]

This way I found out, that there would be at least two problem areas in a generalized solution to talk about:

- functionality of @InheritI

[2017-06-13 18:31] filiphr opened #1224 "Add Java 9 Automatic Module Name in Manifest"
Is this something that we want for 1.2.0.Final or we should do it in the next release?

[2017-06-13 18:41] filiphr commented on #1222
@khandelwalankit I am also asking you from a user point of view. I am not sure if I understand you correctly. Are you looking for something where you write:

[code]

To generate a mapping method for the inverse from `CarDTO` to `Car`?

Or you are looking for:

[code]

The reason why I am asking is because there needs to be a "main" method that can be used for the reverse mapping, i.e. when you see

[2017-06-13 18:46] filiphr commented on #1223
This is interesting proposal. If this is done, I would say that we add using of `EnumMap` as well.

What would be the benefit of using the `EnumSet`? Is it more performant?

Would you be interested in contributing such feature? We can of course guide you for any questions / issues that you have for the MapStruct code.

[2017-06-13 20:02] gunnarmorling commented on #1224
Let's do it if there's a Java 9 build supporting that header available at the time of the release.

[2017-06-14 06:20] ugrave commented on #1223
A EnumSet (and Map) is a compact and efficient implementation of a Set (Map). It's using internally a bit vector to store the values.

I'm really intresting to contribute such feature. I woul dbe greate to give me a hint how to start. I have already do a quick view in the code and the ftl templates.

[2017-06-14 15:22] khandelwalankit commented on #1222
@filiphr :

I am looking for first example i.e. :
[code]
I understood your concern regarding no main method to create reverse mapping. I do not have a good answer for it right now.

Yea, I do not have good test cases , i am preparing one. Once i am ready with test cases, i can change to Beta and see.

[2017-06-14 17:51] filiphr commented on #1223
Really nice that you are interested in contributing this.

I would suggest you have a look at where `Type#getImplementationType` is used in the `ftl` templates. You can search for `implementationType` in the templates to find out all the places.

Locations that I am sure:

* `IterableCreation.ftl` - Here is one entry point for most of the creations of the `Iterable` / `Map` types. I think most of

[2017-06-14 18:19] filiphr commented on #1222
@khandelwalankit Generating a reverse method will work for MapStruct. However, this means that you will be relying on generated classes as your access points. This can lead to problems if there are changes in how we name methods.

Making sure that we don't break non overridden public methods in the Mapper implementations will make the maintenance of the library more difficult. Therefore, I am not

[2017-06-14 21:11] filiphr commented on #1220
I was thinking something in the direction of:

[code]

Or as an alternative:

[code]

Maybe the first one is more appropriate as it allows easier use of multiple strategies.

Where `VariableElement` is `javax.lang.model.element.VariableElement`. Or maybe wrap it in our type.

When you have access to the `VariableElement` then you can get the declaring class, i.e. the `enum` this means that you won

[2017-06-15 05:38] filiphr commented on #1220
After some more thought about this, I think that it is better to go with the second option with `String` and not `VariableElement`.

I think that the matching strategy should not have such in depth access to the element. If one needs such granular control one can always define a manual method.

Your matching strategy should be removing a `TO_` prefix from the enums. Or remove all `_` like from the

[2017-06-15 06:24] doctor-zoidberg commented on #1220
Hmm, if I think a bit further and we want to have pattern matching not just limited to enums, then the `VariableElement` might be the more flexible way. Are there enough feature requests to consider this?

There is another problem regarding any of my changes. I just can contribute to mapstruct in some spare time while I’m at work. The problem is, besides being a git newbie; I can’t access github d

[2017-06-15 10:44] Tillerino commented on #611
I'll give this a go.

[2017-06-15 17:38] filiphr commented on #1220
For me it is the other way around, I can usually work on MapStruct during the evenings 😄.

I think that there are enough feature requests to consider adding a general name matching strategy. I am only not sure whether we need one for name matching and one for enums. Using `VariableElement` is not appropriate on other places, maybe `Element`.  MapStruct actually uses the `getter` and `setter` metho

[2017-06-16 07:30] doctor-zoidberg commented on #1220
Fine, that was the way I went to understand the mapstruct fundamentals. In my local repository, I then created a branch and wrote the very first example how the design in principle could be.

Okay, now I take a closer look on `AccessorNamingStrategy` to create a more general solution.

[2017-06-16 11:15] doctor-zoidberg commented on #1220
You are right; bean mapping is a different story. So let’s focus on enums.

I find it very useful to define forward and reverse mapping in one custom mapper. Therefore, you always need to know what your source is and what your target type is. This way you can also map a source enum to different target enums with maybe different prefixes quite easily. Moreover, you don’t need to know explicitly if

[2017-06-16 17:40] egervari opened #1226 "A feature request?"
I've read over all of the documentation, and there is one feature I'm wondering if it's currently supported, and if not, I am wondering if it could be added?

# Inheritance Mappings

Let's say I have a `UserActivity` class, and it has 5 sub-classes. Is there a way to specify mappings for the base class, such as `List<UserActivityDto> userActivitiesToUserActivityDtos(List<UserActivity> userActiviti

[2017-06-16 19:02] egervari commented on #1226
Yep, I didn't realize that @MappingTarget would work in my case - but I tried it and updating the existing instance seems to be working now ;)

It's too bad the library can't see the hierarchies and infer them. As you can see from my code above, I did eventually arrive to your simplified second code snippet. I'm glad I was on the right track at least. That's super helpful to know your answers so I

[2017-06-16 19:10] sjaakd commented on #1226
@egervari , it will find the hierarchy.. But once you use update methods MapStruct starts looking for property mappings (prefeer) to call which are also update methods.

[2017-06-16 21:04] filiphr commented on #1226
It's really awesome that you like it 😄.

Regarding the hierarchy, you meant about the mapping inheritance right? The thing is MapStruct generates code and during compile time it only knows that you are mapping `UserActivity` to `UserActivityDto`. The more specific type of the object in the list will only be known during runtime and we don't do anything on runtime. There is no reflection in the gen

[2017-06-17 06:37] filiphr commented on #1220
What does the transform return?

I think that the ones with the `VariableElement` are more appropriate, during compilation time you don't need to uses `Class`.

I am still not sure if we need to know what is source what is target. The strategy will be used on mapper level, and if you need to map a source enum to a target enum with different prefixes, I don't think you need to know what is what.  I

[2017-06-19 06:07] doctor-zoidberg commented on #1220
What do you exactly mean with “mapper level”? Is it the whole `@Mapper` class (class level) or mapping method (method level) within?

To your question: The `transform()` method returns the constants name `String` for the `MappingEnty`.

[2017-06-19 17:05] filiphr commented on #1220
Yes I mean the class / interface level.

The `MappingEntry` must stay like it is. The `source` in the `MappingEntry` must be the actual name of the `enum` as that is used in the generated code.

What I meant with the question about the transform, is does it return the name for comparison of the `source` or the `target`?

[2017-06-19 17:37] eXamadeus commented on #607
I also am running into this issue.  Maybe there would be a way to build an `@IgnoreIterable` annotation that could be placed on the mapping method?  Or `@MapAsObject`...

[code]

[2017-06-19 19:39] filiphr commented on #607
Maybe we can reuse the already present `@BeanMapping` annotation for this. And if it is there then the check will not occur, i.e. it will be allowed to map non-iterable to iterable and vice-versa.

Also there is a workaround for this (I think due to a bug 😄). The check is only done between the first source parameter and the result type. You will need a wrapper type though, in order to be able to u

[2017-06-20 07:23] brabenetz opened #1227 "import is not generated for sub-packages of java.lang"
I tried to map java.lang.management.ThreadInfo:

`void map(final ThreadInfo threadInfoSrc, @MappingTarget final ThreadDto threadDto);`

even `@Mapper(imports = ThreadInfo.class` didn't work.

The generated class didn't include the import statement.
I use MapStruct 1.1.0.Final with java8

[2017-06-20 09:35] doctor-zoidberg commented on #1220
It returns the String representation of the target constant modified with the desired (prefix) pattern. This method transforms all source enum constants not already mapped by a `@ValueMapping`.

I used this idea in my playground example: https://github.com/mapstruct/mapstruct/issues/1220#issuecomment-308103621

[2017-06-20 15:11] ducquoc commented on #841
Hi, I just want to add that the groupId and artifactId in Feb 15th comment should be switched:

<dependency>
    <groupId>io.springfox</groupId>
    <artifactId>springfox-swagger2</artifactId>
    <version>${swagger2.version}</version>
    <exclusions>
        <exclusion>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct</artifactId>
        </exclusion>
    </exclusio

[2017-06-20 16:22] jodastephen commented on #1224
No need to wait for a Java 9 build now, the spec looks pretty set in stone.

Where I do have concerns with a quick look is that the Java code in the core, core-jdk8 and core-common folders all have the same package name. If these are built into separate jar files, then they cannot be separate modules, because a package can only be allocated to one module.

[2017-06-20 16:30] gunnarmorling commented on #1224
Yes, not much risk to adding the header righ away, I guess.

Users will only either depend on _core_ or _core-jdk8_. _core-common_ is pulled into the other two at build time of MapStruct (we use it to share common code between these two flavors of the MapStruct API JAR). So people won't end up with multiple modules containing the {{org.mapstruct}} package unless there's something wrong with their

[2017-06-20 17:04] filiphr commented on #841
Sorry for my mistake in the comment.  There is also a question in our [FAQ](http://mapstruct.org/faq/#why-do-i-get-this-error-could-not-retrieve-mapper-annotation-during-compilation) about this and there it is correct.

Regarding Maven, in the [setup](http://mapstruct.org/documentation/installation/) for MapStruct the 3.5.1 maven compiler version is used. That should be pretty clear there.

As for

[2017-06-20 17:40] filiphr commented on #1227
There is an explicit ignore for all classes that start with `java.lang`.  It seems we need to ignore only classes that are in the `java.lang` package. The problem is [here](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/model/GeneratedType.java#L238) `GeneratedType`.

[2017-06-20 18:25] agudian commented on #1226
Btw, we have an issue describing that second feature as well: #131 Support for Type-Refinement mapping (or Downcast Mapping). It discusses two alternative approaches on how MapStruct could collect the information about the available sub-types.
So I'd suggest we close this issue here...

@egervari if you feel we need something else as described in #131, just reopen... 😃

[2017-06-20 18:25] #1226 closed

[2017-06-22 06:51] smartytime commented on #782
This is something I've been looking into.  I have a very rough prototype working and the regression tests passing, but I'm not loving the implementation  I was thinking that you could add an annotation onto a mapping method like this:

[code]
which would generate something like this:

[code]

When an immutable is a mapping source, it all works great.  When it's a target, you run into a few problem

[2017-06-22 11:38] shobhitsahay opened #1228 "Support for flattening of nested collections"
Let's say we have

    class ClassA {
     String aId;
     List<ClassB> bList;
    }

    class ClassB {
     String bId;
     List<ClassC> cList;
    }

    class ClassC {
     String cId;
    }

and we want to flatten it to following class

    class ClassD {
     List<ClassE> eList;
    }

    class ClassE {
     String aId;
     String bId;
     String cId;
    }

Can we flatten it without wr

[2017-06-22 14:36] mvonrenteln commented on #782
@smartytime Great to see you're interested in this, too!

Would be great to see your actual solution!

These two Problems can be solved seperately. For your first point I have implemented a workaround that you can find on [stackoverflow](https://stackoverflow.com/questions/38770813/mapping-an-object-to-an-immutable-object-with-builder-using-immutables-annotati). The second one I have on my long ti

[2017-06-22 19:55] filiphr commented on #1228
For the sake of argument. How will a custom method look like?

Do you want to have per nested `ClassC` one `ClassE`. For example if we have:

1 `ClassA` with 2 `ClassB` each having 3 `ClassC` you will end up with one `ClassD` with 6 `ClassE`?

[2017-06-23 04:45] smartytime commented on #782
I submitted a PR to spark a discussion.  I'm confident there's a better way to handle it, but it's technically working.

https://github.com/mapstruct/mapstruct/pull/1229

[2017-06-23 04:47] smartytime commented on #802
I submitted a PR that would support this use case, as well as lombok @Builder

https://github.com/mapstruct/mapstruct/pull/1229

[2017-06-23 07:48] shobhitsahay commented on #1228
I was able to do this using custom method.
This usecase looks like a pattern to me, same as you mentioned. I have 1 ClassA with x ClassB each having y ClassC and I want to map it to 1 ClassD with (x*y) ClassE. Moreover, all fields of ClassE can be mapped to that of ClassB and ClassC.

Is there someway already or something planned to solve the above pattern. Custom methods are certainly an option b

[2017-06-24 08:04] filiphr commented on #782
I am replying first here without looking at the code in the PR as not to have some bias from the code 😄.

First of all, how would this work with automatic sub method generation? i.e. recursively creating mapping methods between types?

Regarding the annotation, have you thought about reusing `@BeanMapping` and adding a new field there? We could have a field `builderClass`. I am not sure if you are

[2017-06-24 09:58] filiphr commented on #782
I have seen the PR for this issue. Before going into more into depth of the review, I think that we need some answers to some more general questions. I am writing here as I think that there are more people watching this issue and we can get some feedback.

My points:

[2017-06-24 10:07] filiphr commented on #782
* Most important how do we want the API to look like? What makes more sense? Having it on the types themselves, or somehow differently?
* Do people always have control over the types and builders code?
* Do we want to have interfaces created by builders? Should we go for a smaller experimental option and then extend it?
* Starting with 1.2.0 MapStruct will create sub-mapping methods. Which means t

[2017-06-26 08:03] smartytime commented on #782
@filiphr - I just read through your comments here.  I've updated my original comment on the PR with an updated approach that I think solves for many of the issues you raised above.  Specifically, it removes any assumptions that builders will be nested, and provides support for abstracts/generics for targets and builders.  I'm trying to get a passing build to push up the latest changes.

As for the

[2017-06-26 15:09] shalugin commented on #883
Maybe it's not a bug. What if someone want's to use non English letters?

[2017-06-26 17:16] filiphr commented on #883
What @sjaakd  meant is to limit the characters that MapStruct can use in the generation of the variables. In the example the problem is in a variable that we are generating.

What is really strange is that there is no problem with `Invoice`, but with `invoice`. The variable name is derived from `Invoice` with just it's first letter decapitalized.

We certainly don't plan to limit the characters th

[2017-06-27 18:30] #1227 closed

[2017-06-27 18:33] #1219 closed

[2017-06-27 18:39] gunnarmorling commented on #1218
@DavidWylie, your source listing seems to miss some characters, so just to double check: you mean to have a `Map` of some kind as the source parameter in these examples?

[2017-06-27 18:51] gunnarmorling commented on #1179
@nnvnaveen it isn't quite clear to me what behavior you'd like to achieve here. What's the semantics of mapping multiple `CarDto`s to one `Car`?

[2017-06-27 18:57] gunnarmorling commented on #1228
Nope, there's no support for this in MapStruct atm, i.e. you'll need to resort to a custom mapping method. It seems quite special to me, so I'm not sure whether we should add support for this to MapStruct.

[2017-06-27 18:58] gunnarmorling commented on #1224
Java 9 b175 is out by now which supports the `Automatic-Module-Name` header. We're already making use of it in Bean Validation and Hibernate Validator.

[2017-06-27 18:59] filiphr commented on #1228
This can be theoretically done using `@Context` with `@AfterMapping` and `@ObjectFactory`. However, it is much more complicated than writing it by hand. Therefore, I would say go for the hand mapping for this use case.

[2017-06-27 19:56] gunnarmorling opened #1231 "Set up japicmp on the API module to track API changes"
See https://github.com/siom79/japicmp

[2017-06-27 20:36] gunnarmorling commented on #1198
Hey, after some more discussion with the team we've decided to not support this for now. Java 8 provides a way to retain parameters in class files and this should be the preferred approach. I hear what you are saying about the class file size, but I don't think it'll make a significant difference in practice.

Should we end up adding a new naming annotation in the context of that issue mentioned b

[2017-06-27 20:36] #1198 closed

[2017-06-27 20:55] filiphr commented on #883
You are right maybe we need to use the recommendation that is written in the `Javadoc` of `toLowerCase()`.

Can you maybe create a small maven project that can reproduce the problem? We could include it in our integration tests.

[2017-06-27 20:59] filiphr opened #1232 "Mention in release notes and documentation that prototype methods do not work with sub mappings"
#1086 has been postponed to a later release. Therefore we need to clearly state in the Release Notes and the reference documentation that prototype methods are not supported for automatic sub mapping generated methods

[2017-06-27 21:02] filiphr commented on #1228
@shobhitsahay I will close this issue, if you think that it needs to be reopened please let us know.

[2017-06-27 21:02] #1228 closed

[2017-06-28 07:51] doctor-zoidberg commented on #1220
I really don’t want to urge anybody. Nevertheless, are there any news regarding a possible API design?

[2017-06-28 20:36] filiphr commented on #809
@TheStijn Without looking at the entire Stacktrace we can't really know what the problem is. It might be interaction with Lombok or something from an `AccessorNamingStrategy`. I will close this issue, can you create a new one if the problem with the `@Context Locale` still occurs?

[2017-06-28 20:36] #809 closed

[2017-06-28 20:51] filiphr commented on #1200
I think that the problem has been resolved with #1154. MapStruct will not try to create a mapping for such primitive types and will report a nice error messaging displaying what could not have been mapped. Therefore I am going to close this.

[2017-06-28 20:51] #1200 closed

[2017-06-28 22:05] filiphr commented on #1170
It has been integrated with the #1029 PR. Thanks again @cornzy

[2017-06-28 22:05] #1170 closed

[2017-06-29 07:50] shalugin commented on #883
@filiphr

Repository: https://github.com/shalugin/toLowerCase

There are four test. "capitalizeEnglish" and "decapitalizeEnglish" are green. "capitalizeTurkish" and "decapitalizeTurkish" are red, until you add locale variable to capitalize and decapitalize functions.

[2017-06-29 18:25] #1150 closed

[2017-06-29 18:34] filiphr commented on #883
@shalugin awesome for the reproducer. Thanks a lot for the help with this one

[2017-06-29 21:05] filiphr commented on #1086
This was closed by a mistake

[2017-06-29 21:15] #1185 closed

[2017-07-01 21:14] filiphr commented on #782
@smartytime first of all sorry for the time it took me to get back to you.

If we know that a certain type is builder then we could theoretically look for methods that have no parameters, return a non-void Type and this return Type is not the Builder itself. MapStruct could assume that this type is the type that the builder builds (see my comments about using an SPI as well).

For example:

[code]

[2017-07-01 21:58] andresmontoyat commented on #1216
H!,

I have the following problem, this is my example:

this is a model object:
[code]

this is my mapper methods:
[code]
this is my error message:
[code]

[2017-07-02 01:37] glauberferreira opened #1238 "Encoding problem when compiler is Eclipse JDT (IDE)"
Hi all.

I am using MapStruct (1.1.0.Final) in a Maven (3.5.0) based project with Java 1.8. My OS is Windows 10 and I am using Eclipse Neon with the most recent version of m2e-apt plugin. My POM file has been configured according to MapStruct [documentation](http://mapstruct.org/documentation/stable/reference/html/#_apache_maven) plus _project.build.sourceEncoding = UTF-8_.

My project has a Mappe

[2017-07-02 07:31] shalugin commented on #1238
Is it related to #883 ?

[2017-07-02 09:55] filiphr commented on #1238
I don't think that is the problem. If #883 was the problem then the maven compilation should not work.

@glauberferreira maybe you need to configure the locale for the Eclipse compilation. I am not using Eclipse, so I can't help here. @agudian do you know more about this problem?

[2017-07-02 09:57] filiphr commented on #1179
@nnvnaveen I am going to close this issue as the example that @sjaakd pointed should be able to solve your problem. Please reopen if that is not the case

[2017-07-02 09:57] #1179 closed

[2017-07-02 10:03] filiphr commented on #1210
This works OK. I don't know why @cornzy had problems.

[2017-07-02 10:03] #1210 closed

[2017-07-02 10:04] filiphr commented on #1207
I am going to close this one as the problem is not related to MapStruct and also it works for me without Eclipse and for @agudian in Eclipse.

[2017-07-02 10:04] #1207 closed

[2017-07-02 10:15] filiphr commented on #1191
If the Lombok `@Delegate` is still a problem than an issue needs to be raised with the Lombok team. If a getter for the delegated property is there then MapStruct will see it, exactly like the `@Getter` and `@Setter` from Lombok.

If there are some other problems, I would suggest opening a new issue.

[2017-07-02 10:15] #1191 closed

[2017-07-02 11:13] filiphr commented on #1187
@ahararwala without more feedback we can't act on this one. Therefore, we are going to close it. If you have more info please share and we'll reopen it.

[2017-07-02 11:13] #1187 closed

[2017-07-02 11:29] filiphr commented on #1166
@softdays maybe a new `NullValue*Strategy` could help. However, this will need quite a few changes in how we generate the methods.

Maybe you can use an `@AfterMapping` and set the property to `null` explicitly if `source.nestedId` is `null`

[2017-07-02 12:12] sjaakd commented on #1238
@glauberferreira : it seems that the [JDT Batch compiler](https://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Ftasks%2Ftask-using_batch_compiler.htm)  also has an encoding option. Don't know how to get Eclipse to use this. But I reckon there should be a config file somewhere.

[2017-07-02 12:14] filiphr commented on #1159
@eximius313 this is not related to #1207. Here the problem is that there is a `RuntimeException` when the Lombok agent runs.

@agudian can you reproduce this? Do you think that we could have a test that can test this?

@pgaschuetz Would you be willing to try this out with some changes in MapStruct? If you can change [`AnnotationProcessorContext#L46`](https://github.com/mapstruct/mapstruct/blob/mas

[2017-07-02 12:22] filiphr commented on #1115
Do we need to do something more about this one? Should we have some enforcer in the build during release? Or is it enough that all of us have it installed and that it is mentioned in the wiki [here](https://github.com/mapstruct/mapstruct/wiki/Creating-an-Official-Release)

[2017-07-02 13:10] filiphr commented on #111
The testing infrastructure is awesome 😄. It can also be used for testing SPIs (via `@WithServiceImplementation`), I would say that a lot more projects can benefit from it.

I would really be interested in working on this as well, I have also been thinking in porting it to JUnit5, but I don't have that good understanding of the JUnit4 runners 😄

[2017-07-02 13:12] filiphr commented on #371
This is working as expected and one can always write a custom method as explained in https://github.com/mapstruct/mapstruct/issues/371#issuecomment-65371401. Therefore, I am going to close this.

[2017-07-02 13:12] #371 closed

[2017-07-02 13:19] filiphr commented on #501
I have moved this to https://github.com/mapstruct/mapstruct.org/issues/60.

[2017-07-02 13:19] #501 closed

[2017-07-02 13:27] filiphr commented on #1144
I just found out that #598 addresses the exact same thing. Therefore I am going to close this issue. Please watch #598 for more information.

[2017-07-02 13:27] #1144 closed

[2017-07-02 13:30] filiphr commented on #624
As this could be solved via `@Mapping#expression()` I am going to close this. If you want to follow the discussion for a real expression language instead of Java then see https://github.com/mapstruct/mapstruct/issues/244

[2017-07-02 13:30] #624 closed

[2017-07-02 15:41] pgaschuetz commented on #1159
@filiphr I did... but that seems to be the wrong classloader:

org.mapstruct.ap.spi.AstModifyingAnnotationProcessor: Provider lombok.launch.AnnotationProcessorHider$AstModificationNotifier not a subtype

[2017-07-02 15:51] filiphr commented on #1159
Now I really think that there is some bug in Lombok, because `AstModificationNotifier` is really the class that implements the `AstModifyingAnnotationProcessor`

[2017-07-02 18:26] filiphr commented on #543
This is actually a bug. I have provided a PR for its fix.

[2017-07-02 18:36] filiphr commented on #126
I think that we can close this one. It should be already resolved. @gunnarmorling [this](https://github.com/mapstruct/mapstruct/blob/master/processor/src/test/java/org/mapstruct/ap/test/selection/resulttype/InheritanceSelectionTest.java#L66) test method what you meant?

[2017-07-02 19:09] filiphr commented on #696
I think that this one has been resolved via #1185

[2017-07-02 20:28] filiphr commented on #926
Closing this a "Not a bug". I have created https://github.com/mapstruct/mapstruct.org/issues/61 for adding an FAQ

[2017-07-02 20:28] #926 closed

[2017-07-02 20:32] filiphr commented on #930
I think that this one might be the same as #938, or most probably it has already been fixed in the `1.1.0.Final`

[2017-07-04 19:56] glauberferreira commented on #1238
I have made many searches but no success.  Some additional information that I identified...

- my _platform encoding_ when I execute _mvn -v_  is _Cp1252_. But since _project.build.sourceEncoding = UTF-8_ everything is fine with Maven. I think this is reason.
- the generated MapperImpl .java file has text file encoding equals to UTF-8. Is is inherited from Maven pom.xml

@agudian can you help me w

[2017-07-04 20:41] gunnarmorling commented on #1238
You could try "Properties" (of your project) -> "Maven" -> "Annotation Processing" -> "Delegate annotation processing to maven plug-ins".

[2017-07-04 20:49] glauberferreira commented on #1238
@gunnarmorling My Eclipse is already configured in this way. But even so the Generated code are compiled with Eclipse JDT (IDE).

[2017-07-04 20:59] gunnarmorling commented on #1238
I see. What's the encoding for your project in Eclipse (or,
"target/generated-sources", for that matter)? Is it "UTF-8"? (right-click
the source directory in your project, then "Resource").

[2017-07-04 21:20] glauberferreira commented on #1238
Project is UTF-8. Source folder and *MapperImpl.java files are also UTF-8.

[2017-07-05 16:17] filiphr commented on #1216
As discussed in the gitter [chat](https://gitter.im/mapstruct/mapstruct-users). We need some more information for the error in order to help you out. You might need to specify on which method exactly does the error occur and in which mapper.

[2017-07-06 15:09] #543 closed

[2017-07-06 15:10] gunnarmorling commented on #543
Done.

[2017-07-07 16:07] gunnarmorling commented on #883
Done.

[2017-07-07 16:07] #883 closed

[2017-07-07 17:03] #611 closed

[2017-07-07 19:18] gunnarmorling commented on #143
Get in touch with the folks publishing perf numbers, suggesting to try out the new version.

[2017-07-07 19:23] gunnarmorling commented on #861
The bug supposedly is fixed in Eclipse 4.7, which was released last week. So while we should be able to remove the workaround in `SpecificCompilerWorkarounds.asMemberOf()` eventually with that, we should wait a bit more until 4.7 is more widely in use. Moving this one to 1.3, so to verify and remove the workaround eventually.

[2017-07-07 19:24] gunnarmorling commented on #696
Already done.

[2017-07-07 19:24] #696 closed

[2017-07-07 19:24] gunnarmorling commented on #126
Already closed.

[2017-07-07 19:24] #126 closed

[2017-07-08 19:35] agudian commented on #1224
Gunnar fixed it, thanks! 👍

[2017-07-08 19:35] #1224 closed

[2017-07-09 09:12] #1196 closed

[2017-07-09 09:12] gunnarmorling commented on #1196
Done.

[2017-07-09 12:08] filiphr opened #1242 "Ambiguous factory method for @ObjectFactory with and without parameters"
In the javadoc of the new `@ObjectFactory` we state:

However, when that situation actually occurs. Currently we have compile error ambiguous factory methods. Should we update the implementation or the Javadoc?

[2017-07-09 16:01] PCasafont opened #1243 "A way to explicitly tell which source fields to null check"
Currently, when we create an update mapping such as:
`User updateUserFromDto(@MappingTarget User user, UserDto userDto);`

In order to have null checks, we must configure the Mapper annotation (in the class level) to have nullValueCheckStrategy = NullValueCheckStrategy.ALWAYS.

But this generates null checks everywhere, including the creator mappers.
It would be awesome if there was a property in

[2017-07-10 16:01] grumpy-programmer opened #1244 "mapping does not work when parameter name is 'size'"
Related to #909
mapstruct 1.2.0.Beta3
lombok 1.16.14

Example code:
[code]
Compilation exception:

SizeMapper.java:[12,8] Internal error in the mapping processor: java.lang.RuntimeException: org.mapstruct.ap.shaded.freemarker.template.TemplateModelException: Getting the number of items or enumerating the items is not supported on this method+sequence (wrapper: f.e.bded.freemarker.ext.beans.SimpleM

[2017-07-10 17:09] filiphr commented on #1244
Thanks for reporting this @grumpy-programmer. It is the same issue as in #909. The fix is simple and will be part of the `1.2.0.CR1` release which should come out pretty soon.

The workaround for this is to not use `size` as a parameter for the time being.

Btw. nice name 😄

[2017-07-10 18:34] agudian commented on #1242
I double checked. That was part of the original PR and a result of the discussions about that feature. I missed that the case was not covered in the tests and during the refactoring done in 79f87e8833e53b232eb93985c1555378abb52db3, I broke that feature. Let me add it back again... 😁

[2017-07-10 18:37] #1244 closed

[2017-07-10 18:37] agudian commented on #1244
Thanks for reporting @grumpy-programmer, and thanks for the prompt fix, @filiphr!

[2017-07-10 18:49] filiphr commented on #1242
It looks like we also missed in the review as well :smile:. Sure let's add it back and add a test for it :smile:

[2017-07-11 14:29] bhdrk commented on #743
Mapstruct works very well for me. I'm just adding a mapper method for builder. E.g.

**messages.proto**

[code]

**InputFileDTO.java**

[code]

**InputFileMapper.java**

[code]

[2017-07-11 19:53] #1131 closed

[2017-07-11 21:03] #1242 closed

[2017-07-12 06:38] lex-em opened #1247 "Several mappings ignored when defined another mapping with embedded paths"
when try to map `DtoIn` to `DtoOut`
[code]

[code]

[code]

[code]

with mapper
[code]

generates:
[code]

mapping `@Mapping(target = "internal", source = "in")` was ignored

[2017-07-12 06:56] lex-em commented on #1247
I write some solution, but I think it is ugly crutch :)
[code]

[2017-07-12 07:53] filiphr commented on #1247
Thanks for reporting this. Can you perhaps try with the master version?

We were thinking to do the `1.2.0.CR1` and this might postpone it.

I am not sure what is correct in this case, this things are a bit complex and what you are essentially doing is that you want to map everything except `internal.internalData.list` with `DtoIn` and the list with the passed `List`.

[2017-07-12 07:58] filiphr commented on #1247
@lex-em I forgot to ask. Which version are you using?

[2017-07-12 08:02] lex-em commented on #1247
@filiphr yes, you are right, it si whery complex case, but I think it can be solved :)

I use 1.2.0.Beta3

[2017-07-12 08:09] lex-em commented on #1247
@filiphr I think will not try master version, because of I haven't time

[2017-07-12 08:10] filiphr commented on #1247
@lex-em thanks for the replies. I'll have a look at this tonight. If it is working with the master we'll do the release, otherwise we'll postpone it until we fix this.

[2017-07-12 09:20] lex-em commented on #1247
@filiphr thx

[2017-07-12 20:04] filiphr commented on #1085
I know why they are empty. When we map the source parameter to some property then we have a valid `SourceReference` but no property entries 😄. See also PR #1248.

I'll close this one.

[2017-07-12 20:04] #1085 closed

[2017-07-13 16:52] #1247 closed

[2017-07-13 16:54] filiphr commented on #1247
This has been fixed and integrated into `master`. If there are no more issues `1.2.0.CR1` will most probably be published during the weekend.

[2017-07-15 01:06] jinyahuan opened #1250 "[Enhancement]Return original instance parameter, not new instance"
Sometimes i just wanna save anything, but always create new something, and lose original.
This is demo i think:

[code]

[2017-07-15 06:53] filiphr commented on #1250
I am not sure if I understand correctly what you are trying to achieve. Do you want a mapper that returns the original parameter or you want to pass the original parameter somewhere?

If it is the first than this is already possible. Have a look at [Updating exiting bean instances](http://mapstruct.org/documentation/stable/reference/html/#updating-bean-instances) in the reference documentation.

F

[2017-07-15 08:24] jinyahuan commented on #1250
Thanks! That's what I want when i see generated code.

[2017-07-15 08:24] #1250 closed

[2017-07-15 08:30] filiphr commented on #1250
Glad I could help. If you experience any issues or have other ideas feel free to open issues here 😄

[2017-07-15 08:37] jinyahuan commented on #1250
Why not?! Mapstruct is a very good project, once i wanna design.

[2017-07-16 07:33] filiphr opened #1251 "Configure Travis to deploy SNAPSHOT versions"
We need to configure Travis CI to do deployment when something is commited on master

[2017-07-16 10:24] filiphr commented on #743
@eiswind has written an example for how to use protobuf with MapStruct. Have a look in the [mapstruct-protobuf3](https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-protobuf3) example

[2017-07-16 10:27] filiphr commented on #743
Maybe we should consider bringing the current `AccessorNamingStrategy` from the example into MapStruct, or maybe even a new module that will contain it.

In any case I think that the `AccessorNamingStrategy` could be a bit changed as written in my https://github.com/mapstruct/mapstruct-examples/issues/14#issuecomment-300223989

[2017-07-16 10:42] filiphr opened #1253 "Access to Types and Elements in AccessorNamingStrategy"
Looking at the implementation of the example for the Protobuf `AccessorNamingStrategy` I think that it could benefit if it could have used `javax.lang.model.util.Types` and `javax.lang.model.util.Elements`.

If we had those than instead of:

[code]

We could have had:
[code]

Of course the implementation can be even more optimized by storing the `protoGenMessageV3` in the class.

I see two ways of

[2017-07-16 11:23] filiphr commented on #1231
I've played around with this a bit.

What exactly do we want to do with the plugin. Do we want to have build failures or just use the report for publishing?

Which packages do we want to include?

In my opinion we need this:
* Entire mapstruct and mapstruct-jdk8 modules
* exclude everything from `org.mapstruct.ap.internal` and `org.mapstruct.shaded` for the processor module

Do we maybe want to in

[2017-07-16 11:39] filiphr commented on #1243
Doing it on the `@Mapping` is one way to do it.

I think that it could be better if we can check for `NotNull` or `Nullable` annotations on the getters. This is what IntelliJ [does](https://www.jetbrains.com/help/idea/nullable-and-notnull-annotations.html) for the code inspections. I also think that Kotlin uses those annotations as for interoperability with Java.  Spring has also done it for their

[2017-07-16 13:53] PCasafont commented on #1243
A check for nullable/notnull annotations would be awesome!

El dia 16/07/2017 13:39, "Filip Hrisafov" <notifications@github.com> va
escriure:

Doing it on the @Mapping is one way to do it.

I think that it could be better if we can check for NotNull or Nullable
annotations on the getters. This is what IntelliJ does
<https://www.jetbrains.com/help/idea/nullable-and-notnull-annotations.html>
for the

[2017-07-18 12:00] jinyahuan commented on #1159
@pgaschuetz Suggestions for You: install Lombok(version 1.16.10 or 1.16.12), and add "Factory Path" with Mapstruct(version 1.2.0.Beta1 or 1.2.0.Beta2). That is my workspace config, and work well.
@filiphr Hope that will be helpful, higher version of Lombok or Mapstruct exception msg:
[code]

[2017-07-19 15:22] filiphr commented on #1159
@jinyahuan I am not sure if I understood correctly, you are getting this error with Beta3 and or CR1? Is your setup working for all `1.2.0` MapStruct versions?

[2017-07-19 15:56] Johny-Ch opened #1254 "EmbeddedId target nested mappings in mapper class"
I have the below scenario and couldn't get through the error im facing when building the classes, could someone help me here.
[code]
**Error:**
Unknown property "student.branch.branchName" in return type.
Unknown property "student.branch.branchCode" in return type.

Thank you!

[2017-07-19 16:01] filiphr commented on #1254
What version of MapStruct are you using?

Regarding the error, can you display the classes that are actually used in your Mapper, `DomainObject` and `CoreStudent`.

One small hint for your mappings. You don't need to use the source parameter name when you have single parameter, also MapStruct automatically maps properties with same names between source and target. With that taken into consideratio

[2017-07-19 16:02] filiphr commented on #1254
With your current setup MapStruct is trying to find a property names `student` in `DomainObject` and from the error it looks like such property does not exist.

[2017-07-20 00:48] jinyahuan commented on #1159
Just try Mapstruct(`1.2.0.Beta1`, `1.2.0.Beta2`,  `1.2.0.Beta3` and `1.2.0.CR1`), and error with `1.2.0.Beta3` and `1.2.0.CR1`, and i think some wrong mixed with `Mapstruct 1.2.0.Beta3+` and `Lombok 1.16.14+`.

[2017-07-20 08:47] Johny-Ch commented on #1254
@filiphr Thanks for your response.

I'm using 1.1.0.Final version and below are the actual classed im using

[code]
In the mapper above what should be on the target end for mapping in appropriately.
[code]

[2017-07-20 10:58] filiphr commented on #1254
Mapping nested target properties had some issues in `1.1.0.Final`. I would suggest you to try the latest `1.2.0.CR1`.

For your question you will need to do:

[code]

In any case I would suggest you not to use the parameter name of the source property when you have only one source property. I would write:

[code]

Another point, you should only use `Mappers#getMapper(Class)` with the `default` `co

[2017-07-20 11:02] filiphr commented on #1254
@Johny-Ch I will close this issue as I think it has been resolved. If you think that we need to reopen please do so.

[2017-07-20 11:02] #1254 closed

[2017-07-20 11:06] filiphr commented on #1159
This is indeed really strange. We have not done any change in that particular after `1.2.0.Beta1`. Unfortunately, I don't use Eclipse. I can see if I find the time to see if there is something that we can do from MapStruct side. I think that this should be somehow resolved together with the Lombok team.

[2017-07-20 13:10] leomillon opened #1255 "Wrong prototype types identification for mapper configuration"
Hello,

I have a problem with the prototype definition in MapperConfig since the 1.2.0.Beta2 version.

When I try to reproduce the exemple 65 of the documentation ( [Example 65. Mapper configuration class with prototype methods](http://mapstruct.org/documentation/dev/reference/html/#shared-configurations)), it works well in 1.2.0.Beta1 but not in the next version (1.2.0.CR1 included).

Here is a s

[2017-07-20 14:27] Johny-Ch commented on #1254
Thanks for the feedback, after using the 1.2.0.CR1 version , i ran into the below error!
Any pointers around this.

[ERROR] ProcessStatusCoreToEntityMapperImpl.java: ProcessStatusCoreToEntityMapperImpl is not abstract and does not override abstract method mapCoreToEntity(CoreDomainObject ) in ProcessStatusCoreToEntityMapper
[code]

[2017-07-20 16:40] shalugin opened #1256 "warning: The following options were not recognized by any processor: '[mapstruct.unmappedTargetPolicy, mapstruct.defaultComponentModel]'"
I have the following warning during project compilation:

`warning: The following options were not recognized by any processor: '[mapstruct.unmappedTargetPolicy, mapstruct.defaultComponentModel]'`

I've added following options to build.gradle:

[code]

Is this a known bug?

I founded this on SO: https://stackoverflow.com/questions/27607509/annotationprocessor-option-not-recorgnized-by-any-processo

[2017-07-21 07:54] krezzsy opened #1257 "Mapstruct inside an AspectJ project in IntelliJ causes NPE in mapper interface"
Hi, I'm using mapstruct (1.0.0.Final) and aspectj (1.8.8) in my project and faced with such exception. What can be the reason of such behavior?

[code]

[2017-07-21 08:02] filiphr commented on #1256
@shalugin I don't know why it isn't working correctly for you. We have a correct setup for the processor options, like it is linked in the SO question. And it works with maven.

How does your gradle setup look like? Is it the same as in the [mapstruct-on-gradle](https://github.com/mapstruct/mapstruct-examples/blob/master/mapstruct-on-gradle) example?

I just tried your example and it works with th

[2017-07-21 08:17] filiphr commented on #1257
I think that this is the exact same problem as in #1190. I think that this actually might be some bug in the eclipse compiler that aspectj uses. However, I don't know much about the eclipse compiler.

@agudian can you help out here?

[2017-07-21 08:19] filiphr commented on #1190
I think that this actually might be some bug in the eclipse compiler that aspectj uses. However, I don't know much about the eclipse compiler.

I think that #1257 actually duplicates this.

@agudian can you have a look?

@boristhecat which version of MapStruct and Aspectj are you using?

[2017-07-21 08:21] filiphr commented on #1254
This is really strange. Can you try and clean the project first and do a fresh compilation.

Did you get some warnings / errors?

[2017-07-21 08:38] shalugin commented on #1256
@filiphr I'm trying to figure out wich modules show this error.

I have multi module project. And compile args sets in projects, wich use mapstruct.

Example of build.gradle:

[code]

Probably this error from `mod1`, `mod2` or `mod3`

[2017-07-21 08:43] filiphr commented on #1065
I have changed the milestone of this one, as it was fixed for `1.2.0.Beta2` actually. I have updated the migration notes as well.

[2017-07-21 08:51] filiphr commented on #1255
Thanks a lot for such a detailed write up.

This one is actually a consequence of #1065. It was wrongly assigned to a wrong milestone and it was not in the migration notes (I have fixed this in the meantime), sorry for this.

The problem is that `@InheritInverseConfiguration` is not also implicitly inherited with that configuration, which and the prototype method is a valid one for reverse inherit

[2017-07-21 08:57] filiphr commented on #1256
Unfortunately, I am not that experiences with gradle. Maybe you can try compiling each module separately and see when exactly the warning comes. Maybe in one of your modules you set the arguments, but the processor is not actually invoked

[2017-07-21 09:02] shalugin commented on #1256
I figured. This warning from dependent module.

So, if configuraction depends on another module we will receive this warning, because compilerArgs propagates to dependent module.

[2017-07-21 09:04] filiphr commented on #1256
Great that we found the problem. It looks like a gradle configuration setup to me. Therefore, I am closing this issue, feel free to reopen if you think we need to address something on our side.

[2017-07-21 09:04] #1256 closed

[2017-07-21 09:49] shalugin commented on #1256
That was my mistake. I've added this compileArgs options to build.gradle to all subprojects :)

[2017-07-21 11:26] samuelbr opened #1258 "IndexOutOfBoundsException in Eclipse"
Hi,
I'm using Mapstruct 1.1.0.Final. Annotation processing finished with this exception:

[code]

[2017-07-21 12:34] sjaakd commented on #1256
Is this something we should document?

Verstuurd vanaf mijn iPhone

[2017-07-21 15:40] shalugin commented on #1256
The main problem is that with gradle it's not obviously which module was cause of this warning.
I use gradle 4.

By the way, warnings/errors with gradle may be more usefull. I don't know, maybe issue for this already exists.

Try to recognize wich class has this unmapped property:

Command:
`gradle build`

Output:
[code]

[2017-07-22 16:09] filiphr commented on #1256
The warnings / errors in MapStruct should be quite good. In this particular case we output the error on the method that it produces it. Does this particular mapper extend some other more generic one that comes from different jar?

With maven the error message contains the name of the mapper and the line of the method (this is all done by the [`Messager`](https://docs.oracle.com/javase/8/docs/api/j

[2017-07-24 04:33] lex-em commented on #1247
works fine, thx!

[2017-07-24 13:09] krezzsy commented on #1190
maybe, u will use as the basis my version? (1.8.8) Cause time is running and we still don't have any solutions.

[2017-07-24 16:13] TehBakker opened #1261 "[Question] How to write Junit test for mapstruct abstract mapper injected via Spring"
I'm using MapStruct, mapstruct-jdk8 version 1.1.0.Final and defining abstract class that I inject via Spring.

I'm looking at how to be able to test them via Junit Test ?
I've basicaly a main mapper that will use 2 sub mappers

[code]

I've tried several things but can't get the mapper to be instancied correctly to test it.

[code]

I've also tried via @InjectMock but no dice either.

And via Spri

[2017-07-24 17:20] agudian commented on #1261
The `AnnotationProcessorTestRunner` is our internal test runner used to test the annotation processor. It’s been there forever, but not part of the releases. And it’s not what you want anyway.

In short, you test your mappers with componentModel=“spring” just like any other spring bean. Using a component scan, a Spring `@Configuration` class or whatever you use in your project. The Impl is there d

[2017-07-24 17:20] #1261 closed

[2017-07-24 17:29] agudian commented on #1190
I guess you tried the latest release version of MapStruct? And perhaps also the latest candidate release (1.2.0.CR1)? Do you get the same error there?

The best way we can help you is if you provide a small, minimal self-contained sample project (preferrably something with Maven, or if you don’t use it here in this case, a self-contained Eclipse project with dependencies and project metadata).
Bec

[2017-07-24 17:44] agudian commented on #1258
Before we look into it in more detail: could you please chek if you still get the error with our latest version 1.2.0.CR1?

And thanks for the report! 👍

[2017-07-24 17:49] TehBakker commented on #1261
Thank for the quick, answer.
Yes when I wire the spring context, I'll get my mapper, however then it'll try and wire all properties files and connect to the database, which is not what I want.
I tried to do only wire the mapper through @SpringBootTest(MyMapper.class) but then I get the instantiationException because it's abstract.

[2017-07-24 18:28] agudian commented on #1258
Oh and if you see that it fails with 1.2.0.CR1 as well, then please create a small self-contained example project (some bean types and the mapper are enough) that reproduces the bug so we can investigate.
My assumption would be that it has something to do with the declared type of a map-property in your bean class, something that maybe has the generics filled out (or maybe only partially?)...
We h

[2017-07-25 10:14] bolosq opened #1262 "CDI injection problem"
Hi.
I just started playing with MapStruct and I like it so far, but I can't get CDI to work.
Weld is complaining about unsatisfied dependency:

`Unsatisfied dependencies for type MessageMapper with qualifiers @Default`

Here is my mapper interface:
[code]
Generated mapper implementation:
[code]
My injection point:
[code]

Shouldn't generated mapper have annotation `@Local` like this?:
[code]
As I'

[2017-07-25 10:39] samuelbr commented on #1258
Hi @agudian
I tried 1.2.0.CR1, but this version didn't correct this issue. So I prepared simplified example project with this issue: https://github.com/samuelbr/mapstruct-issue

Thanks.

[2017-07-25 17:28] agudian commented on #1258
Hmm, for me, the sample works with `1.2.0.CR1`, but I can see that it doesn't work for `1.1.0.Final`.

Could you please post the StackTrace you get for `1.2.0.CR1` with your sample project?

[2017-07-25 17:35] agudian commented on #1190
Oh, one more thing I just noticed while reading the stack trace more closely: this looks much more like an issue with the aspectJ implementation. It might be using an outdated version of the eclipse-jdt-core bundle (which contains the compiler classes). If that version is not outdated, then the issue might need to be fixed downstream in Eclipse itself.
I'm not so sure what we can do to mitigate th

[2017-07-26 06:06] samuelbr commented on #1258
I'm sorry `1.2.0.CR1` fix this issue. Probably eclipse didn't update versions when I tried new version. So `1.2.0.CR1` fix this issue.

Thanks.

[2017-07-26 06:06] #1258 closed

[2017-07-26 06:16] gunnarmorling commented on #1262
What annotation is `@Local`? Is it a custom qualifier annotation of your's? Or `@Local` from EJB`? In case of the latter I'm sure we don't have any special support for that.

[2017-07-26 06:22] TehBakker commented on #1261
Thanks, got it working with a mix of @SpringBootTest @Autowired and @MockBean

[2017-07-26 08:05] krezzsy commented on #1190
@agudian Well, I can't change the aspectj version because it's not my own project, i tried to use the latest version of mapstruct (1.2.0.CR1), but seems like problem in aspectj.

[2017-07-26 13:18] eximius313 commented on #1159
In my error log I get:
[code]

with ```1.2.0.CR1```

[2017-07-27 08:16] leomillon commented on #1255
Thanks for your quick answer. Is there any news about a potential fix (not only in documentation)?
If this "new" behaviour is the target one, is there any solution to reproduce the previous one with other configuration parameters or mapper definitions?

[2017-07-27 09:12] filiphr commented on #1255
@leomillon at this moment we don't have more news. However, a resolution would be made before going `1.2.0.Final`.

The only way to reproduce the previous one is to use `MappingInheritanceStrategy#EXPLICIT` and use the annotations for inheritance, instead of `MappingInheritanceStrategy#AUTO_INHERIT_FROM_CONFIG`.

[2017-07-27 09:54] shalugin commented on #1256
Yes. I have simple generic interface:

[code]

And I have many childrens, like this:
[code]

[2017-07-27 10:01] filiphr commented on #1256
@shalugin I would suggest you to follow #598. That one has the exact same problems with the error messages. We need to come up with a nice clean way of annotating the position that has problems.

[2017-07-30 19:31] kevcodez commented on #571
I submited a PR to support constructor injection: https://github.com/mapstruct/mapstruct/pull/1263

[2017-08-01 08:18] boristhecat commented on #1190
Sorry for the delay  😶

Since i dont have access to the project anymore i actually cant provide a corresponding example :/
However, i could still find the used versions:
[code]

[2017-08-03 14:39] Hamzaaton commented on #556
Hi @gunnarmorling, the "Impl" suffix worked (and still works) fine.
I am trying to obfuscate my code source, so all the class names are modified to (a, b, c, d..), and I get a conflict for the Mappers and other Components.
Is it possible to add an option that allows to generated Component to hava a name with which we can call with the Qualifier annotation?

[2017-08-04 09:26] Hamzaaton opened #1264 "Conflicts while obfuscation."
Hi,

I am trying to obfuscate my source code, the project use (the very fancy) mapstruct to generate mappers' implementations.

As the  Component-annoted mapper implementation refers to the mapper with an Autowired annotation. And with both of them taking similar classnames ("a" for example, after obfuscation) it causes a conflict due the missing name attribute of the Component.

Is it possible to

[2017-08-04 18:26] filiphr commented on #1264
I am not sure I understand completely. You want the `@Component` annotation that is written on top of the class to contain the name of the pre-obfuscated class?

The only benefit of what you are looking for is for obfuscated code. Therefore, I am not sure if this is something that we would be interested in having.

In any case, there is an unofficial way with which you can achieve what you are loo

[2017-08-05 17:05] Guchman commented on #1189
Same in gradle 2.3 configuration with
`compileJava {
    options.compilerArgs = [
            '-Amapstruct.defaultComponentModel=spring'
    ]
}`
Generate uses as new.
But generates correctly with  @Mapper(componentModel = "spring")

[2017-08-05 17:16] Guchman opened #1265 "CR1 still broken packages support"
Hi! Still have same issue as in beta with loombok support.
[code]
Generates
[code]
Line
**ru.home.api.goods.model.Goods goods = new ru.home.api.goods.model.Goods();**
Is very wrong as you see.

[2017-08-05 17:17] filiphr commented on #1189
@Guchman can you provide us a small reproducer? This most likely looks like a configuration problem than problem with MapStruct

[2017-08-05 17:19] filiphr commented on #1265
@Guchman what exactly is wrong with the generated code? The packages are correct.

Is it some problem with Lombok? How does your setup look like and which version of Lombok you are using?

[2017-08-05 17:24] filiphr commented on #1265
**ru.home.api.goods.model.Goods goods = new ru.home.api.goods.model.Goods();**
Is very wrong as you see.

The line is not wrong, your target class is `ru.home.api.goods.model.Goods` and MapStruct is creating `ru.home.api.goods.model.Goods goods` so it can map it from `ru.goods.thrift.goods.entity.Goods`.

There are no setters in `ru.home.api.goods.model.Goods` and that is why nothing is mapped. If

[2017-08-05 18:46] Guchman commented on #1265
Sorry, you're right. I'd use wrong lombok version. Please delete this stupid issue)

[2017-08-05 18:46] #1265 closed

[2017-08-05 18:48] filiphr commented on #1265
Thanks for clearing this up. Closing the issue is enough. You can't delete issues in Github

[2017-08-05 18:57] filiphr commented on #1265
Thanks for clearing this up. Closing the issue is enough. You can't delete issues in Github

[2017-08-06 15:05] Guchman commented on #1189
@filiphr problem fixed, but I don't know how) I've trying to reproduce that but I can't. Works without (componentModel = "spring") now. I'll provide a reproducer If I'll catch that kind of behaviour again. But now I have no idea.

[2017-08-06 16:43] filiphr commented on #1189
@Guchman great that it works now. It could have been some mix of configuration, gradle and the IDE it happens sometimes 😄

[2017-08-08 08:40] nghiaht commented on #929
Things are all right after reviewing [http://mapstruct.org/](url).
I noticed that the annotation `@Mapper` is missing above the interface.

Update the annotation, and perform a gradle clean task (IntelliJ IDEA), then run again, the exception no longer exists.

[2017-08-09 07:56] filiphr commented on #520
I have started working on a plugin for IntelliJ. [mapstruct-idea](https://github.com/mapstruct/mapstruct-idea) is the name of the repository that you can watch and create issues for.

The plugin is not yet published as it is WIP. Currently there is only support for autocompletion for `componentModel` and rudimentary auto-completion and go to declaration for `source` and `target`. Feel free to open

[2017-08-09 10:13] petoalbert opened #1266 "unmappedTargetPolicy does not affect missing nested target properties"
Suppose we have the following classes:

    class A {
        int x;
        int y;
    }

    class B {
        int x;
        int y;
     }

     class C {
         B nested;
     }

In this case, I would expect the following mapping to generate a warning or error (depending on the value of unmappedTargetPolicy), because there is no mapping specified for `nested.y`, but mapstruct _does not gener

[2017-08-10 11:39] xShadov opened #1267 "DatatypeFactory instance caching"
I noticed that generated code always calls the static factory:

`return DatatypeFactory.newInstance().newXMLGregorianCalendar( c );`

From what I know the creation of the DatatypeFactory is really expensive and could be cached, is that possible? For an app which uses a lot of conversions between XMLGregorianCalendar and other dates the overhead will grow a lot.

[2017-08-10 14:28] eeMarcello opened #1268 "Pass list of parameters to second inside mapper"
Objects:
[code]

I have impl:
[code]

Mapper:
[code]

How do I pass this list to mapper of Object2Dto? Because when I compile, mapstruct can't find **someStuff** list:
[code]

[2017-08-10 16:32] filiphr commented on #1267
Making it cacheable could complicate things quite a bit (if we want the generated code to look good).

What you can do is to create your own mapper that would cache the factory and use that one.

For example:

[code]

Then in your mappers you will need to add that you use this factory.

[code]

The caching can be done in whichever way you want. It doesn't have to be like I wrote it. You can also d

[2017-08-13 19:08] Soulangel89 opened #1269 "[1.2.0.CR1] Error on mapping generation with multiple sources in target & sub target fields"
Hello,

I'm facing an issue with the mapping generation of multiple sources mapped in a target and sub target.
You can find in attachment my case my case with which I have the problem (inspired by the _Example 25. Mapper controlling nested beans mappings (FishTankMapperWithDocument)_ )

[mapstruct-nested-bean-mappings-vehicle.zip](https://github.com/mapstruct/mapstruct/files/1220684/mapstruct-nest

[2017-08-13 21:43] filiphr commented on #1269
Thanks a lot for your reproducer. I'll have a look at it this week.

Regarding the solutions. I would say that the first one is not possible, currently we have no mechanism that can support something like that. The second solution should be the one that we would probably go for. I played around a bit and I managed to get that code generated, but there were some not needed warnings there 😄 .

[2017-08-14 14:56] gimoh commented on #520
@filiphr what should the settings under `Build, Execution, Deployment -> Compiler -> AnnotationProcessors` be? I've enabled _annotation processing_ in there, but it didn't seem to make a difference

do you also need to have builds delegated to Gradle in `Build, Execution, Deployment -> Gradle -> Runner`? (that seems to work for me although it's a bit slower)

[2017-08-15 16:55] Hervian opened #1270 "Lombok/Mapstruct problem: Cannot find symbol"
Hi, I love **MapStruct** and **Lombok**, but I get a "cannot find symbol" error when compiling with Maven from command-line using Javac.

In some setups, it is the @Mapper annotation that cannot be found, in other setups it is the calls to the Lombok-generated getters/setters etc.

I have created a minimal test-project that demonstrates the error. Code, pom file, stacktrace, Java-version, Maven-ve

[2017-08-15 17:26] Hervian commented on #1270
By downgrading the maven-compiler-plugin from 3.6.1 to 3.1 I got it to work.
I trimmed the attached pom further to pindown the problem, and this is the new pom (with the downgraded plugin version that makes it compile):

[code]

I will leave the issue open in case this is a bug - it is possible that I have missed this requirement in some documentation.

[2017-08-15 18:26] filiphr commented on #1270
Thanks for the nice words. We are glad that you like MapStruct 😄 .

The problem is that you have only `mapstruct-processor` in the `annotationProcessorPaths` and only that dependency is passed to the javac compiler.

The `annotationProcessorPaths` is there only since `3.5` so it is really strange how the mapstruct processor is invoked. In any case in order to make it work correctly you have 2 opti

[2017-08-15 18:26] #1270 closed

[2017-08-15 19:08] gunnarmorling commented on #1231
What you suggest is the same I had in mind. I wouldn't include anything from `internal`.

I've used it for informational purposes only so far, but we can try and have it fail the build if it detects any breakages. Always easy to turn that off in case it comes up with false reports.

[2017-08-15 19:32] gunnarmorling commented on #748
Let's add a sentence to the JavaDoc.

[2017-08-16 07:33] gimoh commented on #520
@filiphr OK, I get it now, I thought that if you enable annotation processing in IntelliJ (`Build, Execution, Deployment -> Compiler -> AnnotationProcessors`) you don't need to delegate to Gradle

If you are delegating to Gradle, does annotation processing still need to be enabled in IntelliJ?

[2017-08-16 07:37] filiphr commented on #520
@gimoh if you are delegating to Gradle, the enabling of annotation processing in IntelliJ does nothing as IntelliJ will use Gradle to compile your code.

Enabling annotation processing in IntelliJ can theoretically work if you don't use the `apt` plugin, and you define the dependency in such way that IntelliJ can pick it up and see the processor.

[2017-08-16 12:05] jpomykala opened #1271 "Constant values in @Mapping defaultValue with Spring @Value annotation"
Do you have any idea how to achieve constant default value in @Mapping annotation in clean way?

	@Value("${default.image.url}")
	private final String DEFAULT_USER_IMAGE;

	@Mappings({
	@Mapping(target = "imageUrl", source = "profileImageUrl", defaultValue = DEFAULT_USER_IMAGE),
	@Mapping(target = "balance", defaultValue = "0")
	})
	public abstract PlayerSummary toSummary(Player source);

Right no

[2017-08-16 17:20] filiphr commented on #1271
@jpomykala right now there is no other way to do it, apart via `@AfterMapping`. Unfortunately, annotations can only reference static fields.

What you could use is a custom method that would do the mapping between `imageUrl` and `profileImageUrl`. You can select this method by using qualifiers. Have a look more [here](http://mapstruct.org/documentation/stable/reference/html/#selection-based-on-qua

[2017-08-16 19:54] filiphr commented on #1269
@Soulangel89 I have managed to fix the problem 😄 . The generated mapper will look like the one in  [this](https://gist.github.com/filiphr/f795d28730aaa7d1b83b3b17db042546) gist.

If you can, can you please try the fix in the #1272 PR on your code as well.

[2017-08-16 20:02] filiphr commented on #1266
@petoalbert You are explicitly mapping `nested.x` to `x` and for this reason MapStruct is only generating that mapping, we can't know what you mean to map.

If you want to map the `nested` to the source parameter than you can do something like:

[code]

And then you will get correctly the warning or error in case something is not mapped.

[2017-08-16 20:04] filiphr commented on #1268
@eeMarcello Can you make a better example, I really don't understand what you are trying to achieve here.

[2017-08-16 20:13] kevcodez opened #1273 "NullValueMappingStrategy with Lists"
Given the following example

[code]

[code]

[code]

The generated mapper looks like this:

[code]

Shouldn't the list set to an empty list rather than null? Or do I have a misunderstanding of the null value mapping strategy?

[2017-08-16 20:21] filiphr commented on #748
I have added a sentence to the JavaDoc to let the users know that the passed argument to the `@MappingTarget` must not be null

[2017-08-16 20:21] #748 closed

[2017-08-16 20:39] filiphr commented on #1273
I think that you might be right...

Although in the JavaDoc it is written:

Where **passed** is the key word. Maybe it should be considered for the other locations as well.

[2017-08-16 20:46] kevcodez commented on #1273
Since the strategy can also be used on an IterableMapping or set globally on a Mapper, I expected the list to be empty rather than null. I am not sure if this is working as intended for now, or if this is a bug.

[2017-08-16 21:28] filiphr commented on #1273
As I said, I think that you are right and we need to set an empty collection there. I'll mark this as a bug.

I think that your first option is something similar as in my first suggestion of #879

[2017-08-16 21:30] filiphr commented on #1189
I am closing this as it was a problem in the configuration and not in MapStruct. Feel free to reopen if you need to.

[2017-08-16 21:30] #1189 closed

[2017-08-16 22:10] #1231 closed

[2017-08-17 17:23] Soulangel89 commented on #1269
I checked the gist and it looks fine for what I expected.

I will try to test it in my environment.
It is possible to download your PR with maven ?  or I have to check out your code and build it?

[2017-08-17 18:25] filiphr commented on #1269
Yes you can try with jitpack. [Here](https://jitpack.io/#filiphr/mapstruct/1269-SNAPSHOT) is the link, you should just add the jitpack link as a repository. Click on maven there and everything is explained shown 😄

[2017-08-17 19:58] sjaakd opened #1275 "Control creation of nested objects"
Consider the following class:

[code]
and:

[code]

With `NestedTarget`:

[code]

With `SourceTargetMapper`:

[code]
It would be nice to have some control if the `NestedTarget` class is actually instantiated if both source props (`propA` and `propB` ) are `null`.

Especially when one considers that the reverse case works like that. Ergo: if the `nestedTarget=null` then  the source `propA` and `pro

[2017-08-17 20:48] filiphr commented on #1275
I think that this one is exactly the same as #1166.

Currently this can be achieved, by writing a `@AfterMapping` which will set the `nestedTarget` to `null` if both properties inside are `null.

Reverse case is easier as we have one entry point, in this case the number of possibilities is arbitrary

[2017-08-17 21:09] sjaakd commented on #1275
I think you are right... :smile:

[2017-08-17 21:09] #1275 closed

[2017-08-18 05:23] sjaakd commented on #1166
I guess that the proper solution would-be to implement multi-argument factory methods or constructor selection as proposed in pr #874. In that way the user could control which nested properties would lead to creating new objects and which should then be completed by mapstruct automapping.

[2017-08-18 13:25] sjaakd opened #1277 "Method selection based on generic parameter of argument does not work."
MapStruct does not seem to recognize parameters in used mappers with a generic parameter in its argument:

Assume the following interface:

[code]

Source Objects:
[code]

Target Object:
[code]

Mapper:
[code]

And used mapper (methods):
[code]

Genererated code will look like:

[code]

------------
However, if the used mapper is changed to a more generic form (which we want to accomodate for diff

[2017-08-18 17:41] #1251 closed

[2017-08-18 20:10] filiphr commented on #1255
@leomillon We are currently working on this issue and we have a working PR #1276 about it.

The thing is that we have something that explicitly allows to have your case and ignore source parameters in the reverse case as well. Basically if a property for the target element method exists in the reversing method than it will be applied.

So this means that in your example the reverse would not be ap

[2017-08-18 20:14] filiphr commented on #1166
@sjaakd you are right, theoretically multi-argument factory methods will solve the problem. Thinking a bit more about the linked PR constructors can also be seen as a way of factory methods. That means that if we introduce multi value factories, then we could use it there as well

[2017-08-18 20:22] filiphr commented on #1277
@sjaakd this is an interesting one. Is this something similar to #1054?

And you are right, I think that we should pick the second method. Do you know if the same thing occurs when the used mapper is in the same jar, i.e. it is part of the compilation?

[2017-08-20 09:12] sjaakd commented on #1277
It looks like there's a relation. I'll check it out and see if I can come up with a solution.

[2017-08-20 09:16] sjaakd commented on #1166
At the time when we discussed this, it was the intention to first go via factory methods. Problem is: you run into problems when argument have the same type. Which parameter should then go in which constructor argument. Perhaps we should revisit this somehow. Seems there's more urgency in it now we have nesting.

[2017-08-20 09:20] Soulangel89 commented on #1269
Hello @filiphr

I confirm it is working as expected :)

Thank you for your quick fix 🥇

Best regards,
Xavier

[2017-08-20 10:18] filiphr commented on #1166
I think that we can revisit the version after `1.2.0`. I don't what it has been discussed in the constructor PR (I'll need to have a look at it), but I think that we could go in the direction of if they have the same name then use that.

Smart completion in IntelliJ works in that direction as well. If the name of the parameter matches a variable it will be suggested on the top.

[2017-08-20 10:20] filiphr commented on #1269
@Soulangel89 that's great to hear 😄 . Thanks a lot for checking it against your codebase. This will be part of the next release, either `1.2.0.RC2` or `1.2.0.Final`. We might go for RC2 due to another issue.

[2017-08-21 10:11] leomillon commented on #1255
I'm not sure to understand exactly your suggestion :s

To simplify my need and to explain what I liked in the previous behaviour, my use case is the following :

With this context :
[code]

In the configuration, I only defined the method signature to have a mapping configuration **only** from `SomeB` to `AbstractA`, so I'm expecting it to only be applied automatically to this mapping (`SomeB -> Ab

[2017-08-21 11:53] rajneekanth commented on #675
@kvneswar , after adding these dependencies, i am getting this error.
java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/ObjectMapper

[2017-08-21 16:57] filiphr commented on #675
@rajneekanth the class that is missing is a class from Jackson and not from MapStruct. MapStruct has no dependencies towards Jackson. Make sure your setup is correct. Have a look at the [mapstruct-examples](https://github.com/mapstruct/mapstruct-examples) and the documentation on our [website](http://mapstruct.org/) to correctly set everything up.

[2017-08-21 17:05] filiphr commented on #1255
Thanks for your explanation.

That's the thing in the previous behaviour when you would have used `MappingInheritanceStrategy#EXPLICIT` you would have had the exact same problem. This means that it was not consistent and that is why we changed it.

The entire idea behind `MappingInheritanceStrategy#AUTO_INHERIT_FROM_CONFIG` has been to automatically inherit configuration without the need to use mo

[2017-08-21 17:56] leomillon commented on #1255
This result is quite unexpected and not natural oO. I don't see the point to have different behaviours between mappings of the same method.

My understanding with the word `AUTO_INHERIT_FROM_CONFIG ` is that it will "pre-define" mappings, so if there is no reverse mapping (by annotation or implicit method signature) there is no need to enable it.

But with this solution, if I don't want to enable

[2017-08-21 19:03] sjaakd commented on #1255
I think that's a reasonable suggestion. So, we should probably have something like the current: AUTO_INHERIT_FROM_CONFIG (forward), AUTO_INHERIT_REVERSE_FROM_CONFIG (backward) and AUTO_INHERIT_BOTH_FROM_CONFIG.

My idea of reverse / forward mappings is that they should work in a similar. That's why its possible to define reverse prototype methods as well now. I did not foresee this side effect whe

[2017-08-22 07:55] leomillon commented on #1255
@sjaakd I think this is the best option. With theses strategies, there will be no magic/surprise : the intention is clear.

I also agree with your point about the removing "source-target-ignore" feature.

Thx a lot @filiphr and @sjaakd  for your actions!

[2017-08-22 10:13] rajneekanth commented on #675
ok, i corrected it and now i am getting another error related to JNDI.

by any chance you have encountered this error? any helping hand will be highly appreciable. Thank you.

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping': Invocation of init method failed; nested exception

[2017-08-22 11:44] filiphr commented on #675
@rajneekanth this has nothing to do with MapStruct. I would suggest you to search for this on Google or Stackoverflow in order to solve your problem

[2017-08-22 16:21] filiphr commented on #1255
@sjaakd I completely agree with you. We can add those 2 new strategies so it is more clear to the users what is doing what. I think that it won't be that difficult to do this as we are only doing it on one place.

Regarding the `source-target-ignore`, I am a bit torn, this can theoretically break something that worked before. However, I am OK with removing it.

Regarding the opinion from @gunnarmo

[2017-08-22 17:58] sjaakd commented on #1255
Lets remove the automatic name based ignore then. Because that's confusing. Lets leave `source-target-ignore` for later discussion and bring out a CR2. That buys room in time and we can discuss in an hangout.

[2017-08-22 18:05] sjaakd commented on #1255
Or.. We could also do this (`source-target-ignore`) in a later release. Its there for years already.

[2017-08-23 16:54] filiphr commented on #1255
This is OK I think. We can remove the confusing one. Although now with the multiple choices it should be clearer.

[2017-08-23 17:12] Alicja-Majewska opened #1278 "NullPointerException using Mapstruct 1.1.0.Final with Maven"
Hello,
I have faced a problem with including MappingConfiguration and extending another mapper at the same time. My mapper is pretty complicated, it contains multiple nested mappers. I have configuration collected in interface with `@MapperConfig` annotation. It works nicely with mapper MaperA in one project - everything is generated without any problems. But I want to use the same configutation i

[2017-08-23 17:52] filiphr commented on #1278
This is the exact same problem as in #1180. The lines differ, but the content is the same at those lines.

@Alicja-Majewska I'll close this issue, you should follow the linked one instead. @sjaakd said that the issue occurs when you have shared config and non existing properties. Did you get something else before this line? If you are able to provide us with a small example that reproduces the err

[2017-08-23 17:52] #1278 closed

[2017-08-23 20:01] filiphr opened #1279 "Add test case for multiple reverse prototype methods"
Add a test case that makes sure that the `INHERITINVERSECONFIGURATION_MULTIPLE_PROTOTYPE_METHODS_MATCH` is displayed when there are multiple reverse prototype methods.

Before #1276 wrong methods were displayed in the error message.

[2017-08-23 20:58] sjaakd commented on #1255
Should be fixed now by PR #1276 . @leomillon thanks for reporting. If you want, please test the latest master.

[2017-08-23 20:58] #1255 closed

[2017-08-23 20:59] sjaakd commented on #1279
Done in PR #1276

[2017-08-23 20:59] #1279 closed

[2017-08-24 04:28] lex-em commented on #1269
When the next release is expected?

[2017-08-24 04:42] lex-em opened #1280 "Use @Context parameters as source"
Can I use @Context parameters as source in mappings? I.e.
[code]
I get error that there no parameter `contextParam` for mapping

[2017-08-24 04:55] lex-em commented on #1280
I have 2 workarounds, but it is not good
[code]
and
[code]

[2017-08-24 05:01] lex-em commented on #1269
it is the same isuue as https://github.com/mapstruct/mapstruct/issues/1247, it does not works at now

[2017-08-24 09:54] leomillon commented on #1255
It's working perfectly :)

Thx a lot @filiphr and @sjaakd  for these improvements!

[2017-08-24 12:35] Alicja-Majewska commented on #1180
I had the same problem reported in issue #1278. I tried debugging "process" maven goal (thanks for this advice, it was fun). It has turned out that my problem is related with #1198 - the inheriting mapper is located in a different jar than the inherited mapper, so all parameter names in inheriting mapper are overriden with names arg0, arg1, arg2, arg3 ... As a consequence each mapping method with

[2017-08-24 18:55] gunnarmorling opened #1281 "Don't depend on Sonatype OSS Parent POM any longer"
As per [this guide](http://central.sonatype.org/pages/apache-maven.html#deprecated-oss-parent) this parent POM is deprecated and not maintained anymore. Instead, we should pull all the required configuration into our own parent POM. The required changes can be taken from ModiTect, where I just [applied them](https://github.com/moditect/moditect/compare/69e20d236231a3156233418069aa823183e4f003...a0

[2017-08-25 20:14] filiphr commented on #1269
@lex-em this was another corner case a bit different than #1247. This is the last open issue so the next release will be once we merge #1272 (I'll do that during this weekend probably). We are going to do another CR2 release, because of another issue

[2017-08-25 20:16] filiphr commented on #1180
@Alicja-Majewska glad that you think the debugging was fun 😄 . Yes having jars in a different jar is problematic when the parameter names are not preserved.

[2017-08-27 11:12] kevcodez commented on #1273
@filiphr Should this be part of the current NullValueMappingStrategy? Or should this be another separate setting?

[2017-08-27 11:32] filiphr commented on #1273
@kevcodez what part do you want to work on?

I think that the correct solution for this issue would be the second option if `NullValueMappingStrategy#RETURN_DEFAULT`is used then we need to set it to an empty collection. There is no need for a new strategy for this.

If you are talking about the #879 issue that is something completely different and should be discussed there.

[2017-08-27 11:35] kevcodez commented on #1273
@filiphr I just want to fix this issue. Ok, understood, not sure if I am able to provide a PR in the next days after work, hopefully be able to look into it.

[2017-08-27 13:05] filiphr commented on #1273
@kevcodez sure. If you want I can point you to the location that generates that part of the code.

[2017-08-28 08:30] kevcodez commented on #1273
@filiphr I'd appreciate that

[2017-08-28 17:48] filiphr commented on #1273
The wrapper that generate code like that are all the wrapper that extend `WrapperForCollectionsAndMaps`. The ftl files for those wrappers are: `ClassName.ftl`. If you need more help let me know

[2017-08-29 06:58] mavarazo opened #1283 "Mapstruct: @InheritInverseConfiguration --> There is no suitable result type constructor for reversing this method"
I try to use mapstruct feature @InheritInverseConfiguration. But it gives me the following error: There is no suitable result type constructor for reversing this method. But the generated Impl look pretty good.
[code]

This is the POJO Car
[code]
This is the other Car-Class:
[code]
And this is the generated Impl:
[code]

[Linked](https://stackoverflow.com/questions/45912643/mapstruct-inheritinvers

[2017-08-29 18:07] filiphr commented on #1283
Thanks for reporting this @mavarazo. I'll have a look at it and a fix will probably be part of `1.2.0.Final`.

Btw. The generated mapper is wrong, the reverse properties are not mapped in the reverse method.

[2017-08-29 21:45] filiphr commented on #1283
Functionality for this has been implemented in #838. However, it seems that there are more cases when that should pass 😄.

@sjaakd Why do we need a special case for that, why not leave the error handling to the `BeanMappingMethod`? If we leave it there then it should work correctly right?

[2017-08-30 03:35] 234424169 opened #1284 "How to add constans string to target field?"
for example,I have a field "filename" and its value is "xxx.jpg".I want to convert this String to another DTO "completeFileName".I want to add a constant String before the orgin value like "c:\\abc\xxx.jpg".Then how do i complete this work?

[2017-08-31 20:10] filiphr commented on #1284
@234424169 This is a question meant for StackOverflow, our [Google Group](https://groups.google.com/forum/#!forum/mapstruct-users) or our [gitter chat](https://gitter.im/mapstruct/mapstruct-users).

In any case there are multiple ways to achieve what you want. You can do it via custom mapping only specific for this, or you can do it by using `@AfterMapping`.

It would also be beneficial if you sha

[2017-08-31 20:10] #1284 closed

[2017-09-01 13:30] dentych opened #1286 "Enum .toString() instead of .name()"
Hello.

I am aware that there has been an issue + PR that changed enum.toString() to enum.name() because it's safer to use. However, I am now in a position where I need MapStruct to call enum.toString(). So before I'm doing a whole lot of things, is there any option to change it back to toString()

[2017-09-01 16:44] filiphr commented on #1286
@dentych It was done within #540. I think that this is more "correct" as we are trying to do mappings and maintain the state of the enum.

Why do you think that you need to do a lot of things?

You would need to have your place where you can do the mapping:

[code]

You then need to make sure that you use this in your mappers by `@Mapper(uses = {EnumConverter.class})`. Or add it to a config that y

[2017-09-02 18:39] dentych commented on #1286
Hello @filiphr

Thank you for your reply.

I agree that it is the more correct approach, to use the enum name. However, I need the toString solution. I did figure out a solution that looks much like your example, so I will close this issue as it isn't an issue anyway.

Have a nice day :)

[2017-09-02 18:39] #1286 closed

[2017-09-03 16:43] filiphr commented on #1283
@mavarazo This should be fixed once we merge #1287 in case you have the chance can you please try out my PR?

[2017-09-03 17:04] filiphr commented on #1281
@gunnarmorling Do you deploy snapshots via Travis? Did you do something for that in ModiText?

[2017-09-03 17:16] filiphr commented on #1271
@jpomykala I am going to close this issue for now. If you have some ideas about how to solve this we can reopen the issue.

[2017-09-03 17:16] #1271 closed

[2017-09-03 17:17] filiphr commented on #1268
@eeMarcello I am going to close this issue due to inactivity from your side. When you provide more feedback we can reopen.

[2017-09-03 17:17] #1268 closed

[2017-09-03 17:19] filiphr commented on #1266
@petoalbert I am going to close this issue as the current nested mappings work as designed. If you have ideas how we can achieve what you need please let us know

[2017-09-03 17:19] #1266 closed

[2017-09-03 17:20] filiphr commented on #1262
@bolosq I am going to close this issue due to inactivity on your side. When you provide us with more info we can reopen it.

[2017-09-03 17:20] #1262 closed

[2017-09-03 17:21] filiphr commented on #1238
@glauberferreira Did you resolve your problem? Can you share more information with use, do we need to do something on our side?

[2017-09-03 17:24] filiphr commented on #1173
@chandra0651 did you resolve your problem?

I am going to close this issue as we have multiple reportings that everything works ok with gradle. If you are using IntelliJ make sure that you delegate the build to gradle instead of the default IntelliJ one

[2017-09-03 17:24] #1173 closed

[2017-09-03 17:34] filiphr commented on #1151
I am closing this in favor of #1152. If we implement #1152 in a way that a user can define the annotations via an SPI that MapStruct should use to ignore methods, then the user can add the `@Deprecated` annotation there as well.

[2017-09-03 17:34] #1151 closed

[2017-09-03 17:36] filiphr commented on #702
@julien-may No one has been working on this. In case anyone is interested to work on such feature we can discuss it more

[2017-09-03 21:16] kevcodez commented on #1273
[_1273.zip](https://github.com/mapstruct/mapstruct/files/1273254/_1273.zip)

I only had a few minutes so far, only wrote a test case to reproduce the bug. All classes can be copy and pasted into the **mapstruct\processor\src\test\java\org\mapstruct\ap\test\bugs**.

@filiphr There is no ClassName.ftl, also I did not quickly find the right spot to edit. Might have to take a deeper look

[2017-09-03 22:03] filiphr commented on #1273
@kevcodez I meant the name of the classes that extend the `WrapperForCollectionsAndMaps`. Sorry for not making myself clear enough

[2017-09-04 13:06] xxMikhailx opened #1289 "Mapstruct [Gradle]: Doesn't generate using of @Named methods"
I'm trying to specify the method for mapping using the qualifiedByName+@Named. It works using maven but doesn't work while I'm using gradle. Mapstruct vesion: 1.1.0.Final. Gradle version: 4.1

Mapper implementation differs from Maven to Gradle.

[2017-09-04 17:42] filiphr commented on #1289
The only difference between Maven and Gradle is the setup for invoking our Annotation Processor. Therefore it is really strange why this is happening. Is something even generated with Gradle? Can you provide us with a reproducing project?

And just to be sure, you are using the `@Named` from the MapStruct package right? Not the `javax` one?

[2017-09-04 17:57] xxMikhailx commented on #1289
Yes, I am using @Named from the MapStruct, I've checked this several times.

Secondly, I used this example to setup annotation processor: [mapstruct-on-gradle](https://github.com/mapstruct/mapstruct-examples/blob/master/mapstruct-on-gradle/build.gradle)

I can only give this example to you:

[code]

So, when the implementation is generated by Maven the method "mapToQuery" is used, but when the imp

[2017-09-04 19:15] filiphr commented on #1289
@xxMikhailx This is really strange. I would try to create an example of this. It should work, especially because it is working with maven.

Can you share your gradle config?

I didn't mean you to provide us your source code, but if you can provide us with a toy example where you can reproduce the error than it would be much easier for us to fix this.

[2017-09-05 16:50] cfdobber opened #1290 "NullPointerException on Mapper reaching for EntityFactory"
[code]

[2017-09-05 16:55] filiphr commented on #1290
@cfdobber Can you show us your spring configuration. It looks like Spring is either not injecting the `entityFactory` (which is strange because it needs to fail if there is none) or you are not autowiring the mapper and using it like that.

How does the call side of your mapper look like?

[2017-09-05 16:59] cfdobber commented on #1290
Thx for the quick answer. That made me think.
It's probably because I use:
ParameterMapper INSTANCE = Mappers.getMapper(ParameterMapper.class);
And then off course it isn't injected. Going to try it now.

[2017-09-05 17:03] filiphr commented on #1290
@cfdobber that is why it is `null`. `Mappers.getMapper(Class)` should only be used with the `default` `componentModel`. You should inject the `EntityMapper` via Spring if you want to use Spring or use the default model otherwise.

Btw. I edited your message in order to have nice code wrapping

[2017-09-05 17:15] cfdobber commented on #1290
Thx again. Now of course it works. I was just looking at the wrong place all the time.

[2017-09-05 17:15] #1290 closed

[2017-09-06 14:24] xxMikhailx commented on #1289
So, a kind of workaround for this is to divide this interface to three interfaces. One for `mapToQuery` and `map` methods, another for `mapToKey`, and the last one for `mapToEmail`.

Then, MapStruct generated implementation uses the right method for switching mappings.

[2017-09-06 23:15] SATHEESHREDDY559 opened #1291 "( Sbt build tool) Impl class is not generated for abstract mapper class while testing with JUnit 4.4"
Hi,

I'm new to MapStruct. When I run JUnit test cases for Mapper class, I got errors Caused by: java.lang.ClassNotFoundException: Cannot find implementation for SomeMapper
	at org.mapstruct.factory.Mappers.getMapper(Mappers.java:93)
	at org.mapstruct.factory.Mappers.getMapper(Mappers.java:76)

Please help me out.

Regards,
Satheesh

[2017-09-07 15:43] filiphr commented on #1291
@SATHEESHREDDY559 Are you using MapStruct with Scala?

How does your setup look like? How are you running your JUnit tests, via IDE (which one), via build tool? We need more information in order to help you out

[2017-09-07 15:44] #1283 closed

[2017-09-07 15:46] filiphr commented on #1283
@mavarazo, this has been merged and fixed into master. The final release with the fix should follow soon

[2017-09-07 15:47] #1281 closed

[2017-09-07 19:32] SATHEESHREDDY559 commented on #1291
Thank you for the quick reply.

I'm using MapStruct with Java. using eclipse IDE, SBT build tool and trying to run JUnit test cases. Test cases are failed either way.
I have abstract mapper class (ProductMapper.java), other java class(ProuductAdapter.java) which invokes mapper abstract mapper class. In my test class, I'm using ProductAdapter class object.

[2017-09-07 19:46] filiphr commented on #1291
Until now we haven't had an example with the SBT build tool, so unless I see your build config I won't be able to help you. I have never used SBT qith Java before as well.

For the processor to work in Eclipse you'll need to somehow configure it to invoke the Annotation Processor.

If you share an example project that I can play with it would be great 😀

[2017-09-07 19:49] SATHEESHREDDY559 commented on #1291
How do I configure the processor to work in Eclipse?

[2017-09-07 19:56] filiphr commented on #1291
[here] (http://mapstruct.org/documentation/ide-support/), you can find how 😀. I am not sure how it works with SBT though

[2017-09-07 20:04] SATHEESHREDDY559 commented on #1291
You know what It's working in real time like testing with RestClient. But, in eclipse IDE my test cases are not getting passed.

[2017-09-08 05:34] filiphr commented on #1291
I am an IntelliJ user. Make sure that Annotation processing is configured correctly in your IDE. I don't know exactly how to do it in Eclipse

[2017-09-08 07:53] slavb18 opened #1292 "Update examples to GenericMapper base interface"
Examples  can include GenericMapper base interface usage
E.g.
[code]
and specific mapper
[code]

[2017-09-08 11:09] filiphr commented on #1292
@slavb18 I don't quite understand what this issue is for? Are you talking about adding something like that to: https://github.com/mapstruct/mapstruct-examples?

[2017-09-08 16:47] #1291 closed

[2017-09-09 16:29] kevcodez commented on #1273
@filiphr The SetterWrapperForCollectionsAndMapsWithNullCheck.ftl contains

[code]

The `<@lib.handleWrite>null</@lib.handleWrite>` seems to be the part to change, in case the NullValueMappingStrategy is set to **RETURN_DEFAULT**. I would most likely implement the change in the related java class. However, I would like to discuss on the implementation detail first. Depending on the type used, the a

[2017-09-09 16:40] filiphr commented on #1273
Regarding the type to use, we already have support for that.

Have a look at [`IterableCreation.ftl`](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/resources/org/mapstruct/ap/internal/model/IterableCreation.ftl#L28). Those types that you are mentioning already have an `implementationType`, so you can use that to create it.

If you think that we have types for which an imple

[2017-09-10 21:20] smartytime commented on #782
@filiphr - I'm picking this back up - would like to see if we can get it wrapped up...

The latest changes to the PR removed all class annotations and simply use `@BeanMapping(builderType = Bean.Builder.class)` - feels much more aligned.

As you mentioned, this doesn't solve intermediate mappings, so I'm going to take a stab at the SPI example from your last comment for builder discovery.  And I r

[2017-09-11 03:50] 234424169 opened #1294 "in a mapper i can't dependency inject a service in spring"
`@Mapper
public abstract class SquareEntranceMapper {
    @Autowired
    ApplicationTypeService applicationTypeService;
`
I define a mapper like this because i want to use the function of this service.But I found the dependency injection of spring is failed, the "applicationTypeService" is null in my code and cause a null pointer exception.I use this in a wrong way? Or how can i finish this with a

[2017-09-12 05:45] slavb18 commented on #1292
Why not introduce generic mapper as core mapstruct concept, as it done in spring data jpa, for example? This will simplify make more standard mapper definitions.
E.g. basic mapper functionality could be described by only extending generic interface.

Please see https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.core-concepts

[code]

[2017-09-12 18:16] filiphr commented on #1292
@slavb18 now I understand what you mean. In my opinion this is something which really easily can be achieved by each project on their own. I don't see the benefit of having such an interface within MapStruct. The only functionality that you are going to get with the generic mapper are predefined methods that MapStruct needs to implement. However, there are a lot of cases where mapping needs to be

[2017-09-12 18:17] filiphr commented on #1292
I am going to close this now. We can continue the discussion for sure, but for now this isn't something that belongs in MapStruct.

[2017-09-12 18:17] #1292 closed

[2017-09-12 18:20] filiphr commented on #1294
From what I can see you are not using the spring `componentModel`.

You will need to define your mapper like:

[code]

You also **must not** use `Mapper.getMapper(SquareEntranceMapper.class)` if you don't use the default component model. You will need to inject the mapper as a normal spring bean.

[2017-09-12 18:20] #1294 closed

[2017-09-12 18:32] filiphr commented on #782
@smartytime great that you want to pick it back up. On our side nothing has changed. I think that this is an awesome feature. It will certainly make things easier for users using Builders and MapStruct.

By the way, you won't be using introspection, but the java annotation processor packages. This is much more powerful than introspection, because you are seeing what the compiler sees. With Introsp

[2017-09-12 20:27] jmax01 commented on #1159
Our current workaround: add `org.mapstruct.ap.spi.AstModifyingAnnotationProcessor.class` file to the `lombok.jar` we supplied as the agent.

[2017-09-13 07:12] slavb18 commented on #1292
thanks!

[2017-09-14 00:55] smartytime commented on #782
Thanks for the reply.  You'll notice I closed the other PR.  I'm going to start fresh because now that II've read over your comments a number of times I think I'm starting to understand what you've been telling me.  This is what I'm thinking:

I'm going to start over, taking the SPI approach.  I can see now how it will be much less intrusive.  I'm sure I'll have a bunch of questions.

[2017-09-14 19:00] filiphr commented on #782
No problem @smartytime thanks for tackling this. It is really an interesting approach. I think that we can have a nice non-intrusive clean solution.

Looking forward to your next PR. If you have any questions feel free to ping me on our [gitter](https://gitter.im/mapstruct/mapstruct-users) chat. I am mostly available in the evenings or during the weekends.

[2017-09-15 09:02] LucasAndersson commented on #782
This issue is the only thing keeping me (and I'm sure many others) from using MapStruct. Great to hear it's being worked on @smartytime

[2017-09-15 12:35] rpost opened #1295 "Explicit only mode"
It would be nice to have possibility to config mapper so that only explicitly listed `@Mapping`-s are used. Or maybe there is such thing but I can't find it?

[2017-09-15 16:52] filiphr commented on #1295
@rpost Why would you want to do that? You can easily define a smaller POJO that you would map to, it would make things much easier and smaller for you.

Currently there is no way to do this. However, we are doing it for some nested mappings (internally it is possible)

[2017-09-16 20:04] filiphr opened #1297 "Add somewhere that we have an IntelliJ formatter"
The IntelliJ formatter for our codebase is actually more up to date then the eclipse one. Make sure that we write this somewhere, so contributors can use it.

The formatter can be found [here](https://github.com/mapstruct/mapstruct/blob/master/etc/mapstruct.xml)

[2017-09-17 21:05] filiphr commented on #1273
Closed with https://github.com/mapstruct/mapstruct/commit/499dbd4561305c747f869013c717137dfe6a5fbc

[2017-09-17 21:05] #1273 closed

[2017-09-18 09:03] lonelyleaf opened #1298 "Can't generate code with kotlin All-open and No-arg plugin"
I am using mapstruct build a spring-boot app with kotlin and mapstuct.
I read your kotlin [demo](https://github.com/mapstruct/mapstruct-examples/blob/master/mapstruct-kotlin/pom.xml) and works fine.
Then I noticed kotlin has [plugins](https://kotlinlang.org/docs/reference/compiler-plugins.html) to let class open by default and has no-arg constructor by default.But it seems mapstuct can't work with

[2017-09-18 10:51] rpost commented on #1295
My use case is that I'm doing mapping between two classes coming from wsdl that I got from external source. I simply don't want to accidentally map something when wsdl changes without explicit telling to do  so.

[2017-09-18 19:08] filiphr commented on #1298
What is the error that you are getting with MapStruct? How exactly it doesn't work?

Does Kotlin create public no arg constructors? It is also really important when those plugins are executed before kapt is invoked. I don't know how they are implemented and how the logic is within Kotlin to help you out more.

[2017-09-19 01:46] lonelyleaf commented on #1298
My former post has some inaccuracy.

When I disable those plugins,it generated source in `target/generated-sources/kapt/compile` successfully.

And if I am only using `no-arg` and `all-open` plugin,also works fins.

The plugin is not working is `jpa` and `spring` plugin for spring application,I cheked the class  file,the dto
classes have no-arg construcor.And the maven  output has no error with ma

[2017-09-19 22:28] filiphr commented on #520
I am happy finally close this issue 😄.

We have released our plugin the the Jetbrains repository. [Here](http://mapstruct.org/news/2017-09-19-announcing-mapstruct-idea/) is a link to our announcement and [here](https://plugins.jetbrains.com/plugin/10036-mapstruct-support) is the link to the plugin.

Give it a go and feel free to give us feedback and suggestions into its own repository at [mapstruc

[2017-09-19 22:28] #520 closed

[2017-09-20 08:21] cgrothe opened #1299 "Ambiguous Mapping when using other Mapper in eclipse"
When using a Util Class for Qualified Mapping i will get an Ambiguous Mapping  Exception but only in eclipse.
The generated mapper, when building with maven is fine.
The error also only occurs when i put the Qualifier and the methods in separate Class.
Mapping Source:

[code]

Mapping Target:
[code]
**NOT Working:**

Mapper:

[code]

Mapping Utils:

[code]
**Working**

[code]

[2017-09-20 16:08] kiamesdavies commented on #782
This is great. Waiting .......

[2017-09-22 07:35] bigalnz opened #1300 "Documentation : Nested Objects"
Hello,

I am a complete newbie and terrible at reading doc's - if I can understand them anyone can. Some feedback about the MapStruct Docs having used MapStruct for the first time.

If I have object Car, which is made up of:

class Car {
    private String carName;
    private Wheel wheel;

To me Wheel inside Car is a 'Nested Class' and when I went through the docs - this is where I looked (in err

[2017-09-22 07:55] netmikey commented on #744
JDK9 was released yesterday, so we tried to build our projects with it to see what happens.

First thing happening was that mapstruct generation failed. We're using the Gradle Plugin as described [here](http://mapstruct.org/documentation/installation/#gradle) with the latest Gradle 4.2 and the latest stable MapStruct 1.1.0.Final, but also tested with 1.2.0.CR2 - same result.

The reason is probabl

[2017-09-22 09:42] filiphr commented on #744
This is really strange. We have an explicit check [here](https://github.com/mapstruct/mapstruct/blob/master/processor/src/main/java/org/mapstruct/ap/internal/model/source/builtin/BuiltInMappingMethods.java#L49) to see if the type is there and we are getting that it is there from the `TypeFactory` that is why it is being created. However, it seems like the module is not there. I am not sure if this

[2017-09-22 15:15] rmannibucau commented on #802
+1 to support it, @AutoValue generation is particular enough to not make it easy to bridge with a custom strategy (in particular the final fields handling)

[2017-09-22 21:05] lucashos commented on #1270
I had the same problem here.

The mapping bean wasnt being implemented with the corresponding attributes, after a long time, I've discovered that the processorsPath order was interfering in the lombok getters/setters implementation and the mappings made by mapstruct.

The way I've solved was reordering the processors, here is a example of my pom:

`...
<plugin>
                <groupId>org.apache.

[2017-09-23 08:22] filiphr commented on #1270
@lucashos just curious to know which versions of Lombok and MapStruct are you using? Because if you are using the ones that should be compatible, the order should not matter.

[2017-09-23 13:39] agudian commented on #744
That is funny. I tried it a year ago and the `@Generated` annotation was the only thing that caused problems. Finding out that `JAXBElement` is not available worked correctly by then...
Anyway, I had a branch somewhere that prepared running the ITs with Java9 as well... I'll hope to find some time the week after this to make that branch work again with the JDK 9 final.

[2017-09-23 13:55] agudian opened #1301 "Drop support for Java 6 and Java 7"
Up until MapStruct 1.2.x, we fully support using MapStruct with JDK 6, JDK 7 and JDK 8 (at compile time), and have it working on JDK 9 out of the box (with maybe an `-addmods` parameter required).

We talked about ditching JDK 6 and 7 for a long time and I think with the official release of JDK 9, it's a good time to do so now.

Here's what we can do:

- [x] Decide on a good time frame for the rel

[2017-09-23 18:01] filiphr commented on #744
I was just playing with Java 9 and processors. When the source version is Java 9 then the `JAXBElement` will not be present (if the module is not there). However it looks like you are staying with source version 8 and thus the `JAXBElement` class is there and we are going to try to use it.

@agudian Do you think that we need to check the classes presence somehow differently? And another point we a

[2017-09-23 18:49] gunnarmorling commented on #744
I didn't check out the details, but it'd be nice for the Final to be usable
on Java 9. I've done my fair share of working around Java 9 issues for
Hibernate, so if there's anything I can help with, please let me know :)

[2017-09-24 10:29] filiphr commented on #744
I have some ideas about how to solve the issues I would prepare a PR for that. I would appreciate if you can review it @gunnarmorling.

[2017-09-25 04:11] heese commented on #607
Why do you need `PageDTO`? I think Springs' `Page` works quite well as DTO object (e.g., easily serialisable to JSON).  Although MapStruct  does not support the mapping of `Page` directly a custom mapping is quickly written.

[code]

[2017-09-25 04:51] lex-em commented on #520
it is awesome!

[2017-09-25 20:30] msundari commented on #369
Hi @sjaakd ,
I am using mapstruct for mapping hierarchical data (both source and target have multi level objects).

The problem I have is , the target objects are getting created even if the source element is null at leaf node level.

In the example below  even if the house number is not present in Customer.Address , UserDTO AddressDTO objects are getting created.  The generated code , should chec

[2017-09-27 06:06] jelmew commented on #73
Hi. Is any progress made on this issue for using allargsconstructors instead of the all args constructor? Is someone working on this?

[2017-09-28 02:34] msundari opened #1303 "Nested Object . Create target object only if source element is not Null."
I want to map nested object. `Customer.address.houseNumber` to `userDTO.homeDTO.addressDTO.houseNo`.

Expection:  If and only if  `Customer.address.houseNumber`  is not null then create `homeDTO` object under `userDTO`. Otherwise do not create any target objects.
Please advise how I should achieve this

Here is mapping that  I am using.

[code]
The generated code is below

[code]

I would like to

[2017-10-02 00:03] xyzst opened #1304 "Exceptions are not being declared to be thrown"
At the request of @filiphr, I have created a barebones project to reproduce the issue I was having with the generated mapping files not declaring exceptions to be thrown.

Please refer to the following repository/project: https://github.com/xyzst/unwrapped-exceptions

[2017-10-02 14:06] lucashos commented on #1270
@filiphr Intresting... The solution worked for a whole day, but at the other day it just doesnt worked anymore.
Now I've upgraded the version to the latest version, 1.2.0.CR2 and its working perfectly.

[2017-10-02 14:50] maciekpapiez commented on #802
:+1:

[2017-10-03 13:42] wouterhund commented on #1257
Just ran into the same issue with latest AspectJ (http://download.eclipse.org/tools/ajdt/47/dev/update) and Eclipse (Oxygen).

[2017-10-03 16:55] filiphr commented on #1257
I think it would be best to open an issue for the ApectJ project and Eclipse. I am not sure if there is something that we can do on our side

[2017-10-03 16:57] filiphr commented on #1270
@lucashos this is really strange. I really have no idea why it is doing this

[2017-10-03 18:41] filiphr commented on #1304
Thanks a lot for your example project @xyzst. It helped me a lot. I've created a PR #1305 that fixes this issue.

The reproducal passes the new fix.

Will you have the time to test it against your codebase? You can use jitpack to build it. [Here](https://jitpack.io/#filiphr/mapstruct/1304_nested_mappings_with_exceptions-SNAPSHOT) is the link to the branch that you can use.

Btw. Really good job on

[2017-10-03 19:39] filiphr commented on #1303
This is really similar to #879.

Additionally, nested target properties have been overhauled in the `1.2.0` version and the generation is created differently. Please try the latest from 1.2.0 and let us know what you would expect there.

I am closing this one in favour of #879

[2017-10-03 19:39] #1303 closed

[2017-10-03 19:41] filiphr commented on #73
@jelmew as far as I know no one is working on this one. If you want feel free to take it and try it out. There is already an old PR #847 in case you want to have a look there as well. That code probably needs to be rebased on the latest master, as there are probably quite a few changes

[2017-10-03 19:44] filiphr commented on #1299
@cgrothe what is the exact error that you are getting with eclipse? Can you perhaps provide us with a reproducing example so we can have a better look at it?

[2017-10-03 19:46] filiphr commented on #1298
If everything is working OK for MapStruct and the kotlin plugins `jpa` and `spring` are not working. I really don't see why this issue is for us and what we need to do.

Therefore, I am going to close this one. Feel free to comment and reopen if you think that something is on our side.

[2017-10-03 19:46] #1298 closed

[2017-10-03 20:52] filiphr commented on #1301
I would add that we change the way we do our integration tests. Instead of using toolchains let's use  the Travis [Matrix Expansion](https://docs.travis-ci.com/user/build-stages/matrix-expansion/). This would reduce the complexity of our integration tests as well. We can even do the entire build once with Java 8 and once with Java 9.

I am already using it for the IntelliJ plugin https://travis-ci

[2017-10-04 02:50] xyzst commented on #1304
@filiphr tested it against the codebase and mapstruct is now properly adding the throws clause for nested mapping methods in the generated mapping files (no more compile errors!)

thanks for the quick fix, look forward to undoing the workaround that is currently in place for when 1.2.0-FINAL is released!

And thank you 😁

[2017-10-04 06:58] ugrave commented on #802
Support for the Builders generated by [Lombok](https://projectlombok.org/features/Builder) would also be nice.

[2017-10-04 07:02] cgrothe commented on #1299
example:
https://github.com/cgrothe/mapstruct1299.git

just import as maven project.
You will see the "Ambiguous mapping methods found for ... " Error

i was using maven 3.3.9
eclipse 4.5.2 with m2e 1.7.0

Let me know if you need further information

[2017-10-10 12:17] evser commented on #1159
Thanks @jmax01, it helps, but I've found several more steps that should be performed:

1. gradlew clean cleanEclipse eclipse
2. Import project to Eclipse
3. Remove lombok.jar javaagent from Eclipse
4. Restart Eclipse
5. Trigger generation of a class annotated with @Mapper (edit this class or rebuild project)
6. Add lombok.jar javaagent to Eclipse
7. Restart Eclipse

Now all classes will be generat

[2017-10-10 12:20] evser commented on #1207
See: https://github.com/mapstruct/mapstruct/issues/1159
Thanks @jmax01, it helps, but I've found several more steps that should be performed:

1. gradlew clean cleanEclipse eclipse
2. Import project to Eclipse
3. Remove lombok.jar javaagent from Eclipse
4. Restart Eclipse
5. Trigger generation of a class annotated with \@Mapper (edit this class or rebuild project)
6. Add lombok.jar javaagent to Ec

[2017-10-10 13:23] msundari commented on #879
Hi Filip,
 I raised this issue https://github.com/mapstruct/mapstruct/issues/1303.  It is closed as duplicate of this  issue. (https://github.com/mapstruct/mapstruct/issues/879 )
   As you suggested   in issue 1303, I tried using 1.2.0.CR2. But still the empty target are being created if source is null.

[2017-10-10 14:32] msundari opened #1306 "When source is null target should NOT be set to null"
Hi, I am trying to map nested properties using mapstruct 1.2.0.CR2. (Example map customer.address.houseNumber to userDTO.homeDTO.addressDTO.houseNo ).

Expectation : I do not want to set the addressDTO to null when customer.address is null. Since addressDTO contains "countyname" and other properties which are already set from other different sources

Please advice if there is property/setting that

[2017-10-10 20:09] kevcodez commented on #1306
Have you tried the `NullValueMappingStrategy`?

[2017-10-11 00:49] saeedansari commented on #1214
I have same issue with Gradle and IntelliJIDEA. Mapper is generated and it is in the same package as the interface annotated with `@Mapper`.

[2017-10-15 09:11] sjaakd commented on #1306
@msundari : did the suggestion of @kevcodez solve your problem..?

[2017-10-15 09:13] sjaakd commented on #1207
@filiphr : should we document these steps somewhere?

[2017-10-15 09:56] eximius313 commented on #1207
@sjaakd, as far as I understood you have to add the ```org.mapstruct.ap.spi.AstModifyingAnnotationProcessor.class``` file to the ```lombok.jar``` first, so I think it's just a workaround. It (perhaps) works, but it's ugly...

[2017-10-15 09:59] evser commented on #1207
@eximius313 yes, you're right. But this step is not enough, it's only the first step, you need 7 additional ones. That's what I was trying to say.

[2017-10-15 11:46] filiphr commented on #1207
@sjaakd I've created https://github.com/mapstruct/mapstruct.org/issues/65 for our website. We can add this under the eclipse setup or maybe as an FAQ, I don't know what is the best.

[2017-10-15 11:54] evser commented on #1207
I would propose to check my solution once again on a clean Eclipse instance, just to make sure that all steps are really valid (I checked them several times, but hope that they work not only for me).

[2017-10-15 12:20] filiphr commented on #1214
@saeedansari are you talking about the example our your own?

[2017-10-15 12:24] filiphr commented on #879
@msundari thanks for trying. We would need to see how we are going to proceed for this one. The current behaviour is the expected one. If you are able to provide us with some tests then we would be able to work with it better

[2017-10-15 12:25] agudian commented on #1207
This really looks like a coincidence and not like something that will continue to work within one project. Eg the removing and adding of the lombok agent and the triggering of the mapper generation in between restarts doesn’t sound like something that has an actual effect on persisted configuration values in Eclipse. Hence I wouldn’t add it to the docs...

I think it’s more something that the lomb

[2017-10-15 12:28] filiphr commented on #1207
@agudian you might be right. To be honest I didn't read all the steps completely (and I don't know Eclipse a lot).

One thing I know is that there are issues with the lombok agent (multiple people have been complaining that it does not work with MapStruct and the `AstModifyingAnnotationProcessor`. I think the Lombok guys should do something about it.

[2017-10-17 18:45] sjaakd commented on #1301
I believe we need a major release for doing so, just to indicate clearly the significance. What about doing a 2.0 release with all the (relevant) pending PR's and the dropped support for JDK6 and 7? We can leave major restructuring for 3.0 (like getting rid of templates on the lowest level as @gunnarmorling proposed). That would clear the path for a quick ditch without having to work a long time o

[2017-10-17 18:58] gunnarmorling commented on #1301
It's a very good question. Personally I don't think we'd *have* to do the major version bump just due the Java 8 requirement. E.g. Hibernate also did it in one of the 5.x minors and there were no big complaints by the community. As long as it's properly communicated.

If going to 2.0, we should also get rid of the deprecated features and more generally think about other things we thing should be i

[2017-10-17 19:00] agudian commented on #1301
I guess the biggest argument for a 2.0 release would be the change in the artifact name, or more precisely: removing the mapstruct-jdk8 artifact. That might be icky depending on where people managed that dependency...

[2017-10-17 19:11] #1304 closed

[2017-10-17 19:12] #744 closed

[2017-10-17 19:29] gunnarmorling opened #1307 "Remove deprecated features"
TBD: List features to be removed as they are deprecated now

[2017-10-17 19:48] gunnarmorling opened #1308 "Enable integration tests to run on Java 9"
As recently explored by @filiphr. Some fiddling with toolchains is needed, it seems.

[2017-10-19 03:21] mozinrat opened #1309 "should be possible to use gradle default annotation processor"
With gradle apt support inbuild, should be possible to get rid of plugin  'net.ltgt.apt' version '0.8'
and use gradle's default apt for annotation processing.

[2017-10-19 05:21] filiphr commented on #1309
Is this something new? Can you send us some links that we can have a look at?

Searching gives me the `net.ltgt.apt` plugin. And you can use the latest version of it 😀

[2017-10-19 17:18] tezcane commented on #1141
Got it working with below.  Note "m2e.apt.activation" row.

`<?xml version="1.0" encoding="UTF-8"?>
<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.localhost</groupId>
	<artifactId>xxx</arti

[2017-10-19 21:16] kevcodez opened #1311 "Add static code analysis with SonarQube"
SonarCloud offers free static code analysis for open-source projects.

I could help set it up aswell, if you are interested.

Would like to know your opinion on this.

[2017-10-20 07:38] mozinrat commented on #1309
With Gradle 4, it's recommended that a plugin use compiler classpath (annotation processors, in general, do this) https://blog.gradle.org/incremental-compiler-avoidance, there is a way to clear specification. I didn't use the source code separation as mentioned, still explicitly stating the apt is still the good way.  Here is my working build.gradle without using apt plugin

apply plugin: 'java'
c

[2017-10-20 08:01] kevcodez commented on #1301
Not much of a help regarding the questions above, however, I'd be glad to help migrate some of the code base to Java 8 - feel free to mention me when you created a new branch or start using Java 8 on the master ;)